body{

	font-size : 9pt;
	margin-top : 0px;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	/*
	background:#EEEEEE;
	scrollbar-face-color:#B5D7F7;
	scrollbar-arrow-color: #00009C;
	scrollbar-track-color:#D9EBF4;
	scrollbar-3d-light-color:#ffffff;
	scrollbar-dark-shadow-color:#CECFCE;
	scrollbar-highlight-color:#ffffff;
	scrollbar-shadow-color:#CECFCE;
	scrollbar-dark-shadow-color:#C6C7C6;
	scrollbar-shadow-color:#C6C7C6;
	*/
}
div.menu{
	margin-top : 3px;
	margin-bottom : 3px;
	width : 100;
}

.deeptree
{
    overflow:scroll;
    height:100%;
    width:100%;
    padding:4px 5px;
    behavior:url(/htc/deepTree.htc);
}

.deeptree2
{
    height:100%;
    width:100%;
    padding:4px 5px;
    behavior:url(/htc/deepTree.htc);
}

DIV.deeptree2 A
{
	color:black;
	text-decoration:none;

}

DIV.deeptree2 A:hover
{
	color:black;
	text-decoration:none;

}

DIV.deeptree2 A:visited
{
	color:black;
	text-decoration:none;

}

DIV.deeptree2 A:link
{
	color:black;
	text-decoration:none;

}

span
{   margin:0px;
	position:relative;
	display:inline;
	top:-2px;
	height:17px;
	border: solid 1px white;

}

img
{  height:16px;
   width:13px;
   vertical-align:bottom;
}

span.clsLabel
{

}
div.clsItem
{
    white-space :nowrap;
}

SPAN.clsSpace
{
	font-family:verdana;
	position:relative;
	padding:3px 2px;
	top:0px;
	width:17px;
	margin:0px;
	cursor:hand;
	overflow:hidden;
}

SPAN.clsNone
{
	font-family:verdana;
	position:relative;
	padding:3px 2px;
	top:0px;
	width:17px;
	margin:0px;
	cursor:hand;
	overflow:hidden;
}

span.clsSpace span
{
	position:relative;
	width:11px;
	height:11px;
	border:solid 1px black;
	color:#000000;
	background-color:#ffffff;
}

span.clsNone span
{
	position:relative;
	width:11px;
	height:11px;
	border:solid 1px black;
	color:#000000;
	background-color:#ffffff;
}

SPAN.clsCollapse
{
	line-height:6px;
	font-size:9px;
	overflow:hidden;
	padding:1px;
}

SPAN.clsExpand
{
	padding-left:1px;
	overflow:hidden;
	line-height:3px;
	font-size:13px;
	padding-top:3px;
}

SPAN.clsLeaf
{
	overflow:visible;
	font-size:9px;
	line-height:3px;
	padding: 0px 0px 0px 3px;
	cursor : hand;
}

SPAN.clsMouseOver
{
	background-color:#DDDDDD;
	border:1px solid #0099CC;
	cursor : hand;
}

SPAN.clsMouseDown
{
	background-color:#99ccff;
	border:1px solid #0099CC;
	cursor : hand;
}

SPAN.clsCurrentHasFocus
{
	background-color:#ffffff;
	border:1px solid #0099cc;
	cursor : hand;
}

SPAN.clsCurrentNoFocus
{
	background-color:#f2f8ff;
	border:1px solid #0099cc;

}


DIV.deeptree A
{
	color:black;
	text-decoration:none;

}

DIV.deeptree A:hover
{
	color:black;
	text-decoration:none;

}

DIV.deeptree A:visited
{
	color:black;
	text-decoration:none;

}

DIV.deeptree A:link
{
	color:black;
	text-decoration:none;

}

span.clsUnavailable
{
	height:0px;
	padding:0px;
	top:0px;
	border:none;
	color:#888888;
}

.hide
{
	display:none;
}

.shown
{
	display:block;
	margin-left:15px;
}
/*
.deeptree IMG
{
	position:relative;
	cursor:hand;
	top:-2px;
	margin:0px;
	padding:0px;
}
*/

.treelabel
{
	font-family:verdana;
	font-size:70.5%;
	color:white;
}

table{
	font-size : 9pt;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

td.hand{
	cursor : hand;
}
