   BODY  { font-family: verdana, arial, helvetica, sans-serif;}
   UL    { margin-left:22pt; margin-top:0em; margin-bottom: 2 }
   UL LI {list-style-image: url('/images/plus_wev8.gif')}
   UL UL LI { margin-left:-9pt; margin-top: .3em;list-style-image: url('/images/minus_wev8.gif')}
   #lnkBucketTitle {
		font-size:10pt;
		color:black;
		text-decoration:none;
	}

   #lnkToWorkshop {
		font-size:8pt;
		color:black;
		text-decoration:none;
	}

   #lnkToWorkshop:hover {
		font-size:8pt;
		color:red;
		text-decoration:none;
	}
