/* box */
.box {
	height: 100%;
	width:100%;
	background: #fff;
}
.p_tab_menu {
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid #D9D9D9;
    margin-bottom: 10px;
}
.p_tab_menu  li {
	float: left;
	height: 24px !important;
	line-height: 24px !important;
	color: #5F5F5F;
	text-align: center;
	cursor: pointer;
	list-style-type: none;
	padding-left:8px;
	padding-right:8px;
	font-size: 14px;
}
.p_tab_menu li.current {
	color: #1264B5;
}

.tab_box {
	height: 100%;
	width:100%;
	overflow:hidden; 
	position:absolute;
}
.tab_box .hide {
	display: none;
}
.magic-line {
	position: absolute;
	left: 0;
	height: 2px!important;
	line-height: 2px!important;
	margin-top:22px;
}

.magic-line{
	top:35px!important;
}
.slidebox_block {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.slidebox_list_item {
	width: 100%;
	height: 100%;
	position: absolute;
	left:0px;
}
.slidebox_list img {
	border: 0px;
}

.slidebox_btbg {
	position: absolute;
	bottom: 0;
	background-color: #000;
	height: 50px;
	filter: Alpha(Opacity=30);
	opacity: 0.3;
	z-index: 1000;
	cursor: pointer;
	width: 100%;
}

.slidebox_info {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	color: #fff;
	z-index: 1001;
	cursor: pointer
}

.slidebox_block ul {
	position: absolute;
	list-style-type: none;
	filter: Alpha(Opacity=80);
	opacity: 0.8;
	z-index: 1002;
	margin: 0;
	padding: 0;
	bottom: 3px;
	left:50%;
}

.slidebox_block ul li {
	float: left;
	display: block;
	color: #FFF;
	cursor: pointer;
	background:url('/page/element/imgSlide/resource/image/p.png') 0 0 no-repeat;
	width:8px;
	height:8px;
	margin:0px 5px;
}

.slidebox_block ul li.on {
	background:url('/page/element/imgSlide/resource/image/p_slt.png') 0 0 no-repeat;
}
.slidebox_list {
	width:100%;
	height:100%;
}
.slidebox_list a {
	position: absolute;
	width:100%;
	height:100%;
	left:0;
}

.slidebox_info_item {
	text-align:center;
	line-height:50px;
	font-size:16px;
	height:100%;
	width:100%;
	background-color: #fff;
	cursor: pointer;
	overflow:hidden;
	opacity: 0.7;
	z-index: 1000;
	color:#4d4d4d;
	filter: Alpha(Opacity=70);
}
.slidebox_info_item_slt {
	background-color: #213d7d;
	color:#fff;
}

.picslidenav .on1{
	background-color:#CE0609 !important
}
.navitem{
	width: 18px;
	margin: 0px;
	padding: 0;
	text-align: center;
	height: 12px;
	line-height: 12px;
	display:inline-block;
	cursor: pointer;
	font-size:7pt;
	z-index: 1002;
}
.picslidenav{
	position: absolute;
	filter: Alpha(Opacity=80);
	opacity: 0.8;
	z-index: 1002;
	margin: 0;
	padding: 0;
	bottom: 0;
	right: 0;
   display:inline-block;
   color: #ffffff;
	height: 12px;
	line-height: 12px;
	background:url('/images/addDocsFlow_wev8.gif');
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#ffffff,endColorStr=#000000); /*IE 6 7 8*/ 
	background: -ms-linear-gradient(to righ, #ffffff,  #000000);        /* IE 10 */
	background:-moz-linear-gradient(to righ,#ffffff,#000000);
	background: -webkit-linear-gradient(left, #ffffff, #000000);
	background:linear-gradient(to right ,#ffffff, #000000);
}