/*点击前样式*/	
.a1{
		display:inline-block;
		display:-moz-inline-stack;
		*display:inline;
		zoom:1;
		margin:0;
		border:0;
		padding:0 5px 0 0;
		text-align:center;
		font-family:"微软雅黑",YaHei,"黑体";
		vertical-align:middle;
		font-size:0.8em;
		color:#000000;
		text-decoration:none;
		background:url("/images/ecology8/workflow/right1_wev8.png") right  no-repeat;
	}
	a.a1{
		cursor:pointer;
		width:auto;
		*overflow:visible;
		border:0 none;
		background-color:none;
		vertical-align:middle;
	}
	.a1 b{
		display:inline-block;
		display:-moz-inline-stack;
		*display:inline;
		zoom:1;
		padding:0 0 0 5px;
		position:relative;
		white-space:nowrap;
		font-weight:normal;
		height:34px;
		line-height:34px;
		background:#FFFFFF url("/images/ecology8/workflow/left1_wev8.png") left  no-repeat;
		_background-color:#FFF;
	}
	a.a1 b b{
		_margin-top:1px;
		padding:1px 8px;
		height:34px;
		line-height:34px;
		cursor:pointer;
		background:#FFFFFF url("/images/ecology8/workflow/center1_wev8.png") 0 0 repeat-x;
		_background-color:#FFF;
	}


/*点击后样式*/	
.a2{
		display:inline-block;
		display:-moz-inline-stack;
		*display:inline;
		zoom:1;
		margin:0;
		border:0;
		padding:0 5px 0 0;
		text-align:center;
		font-family:"微软雅黑",YaHei,"黑体";
		vertical-align:middle;
		font-size:0.8em;
		color:#FFFFFF;
		text-decoration:none;
		background:url("/images/ecology8/workflow/right-hot_wev8.png") right  no-repeat;
	}
	a.a2{
		cursor:pointer;
		width:auto;
		*overflow:visible;
		border:0 none;
		background-color:none;
		vertical-align:middle;
	}
	.a2 b{
		display:inline-block;
		display:-moz-inline-stack;
		*display:inline;
		zoom:1;
		padding:0 0 0 5px;
		position:relative;
		white-space:nowrap;
		font-weight:normal;
		height:34px;
		line-height:34px;
		background:#FFFFFF url("/images/ecology8/workflow/left-hot_wev8.png") left  no-repeat;
		_background-color:#FFF;
	}
	a.a2 b b{
		_margin-top:1px;
		padding:1px 8px;
		height:34px;
		line-height:34px;
		cursor:pointer;
		color:#fff!important
		background: url("/images/ecology8/workflow/left_wev8.png") 0 0 repeat-x;
		_background-color:#FFF;
	}
	
/*点击前样式*/
.leftspan{
		display:block;
		width:5px;
		height:34px;
		float:left;
		background:url("/images/ecology8/workflow/left1_wev8.png");
	}

.centerspan{
		display:block;
		height:34px;
		line-height:34px;
		float:left;
		text-align:center;
		cursor:pointer;
		color:#000;
		background:url("/images/ecology8/workflow/center1_wev8.png");
		_background-color:#FFF;
	}

.rightspan{
		display:block;
		float:left;
		width:5px;
		height:34px;
		background:url("/images/ecology8/workflow/right1_wev8.png");
	}

/*点击后样式*/
.leftspan1{
		display:block;
		width:5px;
		height:34px;
		float:left;
		background:url("/images/ecology8/workflow/left-hot_wev8.png");
	}

.centerspan1{
		display:block;
		height:34px;
		line-height:34px;
		float:left;
		text-align:center;
		cursor:pointer;
		color:#FFF;
		background:url("/images/ecology8/workflow/center-hot_wev8.png");
		_background-color:#FFF;
	}

.rightspan1{
		display:block;
		float:left;
		width:5px;
		height:34px;
		background:url("/images/ecology8/workflow/right-hot_wev8.png");
	}