@CHARSET "UTF-8";
html, body {
  height: 100%;
  overflow: hidden;
}
.e8_weavertab .x-tab-panel-footer{
	border-bottom:1px solid #d8d8d8;
	border-top:1px solid #d8d8d8;
	border-left:none;
	border-right:none;
}

.e8_weavertab ul.x-tab-strip-bottom{
	background-color:rgb(248,248,248)!important;
	margin-top:0px;
	background-image: url("")  !important;
}

.e8_weavertab ul.x-tab-strip-bottom li.x-tab-strip-div-disabled{
	background-color:rgb(219, 218, 218)!important;
}

.x-tab-strip-div-disabled span.x-tab-strip-text{
	color:#918B8B!important;
	cursor:default!important;
}

.e8_weavertab ul.x-tab-strip-bottom li{
	background-color:rgb(248,248,248);
	line-height:30px;
}

.e8_weavertab ul.x-tab-strip-bottom li.x-tab-strip-active{
	line-height:29px;
}

.cke_skin_kama .cke_wrapper{
	background:none!important;
	padding:0px 0px 5px 0px;
}

#cke_top_doccontent{
	background-color:rgb(244,244,244);
	border-bottom:1px solid #d8d8d8;
}

.e8_weavertab .x-tab-strip-text {
	text-align:center;
}

.e8_weavertab .x-tab-right{
	/*border-top:1px solid #d8d8d8;*/
	border-top:1px solid transparent;
	border-right:1px solid #d8d8d8;
}

.e8_weavertab .x-tab-strip-bottom .x-tab-strip-active .x-tab-right{
	margin-top:0px;
	background-color:#fff;
	border-bottom:2px solid rgb(98,150,254);
	background-image:none;
}


.e8_weavertab .x-tab-strip-active span.x-tab-strip-text{
	font-weight:normal;
}

.e8_weavertab #divContentInfoATab{
	border-left:1px solid #d8d8d8;
	margin-left:5px;
}

#divPropTileIcon{
	display:none;
}

.tab_box{
	overflow:hidden !important;
}

#divPropTab .x-tab-panel-body{
	border:none;
}

.e8_propTab span.cke_skin_kama{
	border:none;
}

#e8_shadow{
	width: 100px;
	height: 3px;
	background-color: #fff;
	position: absolute;
	display:none;
	border-left:1px solid #d8d8d8;
	border-right:1px solid #d8d8d8;
}

.tab_menu .fieldName{
	padding-left:0px!important;
}
.e8AccListArea{
	position:fixed;
	bottom:35px;
	width:100%;
	border-left:1px solid rgb(216,216,216);
	border-top:1px solid rgb(216,216,216);
	border-right:1px solid rgb(216,216,216);
	background-color:#fff;
	z-index:3;
}
.e8AccListArea span{
	display:inline-block;
	vertical-align:middle;
	height:100%;
}
.e8AccListHead{
	width:100%;
	background-color:rgb(247,247,247);
	height:35px;
}
.e8AccListHeadLeft{
	float:left;
	height:35px;
}
.e8AccListBtn{
	position:fixed;
	height:44px;
	width:44px;
	cursor:pointer;
	bottom:60px;
	right:15px;
	background-image:url(/images/docs/expandAccBtn_wev8.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	z-index:3;
}
.e8AccListBtn:hover{
	background-image:url(/images/docs/expandAccBtnHover_wev8.png);
}
.e8AccListHeadRight{
	float:right;
	height:16px;
	width:16px;
	margin-top:8px;
	margin-right:15px;
	cursor:pointer;
	background-image:url(/images/docs/down_wev8.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
}
.e8AccListHeadLeft span, .e8AccListHeadRight span{
	line-height:35px;
}
.e8AccListContent{
	padding-left:10px;
}
.e8AccListTable{
	width:100%;
	border:none;
}
.e8AccListTable td{
	height:30px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.e8AccListTable td a{
	height:30px;
	max-width:90%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.e8AccListTable td span{
	line-height:30px;
}