.a{}
.listbox1{
    padding-right:0px;
    margin-top:10px;
    margin-left:10px;
}
.listbox1 ul{
	/*width: 100%;*/
	padding:10px 0px 25px 0px;
	margin:-10 0 0 10px;
}

.listbox2 {
     width:99%;
	 margin-bottom: 32px;
	 margin-right:0px;
	 margin-left:10px;
	 clear:both;
}

.listbox2 .titleitem{
	height: 26px;
    line-height: 26px;
    font-weight: bold;
	border-bottom: 2px solid #e4e4e4;
}

.listbox2 .col1item{
	height:45px;
	line-height:45px;
	font-weight:200;
}

ol li span{
	display:normal;
}

.listbox1 table tr{
	height:26px !important;
}

.e8_addUserDefault{
	width:12px;
	height:12px;
	vertical-align:middle;
}

.firstTD{
	border-bottom:1px #D8D8D8 solid;
	background-color:#F2F2F2;
}

.LayoutTable .commonitem{
/**  border: 1px solid #ccc;**/
  margin-bottom: 32px;
  width: 99.7%;

 }


.LayoutTable .commonitem .commonitemtitle{
	height: 26px;
	line-height: 26px;
/**	background: #F7F7F7;**/
	font-weight: bold;
	border-bottom: 2px solid #e4e4e4;
/**	padding-left: 10px;**/
}

.commian{
	float:left;
	color:#232323;
/**	margin-top: 0.5px;**/
	border-bottom:2px solid #9e17b6;
}

.centerItem:hover{
	background-color:rgb(251,251,251)!important;
}

#warn{
	width: 260px;
	height: 65px;
	line-height:65px;
	background-color: gray;
	position: absolute;
	display:none;
	text-align:center;
	background: url("/images/ecology8/addWorkGround_wev8.png");
}

.itemdetail{
	float:left;
	width:30%;
	margin-right:3%!important;
}