TABLE.ViewForm TD.Line{
	background-color: #2FA1E6!important;
}
TABLE.ViewForm TD.Line1 {
    background-color: #2FA1E6!important;
    background-repeat: repeat-x;
    height: 2px;
}
TABLE.ListStyle TR.Header TH {
    color: #EEEEEE;
    text-align: left;
}
TABLE.ListStyle TR.HeaderForXtalbe TH, TABLE.ListStyle TR.header TH, TABLE.ListStyle TR.header TD {
    background:#2FA1E6 !important;
    color: #4F6B72;
    cursor: pointer;
    height: 28px;
    padding: 4px;
}
TABLE.ListStyle {
    background-color: #2FA1E6;
    margin: 10px 0 15px;
    text-align: left;
    width: 100%;
}

.listStyle td {
    background-color: #FFFFFF;
    color: #707070;
    font-size: 12px;
    height: 24px;
    padding-left: 5px;
    padding-right: 5px;
}