.leftmainmenu{
	height:32px;
	/*background-image:url('../images/leftmainbg_wev8.png');*/
	line-height:32px;
	font-family:"微软雅黑","Arial"; 
	/*color:#e5f6ff;*/
	color:#2e5f85;
	font-size:10pt;
	/*font-weight:bold;*/
	padding-left:10px;
	vertical-align:middle;
	/*border-bottom:rgb(184,184,184) solid 1px;*/
	border-bottom: #5FACE9 1px solid;
}

.leftmainmenuselected {
	height:32px;
	/*background-image:url('../images/leftmainselectedbgecology_wev8.png');*/
	line-height:32px;
	font-family:"微软雅黑","Arial"; 
	font-size:10pt;
	padding-left:10px;
	color:#167032;
	font-weight:bold;
	vertical-align:middle;
	background-color:(255,255,255);
	background:url("/images/ecology8/statusicon/menu_green_block_wev8.jpg") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
}

.leftmainmenuselected a,.leftmainmenuselected a:hover{
	color:#167032;
}

.leftsubmenu{
	height:32px;
	line-height:32px;
	font-family:"微软雅黑","Arial"; 
	/*color:#e5f6ff;*/
	color: #FEFEFF;
	font-size:12px;
	/*font-weight:bold;*/
	padding-left:20px;
	vertical-align:middle;
}
.leftsubmenuselected {
	/*background-image:url('../images/leftsubselectedbg_wev8.png');*/
	font-family:"微软雅黑","Arial"; 
	/*color:#e5f6ff;*/
	color: #2F5E85;
	font-size:12px;
	font-weight:bold;
	/*padding-left:30px;*/
	vertical-align:middle;
	background-color:#E6E6E6;
	background-image:url("/images/ecology8/statusicon/menu_green_block_wev8.png");
	background-repeat:repeat-y ;
}
a{color:#FEFEFF;text-decoration:none;}
a:hover{text-decoration:none;}
.leftMenuItemCenter{
	color:#FEFEFF;
}

.leftMenuSelected{
	color:#2F5E85;
	/*font-weight:bold;*/
}

.liCss{
	/*background-color: rgb(255,255,255);*/
}

.liCss2{
	/*border-bottom: rgb(184,184,184) 1px solid;
	background-color: rgb(255,255,255);*/
}

.divCssSelected{
	background-color: rgb(255,255,255);
}

.divCss{
	/*background-color: rgb(255,255,255);
	border-bottom: #efefef 1px solid;
	width:100%;*/
	font-family:"微软雅黑","Arial"; 
	vertical-align:middle;
	height:32px;
	line-height:32px;
	padding-left:10px;
}

.liCss .divCss{
	
	
}

.liCss2 .divCss{
	border-bottom:none!important;
}

.liCss .nameDiv{
	color:#fff;
	float:left;
	display:inline-block;
	border-bottom: 1px solid #5FACE9;
	overflow: hidden;
	width:186px;
	height: 31px;
}

.liCss2 .nameDiv{
    border-bottom: 1px solid #5FACE9;
    display: inline-block;
    height: 31px;
    overflow: hidden;
    color:#FEFEFF;
    float:left;
    
}

 .leftsubmenu .nameDiv {
    border-bottom: 1px solid #5FACE9;
    display: inline-block;
    height: 32px;
    overflow: hidden;
    width: 197px;
    color:#FEFEFF;
}

.leftmainmenu .nameDiv{
	display:inline-block;
	float:left;
}

.leftMenuSelected .nameDiv,.leftsubmenuselected .nameDiv{
	color:#2F5E85;
	border:none;
}

.bzCls{
	padding-right:17px;
	float:left;
	display:inline-block;
	height:32px;
}

.bzCls_close{
	background-image:url(/images/ecology8/menuicon/close_wev8.png);
	background-repeat:no-repeat;
	background-position:80% 50%;
}

.bzCls_open{
	background-image:url(/images/ecology8/menuicon/opened_wev8.png);
	background-repeat:no-repeat;
	background-position:80% 50%;
}


.bzClsLevel{
	background-image:url(/images/ecology8/menuicon/close_wev8.png);
	background-repeat:no-repeat;
	background-position:0 50%;
	padding-right:15px;
	display:inline-block;
	float:left;
}

.bzClsLevel_open{
	background-image:url(/images/ecology8/menuicon/opened_wev8.png)!important;
}

.expand{
	/*margin-left:130px;*/
	float:right;
	padding-right:10px;
	display:inline-block;
	height:100%;
	vertical-algin:middle;
	display: none;
}

.expand img{
	vertical-align:middle;
	position:relative;
	top:30%;
}

#leftMenu{
	height:500px;
	overflow:hidden;
	position:relative;
}


#drillmenu{
	/*height:250px;*/
	overflow:hidden;
}

#leftmenuTD{
	overflow:hidden;
	border-right:#d8d8d8 1px solid;
	background-color:#53A2E0;
}

.toggleBtn{
	cursor:pointer;
	/*padding:5px;*/
}

.hrmInfo{
	height:40px;
	background-color:#396D97;
	width:225px;
	color:#FEFEFF;
}
.leftColor{
	display:inline-block;
	padding-left:10px;
}

#sign_dispan{
	line-height: 40px;
}

.e8_leftToggle{
	position:absolute;
	height:48px;
	width:15px;
	bottom:0px;
	left:210px;
	cursor:pointer;
	/*display:none;*/
	background-image:url("/images/ecology8/leftHideDefault_wev8.png");
}

.e8_leftToggleHover{
	background-image:url("/images/ecology8/leftHide_wev8.png");
}

.e8_leftToggleShow{
	background-image:url("/wui/theme/ecology8/page/images/leftShowDefault_wev8.png");
	left:0px;
	display:block;
}

.e8_leftToggleShowHover{
	background-image:url("/wui/theme/ecology8/page/images/leftShow_wev8.png");
}

#sign_dispan{
	top:2px!important;
	left: 175px!important;
}