@IMPORT url("/js/tabs/css/e8tabs1_wev8.css");
@IMPORT url("/css/ecology8/request/searchInput_wev8.css");
@IMPORT url("/css/ecology8/request/hoverBtn_wev8.css");
@IMPORT url("/js/tabs/css/e8tabs4_wev8.css");

TABLE.ListStyle tbody tr td {
	padding: 4px 5px 0px 5px !important;
}
.signid_3 {
	background:#f8f8f8;
}
.relwfrequestnameclass {
	padding:10px 0 0 20px;
	background-color: #f8f8f8;
}

.pholder {
	background-color:#fff;
}