@IMPORT url("/js/jquery-autocomplete/jquery.autocomplete_wev8.css");
@IMPORT url("/js/jquery-autocomplete/browser_wev8.css");
@IMPORT url("/js/ecology8/weaverautocomplete/css/weaverautocomplete_wev8.css");
@IMPORT url("/wui/common/js/ckeditor/skins/kama/editor1_wev8.css");
@IMPORT url("/css/ecology8/workflowshow_wev8.css");
@IMPORT url("/css/ecology8/workflowcop_wev8.css");
@IMPORT url("/css/ecology8/workflowsign_wev8.css");
