/*
*自定义上传按钮 无地址框
*<div class="uploadDivshow">
*   <div class="uploadDivtxt">upload</div>
*   <input type="file" class="uploadBtn_e8" name="myfile"/>
*</div>
*/
.uploadDivshow{float: left;height: 41px;background: #f5696c;width: 144px;position:relative;}
.uploadDivtxt{text-align:center;padding-top:12px;font-size:15px;font-weight:800}
.uploadBtn_e8{width: 144px;height: 41px;cursor: pointer;font-size: 30px;outline: medium none;position: absolute;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;left:0px;top: 0px;}
/*
*自定义上传按钮 带地址框
*	<div class="ui-upload-filepath"> 
*		<input type="text" class="ui-upload-filepathtxt" class="filepathtxt" /> 
*	</div> 
*	<div class="ui-upload-holder" > 
*		<div class="ui-upload-txt">upload</div> 
*		<input type="file" class="ui-upload-input" name="myfile" /> 
*	</div> 
*/
.ui-upload-holder{ position:relative;width:60px;height:25px;border:1px solid silver; overflow:hidden;float:left;display:inline-block;} 
.ui-upload-input{ position:absolute;top:0px;right:0px;height:100%;cursor:pointer; opacity:0;filter:alpha(opacity:0);z-index:999;} 
.ui-upload-txt{ position:absolute;top:0px;left:0px;width:100%;height:100%;line-height:25px;text-align:center;} 
.ui-upload-filepath{ position:relative; border:1px solid silver; width:150px; height:25px; overflow:hidden; float:left;} 
.ui-upload-filepathtxt{ position:absolute; top:0px;left:0px; width:100%;height:25px; border:0px; line-height:25px; } 

.ui-upload-image-holder{ position:relative;width:60px;height:25px;border:1px solid silver; overflow:hidden;display:inline-block;} 
.ui-upload-image-txt{position:absolute;top:0px;left:0px;width:100%;height:100%;line-height:25px;text-align:center;}