body{
    font-family: '微软雅黑';
    font-size: 12px;
}

.matrixcontainerwrapper{
    background: #f3fafd;
}

.descr{
   height: 50px;
   width: 100%;
   line-height: 50px;
   display:none
}

.matrixcontainer{
    overflow: hidden;

}
.matrixcontainer .matrixitem{
    border: 1px solid #e5ebf4;
    width: 130px;
    height: 432px;
    float: left;
    margin-right: -1px;
    position: relative;
    border-top: none
}
.matrixcontainer .matchitem{
    background: #ffffe1;
}
.matrixcontainer .selectitem{
    background-color: #f3fafd;
}

.matrixitem .setting{
    position: relative;
	overflow:hidden;
}
.matrixitem .addpng{
    position: absolute;
    right: 30px;
    top: 100px;
    cursor: pointer;
}
.matrixitem .letter{
     height: 30px;
     line-height: 30px;
     border-bottom: 1px solid #ddd;
     text-align: center;
     background: #fbfbfb;
     position: relative;
     color: #c7c7c7;
}
.matrixitem .letterdraghandler{
    width: 80%;
    margin: 0 auto;
    cursor: move;
}

.matrixcontainer .letterselected{
    background-color: #daf5ac;
    color: #629c00;
}

.matrixitem .addicon{
    position: absolute;
    top: 20%;
    right: 20%;
    cursor: pointer;
}
.matrixitem .field{
  
   margin-bottom: 2px;
   width: 99%;
   margin: 0 auto;
   border-left: 2px solid red;
}

.matchitemcontainer .matrixitem .matchlegalfield{
    border-left: 2px solid #f6f8cd;
}

.selectitemcontainer .matrixitem .matchlegalfield{
    border-left: 2px solid #e5eff7;
}


.matrixitem .selectlegalfield{
    border-left: 2px solid #e5eff7;
}

.matrixcontainer  .holderitem{
   background: #f6f8cd;
   border-left:none;
}

.matchitemcontainer .matrixitem:hover input{
    background: #E9E7E7; 
}
.matchitemcontainer .matrixitem:hover .holderitem{
    background: #E9E7E7; 
}

.selectitemcontainer .matrixitem:hover input{
    background: #E9E7E7; 
}
.selectitemcontainer .matrixitem:hover select{
    background: ##e5eff7; 
}


.matchitemcontainer .matrixitem select{
    height: 26px;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background: #f6f8cd;
	color: #4c6574;
}
.matchitemcontainer .matrixitem input{
    height: 27px;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	border-top: 1px solid #fff;
	border-right: 1px solid #e9e9e9;
	background: #f6f8cd;
	color: #4c6574;
	padding-left: 5px;
}

.selectitemcontainer  .holderitem{
   background: #f6f8cd;
   border-left:none;
}

.selectitemcontainer .matrixitem select{
    height: 29px;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background: #e5eff7;
	color: #4c6574;
	border-bottom: 1px solid #f3fafd;
}
.selectitemcontainer .matrixitem input{
    height: 27px;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	border-bottom: 1px solid #f3fafd;
	border-right: 1px solid #e9e9e9;
	background: #e5eff7;
	color: #4c6574;
	padding-left: 5px;
}
.matrixitem .itemdelete{
   position: absolute;
   width: 100%;
   bottom: 0px;
   display: none;
   cursor: pointer;
   background: #fff1f1;
   height: 30px;
   border-top: 1px solid #bbf1f1;
   margin-right: auto;
   margin-left: auto;
}

.matrixitem .itemdelete .deleteblock{
     margin-left: auto;
	margin-right: auto;
	width: 20px;
	height: 3px;
	background: #f7b6b5;
	margin-top: 14px;
}

.matchitemcontainer,.selectitemcontainer,.matchaddcontainer,.selectaddcontainer{
    /**overflow: hidden;**/
    float: left;
}


 .matchitemclone{
    display: none;
}
 .matchitemaddclone{
    display: none;
}
 .selectitemclone{
    display: none;
}
.selectitemaddclone{
    display: none;
}
.matrixsysarea fieldset{
    border: 1px dashed #d6e1ee;
    padding: 20px 30px;
    color: #8ca3be;
}
.matrixsysarea .previewlist{
    list-style: none;
    margin: 0;
    padding: 0;
}
.matrixsysarea  li{
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: -1px;
}


.matrixsysarea  .matchbg{
    background-color: #ffdd77;
    color: #aa891d;
    border: 1px solid #efc750;
}
.matrixsysarea  .selectbg{
    background-color: #5ccfeb;
    color: #17829d;
    border: 1px solid #31afd0;
}
.matrixsysarea{
    overflow: auto;
    margin-top: 20px;
    display: none;
}
.sbHolder {
height: 26px;
}
.sbSelector{
width:100% !important;
}
.e8_os{
 width: 90.5% !important;
 margin-top: 1px !important;
}
.e8_outScroll{
 height: 25px;
}

div.sbHolder {
   border: none !important; 
}

