html,body{
	margin: 0;
	background-color: #ffffff;
	overflow:auto;
}
body{
	font-size:16px;
}
.ui-shadow, .ui-shadow-inset{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
	text-shadow: none;
}
legend, .ui-input-text input, .ui-input-search input{
	text-shadow: none;
	font-size: 12px !important;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a{
	text-shadow: none;
}
.ui-corner-all{
	-webkit-border-radius: 0;
	border-radius: 0;
}
.ui-loader{
	top:auto;bottom:200px;background:none;
}

.ui-input-search{
	border: none;
	border-radius: 2.25em;
	background-color: #fff !important;
}
.ui-input-search input{
	padding-top: 0.6em;
	padding-bottom: 0.6em;
}
