html {
	-ms-touch-action: none;
}
#main-container{
	height: 100%;
	background: url("/mobilemode/images/emobile/mainBG.png") no-repeat;
	background-size: 100% 100%;
}
.main-container {
	position: relative;
	overflow-x: hidden; 
}

.main-container .page-view {
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	z-index: 100;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	overflow-x: hidden; 
}
.main-container.effect-left .page-view {
	-webkit-transform: translate3d(55%, 0, 0) scale3d(0.9,0.9, 1);
	transform: translate3d(55%, 0, 0) scale3d(0.9,0.9, 1);
	box-shadow:0 0 8px #333; 
}
.main-container.effect-right .page-view {
	-webkit-transform: translate3d(-80%, 0, 0) scale3d(0.9,0.9, 1);
	transform: translate3d(-80%, 0, 0) scale3d(0.9,0.9, 1);
	box-shadow:0 0 8px #333; 
}
.main-container .page-view::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	z-index: 101;
}
.main-container.effect-left .page-view::after,
.main-container.effect-right .page-view::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	z-index: 101;
}
.page-slide{
	height: 100%;
	width: 100%;
	display: none;
}
#left-slide-page{
	background: transparent;
}
#right-slide-page{
	background: transparent;
}

#left-page-center {
	position:absolute; 
	z-index:1;
	top:8%; bottom: 58px; left:0;
	width:100%;
	background:transparent;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling:touch;
	
}
#left-page-scroller {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width:100%;
	padding:0;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
#left-page-center .center-menu{

}
#left-page-center .center-menu ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#left-page-center .center-menu ul li{
	overflow: hidden;
	padding-left: 20px;
	padding: 10px 0px 10px 20px;
}
#left-page-center .center-menu ul li.selected{
	background: rgba(033,081,104,0.6);
}
#left-page-center .center-menu ul li.split{
	border-bottom: 1px solid #8db4c6;
}
#left-page-center .center-menu ul li > div{
	float: left;
	height: 20px;
}
#left-page-center .center-menu ul li .menu-icon{
	width: 20px;
	margin-right: 16px;
}
#left-page-center .center-menu ul li .menu-icon img{
	width: 100%;
	height: 100%;
}
#left-page-center .center-menu ul li .menu-text{
	line-height: 20px;
	font-size: 15px;
	color: #fff;
	font-family: 'Microsoft Yahei',arial;
	margin-right: 16px;
}

#left-page-center .center-menu ul li .menu-remind{
	margin-top: 2px;
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	color: #fff;
	font-family: 'Microsoft Yahei',arial;
	background-color: #1e5b70;
	padding: 0px 7px;
	border-radius:10px;
	text-align: center;
}
#left-page-footer{
	position:absolute; 
	z-index:2;
	bottom:0px; 
	left:0px;
	width:100%;
	height: 58px;
	border-top: none;
	background: transparent;
}
#left-page-footer .bg-footer{
	width: 100%;
	height: 100%;
	background-color: #3c8985;
	opacity: 0.5;
}
#left-page-footer .footer-menu-container{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
#left-page-footer .footer-menu-container .footer-menu{
	float: left;
	width: 30px;
	margin: 5px 30px;
}
#left-page-footer .footer-menu-container .footer-menu .menu-icon{
	height: 30px;
}
#left-page-footer .footer-menu-container .footer-menu .menu-icon img{
	width: 100%;
	height: 100%;
}
#left-page-footer .footer-menu-container .footer-menu .menu-text{
	height: 18px;
	line-height: 18px;
	text-align: center;
	font-size: 12px;
	font-family: 'Microsoft Yahei',arial;
	color: #fff;
}
#right-page-header{
	height: 180px;
	position:absolute; 
	z-index:1;
	top:0px; left:0px;
	width:100%;
	overflow: hidden;
}
#right-page-header .header-top{
	width: 100%;
	height: 115px;
	overflow: hidden;
}
#right-page-header .header-top-inner{
	padding-top: 9%;
	padding-left: 16%;
}
#right-page-header .header-top-avatar{
	width: 60px;
	height: 60px;
	border: 1px solid #777;
	border-radius:2.25em;
	overflow: hidden;
	margin-left: 15px;
	float: left;
}
#right-page-header .header-top-avatar img{
	width: 100%;
	height: 100%;
}
#right-page-header .header-top-info{
	margin-left: 15px;
	float: left;
}
#right-page-header .header-top-info .info-username{
	font-size: 16px;
	font-family: 'Microsoft Yahei',arial;
	color: #fff;
	margin-top: 10px;
}
#right-page-header .header-top-info .info-date{
	font-size: 14px;
	font-family: 'Microsoft Yahei',arial;
	color: #fff;
	margin-top: 5px;
}
#right-page-header .header-bottom{
	height: 65px;
	background: rgba(60, 137, 133, 0.7);
}
#right-page-center{
	position: absolute;
	width: 100%;
	top: 180px;
	left: 0px;
	bottom: 40px;
	background: #f5f5f5;
}
#right-page-footer{
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
	height: 40px;
	background: #f5f5f5;
}
#right-page-footer .footer-menu-container{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
#right-page-footer .footer-menu-container .footer-menu{
	float: right;
	margin-right: 3px;
}
#right-page-footer .footer-menu-container .footer-menu .menu-icon{
	height: 26px;
	width: 26px;
	float: left;
}
#right-page-footer .footer-menu-container .footer-menu .menu-icon img{
	width: 100%;
	height: 100%;
}
#right-page-footer .footer-menu-container .footer-menu .menu-text{
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 12px;
	font-family: 'Microsoft Yahei',arial;
	color: #999;
	padding: 0px 6px;
	float: left;
}
#mobileFrameContainer{
	background-color: #fff;
}
.st-container{
	position: absolute;
	width: 100%;
	top: 50px;
	bottom: 0px;
	height: auto;
}
#right-frame-container{
	top: 50px;
}