html {
	-ms-touch-action: none;
}
body {
    overflow: hidden;
}

#scroll_wrapper {
	position:absolute; 
	z-index:1;
	top:0px; 
	bottom:0px; 
	left:0;
	width:100%;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling:touch;
	
	background:transparent;
	background-color: rgb(240, 240, 240);
}

#scroll_scroller {
	width:100%;
}

#scroll_footer {
	position:absolute; z-index:2;
	bottom:0; left:0;
	width:100%;
	background-color: #fafafa;
	display: none;
}

#pullDown {
	display: none;
}

#right_view{
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling:touch;
}