html, body, #root {
  height: 100%;
}
.Dblist .ant-steps-item {
  margin-right: 4px;
}
.Dblist .ant-steps-small .ant-steps-item-title{
  padding-right: 4px;
}
.Dblist .ant-card-body{
  padding : 0px;
}
.DB-menu .ant-menu-dark.ant-menu-horizontal {
  border-bottom-color: #108ee9;
}
.ant-menu-dark .ant-menu-sub, .eim-menu .ant-menu-dark {
  background-color: #108ee9;
}
.ant-menu-dark .ant-menu-sub, .eim-menu .ant-menu-dark {
  background-color: #108ee9;
}
.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
  background: #108ee9;
}
.ant-menu-item{
  font-size:15px;
}
.ant-menu-submenu-horizontal.ant-menu-submenu{
  font-size:15px;
}
.DB-menu-title{
  float: left;
    margin-left: 4px;
    margin-right: 55px;
    color:#FFF;
}
.DB-tab .ant-tabs-bar {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.ant-layout-header{
    background: #108ee9;
}

.title{
  padding-right: 5px;
  padding-left: 5px;
  line-height: 20px;
  height: 20px;
  display: inline-block;
}

.title-red {
  background:#ba0000;
}
.title-green {
  background:#07781a;
}
.title-yellow {
  background:#ffbc05;
}
.title-a{
  text-decoration:none;
  color:#FFF;
}