div.content_wrap div.left{float: left;width: 250px;}
div.content_wrap div.right{float: left;}

ul.ztree {margin-top: 10px;border: 1px solid #617775;background: #f0f6e4;width:220px;height:600px;overflow-y:scroll;overflow-x:auto;}
