.components-table-demo-nested .ant-table-expanded-row > td:last-child {
  padding: 0 48px 0 8px;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-thead th {
  border-bottom: 1px solid #e9e9e9;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-thead th:first-child {
  padding-left: 0;
}

.components-table-demo-nested .ant-table-expanded-row > td:last-child .ant-table-row td:first-child {
  padding-left: 0;
}

.components-table-demo-nested .ant-table-expanded-row .ant-table-row:last-child td {
  border: none;
}

.components-table-demo-nested .ant-table-expanded-row .ant-table-thead > tr > th {
  background: none;
}

.components-table-demo-nested .table-operation a:not(:last-child) {
  margin-right: 24px;
}

.Db-search .ant-row.ant-form-item{
  display: flex;
  padding-left: 20%;
}
.Db-search .ant-form-item-control-wrapper{
  width: 50%;
}
.hideSub .ant-table-row-expand-icon.ant-table-row-collapsed{
  display:none;
}
.distable .ant-table-thead > tr > th{
  background:#dedede;
}
/*.table .ant-table-tbody > tr > td{
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}*/
.table{ 
  border-collapse:collapse;
}
.table tr td{ 
  border-bottom:1px solid  #7d7979;
  color: #0e0202f8; 
}
.table tr th{ 
  color: #020000; 
  font-size: 15px
}