@import url('form/wuiform_wev8.css');
@import url('contextmenu/contextmenu_wev8.css');
@import url('page/left_wev8.css');
/*For Common*/
a{
	text-decoration: none!important;
	color:#123885!important;
}

a:hover{
	color:red!important;
}

body{
	height:100%;
	width:100%;
}
/*For Frame*/
.frmCenterOpen,.frmCenterClose{/*框架中间页*/
	border:1px solid #a0b9a4;
	border-bottom:none;
	cursor:pointer;
	margin:0px;padding:0px;
}
.frmCenterOpen{
	background:#B1D4D9 url('general/toggler_wev8.png') no-repeat;	
	background-position:  center center;
}
.frmCenterClose{
	background:#B1D4D9 url('general/toggler-open_wev8.png') no-repeat;
	background-position:  center center;
}

/*For Button*/
BUTTON.btn { 	
	border:none;BACKGROUND: url(button/btn_wev8.png) no-repeat;color:#333;WIDTH: 116px;height:23px;text-align:left;cursor:pointer;padding-left:10px;padding-top:2px;margin-right:5px;
}

BUTTON.btnAdvanced {
	border:none;BACKGROUND: url(button/btnAdvanced_wev8.png) no-repeat;color:#333;WIDTH: 116px;height:23px;text-align:left;cursor:pointer;padding-left:20px;padding-top:2px;margin-right:5px;
}
BUTTON.btnCancel {
	border:none;BACKGROUND: url(button/btnCancel_wev8.png) no-repeat;color:#333;WIDTH: 116px;height:23px;text-align:left;cursor:pointer;padding-left:20px;padding-top:2px;margin-right:5px;
}

BUTTON.btnCopy {
	border:none;BACKGROUND: url(button/btnCopy_wev8.png) no-repeat;color:#333;WIDTH: 116px;height:23px;text-align:left;cursor:pointer;padding-left:20px;padding-top:2px;margin-right:5px;
}
BUTTON.btnCount {
	border:none;BACKGROUND: url(button/btnCount_wev8.png) no-repeat;color:#333;WIDTH: 116px;height:23px;text-align:left;cursor:pointer;padding-left:20px;padding-top:2px;margin-right:5px;
}


BUTTON.btnCustomize {
		border:none;BACKGROUND: url(button/btnCustomize_wev8.png) no-repeat;color:#333;WIDTH: 116px;height:23px;text-align:left;cursor:pointer;padding-left:20px;padding-top:2px;margin-right:5px;
}
BUTTON.btnDelete {
		border:none;BACKGROUND: url(button/btnDelete_wev8.png) no-repeat;color:#333;WIDTH: 116px;height:23px;text-align:left;cursor:pointer;padding-left:20px;padding-top:2px;margin-right:5px;
}
BUTTON.btnEdit {
		border:none;BACKGROUND: url(button/btnEdit_wev8.png) no-repeat;color:#333;WIDTH: 116px;height:23px;text-align:left;cursor:pointer;padding-left:20px;padding-top:2px;margin-right:5px;
}
BUTTON.btnLog {
		border:none;BACKGROUND: url(button/btnLog_wev8.png) no-repeat;color:#333;WIDTH: 116px;height:23px;text-align:left;cursor:pointer;padding-left:20px;padding-top:2px;margin-right:5px;
}
BUTTON.btnNew {
		border:none;BACKGROUND: url(button/btnNew_wev8.png) no-repeat;color:#333;WIDTH: 116px;height:23px;text-align:left;cursor:pointer;padding-left:20px;padding-top:2px;margin-right:5px;
}

BUTTON.btnRefresh {
		border:none;BACKGROUND: url(button/btnRefresh_wev8.png) no-repeat;color:#333;WIDTH: 116px;height:23px;text-align:left;cursor:pointer;padding-left:20px;padding-top:2px;margin-right:5px;
}
BUTTON.btnReset {
		border:none;BACKGROUND: url(button/btnReset_wev8.png) no-repeat;color:#333;WIDTH: 116px;height:23px;text-align:left;cursor:pointer;padding-left:20px;padding-top:2px;margin-right:5px;
}

BUTTON.btnSave {
	border:none;BACKGROUND: url(button/btnSave_wev8.png) no-repeat;color:#333;WIDTH: 116px;height:23px;text-align:left;cursor:pointer;padding-left:20px;padding-top:2px;margin-right:5px;
}

BUTTON.btnSearch {
	border:none;BACKGROUND: url(button/btnSearch_wev8.png) no-repeat;color:#333;WIDTH: 116px;height:23px;text-align:left;cursor:pointer;padding-left:20px;padding-top:2px;margin-right:5px;
}



BUTTON.Browser,button.browser {
	BACKGROUND-IMAGE: url(general/browser_wev8.png)!important;width:16px;
}
BUTTON.Clock,Button.clock {
	BACKGROUND-IMAGE: url(general/time_wev8.png) !important;
	WIDTH:16px!important;
	margin-right:5px;
	background-color:transparent;
}
BUTTON.Calendar,BUTTON.calendar {
	BACKGROUND-IMAGE:url(general/calendar_wev8.png)!important;
	WIDTH:16px!important;
	height:16px;
	margin-right:5px;
	background-color:transparent;
}
span.wuiDateSpan{
	display:inline-block;
}
BUTTON.btnFavorite {
	BACKGROUND-IMAGE: url(general/fav_wev8.png)!important;
	background-position:center center;
}
BUTTON.btnHelp {
	BACKGROUND-IMAGE: url(general/help_wev8.png)!important;
	background-position:center center;
}


/*For Toptitle*/
.TopTitle{ 
	/*BORDER-bottom: #e7e7e7 1px solid;*/
	/*BACKGROUND:url(general/title-bg_wev8.png) repeat-x;*/
	height:28px; 
	
	border:  #c3c3c3 1px solid;
	background:#fff url(general/title-bg_wev8.jpg) repeat-x;
	
}
DIV.TopTitle TD {
	COLOR: #000000;
}
#divshowreceivied{
	display:none;
}



/*for table shadow*/
TABLE.Shadow {
	/*border: 1px solid  #d4dae3;*/
	border-collapse:collapse;
	width:100% ;
	height:100% ;
}

TABLE.Shadow  td{
	padding:0px;
}



/**************************************/
/*           斑马线表格              */
/**************************************/
TABLE.ListStyle {/*表体*/
	width:"100%" ;
	background-color:#ECECEC;
	margin:10px 0pt 15px;
	width: 100%;
	text-align: left;
}

/*表链接*/


/*表头 TH*/
TABLE.ListStyle TR.HeaderForXtalbe TH,TABLE.ListStyle TR.header TH,TABLE.ListStyle TR.header TD  {
	height:28px;
	padding: 4px;
	cursor: pointer;
	color: #4f6b72;
	background: #CAE8EA url(table/head-bg_wev8.png);
}



/*表体*/
TABLE.ListStyle tbody tr td {
	color: #4f6b72;
	padding: 10 5 10 5;
	background-color: #FFF;
	vertical-align: top;
	overflow:visible;
}

TABLE.ListStyle TR.DataDark TD {
	BACKGROUND-COLOR:#f1f1f1;
	color:#4f6b72;
}
TABLE.ListStyle TR.DataLight TD {
	BACKGROUND-COLOR: #FFFFFF ;
	color: #4f6b72;
}


/*先中后的情况*/
.TABLE .ListStyle TR.Selected TD {
	BACKGROUND:#bfbfbf;
	background-position:center bottom;
	height:38px;

}

.TABLE.ListStyle TR.Selected td{
	/*color:white;background: #B1D4D9;*/
	
}
/*
.TABLE.ListStyle TR.Selected A{
	color:white!important;
}

.TABLE.ListStyle TR.Selected a:hover{
	text-decoration:underline!important;
}
*/
/*排序上下箭头*/
.xTable_order{
	font-family:Webdings!important;
	overflow:hidden;
	padding-left:5px;
}

.xTable_order_desc{
	color:#2877A2;
}


.xTable_order_asc{
	color:#D79D57;
}




/*=============for Browser style====================*/
TABLE.BroswerStyle {
	width:"100%" ;
	BACKGROUND-COLOR: #FFFFFF ;
	BORDER-Spacing:1pt ; 
}

TABLE.BroswerStyle TR {
	
}
TABLE.BroswerStyle TR.Title {
	
}
TABLE.BroswerStyle TR.Title TH {
	TEXT-ALIGN: left
}
TABLE.BroswerStyle TR.Spacing {
	HEIGHT: 1px
}
TABLE.BroswerStyle TR.DataHeader {
	height:28px;
	
	cursor: pointer;
	color: #4f6b72;
	background: #CAE8EA url(table/head-bg_wev8.png);
}
TABLE.BroswerStyle TR.DataHeader TD {
	COLOR: #000000 ;
	padding: 4px;
}
TABLE.BroswerStyle TR.DataHeader TH {
	padding: 4px;
	COLOR: #000000 ;
	TEXT-ALIGN: left
}
TABLE.BroswerStyle TR.DataDark {
	BACKGROUND-COLOR: #f1f1f1 ; HEIGHT: 28px ; BORDER-Spacing:1pt
}
TABLE.BroswerStyle TR.DataDark TD {
	PADDING-RIGHT: 0pt; PADDING-LEFT: 0pt; LINE: 100%
}
TABLE.BroswerStyle TR.DataLight {
	BACKGROUND-COLOR: #ffffff ; HEIGHT: 28px ; BORDER-Spacing:1pt 
}
TABLE.BroswerStyle TR.DataLight TD {
	PADDING-RIGHT: 0pt; PADDING-LEFT: 0pt; LINE: 100%
}
TABLE.BroswerStyle TR.Line {
	 BACKGROUND-COLOR: #F5FAFA ; BACKGROUND-REPEAT: repeat-x; HEIGHT: 3px
}

TABLE.BroswerStyle TR.Selected
{
    CURSOR: pointer;
	background: #B1D4D9;
	height:28px;
}
TABLE.BroswerStyle TR.Selected TD
{
PADDING-RIGHT: 0pt; PADDING-LEFT: 0pt; LINE: 100%
}



/*View Form样式*/
TABLE.ViewForm {
	WIDTH: 100%;
	border:0;
}

TABLE.ViewForm A {
	COLOR: blue; TEXT-DECORATION: none
}
TABLE.ViewForm A:hover {
	COLOR: red; TEXT-DECORATION: none
}

TABLE.ViewForm A:link {
	COLOR: blue; TEXT-DECORATION: none
}
TABLE.ViewForm A:visited {
	TEXT-DECORATION: none}


TABLE.ViewForm TR {
	height:29px;
}

TABLE.ViewForm TR.Title TH {
	TEXT-INDENT: -1pt; TEXT-ALIGN: left;
}
TABLE.ViewForm TR.Spacing {
	HEIGHT: 4px
}
TABLE.ViewForm TD {
	padding:0 0 0 5;
}
TABLE.ViewForm TD.Field {
	PADDING-RIGHT: 3px; PADDING-LEFT: 2px; BACKGROUND-COLOR:rgb(234, 234, 234);
}


/*
TABLE.ViewForm TD.Field {
	PADDING-RIGHT: 3px; PADDING-LEFT: 2px; BACKGROUND-COLOR:#fafafa!important;
	
}
*/

TABLE.ViewForm TD.Line {
	BACKGROUND-COLOR: rgb(236, 236, 236); BACKGROUND-REPEAT: repeat-x; HEIGHT: 1px
}
TABLE.ViewForm TD.Line1 {
	BACKGROUND-COLOR: rgb(236, 236, 236); BACKGROUND-REPEAT: repeat-x; HEIGHT: 2px
}
TABLE.ViewForm TD.Line2 {
	BACKGROUND-COLOR: rgb(236, 236, 236); BACKGROUND-REPEAT: repeat-x; HEIGHT: 1px
}
TABLE.ViewForm TR.Line {
	HEIGHT:1px;
}
TABLE.ViewForm TR.Line1 {
	HEIGHT:1px;
}
TABLE.ViewForm TR.Line2 {
	HEIGHT:1px;
}
/*For lisbox*/

.listbox {
	
}
/*
.listbox .t-left{
	width:6px;
	height:39px;
	background:url(listbox/left_wev8.gif) no-repeat;
	background-position:center right;
}
.listbox .t-right{
	width:8px;
	height:39px;
	background:url(listbox/right_wev8.gif) no-repeat;
	
}
*/
.listbox .t-center {
    /*height: 39px;*/
    /*background: url(listbox/center_wev8.gif) repeat-x;*/
	border-bottom:2px solid #D8ECEF;
}

/*
.listbox .flag_1{
    background: url(listbox/page_copy_wev8.png) no-repeat;width:16px;height:16px;
	top:10px;
	left:12px;
}*/

.listbox .title_1{
	/*position:relative;
	top:-2px; 
	left:10px;*/
	color:#333;
	font-weight:bold;
}

.listbox ul {
    margin:-8 0 0 0;
	padding:10px 20px 25px 0px;
	list-style:none;
}

.listbox ul li {
	/*background:url(listbox/listStyle1_wev8.gif) no-repeat;padding-left:10px;*/
	padding-left:5px;
	background-position:0 8 ;
	
    height: 20px;
    line-height: 20px;
}
.listbox ol {
	padding:3 0 3 0;
	list-style:none;
	margin:0;
}
.listbox ol li {
	background:url(listbox/listStyle2_wev8.gif) no-repeat;
	background-position:0 8 ;
	padding-left:10px;
    height: 20px;
    line-height: 20px;
}

.listbox .flag_2_forDocList_open{
	background:url(general/open_wev8.png) no-repeat;
	padding-left:15px;
}

.listbox .flag_2_forDocList_close{
	background:url(general/close_wev8.png) no-repeat;
	padding-left:15px;
}
	
/*新建流程列表样式*/

.listbox1 {
	padding-right:100px;
}

.listbox1 .t-left{
	width:6px;
	height:20px;
	
	background-position:center right;
}
.listbox1 .t-right{
	width:8px;
	height:20px;
	
	
}
.listbox1 .t-center {
    height: 20px;
   
}

.listbox1 .flag_1{
    background: url(listbox/page_copy_wev8.png) no-repeat;width:16px;height:16px;
	top:10px;
	left:12px;
}

.listbox1 .title_1{
	position:relative;
	top:-2px; 
	left:10px;
	color:#4f6b72;
	font-weight:bold;
}

.listbox1 ul {
    margin:-10 0 0 0;
	padding:10px 20px 25px 44px;
	list-style:none;
}

.listbox1 ul li {

	background-position:0 8 ;
	padding-left:10px;
    height: 20px;
    line-height: 20px;
}
.listbox1 ol {
	padding:2 0 2 20;
	list-style:none;
	margin:0;
}
.listbox1 ol li {
	background:url(listbox/item_wev8.png) no-repeat;
	background-position:0 8 ;
	padding-left:10px;
    height: 20px;
    line-height: 20px;
}

.listbox1 .flag_2_forDocList_open{
	background:url(listbox/open2_wev8.png) no-repeat;
	background-position:0 5 ;
	padding-left:15px;
}

.listbox1 .flag_2_forDocList_close{
	background:url(listbox/close2_wev8.png) no-repeat;
	background-position:0 5 ;
	padding-left:15px;
}


 .listbox-item-style-1{
 	display:inline-block;
	line-height:13px;
	clear:both;
	height:13px;
	width:13px;
	background:url(listbox/s-1_wev8.png) no-repeat;
}
 .listbox-item-style-2{
 	display:inline-block;
	line-height:13px;
	clear:both;
	height:13px;
	width:13px;
	background:url(listbox/s-2_wev8.png) no-repeat;
}
 .listbox-item-style-3{
 	display:inline-block;
	line-height:13px;
	clear:both;
	height:13px;
	width:13px;
	background:url(listbox/s-3_wev8.png) no-repeat;
}
 .listbox-item-style-4{
 	display:inline-block;
	line-height:13px;
	clear:both;
	height:13px;
	width:13px;
	background:url(listbox/s-4_wev8.png) no-repeat;
}

/*For lisbox2*/

.listbox2 {	
	margin-right:60px;
}

.listbox2 .t-left{	width:6px;	height:20px;background-position:center right;}
.listbox2 .t-right{	width:8px;	height:20px;}
.listbox2 .t-center { height: 20px;}

.listbox2 .flag_1{
}

.listbox2 .title_1{
	position:relative;
	top:-2px; 
	
	color:#4f6b72;
	font-weight:bold;
}

.listbox2 ul {
    margin:-8 0 0 0;
	padding:10px 20px 25px 40px;
	list-style:none;
}

.listbox2 ul li {

	background-position:0 8 ;
	padding-left:10px;
    height: 22px;
    line-height: 22px;
}
.listbox2 ol {
	padding:3 0 3 0;
	list-style:none;
	margin:0;
}
.listbox2 ol li {
	background:url(listbox/item_wev8.png) no-repeat;
	background-position:0 8 ;
	padding-left:10px;
    height: 20px;
    line-height: 20px;
}

.listbox2 .flag_2_forDocList_open{
	background:url(listbox/open_wev8.png) no-repeat;
	background-position:0 8 ;
	padding-left:15px;
}

.listbox2 .flag_2_forDocList_close{
	background:url(listbox/close_wev8.png) no-repeat;
	background-position:0 8 ;
	padding-left:15px;
}

.listbox2 .li_1{
	height:16px;
	width:16px;
	background:url(listbox/s-1_wev8.png) no-repeat;
}
.listbox2 .li_2{
	height:16px;
	width:16px;
	background:url(listbox/s-2_wev8.png) no-repeat;
}
.listbox2 .li_3{
	height:16px;
	width:16px;
	background:url(listbox/s-3_wev8.png) no-repeat;
}
.listbox2 .li_4{
	height:16px;
	width:16px;
	background:url(listbox/s-4_wev8.png) no-repeat;
}

.hrminfo_fontcolor, #leftBlockHrmDep {
	color:#fff!important;	
}

/* 列表分页css */
/* 当前页 */
.weaverTableCurrentPageBg {
	background:url(table/pageNumBg_wev8.png) repeat-x;
}
/* 上一页 */
.weaverTablePrevPage {
	background:url(table/prev_wev8.png) 0 0 no-repeat;
}

.weaverTablePrevSltPage {
	background:url(table/prev_slt_wev8.png) 0 0 no-repeat;
}

/* 没有上一页时 */
.weaverTablePrevPageOfDisabled {
	background:url(table/prev_none_wev8.png) 0 0 no-repeat;
}
/* 下一页 */
.weaverTableNextPage {
	background:url(table/next_wev8.png) 0 0 no-repeat;
}

.weaverTableNextSltPage {
	background:url(table/next_slt_wev8.png) 0 0 no-repeat;
}
/* 没有下一页时 */
.weaverTableNextPageOfDisabled {
	background:url(table/next_none_wev8.png) 0 0 no-repeat;
}
/* jump按钮 */
.weaverTableJumpBtn{
	background:url(table/jump_wev8.png) no-repeat;
}
/* weaver-ext_wev8.css */
.head_toolbar {
	background:#B1D4D9 url(table/head-bg_wev8.jpg) repeat-x;;
}

.x-toolbar {
	background:#B1D4D9 url(general/title-bg_wev8.jpg) repeat-x;
	border:1px solid #e1e1e1!important;
}
/* weaver-ext-grid_wev8.css */
.x-grid3-header,.x-grid3-header-inner {
	background: #CAE8EA url(table/head-bg_wev8.jpg) right center;
}
.x-grid3-hd-inner{ /*表头*/
	background: #CAE8EA url(table/head-bg_wev8.jpg)  right center;
}
/* hrmResource_wev8.css */
.tab-left-selected{
	background:url(tab/style2/tab-left-selected_wev8.png) no-repeat right top;
}
.tab-left-unselected{
	background:url(tab/style2/tab-left_wev8.png) no-repeat right top ;
}
#tab-center{
	background:url(tab/style2/bg-center_wev8.png) repeat-x top;
}

#tab-right{
	background:url(tab/style2/tab-right_wev8.png) no-repeat left top;
}

#tab-center ul li{ 
	background:url(tab/style2/tab-spllite_wev8.png) no-repeat right;
}

.tab-selected{
	background:url(tab/style2/tab-selected_wev8.png) repeat-x;
}
/* MailInboxList.jsp */
#mailInBoxLstTbl {
	background-image:url(general/title-bg_wev8.jpg);
}


/* 个人卡片 客户卡片 tab-页签*/
#tab-left{
	width:6px;height:28px;line-height:28px;
	
}
 .tab-left-selected{
	background:url(tab/style2/tab-left-selected_wev8.png) no-repeat right top ；
} 
 .tab-left-unselected{
	background:url(tab/style2/tab-left_wev8.png) no-repeat right top ;
}

#tab-center{
	padding:0;
	width:100%;height:28px;background:url(tab/style2/bg-center_wev8.png) repeat-x top;
}
#tab-right{
	width:6px;height:28px;background:url(tab/style2/tab-right_wev8.png) no-repeat left top;
}
#tab-center ul{
	margin:0;
	padding:0;
	height:28px;
	list-style:none;
}
#tab-center ul li{
	height:28px;
	float:left;
	background:url(tab/style2/tab-spllite_wev8.png) no-repeat right;
	white-space:nowrap;
	}

#tab-center .tab-item{
	float:left;
	padding-left:6px;padding-right:6px;
	height:28px;
	padding-top:4px;
	padding-bottom:4px;
	vertical-align:middle; 
	margin-right:1px;
}
#tab-center .tab-selected{
	float:left;
	
	background:url(tab/style2/tab-selected_wev8.png) repeat-x;
	
}


/*协作分类tab页*/
.CoworkTab{background-image:url('tab/bg_wev8.gif');height:30px}
.CoworkTab .lefttab{background-image:url('tab/bg_wev8.gif');width:35px;height:100%}
.CoworkTab .item{background-image:url('tab/bgdark_wev8.gif');color:#034956;word-break:keep-all;width:70px;height:100%;text-align:center;vertical-align:middle;cursor: pointer}
.CoworkTab .itemSelected{background-image:url('tab/bglight_wev8.gif');cursor:normal}
.CoworkTab .righttab{width:100%;height:100%}

/*协作区分栏*/
.frmCenterImgOpen {background:#B1D4D9 url('general/toggler_wev8.png') no-repeat center center;height: 60px;cursor: pointer;}
.frmCenterImgClose {background:#B1D4D9 url('general/toggler-open_wev8.png') no-repeat center center;height: 60px;cursor: pointer;}
