@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
h2{font-size: 24px;line-height: 36px;}
a{color: #0088cc;text-decoration: none;}
a:hover{color: #005580;text-decoration: underline;}
body{margin: 0;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 13px;line-height: 18px;color: #333333;background-color: #ffffff;}