<table class="layouttable" style="cursor: pointer;">
					<thead>
						<tr>
						   <th coord="0,-1" style="width:25%"></th><th coord="1,-1" style="width: 5.109489051094891%;"></th><th coord="2,-1" style="width: 35.76642335766424%;"></th><th coord="3,-1" style="width: 34.0632603406326%;"></th>
						</tr>
					</thead>
					<tbody><tr>
						<td coord="0,0" colspan="2" rowspan="4"><div class='group'  areaflag=A>${content_A}</div></td>
						<td coord="1,0" style="display: none;" rowspan="1" colspan="1">
						</td>
						<td coord="2,0" rowspan="4" colspan="1"><div class='group'  areaflag=B>${content_B}</div></td>
						<td coord="3,0" rowspan="4" colspan="1"><div class='group'  areaflag=C>${content_C}</div></td>
					</tr>
					<tr>
						<td coord="0,1" style="display: none;" rowspan="1" colspan="1"></td>
						<td coord="1,1" style="display: none;" rowspan="1" colspan="1"></td>
						<td coord="2,1" style="display: none;" rowspan="1" colspan="1"></td>
						<td coord="3,1" style="display: none;" rowspan="1" colspan="1"></td>
					</tr>
					<tr>
						<td coord="0,2" colspan="1" rowspan="1" style="display: none;">
						</td>
						<td coord="1,2" style="display: none;" rowspan="1" colspan="1"></td>
						<td coord="2,2" rowspan="1" colspan="1" style="display: none;">
						</td>
						<td coord="3,2" rowspan="1" colspan="1" style="display: none;">
						</td>
					</tr>
					<tr>
						<td coord="0,3" style="display: none;" rowspan="1" colspan="1"></td>
						<td coord="1,3" style="display: none;" rowspan="1" colspan="1"></td>
						<td coord="2,3" style="display: none;" rowspan="1" colspan="1"></td>
						<td coord="3,3" style="display: none;" rowspan="1" colspan="1"></td>
					</tr>
				</tbody></table>