<STYLE TYPE="text/css">
#Container{
			width:99%;
			margin-left:10px;
		}		
.item{
	margin-top:10px;
}
.group{	
	margin-right:10px;
}
</style>
<TABLE id="Container" CELLPADDING=0 CELLSPACING=0>
	<TR>
		<TD WIDTH=${width_A} VALIGN=TOP>			
			<div class="group"  areaflag=A>
					${content_A}
			</div>
		</TD>
		<TD WIDTH=${width_B} VALIGN=TOP>			
			<div class="group"  areaflag=B>
					${content_B}
			</div>
		</TD>
		<TD WIDTH=${width_C} VALIGN=TOP>			
			<div class="group"  areaflag=C>
					${content_C}
			</div>
		</TD>
	</TR>
</TABLE>
${strOther}