@CHARSET "UTF-8";

*{
	font: 12px Microsoft YaHei;
}

textarea{overflow:auto;}

.FormMode{background-image:url('tab/bg_wev8.gif');height:27px}
.FormModeDtl{background-image:url('tab/bg_wev8.gif');height:26px}
.item{background-image:url('tab/bgdark_wev8.gif');color:#034956;word-break:keep-all;width:70px;height:100%;text-align:center;vertical-align:middle;cursor: pointer}
.itemSelected{background-image:url('tab/bglight_wev8.gif');cursor:normal}
.righttab{width:100%;height:100%}

input.calendar{
	background: url("/wui/theme/ecology8/skins/default/general/calendar_wev8.png") no-repeat;
	border: 1px solid #ddd;
	background-position: right center;
	width: 100px;
	background-color: #fff;
}

.e8_tblForm{
	width: 100%;
	margin: 0 0;
	border-collapse: collapse;
}
.e8_tblForm .e8_tblForm_label{
	vertical-align: top;
	border-bottom: 1px solid #e6e6e6;
	padding: 5px 2px;
}
.e8_tblForm .e8_tblForm_field{
	border-bottom: 1px solid #e6e6e6;
	padding: 5px 7px;
	background-color: #f8f8f8;
}
.e8_label_desc{
	color: #aaa;
}

.deletebtn2 { 	
	border:none;
	BACKGROUND: url(/wui/theme/ecology8/jquery/js/button/delete2_wev8.png) no-repeat;
	color:#333;
	WIDTH: 21px;height:21px;
	text-align:left;
	cursor:pointer;
	padding: 0;
	margin: 0 0 1px 2px;
	vertical-align: bottom;
}
.addbtn2 { 	
	border:none;BACKGROUND: url(/wui/theme/ecology8/jquery/js/button/add2_wev8.png) no-repeat;
	color:#333;
	WIDTH: 21px;height:21px;
	text-align:left;
	cursor:pointer;
	padding: 0;
	margin: 0 0 1px 2px;
	vertical-align: bottom;
}
.copybtn2 { 	
	border:none;BACKGROUND: url(/wui/theme/ecology8/jquery/js/button/copy2_wev8.png) no-repeat;
	color:#333;
	WIDTH: 21px;height:21px;
	text-align:left;
	cursor:pointer;
	padding: 0;
	margin: 0 0 1px 2px;
	vertical-align: bottom;
}
.addbtn3 { 	
	border:none;BACKGROUND: url(/formmode/images/add3_wev8.png) no-repeat;
	color:#333;
	WIDTH: 21px;height:21px;
	text-align:left;
	cursor:pointer;
	padding: 0;
	margin: 0 0 1px 2px;
	vertical-align: bottom;
}
.initbtn { 	
	border:none;BACKGROUND: url(/formmode/images/initbtn_wev8.png) no-repeat;
	color:#333;
	WIDTH: 21px;height:21px;
	text-align:left;
	cursor:pointer;
	padding: 0;
	margin: 0 0 1px 2px;
	vertical-align: bottom;
}

#oTable{
	border-collapse: collapse;
	margin: 10px 0;
	width: 100%;
}	
#oTable tr th{
	text-align: left;
	padding: 4px;
	background-color: #eee;
}
#oTable tr td{
	padding: 4px;
	border-bottom: 1px solid #eee;
}


/*========================================================================================================================================
/wui/theme/ecology8/templates/default/css/default2.css
========================================================================================================================================*/
input[type="text"],input[type="password"],input.InputStyle,input.Inputstyle,input.inputStyle,input.inputstyle,.e8_os,textarea,.sbHolder{
	border: 1px solid #E9E9E2;
	/*width: 60%;
	border: 1px solid #A9A9A9;*/
}


TABLE.ViewForm TR.Spacing TD.Line {
	backgrond-color: #eeeeee;
	backgrond-repeat: repeat-x;
	height: 1px;
}

TABLE.ViewForm TR{
	height:30px!important;
}

select{
	height:26px;
	/*width:60%;*/
}


table.ViewForm .Selected td.fieldName,table.ViewForm .Selected td.field{
	/*background-color:#fff!important;*/
}

table.ListStyle .Selected td.fieldName,table.ListStyle .Selected td.field{
	background-color:#fff!important;
}


.Selected ._pageSizeInput{
	border:none!important;
}

.Selected td.e8Selected input.inputStyle,
.Selected td.e8Selected input.inputstyle,
.Selected td.e8Selected input[type="text"],
.Selected td.e8Selected input[type="password"],
.Selected td.e8Selected input.Inputstyle,
.Selected td.e8Selected input.InputStyle,
.Selected td.e8Selected input.inputStyle,
.Selected td.e8Selected .e8_os,
.Selected td.e8Selected textarea,
.Selected td.e8Selected .sbHolder{
	border:1px solid rgb(186, 186, 186);
}

.Selected td.e8Selected input.e8_browserInput
{
	border:none!important;
}

.Selected td.e8Selected input[type="submit"],
.Selected td.e8Selected input[type="reset"],
.Selected td.e8Selected input[type="file"],
.Selected td.e8Selected input[type="image"],
.Selected td.e8Selected input[type="button"]{
	border:none !important;
}
/*
.Selected td.fieldName input.inputStyle,
.Selected td.field input.inputstyle,
.Selected td.fieldName input.inputstyle,
.Selected td.fieldName input.InputStyle,
.Selected td.field input.inputStyle,
.Selected td.fieldName input.Inputstyle,
.Selected td.field input.Inputstyle,
.Selected td.field input.InputStyle,
.Selected td.fieldName input[type="text"],
.Selected td.field input[type="text"],
.Selected td.fieldName input[type="password"],
.Selected td.field input[type="password"],
.Selected td .e8_os,
.Selected td textarea,
.Selected td .sbHolder{
	border:1px solid rgb(186, 186, 186)!important;
}

.Selected td input.e8_browserInput,
.Selected td input[type="submit"],
.Selected td input[type="reset"],
.Selected td input[type="file"],
.Selected td input[type="image"],
.Selected td input[type="button"]{
	border:none !important;
}
*/

.hideBlockDiv,.toolbar{
	margin-right: 10px;
	color: rgb(204, 204, 204);
	cursor: pointer;
	display:inline-block;
}

.groupbg{
	background-image:url(../images/groupHead_wev8.png);
	background-repeat:no-repeat;
	background-position:0 50%;
	display:inline-block;
	width:16px;
	height:17px;
	float:left;
}

.e8_grouptitle{
	font-weight:bold;
	float:left;
	display:inline-block;
	padding-left:5px;
}

.groupHeadHide{
	cursor:pointer;
}