.ui-multiselect-menu{
	z-index:9999999;
}
.ui-multiselect-displayvalue{
	background-image:none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background-image:none;
	background-color: rgb(255,255,255);
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	background-image:none;
	background-color: rgb(255,255,255);
}

.ui-widget-header {
	background-image:none;
}

/* *, textarea{
	font: 12px Microsoft YaHei;
} */
a{
	color: #333;
}
.e8_tblForm{
	width: 100%;
	margin: 0 0;
	border-collapse: collapse;
}
.e8_tblForm .e8_tblForm_label{
	vertical-align: top;
	border-bottom: 1px solid #e6e6e6;
	padding: 5px 2px;
}
.e8_tblForm .e8_tblForm_field{
	border-bottom: 1px solid #e6e6e6;
	padding: 5px 7px;
	background-color: #f8f8f8;
}
.e8_label_desc{
	color: #aaa;
}
td.btnTd{background-color:#fff;}
/*CustomSearch ProgressBar*/
.csProgressBar{ 
	position: relative;
	width: 100px;
	border: 1px solid #eee; 
	padding: 1px; 
} 
.csProgressBar div{ 
	display: block; 
	position: relative;
	height: 18px;
	background-color: #99b433;
}
.csProgressBar div span{ 
	position: absolute; 
	width: 100px;
	text-align: center; 
	font: 10px Verdana;
	line-height: 18px;
	color: #000;
}
.csProgressBarGold div{
	background-color: #e3a21a;
}
.csProgressBarRed div{
	background-color: #da532c;
}
.templatecls a{
    color: rgb(106, 158, 230);
}
.K13_select_list ol li{
	height: 30px;
	line-height: 30px;
}
td.promptValidateFail{
	background-color: yellow !important;
}

.mapimage{
	vertical-align:middle;
	width:16px;
	height:16px;
	cursor:pointer;
}