
.btn_common {
	width: 50px;
	height: 20px;
	vertical-align: middle;
	text-align: center;
	line-height: 18px;
	cursor: pointer;
	float: left;
	font-family: 微软雅黑;
	background-color: #67B5E9;
	color: #fff;
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	border: 1px #50A9E4 solid;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0px 0px 2px #8EC8EE;
	-moz-box-shadow: 0px 0px 2px #8EC8EE;
	-webkit-box-shadow: 0px 0px 2px #8EC8EE;
}

.btn_common_hover {
	background-color: #1F8DD6;
}

.sel_common {
	width: 80%;
}