html,body {
	-webkit-text-size-adjust: none;
	margin: 0px;
	overflow: hidden;
}

* {
	font-size: 12px;
	font-family: Arial, '宋体';
	outline: none;
}

.calendar {
	width: 100%;
	cursor: default;
	background: #F1F1F1;
}

.calendar td {
	background: #fff;
	vertical-align: top;
	text-align: left;
	height: 65px;
	padding-left: 0px;
	position: relative;
}

tr.header td {
	height: 23px;
	text-align: center;
	vertical-align: middle;
}

.datalist {
	width: 100%;
	table-layout: fixed;
}

.datalist td {
	empty-cells: show;
	height: 28px;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #999999;
	padding-left: 0px;
	background-color: #fff;
	border-bottom: 1px #EFEFEF solid;
	border-top: 1px #ffffff solid;
}
.datalist td div{
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.datalist td.td1 {
	border-bottom: 0px;
	background: #F7F7F7;
	text-align: center;
}

.datalist td.td_icon {
	background: url('../images/point_02_wev8.png') center no-repeat;
	background-color: #fff;
}

.datalist td.td_icon2 {
	background: url('../images/li_wev8.png') center no-repeat;
}

.datalist tr {
	cursor: pointer;
}

.datalist tr.tr_blank {
	height: 0px !important;
}

.datalist tr.tr_blank td {
	height: 0px !important;
	border-width: 0px !important;
}

.datalist2 {
	width: 100%;
	table-layout: fixed;
}

.datalist2 td {
	height: 25px;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #999999;;
	background-color: #fff;
}

.datalist2 td.td_icon2 {
	background: url('../images/li_wev8.png') right no-repeat;
}

.datalist2 tr {
	cursor: pointer;
}

tr.data_hover td {
	background-color: #F6F6F6;
}

tr.data_hover2 td {
	background: #75B5DF;
	color: #FAFAFA;
}

tr.data_hover2 td.td_icon {
	background: url('../images/point_01_wev8.png') center no-repeat;
	background-color: #75B5DF;
}

.colortable td {
	width: auto;
	height: auto;
	font-size: 0px;
}

.weekcon {
	cursor: pointer;
}

.scroll1 {
	overflow-y: auto;
	overflow-x: auto;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	SCROLLBAR-ARROW-COLOR: #EAEAEA;
	SCROLLBAR-3DLIGHT-COLOR: #EAEAEA;
	SCROLLBAR-SHADOW-COLOR: #E0E0E0;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-FACE-COLOR: #ffffff;
}

.scroll2 {
	overflow-y: auto;
	overflow-x: hidden;
	SCROLLBAR-DARKSHADOW-COLOR: #CDCDCD;
	SCROLLBAR-ARROW-COLOR: #E2E2E2;
	SCROLLBAR-3DLIGHT-COLOR: #CDCDCD;
	SCROLLBAR-SHADOW-COLOR: #CDCDCD;
	SCROLLBAR-HIGHLIGHT-COLOR: #CDCDCD;
	SCROLLBAR-FACE-COLOR: #CDCDCD;
	scrollbar-track-color: #E2E2E2;
}

.leftmenu {
	width: 100%;
	height: 26px;
	margin-top: 0px;
	position: relative;
	cursor: pointer;
	color: #3A3A3A;
}

.leftmenu_over {
	background: #CECECE;
	color: #fff;
}

.leftmenu_over input,.leftmenu_select input {
	color: #fff !important;
}

.leftmenu_select {
	background: url('../images/left_menu_wev8.png') left no-repeat;
	color: #fff;
	font-weight: bold;
}

.input_inner {
	height: 26px;
	width: 220px;
	margin-left: 0px;
	margin-right: 0px;
	border: 0px;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 微软雅黑;
	border: 1px #B4B4B4 solid;
	box-shadow: 0px 0px 2px #B4B4B4;
	-moz-box-shadow: 0px 0px 2px #B4B4B4;
	-webkit-box-shadow: 0px 0px 2px #B4B4B4;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding-left: 2px;
}

label.overlabel {
	line-height: 20px;
	position: absolute;
	top: 5px;
	left: 5px;
	color: #999;
	font-family: 微软雅黑;
	z-index: 1;
}

.fuzzyquery_query_div { /*显示出来的模糊查询容器*/
	position: absolute;
	z-index: 10000;
	width: 577px;
	/**height:115px;*/
	border: 1px #53A9FF solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 0px 0px 2px #53A9FF;
	-moz-box-shadow: 0px 0px 2px #53A9FF;
	-webkit-box-shadow: 0px 0px 2px #53A9FF;
	overflow: hidden;
	background-color: #fff;
}

.fuzzyquery_main_div {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.fuzzyquery_load {
	background: url('../images/loading2_wev8.gif') center no-repeat;
	height: 40px;
}

.fuzzyquery_query_tab {
	width: 100%;
	table-layout: fixed;
	border: 0px;
}

.fuzzyquery_query_tab tr {
	width: 100%;
	cursor: pointer;
}

.fuzzyquery_query_tab td {
	text-align: left;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 22px;
	line-height: 22px;
	color: #A4A4A4;
	border-bottom: 0px #E6F1F9 dotted;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 1px;
}

.fuzzyquery_query_tab td.t_status {
	color: #D7D7D7;
	width: 40px;
}

.fuzzyquery_query_tab2 {
	width: 100%;
	table-layout: fixed;
	border: 0px;
}

.fuzzyquery_query_tab2 tr {
	width: 100%;
	cursor: pointer;
}

.fuzzyquery_query_tab2 td {
	text-align: left;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 24px;
	line-height: 24px;
	color: #6E6E6E;
	border-bottom: 1px #EFF7FC solid;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 3px;
	font-family: '微软雅黑';
}

.fuzzyquery_query_tab2 td.t_status {
	color: #D7D7D7;
	width: 120px;
	text-align: right;
	padding-right: 2px;
}

.fuzzyquery_query_title td {
	border: 0px;
	color: #393939;
}

.fuzzyquery_query_row_hover {
	background-color: #2F9AE1;
}  /*行移上去的样式*/
.fuzzyquery_query_row_hover td,.fuzzyquery_query_row_hover td font {
	color: #fff !important;
}

.fuzzyquery-floor { /*创建的底板IFRAME，如无特殊情况请勿修改*/
	width: 0%;
	height: 0%;
	z-index: 998;
	position: absolute;
	filter ='progid: DXImageTransform.Microsoft.Alpha ( style = 0, opacity =
		0 ) ';
	left: 13px;
	top: 76px;
	border: 0px;
}

.div_line {
	height: 50%;
	border-bottom: 2px #EEEFEF solid;
	float: left;
}

.btn_add_type {
	width: 92%;
	line-height: 21px;
	cursor: pointer;
	border-bottom: 1px #F3F3F3 solid;
	font-family: 微软雅黑;
	text-align: left;
	padding-left: 8%;
}

.btn_add_type img {
	margin-top: -1px;
}

.btn_add_type_over {
	background-color: #0080C0;
	color: #FAFAFA;
}

.type_btn_select {
	color: #fff;
	cursor: default !important;
}

.disinput {
	border: 0px;
	width: auto;
	background: none;
	height: 100%;
	line-height: 100%;
	cursor: pointer;
	padding-left: 4px;
	float: left;
}
.check_all{width:23px;height:28px;position: absolute;left:22px;background: url('../images/checkbox_wev8.png') center no-repeat;cursor: pointer;}
.check_all_checked{background: url('../images/checkbox_checked_wev8.png') center no-repeat;}
.item_check{width:22px;height:28px;float: left;background: url('../images/checkbox_wev8.png') center no-repeat;cursor: pointer;}
.item_check_checked{background: url('../images/checkbox_checked_wev8.png') center no-repeat;}

.addinput {
	color: #C0C0C0;
	font-style: italic;
}

.cond_txt {
	line-height: 26px;
	position: absolute;
	left: 10px;
}

.cond_icon {
	width: 20px;
	height: 26px;
	position: absolute;
	right: 8px;
	background: url('../images/menu_icon_2_wev8.png') center no-repeat;
	text-align: center;
	line-height: 26px;
	empty-cells: show;word-break: keep-all;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
}

.cond_icon10 {
	background: url('../images/menu_icon_2_wev8.png') center no-repeat;
}

.cond_icon11 {
	background: url('../images/menu_icon_2_hover_wev8.png') center no-repeat;
}

.cond_icon20 {
	background: url('../images/menu_icon_1_wev8.png') center no-repeat;
}

.cond_icon21 {
	background: url('../images/menu_icon_1_hover_wev8.png') center no-repeat;
}

.cond_icon30 {
	background: url('../images/menu_icon_3_wev8.png') center no-repeat;
}

.cond_icon31 {
	background: url('../images/menu_icon_3_hover_wev8.png') center no-repeat;
}

.cond_icon_count {
	background: none;
}

.lefttitle {
	background: url('../images/left_title_wev8.png') repeat-x;
	color: #818181;
	font-weight: bold;
	width: 100%;
	height: 26px;
	margin-top: 0px;
	position: relative;
}

.lefttitle_select {
	font-weight: bold;
	color: #818181;
}

.leftitem {
	width: auto;
	margin-left: 10px;
	margin-right: 2px;
	float: left;
	color: #B7B7B7;
	line-height: 26px;
	font-weight: normal;
}

.leftitem_hover {
	color: #818181;
}

.leftitem_click {
	color: #818181;
	font-weight: bold;
}

.leftitemline {
	width: 1px;
	height: 12px;
	font-size: 0px;
	float: left;
	margin-top: 7px;
	background: #CECECE;
}

#divmenu div {
	font-family: '微软雅黑' !important;
}

.main_btn {
	width: 70px;
	text-align: center;
	float: left;
	line-height: 26px;
	border-left: 1px #E4E4E4 solid;
	color: #786571;
	cursor: pointer;
	background: url('../images/pull_wev8.png') right no-repeat;
	font-family: '微软雅黑' !important;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.main_btn_hover {
	color: #004080;
	background: url('../images/pull_hover_wev8.png') right no-repeat;
}

.main_btn_select {
	color: #0080FF;
	background: none;
}

.div_cond {
	position: absolute;
	width: 69px;
	height: auto;
	text-align: center;
	z-index: 999;
	top: 83px;
	left: 803px;
	background: #fff;
	border: 1px #CACACA solid;
	display: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0px 0px 3px #CACACA;
	-moz-box-shadow: 0px 0px 3px #CACACA;
	-webkit-box-shadow: 0px 0px 3px #CACACA;
	behavior: url(/workrelate/css/PIE2.htc);
	
	overflow-y: auto;
	overflow-x: hidden;
	SCROLLBAR-DARKSHADOW-COLOR: #CDCDCD;
	SCROLLBAR-ARROW-COLOR: #E2E2E2;
	SCROLLBAR-3DLIGHT-COLOR: #CDCDCD;
	SCROLLBAR-SHADOW-COLOR: #CDCDCD;
	SCROLLBAR-HIGHLIGHT-COLOR: #CDCDCD;
	SCROLLBAR-FACE-COLOR: #CDCDCD;
	scrollbar-track-color: #E2E2E2;
}

.cond_year {
	width: 100%;
	background: #fff;
}

.cond_year td {
	background: #FBFBFF;
	line-height: 20px;
	cursor: pointer;
}

.cond_month {
	width: 100%;
	background: #fff;
}

.cond_month td {
	background: #FBFBFF;
	line-height: 20px;
	cursor: pointer;
}

.cond_td_hover {
	background: #E1E1FF !important;
}

.cond_td_click {
	background: #0080C0 !important;
	color: #fff !important;
}

.btn_prev {
	width: 20px;
	height: 20px;
	background: url('../images/btn_page_wev8.png') no-repeat 0px 0px;
	float: left;
}

.btn_prev_hover {
	background: url('../images/btn_page_wev8.png') no-repeat -25px 0px;
}

.btn_next {
	width: 20px;
	height: 20px;
	background: url('../images/btn_page_wev8.png') no-repeat 0px -25px;
	float: left;
}

.btn_next_hover {
	background: url('../images/btn_page_wev8.png') no-repeat -25px -25px;
}

::-webkit-scrollbar-track-piece {
	background-color: #E2E2E2;
	-webkit-border-radius: 0;
}

::-webkit-scrollbar {
	width: 12px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: #CDCDCD;
	-webkit-border-radius: 1px;
	outline: 0px solid #fff;
	outline-offset: -2px;
	border: 0px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
	height: 50px;
	background-color: #BEBEBE;
	-webkit-border-radius: 1px;
}

#help_content p {
	margin: 0px;
	padding: 0px;
	line-height: 25px;
	margin-left: 5px;
	font-family: 微软雅黑;
	color: #000040
}

/**列表部分样式*/
.sorttitle {
	width: 100%;
	cursor: pointer;
	padding-left: 0px;
	height: 28px;
	color: #000;
	overflow: hidden;
	border-bottom: 0px #F2F2F2 dashed;
	margin-top: 0px;
}

.sorthead {
	font-weight: bold;
	font-size: 13px;
	line-height: 28px;
	margin-left: 5px;
	float: left;
	font-family: 微软雅黑;
}

.sorticon {
	width: 23px;
	height: 100%;
	float: left;
	background: #EFEFEF;
}

.tr_select td {
	background-color: #CEE4FF !important;
	border-bottom-color: #75B4FF !important;
}

.tr_blur td {
	background-color: #F7F7F7 !important;
}

.tr_hover td {
	background-color: #F9F9F9;
}

.tr_hover div.status1 {
	background: url('../images/ing_wev8.png') center no-repeat;
}

.td_move,.td_blank {
	background-color: #EFEFEF !important;
	text-align: center;
	padding: 0px !important;
	border-top-color: #EFEFEF !important;
	border-bottom-color: #EFEFEF !important;
	border-right: 1px #EFEFEF solid;
}

.td_move div,.td_blank div {
	width: 100%;
	height: 100%;
	line-height: 28px;
	margin: 0px !important;
	padding: 0px !important;
	border: 0px !important;
}

.td_att {
	padding: 0px;
	margin: 0px;
	background: url('../images/icon_special2_wev8.png') center no-repeat
		!important;
}

.td_drag {
	cursor: move !important;
}

.tr_hover .td_move {
	background: url('../images/icon_special_wev8.png') center no-repeat;
}

.tr_hover .td_move,.tr_hover .td_blank {
	background-color: #F9F9F9 !important;
	border-right-color: #F9F9F9;
	border-top-color: #fff !important;
}

.tr_hover .td_drag div {
	display: none;
}

.tr_select .td_drag {
	background: url('../images/sprite_wev8.png') no-repeat -97px -748px;
	background-color: #CEE4FF !important;
	border-right-color: #CEE4FF;
	border-top-color: #fff !important;
	border-bottom-color: #75B4FF !important;
}

.tr_select .td_move,.tr_select .td_blank {
	background-color: #CEE4FF !important;
	border-right-color: #CEE4FF;
	border-top-color: #fff !important;
	border-bottom-color: #75B4FF !important;
}

.tr_select .td_drag div {
	display: none;
}

.tr_select div.status1 {
	background: url('../images/ing_wev8.png') center no-repeat;
}

.status {
	width: 20px;
	height: 17px;
}

.status1 {
	
}

.status1_hover {
	background: url('../images/ing_hover_wev8.png') center no-repeat !important;
}

.status2 {
	background: url('../images/complete_wev8.png') center no-repeat;
}

.status2_hover {
	background: url('../images/complete_hover_wev8.png') center no-repeat;
}

.status3 {
	background: url('../images/revoke_wev8.png') center no-repeat;
}

.status3_hover {
	background: url('../images/revoke_hover_wev8.png') center no-repeat;
}

.item_hrm {
	
}

.item_hrm a,.item_hrm a:hover,.item_hrm a:active,.item_hrm a:visited {
	color: #929292 !important;
	text-decoration: none !important;
}

.item_hrm a:hover {
	text-decoration: underline !important;
}

.div_level {
	width: 100%;
	height: 100%;
}

.div_today {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #990000;
	line-height: 28px;
}

.listicon {
	width: 23px;
	height: 21px;
	float: left;
	background: #EFEFEF;
}

.listmore {
	cursor: pointer;
	width: 70px;
	height: 21px;
	line-height: 19px;
	margin-right: 4px;
	text-align: center;
	background: url('../images/morebg_wev8.png') top no-repeat;
	float: right;
	color: #696969;
}

.listmore_hover {
	color: #004080;
}

.datamore {
	width: 100%;
	height: 25px;
	line-height: 25px;
	background: url('../images/more_bg_wev8.png') center repeat-x;
	cursor: pointer;
	color: #595959;
	font-family: '微软雅黑'
}

.datamore_hover {
	background: url('../images/more_bg_hover_wev8.png') center repeat-x;
}

.item_count {
	padding-left: 0px !important;
	text-align: center;
}

.item_count_new {
	color: #FF0000 !important;
	font-weight: bold;
}

.newinput {
	font-weight: bold;
	color: #800000
}

.item_att {
	
}

.item_att0 {
	background: url('../images/icon_special_wev8.png') left no-repeat;
}

.item_att1 {
	background: url('../images/icon_special2_wev8.png') left no-repeat;
}

/**明细部分样式*/
.datatable {
	width: 100%;
}

.datatable td {
	padding-left: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: left;
}

.datatable td.title {
	font-family: 微软雅黑;
	color: #999999;
	vertical-align: top;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 12px;
	background: #F6F6F6;
	border-top: 1px #F6F6F6 solid;
	border-bottom: 1px #F6F6F6 solid;
}

.datatable td.data {
	vertical-align: middle;
	border-top: 1px #fff solid;
	border-bottom: 1px #fff solid;
}

.feedrelate {
	display: none;
}

.feedrelate td {
	background: #fff !important;
	border-top: 1px #fff solid !important;
	border-bottom: 1px #fff solid !important;
}

.div_show {
	word-wrap: break-word;
	word-break: break-all;
	width: 90%;
	line-height: 20px;
	min-height: 20px;
}

.div_show p {
	padding: 0px;
	margin: 0px;
	line-height: 20px !important;
}

.input_def {
	word-wrap: break-word;
	word-break: break-all;
	width: 90%;
	height: 23px;
	line-height: 23px;
	border: 1px #fff solid;
	padding-left: 4px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	behavior: url(/workrelate/css/PIE2.htc);
}

.input_over {
	border: 1px #F0F0F0 solid;
	background: #fff;
}

.input_focus {
	border: 1px #1A8CFF solid;
	background: #fff;
	box-shadow: 0px 0px 2px #1A8CFF;
	-moz-box-shadow: 0px 0px 2px #1A8CFF;
	-webkit-box-shadow: 0px 0px 2px #1A8CFF;
}

.content_def {
	width: 90%;
	min-height: 20px;
	line-height: 20px;
	border: 1px #fff solid;
	padding: 3px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-align: left;
	behavior: url(/workrelate/css/PIE2.htc);
}

.content_def p {
	padding: 0px;
	margin: 0px;
}

.content_over {
	border: 1px #F0F0F0 solid;
	background: #fff;
}

.content_focus {
	border: 1px #1A8CFF solid;
	background: #fff;
	box-shadow: 0px 0px 3px #1A8CFF;
	-moz-box-shadow: 0px 0px 3px #1A8CFF;
	-webkit-box-shadow: 0px 0px 3px #1A8CFF;
}

.feedback_def {
	width: 90%;
	min-height: 30px;
	margin-bottom: 30px;
	line-height: 20px !important;
	border: 1px #D7D7D7 solid;
	padding: 0px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-align: left;
	behavior: url(/workrelate/css/PIE2.htc);
}

.feedback_def p {
	padding: 0px;
	margin: 0px;
	line-height: 20px !important;
}

.feedback_over {
	border: 1px #C8C8C8 solid;
}

.feedback_focus {
	min-height: 50px;
	margin-bottom: 5px;
	border: 1px #1A8CFF solid;
	box-shadow: 0px 0px 3px #1A8CFF;
	-moz-box-shadow: 0px 0px 3px #1A8CFF;
	-webkit-box-shadow: 0px 0px 3px #1A8CFF;
}

a.slink {
	padding-right: 5px;
	border-right: 0px #DBDBDB dashed;
}

a.slink,a.slink:active,a.slink:visited {
	color: #DBDBDB !important;
	text-decoration: none;
}

a.slink:hover {
	color: #1A8CFF !important;
	text-decoration: underline;
}

a.sdlink {
	color: #000 !important;
	text-decoration: none !important;
	cursor: default;
	font-weight: bold;
}

a.sdlink:hover,a.sdlink:active,a.sdlink:visited {
	color: #000 !important;
	text-decoration: none !important;
}

#rightinfo a,#rightinfo a:active,#rightinfo a:visited {
	text-decoration: none;
	color: #000000;
}

#rightinfo a:hover {
	text-decoration: underline;
	color: #0080FF;
}

tr.tr_over td {
	background: #F4F4F4 !important;
	border-top: 1px #E6E9EC solid !important;
	border-bottom: 1px #E6E9EC solid !important;
}

.upload {
	display: ;
	float: left;
}

tr.tr_over .upload {
	display: ;
}

.btn_add {
	width: 40px;
	height: 22px;
	float: left;
	margin-left: 10px;
	margin-top: 1px;
	margin-bottom: 1px;
	background: url('../images/edit_wev8.png') center no-repeat;
	display: none;
	cursor: pointer;
}

.btn_browser {
	width: 40px;
	height: 22px;
	float: left;
	margin-left: 5px;
	margin-top: 1px;
	margin-bottom: 1px;
	display: none;
	cursor: pointer;
	background: url('../images/browser_wev8.png') center no-repeat !important;
}

.browser_hrm {
	background: url('../images/browser_wev8.png') center no-repeat;
}

.browser_doc {
	background: url('../images/edit_bg_wev8.png') no-repeat 0px -22px;
}

.browser_wf {
	background: url('../images/edit_bg_wev8.png') no-repeat 0px -22px;
}

.browser_meeting {
	background: url('../images/edit_bg_wev8.png') no-repeat 0px -22px;
}

.browser_crm {
	background: url('../images/edit_bg_wev8.png') no-repeat 0px -22px;
}

.browser_proj {
	background: url('../images/edit_bg_wev8.png') no-repeat 0px -22px;
}

.add_input {
	width: 100px;
	height: 20px;
	line-height: 20px;
	border: 1px #fff solid;
	padding-left: 2px;
	display: none; margin-left：5px;
	border: 1px #1A8CFF solid;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0px 0px 2px #1A8CFF;
	-moz-box-shadow: 0px 0px 2px #1A8CFF;
	-webkit-box-shadow: 0px 0px 2px #1A8CFF;
	float: left;
	behavior: url(/workrelate/css/PIE2.htc);
}

.txtlink {
	line-height: 24px;
	float: left;
	margin-left: 3px;
}

.btn_del {
	width: 16px;
	height: 16px;
	background: url('../images/mainline_wev8.png') no-repeat -80px -126px;
	display: none;
	cursor: pointer;
	float: left;
	margin-left: 0px;
}

.btn_wh {
	width: 16px;
	height: 16px;
	float: left;
	margin-left: 0px;
}

.dtitle {
	width: 100%;
	height: 26px;
	line-height: 26px;
	font-weight: bold;
	border-bottom: 0px #E8E8E8 solid;
	cursor: pointer;
	background: url('../images/titlebg_wev8.png') repeat-x;
}

.dtxt {
	height: 26px;
	float: left;
	margin-left: 10px;
	font-family: 微软雅黑;
}

.btn_feedback {
	width: 50px;
	text-align: center;
	line-height: 18px;
	cursor: pointer;
	float: left;
	font-family: 微软雅黑;
	display: none;
	background-color: #67B5E9;
	color: #fff;
	margin-left: 5px;
	margin-bottom: 0px;
	margin-top: 5px;
	border: 1px #50A9E4 solid;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0px 0px 2px #8EC8EE;
	-moz-box-shadow: 0px 0px 2px #8EC8EE;
	-webkit-box-shadow: 0px 0px 2px #8EC8EE;
	behavior: url(/workrelate/css/PIE2.htc);
}

.btn_feedback_hover {
	background-color: #1F8DD6;
}

.fbdata1 {
	border-bottom: 1px #EFEFEF dashed !important;
}

.fbdata2 {
	background: #F8F8F8 !important;
}

.feedbackshow {
	width: 96%;
	margin: 0px auto;
	margin-bottom: 3px;
	overflow: hidden;
}

.feedbackinfo {
	width: auto;
	line-height: 24px;
	color: #B3A6B3;
}

.feedbackinfo a,.feedbackinfo a:active,.feedbackinfo a:visited {
	text-decoration: none !important;
	color: #95B3D7 !important;
}

.feedbackinfo a:hover {
	text-decoration: underline !important;
	color: #FF0000 !important;
}

.feedbackrelate {
	width: auto;
	line-height: 24px;
	background: #fff;
	overflow: hidden;
	padding: 5px;
	color: #595959;
	border: 1px #BFBFBF solid;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0px 0px 2px #E7E7E7;
	-moz-box-shadow: 0px 0px 2px #E7E7E7;
	-webkit-box-shadow: 0px 0px 2px #E7E7E7;
}

.feedbackrelate .relatetitle {
	color: #808080
}

.feedbackrelate a,.feedbackrelate a:active,.feedbackrelate a:visited {
	text-decoration: none !important;
	color: #1D76A4 !important;
}

.feedbackrelate a:hover {
	text-decoration: underline !important;
	color: #FF0000 !important;
}

.feedbackshow p {
	padding: 0px;
	margin: 0px;
	line-height: 20px !important;
}

.btn_operate {
	width: 52px;
	text-align: center;
	line-height: 18px;
	cursor: pointer;
	float: left;
	font-family: 微软雅黑;
	color: #808080;
	margin-left: 5px;
	margin-bottom: 0px;
	border: 1px #D2D2D2 solid;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 1px 1px 3px #FDFDFD;
	-moz-box-shadow: 1px 1px 3px #FDFDFD;
	-webkit-box-shadow: 1px 1px 3px #FDFDFD;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FDFDFD),
		to(#EEEEEE) );
	background: -moz-linear-gradient(#FDFDFD, #EEEEEE);
	-pie-background: linear-gradient(#FDFDFD, #EEEEEE);
}

.btn_complete {
	background-color: #34AD00;
	color: #fff;
	border: 1px #34AD00 solid;
	box-shadow: 0px 0px 2px #34AD00;
	-moz-box-shadow: 0px 0px 2px #34AD00;
	-webkit-box-shadow: 0px 0px 2px #34AD00;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#34AD00),
		to(#34AD00) );
	background: -moz-linear-gradient(#34AD00, #34AD00);
	-pie-background: linear-gradient(#34AD00, #34AD00);
}

.btn_revoke {
	background-color: #FF6060;
	color: #fff;
	border: 1px #FF6060 solid;
	box-shadow: 0px 0px 2px #FF6060;
	-moz-box-shadow: 0px 0px 2px #FF6060;
	-webkit-box-shadow: 0px 0px 2px #FF6060;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FF6060),
		to(#FF6060) );
	background: -moz-linear-gradient(#FF6060, #FF6060);
	-pie-background: linear-gradient(#FF6060, #FF6060);
}

.btn_hover {
	background: #EEEEEE;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F9F9F9),
		to(#D7D7D7) ) !important;
	background: -moz-linear-gradient(#F9F9F9, #D7D7D7) !important;
	-pie-background: linear-gradient(#F9F9F9, #D7D7D7) !important;
}

.createinfo {
	line-height: 18px;
	font-style: italic;
	font-size: 12px;
	color: #B2B2B2;
	position: absolute;
	right: 10px;
	top: 2px;
}

.createinfo a,.createinfo a:active,.createinfo a:visited {
	text-decoration: none;
	color: #B2B2B2 !important;
}

.createinfo a:hover {
	text-decoration: underline;
	color: #0080FF;
}

#logdiv {
	padding-top: 10px;
	padding-bottom: 10px;
}

.logitem {
	margin-left: 15px;
	color: #9999A5;
	line-height: 20px;
}

.logitem p {
	line-height: 20px !important;
	margin: 0px;
	padding: 0px;
}

.logitem a,.logitem a:active,.logitem a:visited {
	text-decoration: none;
	color: #9999A5 !important;
}

.logitem a:hover {
	text-decoration: underline;
}

.datetxt {
	color: #DACFCC;
}

.div_att {
	width: 18px;
	height: 20px;
	float: left;
	margin-left: 5px;
	cursor: pointer;
}

.div_att0 {
	background: url('../images/icon_special_wev8.png') center no-repeat;
}

.div_att1 {
	background: url('../images/icon_special2_wev8.png') center no-repeat;
}

.dateArea {
	text-align: center;
	color: #999999;
	background: #A6A6A6;
	width: 45px;
	height: 35px;
	color: #fff;
	margin-top: 5px;
}

.dateArea .day {
	font-size: 12px;
	padding-top: 1px;
	height: 16px;
	font-family: '微软雅黑';
}

.dateArea .yearAndMonth {
	margin-top: 0px;
	font-family: '微软雅黑';
}

.blur_text {
	color: #DFDFDF;
	font-style: italic;
	height: 30px !important;
	resize: none;
	border: 1px #DFDFDF solid;
	margin-bottom: 5px;
}

.feedbackinfo a.a1,.feedbackinfo a.a1:active,.feedbackinfo a.a1:visited
	{
	text-decoration: none !important;
	color: #D1D1D1 !important;
}

.feedbackinfo a.a1:hover {
	text-decoration: underline !important;
	color: #0080FF !important;
}

.feedbackinfo a.a2,.feedbackinfo a.a2:active,.feedbackinfo a.a2:visited
	{
	text-decoration: none !important;
	color: #808080 !important;
}

.feedbackinfo a.a2:hover {
	text-decoration: underline !important;
	color: #0080FF !important;
}
.ui-datepicker{z-index: 10000 !important;}
			
span.file,span.folder {
	cursor: pointer !important;
}
span.file a,span.folder a{display:block;width: 92% !important;padding-left: 6% !important;}

#itemdiv2 span {
	background: none;
	padding: 0px !important;
	padding-left: 0px !important;
}
#itemdiv2 li {
	width: 100%;
	line-height: 26px;
	margin: 0px !important;
	padding: 0px !important;
	color: #3A3A3A !important;
	padding: 0px !important;
	background: url('') right top no-repeat;
	vertical-align:top !important;
	overflow:hidden;
	float:left;
}
#itemdiv2 ul{
	font-size: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
}
#itemdiv2 li.hover {
	background-color: #CECECE !important
}

#itemdiv2 li.collapsable{
	background: url('../images/sub_col_wev8.png') right top no-repeat;
}
#itemdiv2 li.expandable {
	background: url('../images/sub_ex_wev8.png') right top no-repeat;
}

#itemdiv2 a {
	color: #3A3A3A !important;
	font-family: '微软雅黑' !important;
}

#itemdiv2 ul {
	margin: 0px !important;
	margin-left: 0px !important;
	padding: 0px !important;
}

#itemdiv2 span.org_hover a {
	color: #fff !important;
}

#itemdiv2 span.org_select a {
	color: #fff !important;
	font-weight: bold !important;
}

#itemdiv2 span.org_select {
	background: url('../images/left_menu_wev8.png') left top no-repeat !important;
}

#itemdiv2 .hitarea {
	background: none !important;
}

#itemdiv3 span a {
	color: #3A3A3A;
	font-family: '微软雅黑' !important;
}

#itemdiv3 span a:hover {
	color: #FF0000;
}

#itemdiv3 span.org_select a {
	background-color: #fff !important;
}

.item_table {
	width: 100%;
}

.item_table td{
	padding-left: 5px;
	color: #3E3E3E;
	vertical-align: middle;
	overflow: hidden;
}

.item_table td.title {
	background: #F6F6F6;
	font-family: '微软雅黑';
	color: #181818;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 4px;
}
td.td_hover {
	background: #FAFAFA !important;
}
.item_table a,.item_table a:active,.item_table a:visited {
	text-decoration: none;
	color: #3E3E3E;
}

.item_table a:hover {
	text-decoration: underline;
	color: #0080FF;
}
.contactmenu2{display: none}

.toptitle1{width:50px;height:20px;line-height:20px;font-size: 16px;color: #009A3E;margin-top: 18px;margin-left: 0px;text-align:center;
	font-weight: bold;font-family: 黑体;float: left;}
.toptitle2{width:50px;height:20px;line-height:20px;font-size: 14px;color: #B3DA8A;margin-top: 18px;margin-left: 0px;text-align:center;
	font-weight: bold;font-family: 黑体;float: left;cursor:pointer;}
	
.contacter_tr{display: none;}
.detailtitle{float: left;font-family: '微软雅黑';line-height: 22px;margin-left: 5px;color:#808080;font-weight: bold;}

.showbtn{float: right;width:14px;height:14px;background: url('../images/show_left_wev8.png') no-repeat;
				margin-top: 24px;margin-right: 13px;cursor: pointer;}
				
.tagitem{empty-cells: show;word-break: keep-all;white-space: nowrap;height:22px;line-height:20px;margin-left: 3px;float: left;padding-right: 12px;position: relative;font-family: 微软雅黑 !important;font-size:11px !important;cursor: pointer;}
.tagdel{width:12px;height: 12px;background: url('../images/mainline_wev8.png') no-repeat -83px -130px;position: absolute;right: 0px;top: 4px;cursor: pointer;display: none;}
.tagpanel{position: absolute;width: 100px;height: 18px;top:2px;left: 230px;}
.tagdiv{width: 100%;height: 100%;margin: 0px auto;margin-top:0px;}
.addbtn{float:left;width: 20px;height: 18px;line-height: 18px;background: #0080C0;text-align: center;color: #fff;cursor: pointer;font-weight: bold;}
.tagfloat{position: absolute;width: auto;line-height: 26px;display: none;color:#828282;}
.keytitle{float: left;line-height: 20px;font-family: 微软雅黑 !important;font-size:11px !important;}
.keyitem{height:22px;line-height:20px;margin-right: 5px;float: left;position: relative;font-family: 微软雅黑 !important;font-size:11px !important;cursor: pointer;
	empty-cells: show;word-break: keep-all;white-space: nowrap;}
.tagitem .keyitem{margin-right: 0px;}
.keyitem_click{color:#000;font-weight:bold;font-size:12px !important;}

.subtab{font-family: 微软雅黑  !important;cursor:pointer;margin-left:5px;margin-right:5px;color:#B7B7B7;font-weight: bold;}
.subtab_click{color:#4F4F4F;}