/*For Base Window*/
.window{
	background-color:#ffffff;
	position:absolute;	
	display:none;	
}
.window .content{
	float:left;
}
.window .content .title{
	height:39px;
	border:1px solid #D0D0D0;
	background:url('/messager/css/gray/titlebg_wev8.png') repeat-x;	
	position:relative;	
	cursor:move;
	
} 
.window .content  .title .logo{
	position:absolute;
	left:2px;
	top:10px;
	/*height:15px;
	width:15px;*/
}
.window .content .title .name{
	position:absolute;
	font-size:14px;
	font-family:Arial,sans-serif;
	color:#FFFFFF;
	font-weight:bold;
	left:20px;
	top:11px;
	color:#336666;
}
.window .content  .title .operate{
	position:absolute;
	right:1px;
	top:0px;
	height:16px;
	width:45px;
	background-image:url('/messager/css/gray/x_wev8.gif');
	cursor:hand;cursor:pointer;
}

.window .content .body{
	vertical-align:top;	
	/*overflow:auto;*/
	overflow:no;
	padding:0 0;	
}
.window .content .buttons{
	text-align:right;
}
/**For Message Window**/


.window .content .body  .user {
	/*padding:5;*/
	border-left:2px solid #E4E3E4;
	width:190px;
	height:100%;
	/*height:100%;*/
	background:#E9FCFF;
}



.window .content .body  .user .userfield {
	color:#666666;
	text-align:left;
	padding:1 5;
	vertical-align :middle;
	vertical-align:top;
}

.window .content .body  .user .userfield .space {
	width:25px;
}

.uservalue{
	color:#3366CC;
	word-break : break-all;
}



.window .content .body  .msg {
	text-align:center;
	height:100%;
}


.window .content .body  .msg .info{
	padding: 0 2;
	overflow:auto;
}


.window .content .body .msg .input{	
	width:98%;
	height:60px;
	border:1px solid #DEDEDE;
	/*background-color:#E3E8F0;
	
	padding:6 8;*/
	
}


.window .content .body .msg .input .textareabase{	
	/*height:100%;
	width:100%;
	
	border-left:0px;
	border-right:0px;
	overflow-y:auto;	
	
	border:1px solid #7F9DB9;
	padding-top:10px;
	*/
	color:#000000;
	height:100%;
	border:0px; 
	width:100%;
	overflow-x:auto;
	overflow-y:auto;		
	position:relative;
	

	font-size:12px;
		
}


.window .content .body .msg .input .btnSend{
	width:57px;
	height:65px;
	background:url('/messager/css/gray/btnsave_wev8.png') no-repeat;
	cursor:hand;
}
.window .content .body  .msg .toolbar{
	/*border-top:1px solid #eeeeee;
	border-bottom:1px solid #AAC0D7;
	*/
	width:98%;
	border: 1px solid #DEDEDE;
	border-top:0px;
	background:url('/messager/css/gray/toolbarbg_wev8.png');
	padding: 3 7;
	vertical-align:middle;
	/*padding: 5;*/
	height:25px; 
}

.window .content .body  .msg .toolbar .button{
	/*padding:1 4; algin:absmiddle;	position:absolute;*/
	width:22;
	height:22;

	border:1px solid  #b3b3b3;
	cursor:hand;cursor:pointer;
		
}



.window .content .body .chatList{
	 border-right:1px solid gray;	
 }
 
 
 /*for button*/
.btn1_mouseout {
 BORDER-RIGHT: #7EBF4F 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7EBF4F 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#B3D997); BORDER-LEFT: #7EBF4F 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #7EBF4F 1px solid
}
.btn1_mouseover {
 BORDER-RIGHT: #7EBF4F 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7EBF4F 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#CAE4B6); BORDER-LEFT: #7EBF4F 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #7EBF4F 1px solid
}
