.browserdiv{
	width: 100%;
	overflow: hidden;
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
	/**float: none;*/
	margin-left: 2px;
	margin-top: 1px;
}
.e8_os{
	width: 85% !important;	
}