html{overflow-y:hidden;font-size:9pt;}
body{margin: 0px;padding: 0px;}
ul {    padding: 0;    margin: 0;    list-style: none;}
.excelHeadBG{	background:#f0f3fa;	width:100%;	height:92px;}
.excelHeadTable{	border-collapse:collapse;	height:70px}
.moduleContainer{	width:100%;	height:100%;	display:none;}
.moduleLeftMenu{	width:130px;	height:100%;	background:#f0f3fa;	float:left;}
.moduleLeftMenuSplitLine{	width:2px;	height:100%;	background:#4fbe6d;	float:left;}
.excelHeadTHead{	font-size:10pt;	text-align:center;	color:#5d617d;}
.operatDiv{float:left;	margin-left:10px;	cursor:pointer;color:#5c617b;}
.excelHeadContent{	padding-top:10px;	margin-bottom:10px;	height: 70px;}
.operatSelect{	height:22px;	border:1px solid #E9E9E2;	background:#FFFFFF;	padding-left: 5px;	padding-right: 5px;}
.shortBtn{	padding-top:4px;	padding-left:5px;	width:20px;	height:19px;	margin-top:1px;}
.shortBtn_disabled{	padding-top:4px;	padding-left:5px;	width:20px;	height:19px;	margin-top:1px; color:#c1c1c1}
.bigBtn{	width: 50px;	height: 55px;	padding: 8px;	text-align: center;}
.bigBtn span{	display:block;}
.shortBtn:hover{	background:#83e89f;}
.shortBtnHover{	background:#83e89f;}
.insertimg{margin-bottom:5px;}
.splitTHead{border-right:#C1D3DC 1px solid; padding-right:6px;}
.pickcolordiv{	width:16px;	height:3px;	background:#000;}
.showforcolor{float:left;}
.selectforcolor{width:14px; height:20px; border:1px solid #f0f3fa; margin-right:4px; float:right; cursor:pointer; background:url("/workflow/exceldesign/image/shortBtn/nabla_wev8.png") no-repeat 2px 6px;}
.selectforcolor:hover{border-color:#C1D3DC;}
.excelHeadSplitLine{	height:2px;	background:#4fbe6d;	width:100%}
.importBtn{	background: url("/workflow/exceldesign/image/shortBtn/module/import_wev8.png") no-repeat 0px 0px;}
.importBtn:hover{	background: url("/workflow/exceldesign/image/shortBtn/module/import_hot_wev8.png") no-repeat 0px 0px;}
.importBtn_down{	background: url("/workflow/exceldesign/image/shortBtn/module/import_hot_wev8.png") no-repeat 0px 0px;}
.exportBtn{	background: url("/workflow/exceldesign/image/shortBtn/module/export_wev8.png") no-repeat 0px 0px;}
.exportBtn:hover{	background: url("/workflow/exceldesign/image/shortBtn/module/export_hot_wev8.png") no-repeat 0px 0px;}
.exportBtn_down{	background: url("/workflow/exceldesign/image/shortBtn/module/export_hot_wev8.png") no-repeat 0px 0px;}
.showBtn{	background: url("/workflow/exceldesign/image/shortBtn/module/show_wev8.png") no-repeat 0px 0px;}
.showBtn:hover{	background: url("/workflow/exceldesign/image/shortBtn/module/show_hot_wev8.png") no-repeat 0px 0px;}
.showBtn_down{	background: url("/workflow/exceldesign/image/shortBtn/module/show_hot_wev8.png") no-repeat 0px 0px;}
.printBtn{	background: url("/workflow/exceldesign/image/shortBtn/module/print_wev8.png") no-repeat 0px 0px;}
.printBtn:hover{	background: url("/workflow/exceldesign/image/shortBtn/module/print_hot_wev8.png") no-repeat 0px 0px;}
.printBtn_down{	background: url("/workflow/exceldesign/image/shortBtn/module/print_hot_wev8.png") no-repeat 0px 0px;}
.mobileBtn{	background: url("/workflow/exceldesign/image/shortBtn/module/mobile_wev8.png") no-repeat 0px 0px;}
.mobileBtn:hover{	background: url("/workflow/exceldesign/image/shortBtn/module/mobile_hot_wev8.png") no-repeat 0px 0px;}
.mobileBtn_down{	background: url("/workflow/exceldesign/image/shortBtn/module/mobile_hot_wev8.png") no-repeat 0px 0px;}
.moduleLeftBtn{	cursor:pointer;	height: 35px;	margin-top: 20px;	margin-left: 20px;	vertical-align: middle;	line-height: 35px;	padding-left: 40px;	position:relative;}
.moduleLeftBtn:hover{	color:#50BD6E;}
.moduleLeftMenu div.current{	color:#50BD6E;}
.moduleRightContainer{	width:100%;	height:100%; float:right;}
#triangle-left {	float: right;	width: 1px;	top: 13px;	position:relative;    border-top: 5px solid transparent;    border-right: 7px solid #4fbe6d;    border-bottom: 5px solid transparent;}
.excelSet{float: right;width: 220px;border-left: 1px solid #d9d9d9;}
.excelSet .moduleTitle{background: #f8f8f8;padding: 10px;border-bottom: 1px solid #d9d9d9;}
.excelSet .moduleBottom{background: #f8f8f8;}
.excelSet .filedTab { border-bottom:1px solid #d9d9d9}
.excelSet .filedTab .tableHead div{width: 50%;text-align: center;padding-top: 7px;padding-bottom: 7px;cursor:pointer;background:#EAEAEA;}
.excelSet .filedTab .tableHead div.current{background:#fff;}
.excelSet .filedTab .tableBody table{width:100%;border-collapse:collapse;}
.excelSet .filedTab .tableBody table .current{background:#e6f4fe;}
.excelSet .filedTab .tableBody .thead td{border-top:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;text-align: center;background: #f4f4f4;}
.excelSet .filedTab .tableBody tr{height:25px;}
.excelSet .filedTab .tableBody tr td.rightBorder{border-right:1px solid #d9d9d9;}
.excelSet .filedTab .tableBody tr td{padding-left:10px;padding-right:10px;}
.excelSet .filedTab .tableBody tr td a{cursor: pointer;color:#464646}
.excelSet .filedTab .searchInput{border:none!important;background-color:#fff;height:21px;width:150px;}
.excelSet .filedTab .searchInputSpan{	display:-moz-inline-box;		display:inline-block;		height:21px;		border:0px;		top:11px;		border:1px solid #F5F2F2	}
.excelSet .filedTab .searchInputSpan img{vertical-align: middle;cursor:pointer;}
.excelSet .filedTab .tableSearch .addmf img{vertical-align: middle;margin-left: 8px;cursor: pointer;}
.formatTab{}
.formatTab .numberTab .leftClassify{float:left;width:130px;}
.formatTab .numberTab .rightSetting{float:right;}
.detail_1{background: url("/workflow/exceldesign/image/shortBtn/detail/detail_1_nor_wev8.png") no-repeat 17px 10px;}
.detail_1_hot:hover{color:#50bc6e;background: url("/workflow/exceldesign/image/shortBtn/detail/detail_1_hot_wev8.png") no-repeat 17px 10px;}
.detail_1_dis{color:#c1c1c1;background: url("/workflow/exceldesign/image/shortBtn/detail/detail_1_dis_wev8.png") no-repeat 17px 10px;}
.detail_2{background: url("/workflow/exceldesign/image/shortBtn/detail/detail_2_nor_wev8.png") no-repeat 17px 10px;}
.detail_2_hot:hover{color:#50bc6e;background: url("/workflow/exceldesign/image/shortBtn/detail/detail_2_hot_wev8.png") no-repeat 17px 10px;}
.detail_2_dis{color:#c1c1c1;background: url("/workflow/exceldesign/image/shortBtn/detail/detail_2_dis_wev8.png") no-repeat 17px 10px;}
.detail_3{background: url("/workflow/exceldesign/image/shortBtn/detail/detail_3_nor_wev8.png") no-repeat 17px 10px;}
.detail_3_hot:hover{color:#50bc6e;background: url("/workflow/exceldesign/image/shortBtn/detail/detail_3_hot_wev8.png") no-repeat 17px 10px;}
.detail_3_dis{color:#c1c1c1;background: url("/workflow/exceldesign/image/shortBtn/detail/detail_3_dis_wev8.png") no-repeat 17px 10px;}
.detail_4{background: url("/workflow/exceldesign/image/shortBtn/detail/detail_4_nor_wev8.png") no-repeat 17px 10px;}
.detail_4_hot:hover{color:#50bc6e;background: url("/workflow/exceldesign/image/shortBtn/detail/detail_4_hot_wev8.png") no-repeat 17px 10px;}
.detail_4_dis{color:#c1c1c1;background: url("/workflow/exceldesign/image/shortBtn/detail/detail_4_dis_wev8.png") no-repeat 17px 10px;}
.detail_5{background: url("/workflow/exceldesign/image/shortBtn/detail/detail_5_nor_wev8.png") no-repeat 17px 10px;}
.detail_5_hot:hover{color:#50bc6e;background: url("/workflow/exceldesign/image/shortBtn/detail/detail_5_hot_wev8.png") no-repeat 17px 10px;}
.detail_5_dis{color:#c1c1c1;background: url("/workflow/exceldesign/image/shortBtn/detail/detail_5_dis_wev8.png") no-repeat 17px 10px;}
.turnlr{float:left; width:20px; height:40px;border: 1px solid  #f0f3fa; margin-top:10px;}
.turnlr:hover{border: 1px solid #c1c1c1;cursor:pointer;}
.detail_all{float:left; overflow:hidden; max-width:370px; height:71px; position:relative;}
.detail_ul{width:1000px; position:absolute; margin-left: -10px; left:0px; }
.turnLeft{margin-left:10px; background: url("/workflow/exceldesign/image/shortBtn/detail/left_wev8.png") no-repeat 5px 15px;}
.turnRight{margin-right:10px; background: url("/workflow/exceldesign/image/shortBtn/detail/right_wev8.png") no-repeat 5px 15px;}
.detail_return{position:absolute; right:20px; top:60px;	background:url("/workflow/exceldesign/image/shortBtn/detail/return_wev8.png") no-repeat 17px 10px;}
.seniorSetDiv{position:absolute; width:130px; height:26px; line-height:26px; top:100px; right:80px;}
.hoverred:hover{color:red !important;}
.excelBody{float:left;}
.s_module{color:#f3f3f3;}
.s_module:hover{color:#fff;}
.s_format{color:#05def4;}
.s_format:hover{color:#70f2ff;}
.s_insert{color:#fff47d;}
.s_insert:hover{color:#ffe900;}
.s_filed{color:#a6ff8e;}
.s_filed:hover{color:#36ff00;}
.s_detail:hover{color:#00ffa2;}
.s_detail{color:#8effd6;}
.s_style:hover{color:#fbb678;}
.s_style{color:#fcd2ad;}
.s_style .typeContainerFather{margin-left: 8px;float:left;overflow:hidden;margin-top:-5px;border: 1px solid #b2bbcb;height: 78px;background: #ffffff;position:relative;z-index:444;max-height:316px;}
.s_style .typeContainer{width: 620px;position:relative;}
.s_style .typeContainer .tylelement{width:84px;height:62px;color:black;margin: 6px;cursor:pointer;float:left;border: 1px solid #fff;padding: 2px;margin-top: 5px;}
.s_style .typeContainer .current{border: 1px solid #38b0ec;}
.s_style .typeContainer .styleselected{border: 1px solid #ffa656;}
.s_style .morthumn{width: 15px;height: 78px;float: right;margin-top: -5px;border: 1px solid #b2bbcb;margin-left: -1px;background: #fff;}
.s_style .morthumn .moreup{height: 25px;text-align: center;line-height: 25px;border-bottom: 1px solid #b2bbcb;cursor:pointer;}
.s_style .morthumn .moredown{height: 25px;text-align: center;line-height: 25px;border-bottom: 1px solid #b2bbcb;cursor:pointer;}
.s_style .morthumn .moremore{height: 26px;text-align: center;line-height: 26px;border-bottom: 1px solid #b2bbcb;cursor:pointer;}
.s_style .morenewContaint{float: right;position: relative;left: 30px;top: 5px;cursor: pointer;width: 0px;}
.s_style .morenewBtn{width:84px;height:62px;background:url("/workflow/exceldesign/image/shortBtn/style/new_wev8.png") no-repeat 0px 0px;}
.s_style .morenewBtn:hover{background:url("/workflow/exceldesign/image/shortBtn/style/new_hot_wev8.png") no-repeat 0px 0px;}
.moduleHeadSplitLine{height:2px;	background:#38b0ec;position: relative;top: 65px;	}
.moduleHeadStep{position: relative;top: 30px;text-align: center; font-size:11pt;}
.moduleHeadStep .step1{background:url("/workflow/exceldesign/image/moduleBtn/1_wev8.png") no-repeat 0px 0px;}
.moduleHeadStep .step2{background:url("/workflow/exceldesign/image/moduleBtn/2_wev8.png") no-repeat 0px 0px;}
.moduleHeadStep .step3{background:url("/workflow/exceldesign/image/moduleBtn/3_wev8.png") no-repeat 0px 0px;}
.moduleStep4Field{width:47px;height:47px;position: relative;left: 195px;float: left;top: 40px;background:url("/workflow/exceldesign/image/moduleBtn/setfield_wev8.png") no-repeat 0px 0px;}
.moduleStep4Style{width:47px;height:47px;position: relative;left: 345px;float: left;top: 40px;background:url("/workflow/exceldesign/image/moduleBtn/setstyle_wev8.png") no-repeat 0px 0px;}
.moduleStep4Style_hot{background:url("/workflow/exceldesign/image/moduleBtn/setstyle_hot_wev8.png") no-repeat 0px 0px;}
.moduleStep4Complete{width:47px;height:47px;position: relative;left: 500px;float: left;top: 40px;background:url("/workflow/exceldesign/image/moduleBtn/complete_wev8.png") no-repeat 0px 0px;}
.moduleStep4Complete_hot{background:url("/workflow/exceldesign/image/moduleBtn/complete_hot_wev8.png") no-repeat 0px 0px;}
.moduleContainter{width: 100%;height: 415px;margin-top: 28px;}
.moduleContainter .completeContainer{color:#4a6379;line-height:23em;font-size:12pt;text-align:center;}
.styleContainer .styleDiv{text-align:center;float:left;margin-left: 46px;cursor: pointer;margin-top: 20px; margin-bottom:5px;}
.styleContainer .styleDiv .style1{width:210px;padding:2px;cursor: pointer;border:1px solid white;margin-top:2px;}
.styleContainer .styleDiv .selected{border:1px solid #38b2ec;}
.editor_nav{
    background: #0B3155;
    color: #fff;
    height: 40px;
}
.newcolor{	background: #4d637b;	height:85px;}

.editor_nav .btns {
    float: right;
}

.editor_nav .btns a {
    color: #fff;
    margin: 0 10px;
}

.editor_nav .title {
	float: left;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 14px;
}

.editor_nav .btns button {
    padding: 2px 10px;
    margin: 0 5px;
    
}
a.blue, button.blue {
    background: #38a0e5 url(../images/button_blue_wev8.gif) repeat-x top;
    color: #fff;
    border: 1px solid #168baa;
    border-radius: 5px;
    -moz-border-radius: 5px;
    width: 48px;
    height: 26px;
}
.editor_nav .nav {
    margin: 0 auto;
}

.editor_nav .nav span.current {
    margin-top: 8px;
    background:url("/workflow/exceldesign/image/shortBtn/angle_wev8.png") no-repeat bottom;
}
.editor_nav .nav span {
    margin: 0 10px;
    display: inline-block;
    padding: 5px 20px;
    cursor: pointer;
    position: relative;
    height:22px;
    font-size:10pt;
}

span.close {
display: inline-block;
width: 16px;
height: 16px;
line-height: 16px;
vertical-align: text-top;
background-repeat: no-repeat;
background-position: center;
cursor: pointer;
padding-top: 20px;
padding-left: 15px;
background: url(/images/ecology8/16_close_wev8.png) center no-repeat;
}

span.maxwin {
display: inline-block;
width: 16px;
height: 16px;
line-height: 16px;
vertical-align: text-top;
background-repeat: no-repeat;
background-position: center;
cursor: pointer;
padding-top: 20px;
padding-left: 0px;
background: url(/images/ecology8/max_wev8.png) center no-repeat;
}

span.restore {
display: inline-block;
width: 16px;
height: 16px;
line-height: 16px;
vertical-align: text-top;
background-repeat: no-repeat;
background-position: center;
cursor: pointer;
padding-top: 20px;
padding-left: 0px;
background: url(/images/ecology8/recovery_wev8.png) center no-repeat;
}


.e8_rightBox {
	overflow:hidden;
	padding: 0px;
	padding-left:10px;
	margin: 0px;
	float:right;
	text-align:right;
	height:40px;
	white-space:nowrap;
	position:absolute;
	right:0;
	line-height:40px;
	top:90px;
}
.e8_btn_top_first:hover{background:#03a996;}
.ac_results li:hover {background:#dceefd;}
.ac_results ul li.selected{background:#dceefd;}

.shrinkBtn{width:15px; height:81px; position:absolute; cursor:pointer;}
.hideShrinkBtn{background:url("/workflow/exceldesign/image/shrink/hideShrink_wev8.png") no-repeat 0px 0px; }
.hideShrinkBtn:hover{background:url("/workflow/exceldesign/image/shrink/hideShrink_hot_wev8.png") no-repeat 0px 0px; }
.showShrinkBtn{background:url("/workflow/exceldesign/image/shrink/showShrink_wev8.png") no-repeat 0px 0px; }
.showShrinkBtn:hover{background:url("/workflow/exceldesign/image/shrink/showShrink_hot_wev8.png") no-repeat 0px 0px; }

.formulamask{position:absolute; z-index:666; background-color:rgb(51, 51, 51); opacity:0.2;}

.tabdiv{height:77px;}
.tabdiv .tab_top{height:42px; line-height:42px; padding-left:30px; background:#f8f8f8;}
.tabdiv .tab_top input{border:1px solid #b2b7c6;}
.tabdiv .tab_bottom{height:30px; line-height:36px; margin-left:12px; padding-top:6px;}
.tabdiv .tab_bottomleft{height:100%; float:left;}
.tabdiv .tab_bottomright{height:100%; float:right; width:100px; }
.tabdiv .tab_addBtn{height:30px; width:40px; float:left; cursor:pointer;}
.tabdiv .tab_add{background: url("/workflow/exceldesign/image/shortBtn/tab/addtab_wev8.png") no-repeat 1px 0px;}
.tabdiv .tab_add:hover{background: url("/workflow/exceldesign/image/shortBtn/tab/addtab_hot_wev8.png") no-repeat 1px 0px;}
.tabdiv .operBtn{width:50px; height:100%; float:left; cursor:pointer;}
.tabdiv .changeskin{background:url("/workflow/exceldesign/image/shortBtn/tab/changeskin_wev8.png") no-repeat 12px 0px;}
.tabdiv .canceltab{background:url("/workflow/exceldesign/image/shortBtn/tab/canceltab_wev8.png") no-repeat 12px 0px;}
.tabdiv .tab_head{height:100%; float:left; overflow:hidden; position:relative;}
.tabdiv .t_area{position: absolute; width:3000px;}
.tabdiv .defaultimg{vertical-align:middle; margin-right:6px;}
.tabSplitLine{height:1px; background:#dadada;}

.mcDiv{width:320px; height:290px; position:absolute; z-index:888;}
.mcOper{width:100%; height:40px; line-height:40px; position:absolute; top:242px; cursor:pointer;}
.mcBtn{width:158px; height:100%; float:left; background:#f8f8f8; text-align:center;}
.mcBtn img{vertical-align:middle; margin-right:5px;}

.linkhelp{width:60px; height:35px; line-height:35px; position:absolute; float:right; right:0px; top:50px; cursor:pointer;}
.linkhelp img{position:relative; top:4px;}

.discriptionArea{width:100%; height:130px; overflow-x:hidden; overflow-y:auto;}
.discriptionArea .disAreaHead{font-size:14px; font-weight:bold;}

.notSupportNotice{height:100%; text-align:center; line-height:22em; font-size:20px; color:red; background:#efefef;}