.menuList{
	border-radius: 6px;
	position: absolute;
	width: 50%;
	left: 25%;
	top: 15px;
	box-shadow: 0 0 15px rgba(0, 0, 0, .1);
	z-index: 20;
	box-sizing: border-box;
}
.menuList:before {
	position: absolute;
	top: -15px;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -15px;
	content: '';
	border-right: 15px solid transparent;
	border-bottom: 15px solid #444;
	border-left: 15px solid transparent;
}
.menuList .table-view{
	background-color: #444;
	border-radius: 6px;
	box-sizing: border-box;
	line-height: 21px;
	margin-bottom: 0px;
	margin-top: 0px;
	max-height: 300px;
	overflow: auto;
	padding-left: 0px;
}
.menuList .menuSpan{
	border-bottom: 1px solid #555;
	color: #fff;
	box-sizing: border-box;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	display: list-item;
	height: 44px;
	overflow: hidden;
	padding: 11px 65px 11px 15px;
	position: relative;
	text-align: left;
}
.menuList .menuSpan:last-child {
	border-bottom: 0;
}