.noNavigation{
	color: #bbb;
	font-size: 14px;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	padding: 9px 5px 9px 22px;
}
.navContainer .MEC_NumberRemind{
	position: absolute;
	top: 17px;
	right: 50px;
	height: 22px;
	width: 22px;
	overflow: hidden;
    background: none repeat scroll 0 0 red;
    text-align: center;
	line-height: 22px;
	border-radius: 15px;
    color: #FFFFFF;
	font-family: arial;
	font-size: 10px;	
}
.navContainer .MEC_NumberRemind1{
	font-size: 14px;
}
.navContainer .MEC_NumberRemind2{
	font-size: 12px;
}
.navContainer .MEC_NumberRemind3{
	font-size: 10px;
	line-height: 24px;	
}
.navContainer .MEC_NumberRemind4{
	font-size: 8px;	
	line-height: 24px;	
}
/*Navigation*/
.navContainer{
	list-style: none;
	margin: 0px;
	padding: 0px;
	background-color: #dedede;
}
.navContainer li{
	border-bottom: 1px solid #eee;
	overflow: hidden;
	background-color: #fff;
	position: relative;
	padding: 0px 72px 0px 50px;
}
.navContainer li.group{
	margin-bottom: 15px;
    border-bottom: none;
}
.navContainer li .icon{
	position: absolute !important;
	top: 0px;
	left: 0px;
	height: 55px;
	width: 50px;
}
.navContainer li .icon img{
	position: relative;
	top: 2px;
	height: 20px;
	width: 20px;
}
.navContainer li .uiname{
	line-height: 55px;
	height: 55px;
}
.navContainer li .rightFlag{
	position: absolute !important;
	top: 0px;
	right: 0px;
	height: 55px;
	width: 35px;
}
.navContainer li .rightFlag img{
	position: absolute;
	left: 0px;
	top: 18px;
}
.navContainer > li.link_active{
	background-color: #eee;
}
.navContainer li.no-img{
	padding-left: 15px;
}
.navContainer li.no-img .icon{
	display: none;	
}
