.navPanelWrap {
	overflow: hidden;
	visibility: hidden;
	position: relative;
	background-color: #fff;
}
.navPanel-swipe-wrap {
	overflow: hidden;
	position: relative;
}
.navPanel-swipe-wrap > div {
	float:left;
	width:100%;
	position: relative;
	padding-bottom: 10px;
}
/*NavPanel*/
.navPanelContainer{
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}
.navPanelContainer{
	margin-left: -1px;	/*only on design*/
	width: 101%;/*only on design*/
}
.navPanelContainer tr td{
	border: none;
	width: 1%;	
	text-align: center;
	vertical-align: middle;
	background-color: #fff;
	cursor: pointer;
	line-height: 0;
}
.navPanelContainer tr td:first-child{
	border-left: none;
}
.navPanelContainer tr td:last-child{
	border-right: none;
}
/*
.unFullColContainer tr:last-child td:last-child{
	border-right: 1px solid #ECECEC !important;	
}*/
.navPanelContainer .nPanel{
	width: 100%;
	display: inline-block;
	position: relative;
}
.navPanelContainer .nPanel .icon{
	display: block;
	text-align: center;
	padding-top: 10px;
	position: relative;
	margin: 0px auto;
}
.navPanelContainer .nPanel .icon img{
	width: 40px;
	height: 40px;
}
.navPanelContainer .nPanel .icon.radius-icon img{
	border-radius: 50%;
}
.navPanelContainer .nPanel .uiname{
	display: block;
	text-align: center;
	font-size: 12px;
	color: #444;
	overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
	line-height: normal;
}

.navPanelContainer .MEC_NumberRemind{
	position: absolute;
	top: 4px;
	left: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
	height: 18px;
	width: 18px;
	line-height: 18px;
	overflow: hidden;
    background: none repeat scroll 0 0 red;
    text-align: center;
	border-radius: 15px;
    color: #FFFFFF;
	font-family: arial;
	font-size: 10px;
}
.navPanelContainer .MEC_NumberRemind1{
	font-size: 12px;
}
.navPanelContainer .MEC_NumberRemind2{
	font-size: 10px;
	line-height: 20px;
}
.navPanelContainer .MEC_NumberRemind3{
	font-size: 8px;
	line-height: 20px;
}
.navPanelContainer .MEC_NumberRemind4{
	font-size: 6px;	
}

.navPanelContainer td.link_active{
	background-color: #eee;
}
.navPanel-point{
	text-align: center;
	font-size: 0px;
	padding-bottom: 6px;
}
.navPanel-point b{
	background-color: #ccc;
	border-radius: 3px;
	display: inline-block;
	height: 5px;
	margin-right: 5px;
	width: 5px;
}
.navPanel-point b:last-child{
	margin-right: 0px;
}
.navPanel-point b.currPoint{
	background-color: #017afd;
}