.toolbarContainer .MEC_NumberRemind{
	position: absolute;
	top: 2px;
	left: 50%;
    transform: translateX(25%);
    -webkit-transform: translateX(25%);
	height: 18px;
	width: 18px;
	line-height: 18px;
	overflow: hidden;
    background: none repeat scroll 0 0 red;
    text-align: center;
	border-radius: 15px;
    color: #FFFFFF;
	font-family: arial;
	font-size: 10px;
}

.toolbarContainer .MEC_NumberRemind1{
	font-size: 12px;
}
.toolbarContainer .MEC_NumberRemind2{
	font-size: 10px;
	line-height: 20px;
}
.toolbarContainer .MEC_NumberRemind3{
	font-size: 8px;
	line-height: 20px;
}
.toolbarContainer .MEC_NumberRemind4{
	font-size: 6px;	
}

/*toolbar*/
.toolbarWrap {
	overflow: hidden;
	visibility: hidden;
	position: relative;
	background-color: #fff;
}
.toolbar-swipe-wrap {
  overflow: hidden;
  position: relative;
}
.toolbar-swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
.toolbarContainer {
	table-layout: fixed;
	width: 100%;
}
#scroll_footer .toolbarContainer {
	border-top: 1px solid #ddd;
}
.toolbarContainer td{
	width: 1%;		
	vertical-align: top;
	padding: 0px;
}
.toolbarContainer .tbar{
	width: 100%;
	display: inline-block;
	position: relative;
}
.toolbarContainer .tbar .icon{
	display: block;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 8px;
}
.toolbarContainer .tbar .icon img{
	height: 20px;
	width: 20px;
}
.toolbarContainer .tbar .uiname{
	display: block;
	text-align: center;
	font-size: 8pt;
	padding-bottom: 8px;
}
.toolbarContainer .tbar .split{
	display: block;
	height: 23px;
	width: 1px;
	border-right: 1px solid #777;
	position: absolute;
	top: 4px;
	left: 0px;
}
.toolbar-point{
	text-align: center;
	font-size: 0px;
	padding-bottom: 6px;
}
.toolbar-point b{
	background-color: #ccc;
	border-radius: 3px;
	display: inline-block;
	height: 5px;
	margin-right: 5px;
	width: 5px;
}
.toolbar-point b:last-child{
	margin-right: 0px;
}
.toolbar-point b.currPoint{
	background-color: #017afd;
}