.userAvatarContainer{
	padding: 10px 0px 10px 20px;
	overflow: hidden;
}
.userAvatarContainer .avatarInfo{
	height: 40px;
	width: 40px;
	float: left;
	border: 1px solid #777;
	border-radius: 2.25em;
	overflow: hidden;
}

.userAvatarContainer .avatarInfo img{
	height: 100%;
	width: 100%;
	
}

.userAvatarContainer .baseInfo{
	float: left;
	margin-left: 5px;
}

.userAvatarContainer .userName{
	font-size: 20px;
	font-family: 'Microsoft YaHei', Arial;
	height: 20px; line-height: 20px;
}

.userAvatarContainer .orgInfo{
	margin-top: 5px;
}

.userAvatarContainer .orgInfo span{
	font-size: 14px;
	font-family: 'Microsoft YaHei', Arial;
}

.userAvatarContainer .orgInfo .deptName{
	margin-right: 3px;
}

.userAvatarContainer2{
	padding:0 0 10px 0;
	text-align:center;
	background-color:#0161c9;
	background:-webkit-linear-gradient(top,#017afd,#0161c9)
}
.userAvatarContainer2 .avatarInfo{
	float:none;
	margin:auto;
	border:4px solid #017afd;
	width:100px;
	height:100px;
	border-radius:100px
}
.userAvatarContainer2 .baseInfo{
	float:none;margin:auto
}
.userAvatarContainer2 .userName{
	color:#fff;
	font-family:Heiti SC,Microsoft YaHei,Arial;
	margin:10px 0 0 0
}
.userAvatarContainer2 .orgInfo{
	margin-top:0
}
.userAvatarContainer2 .orgInfo span{
	color:#fff;
	font-family:Heiti SC,Microsoft YaHei,Arial;
	font-size:12px
}
