.webClientHeadContainer{
	width: 100%;
	height: 35px;	
	background-color: rgb(107, 163, 237);
}
.webClientHeadContainer td{
	
}
.webClientHeadContainer td.leftTD{
	text-align: left;
	padding-left: 10px;	
}
.webClientHeadContainer td.centerTD{
	text-align: center;
}
.webClientHeadContainer td.rightTD{
	text-align: right;	
	padding-right: 10px;
}
.webClientHeadContainer td div{
	color: #fff;	
}
.webClientHeadContainer td.centerTD div{
	font-size: 16px;	
}