.mec_item{
	cursor: auto;
	display: block;
	float: left;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 54px;
	line-height: 14px;
	margin-top: 0px;
	width: 45px;
	margin-left: 4px;
}
.style_language_8 .mec_item{
	width: 59px;
}
.mec_item_disabled{
	opacity: 0.3;	
	filter:alpha(opacity=30);
}
.mec_node{
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: url(/mobilemode/images/mec/toolbarbg_wev8.png);
	background-origin: padding-box;
	background-position: 0px 0px;
	background-size: auto;
	cursor: move;
	display: block;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 54px;
	line-height: 14px;
	margin-bottom: 0px;

	margin-top: 0px;
	text-align: center;
	width: 40px;
}
#MEC_Design_Container .mec_node{
	display: none !important;	
}
.mec_node em{
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("/mobilemode/images/mec/toolbar_wev8.png");
	background-origin: padding-box;
	background-size: auto;
	cursor: move;
	display: inline-block;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 31px;
	line-height: 18px;
	margin-top: 2px;
	text-align: center;
	width: 28px;
}











.mec_node span{
	cursor: move;
	display: block;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-top:2px;
	/*
	height: 34px;
	line-height: 34px;
	margin-top: -5px;
	*/text-align: center;
	width: 40px;
	white-space:nowrap;
	margin-left: 2px;
	margin-left: 0px\9;
	-webkit-transform: scale(0.92);
	-webkit-transform-origin-x: 0;
}






/*拖动时的样式*/
.mec_item .ui-draggable-dragging{
	background-position: 0px 54px;
	width: 45px !important;
}
.mec_item .ui-draggable-dragging em{
	background-position: -55px 0px; 	
}

.mec_item .ui-draggable-dragging span{
	color: #fff;
	width: 45px;	
}
.ul-state-highlight{
	height: 46px !important;
	background-image: url("/mobilemode/images/mec/drop_icon_ae17678_wev8.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #BBCCDD;
}
.mec_resource_loading{
	height: 46px;
	background-color: #BBCCDD;
	background-image: url("/images/loading2_wev8.gif");
	background-repeat: no-repeat;
	background-position: 70px center;
	line-height: 46px;
	text-align: center;
	color: #000;
}

.content_editor{
	position: relative;
}
#MEC_Design_Container{
	width: 100%;
	overflow: hidden;
}
.Design_MecHandler{
	border: 1px solid #fff;
	cursor: move;
	position: relative;	
	display: block;
}
.Design_MecHandler *{
	cursor: move !important;	
}
.Design_MecHandler:HOVER{
	border: 1px dashed rgb(52, 152, 219);
}
.Design_MecHandler .del_btn{
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("/mobilemode/images/mec/lego_icon_d5b6388_wev8.png");
	background-origin: padding-box;
	background-position: 0px -111px;
	background-size: auto;
	cursor: pointer !important;
	display: none;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 13px;
	line-height: 18px;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 13px;
	z-index: 1;
}
.Design_MecHandler .copy_btn{
	cursor: pointer !important;
	height: 24px;
	line-height: 18px;
	position: absolute;
	right: 20px;
	width: 25px;
	z-index: 1;
	visibility: hidden;
}

.Design_MecHandler .copy_btn span{
	display:inline-block;
	width:15px;
	height:14px;
	margin-top:5px;
	margin-left:5px;
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("/mobilemode/images/mec/lego_icon_d5b6388_wev8.png");
	background-origin: padding-box;
	background-position: 22px -24px;
	cursor: pointer !important;
}
.Design_MecHandler:HOVER .del_btn, .Design_MecHandler:HOVER .copy_btn{
	display: block;	
	visibility: visible;
}
.Design_MecHandler_Curr{
	border: 1px dashed rgb(52, 152, 219);
}


.MAD_Alert, .MAD_Warn{
	background-color: #56a845;
	border-bottom-color: rgba(0, 0, 0, 0);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgba(0, 0, 0, 0);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgba(0, 0, 0, 0);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgba(0, 0, 0, 0);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	display: none;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 12px;
	height: 30px;
	left: 22px;
	line-height: 30px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: absolute;
	text-align: center;
	top: 0px;
	vertical-align: middle;
	width: 292px;
	z-index: 1000;
	zoom: 1;	
}
.MAD_Warn{
	background-color: #F699B4;	
}
#MAD_Empty_Tip{
	color: rgb(164, 169, 174);
	display: none;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 12px;
	text-align: center;
	padding: 20px 0px;
}
#mec_item_container{
	overflow: hidden;
	float: left;
	width: 460px;
}
#mec_item_expand{
	float: right;
	height: 55px;
	width: 15px;
	background: url("/mobilemode/images/mec/double_arrow_down_wev8.png") no-repeat;
	background-position: center 15px;
	cursor: pointer;
}
#mec_item_expand:HOVER{
	background-color: #E0E0E0;
	background-image: url("/mobilemode/images/mec/double_arrow_down2_wev8.png");
}
.mec_item_expanded{
	background-image: url("/mobilemode/images/mec/double_arrow_up_wev8.png") !important;
}
.mec_item_expanded:HOVER{
	background-image: url("/mobilemode/images/mec/double_arrow_up2_wev8.png") !important;
}
#mecExpandContainer{
	width: 460px;
	position: fixed;
	z-index: 2147483632;
	background-color: #fff;
	top: 95px;
	left: 151px;
	border: 1px solid rgb(204, 204, 204);
	border-top: none;
	padding: 0px 5px 8px 5px;
	color: #222222;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: none;
}
.mec_expand_split{
	height: 65px !important;
}

#content_editor_bottom{
	width: 100%;
	background-color: #fefefe;
	position: absolute;
	left: 0px;
	bottom: 0px;
	display: none;
}

.mec_node em.Navigation{
	background-position: 0px 0px;		
}
.ui-draggable-dragging em.Navigation{
	background-position: -55px 0px; 	
}
.mec_node em.Slide{
	background-position: 0px -32px;	
}
.ui-draggable-dragging em.Slide{
	background-position: -55px -32px;	
}
.mec_node em.List{
	background-position: 0px -155px;	
	margin-top: 5px;
	height: 28px;
}
.ui-draggable-dragging em.List{
	background-position: -55px -155px;
}
.mec_node em.UrlList{
	background-position: 0px -190px;
	margin-top: 5px;
	height: 28px;
}
.ui-draggable-dragging em.UrlList{
	background-position: -55px -190px;
}
.mec_node em.WSList{
	background-position: 0px -95px;
	margin-top: 5px;
	height: 28px;
	width: 32px;
}
.ui-draggable-dragging em.WSList{
	background-position: -55px -95px;
}
.mec_node em.Html{
	background-position: 0px -373px;	
	margin-top: 5px;
	height: 28px;
	width: 32px;
}
.ui-draggable-dragging em.Html{
	background-position: -55px -373px;	
}
.mec_node em.Toolbar{
	background-position: 0px -125px;	
	margin-top: 5px;
	height: 28px;
}
.ui-draggable-dragging em.Toolbar{
	background-position: -55px -125px;	
}
.mec_node em.Chart{
	background-position: 0px -464px;
	width: 32px;	
}
.ui-draggable-dragging em.Chart{
	background-position: -55px -464px;
}
.mec_node em.Map{
	background-position: 0px -248px;
	margin-top: 5px;
	height: 28px;
	width: 32px;
}
.ui-draggable-dragging em.Map{
	background-position: -55px -248px;
}
.mec_node em.Timelinr{
	background-position: 0px -217px;
	width: 32px;
}
.ui-draggable-dragging em.Timelinr{
	background-position: -55px -217px;
}
#Navpanel, #NavPanel span{
	width: 45px;
}
.mec_node em.NavPanel{
	background-position: 5px -529px;
	margin-top: 7px;
	height: 26px;
	width: 37px;	
}
.ui-draggable-dragging em.NavPanel{
	background-position: -55px -529px;
}
.mec_node em.Tree{
	background-position: 0px -307px;	
}
.ui-draggable-dragging em.Tree{
	background-position: -55px -307px;	
}
#TouchButton{
	width: 45px;
}
#TouchButton span{
	width: 45px;
}
.mec_node em.TouchButton{
	background: url("/mobilemode/images/mec/floatbutton_28_wev8.png") no-repeat;
	margin-top: 5px;
	height: 28px;
	width: 32px;	
}
.mec_node em.Countdown{
	background: url("/mobilemode/images/mec/clock_wev8.png") no-repeat;
	margin-top: 1px;
	height: 32px;
	width: 32px;	
}
.jNiceCheckbox {
	margin-bottom: -2px;
}