.FCheckboxContainer {
	background-color: #fff;
	border-radius: 5px;
}

.FCheckboxContainer ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	border-bottom:1px solid #eee;
}

.FCheckboxContainer ul li {
	padding-left: 28px;
	background: url("/mobilemode/browser/images/UnCheck.png") no-repeat;
	background-size: 20px 20px;
	background-position: 0px center;
}

.FCheckboxContainer ul li.checked {
	background-image: url("/mobilemode/browser/images/Check.png");
}

.FCheckboxContainer ul li div {
	padding: 10px 2px 10px 0px;
	font-family: 'Microsoft YaHei', Arial;
	font-size: 14px;
}
.FCheckboxContainer ul li:not(:last-child) div{
	border-bottom: 1px solid rgb(236, 236, 236);
}
.FCheckBoxLayouthorizontal.Design_FCheckbox_Fielddom{
	border-bottom: 1px solid #eee;
}
.FCheckBoxLayouthorizontal .FCheckboxContainer ul {
	margin: 0;
    padding: 5px 0 0 0;
    border-bottom: 0;
}

.FCheckBoxLayouthorizontal .FCheckboxContainer ul li {
	background: none;
	padding: 0px 10px;
	margin: 0 6px 6px 0;
	border: 1px solid #777;
	border-radius: 3px;
	color: #444;
	vertical-align: middle;
	display: inline-block;
}

.FCheckBoxLayouthorizontal .FCheckboxContainer ul li.checked {
	background: none;
	background-color: #333;
	border: 1px solid #333;
	color: #fff;
	background-clip: padding-box;
}

.FCheckBoxLayouthorizontal .FCheckboxContainer ul li div {
	border: 0;
	padding:5px 0;
	font-family: Heiti SC, Microsoft YaHei, Arial;
}