#mainSpan{
	width:790px;
	height:505px;
	border:none;
	border-bottom:1px solid  #EAEA70;
	/*position: absolute;*/
	top:0px;
	left:0px;
	overflow-y: auto;
}
/*创建节点*/
.proposer{
	width:69px;
	height:69px;
	line-height:69px;
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:red;
**/
	background-image: url("/images/ecology8/request/a1_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.proposer div{
	width:60px;
	margin-left:5px;
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #fff;
}	

.proposer1{
	width:69px;
	height:69px;
	line-height:69px;
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:red;
**/
	background-image: url("/images/ecology8/request/b1_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.proposer1 div{
	width:60px;
	margin-left:5px;
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #fff;
}
.proposer2{
	width:69px;
	height:69px;
	line-height:69px;
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:red;
**/
	background-image: url("/images/ecology8/request/c1_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.proposer2 div{
	width:60px;
	margin-left:5px;
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #fff;
}
/*审批节点*/
.approval{
	width:74px;
	height:69px;
	line-height:69px;
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:blue;
**/
	background-image: url("/images/ecology8/request/a2_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.approval div{
	width:65px;
	margin-left:5px;
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #fff;
}
.approval1{
	width:74px;
	height:69px;
	line-height:69px;
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:blue;
**/
	background-image: url("/images/ecology8/request/b2_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.approval1 div{
	width:65px;
	margin-left:5px;
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #fff;
}
.approval2{
	width:74px;
	height:69px;
	line-height:69px;
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:blue;
**/
	background-image: url("/images/ecology8/request/c2_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.approval2 div{
	width:65px;
	margin-left:5px;
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #fff;
}
/*处理节点*/
.manage{
	width:74px;
	height:69px;
	line-height:69px;
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:yellow;
**/
	background-image: url("/images/ecology8/request/a3_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.manage div{
	width:65px;
	margin-left:5px;
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #fff;
}
.manage1{
	width:74px;
	height:69px;
	line-height:69px;
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:yellow;
**/
	background-image: url("/images/ecology8/request/b3_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.manage1 div{
	width:65px;
	margin-left:5px;
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #fff;
}
.manage2{
	width:74px;
	height:69px;
	line-height:69px;
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:yellow;
**/
	background-image: url("/images/ecology8/request/c3_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.manage2 div{
	width:65px;
	margin-left:5px;
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #fff;
}
/*归档节点*/
.pigeonhole{
	width:74px;
	height:69px;
	line-height:69px;
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:purple;
**/
	background-image: url("/images/ecology8/request/a4_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.pigeonhole div{
	width:65px;
	margin-left:5px;
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #fff;
}
.pigeonhole1{
	width:74px;
	height:69px;
	line-height:69px;
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:purple;
**/
	background-image: url("/images/ecology8/request/b4_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.pigeonhole1 div{
	width:65px;
	margin-left:5px;
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #fff;
}
.pigeonhole2{
	width:74px;
	height:69px;
	line-height:69px;
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:purple;
**/
	background-image: url("/images/ecology8/request/c4_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.pigeonhole2 div{
	width:65px;
	margin-left:5px;
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #fff;
}
.nodeChecked{
/**	border:1px solid red;		**/
}
.horizontalArrowsLeft{
	width:120px;
	height:69px;
	position: absolute;
	background-image: url("/images/ecology8/request/harrowleft_wev8.png");
	background-repeat: no-repeat;
	background-position:center;		
}
.horizontalArrowsLeft1{
	width:120px;
	height:69px;
	position: absolute;
	background-image: url("/images/ecology8/request/harrowleft1_wev8.png");
	background-repeat: no-repeat;
	background-position:center;		
}
.horizontalArrowsRight{
	width:120px;
	height:69px;
	position: absolute;
	background-image: url("/images/ecology8/request/harrowright_wev8.png");
	background-repeat: no-repeat;
	background-position:center;		
}
.horizontalArrowsRight1{
	width:120px;
	height:69px;
	position: absolute;
	background-image: url("/images/ecology8/request/harrowright1_wev8.png");
	background-repeat: no-repeat;
	background-position:center;		
}
.verticalArrows{
	width:74px;
	height:100px;
	position: absolute;
	background-image: url("/images/ecology8/request/varrow_wev8.png");
	background-repeat: no-repeat;
	background-position:center;		
}
.verticalArrows1{
	width:74px;
	height:100px;
	position: absolute;
	background-image: url("/images/ecology8/request/varrow1_wev8.png");
	background-repeat: no-repeat;
	background-position:center;		
}
.menu{
	display:none;
	position: absolute;
	z-index:10;
}
.menu div{
	width:21px;
	height:21px;
	float:left;
	margin-left:5px;
	margin-right:5px;
	cursor:pointer;
	background-color:#fff;
}
.insert{
	background-image: url("/images/ecology8/request/insert_wev8.png");
	background-repeat: no-repeat;
	background-position:center;	
}
.remove{
	background-image: url("/images/ecology8/request/remove_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.agency{
	background-image: url("/images/ecology8/request/agency_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.spanBase{
	float:left;
	border:1px solid #cccccc;
	cursor:pointer;
	width:108px;
	height: 26px;
	line-height: 26px;
}
.spanOther{
	float:left;
	border:1px solid #cccccc;
	border-left:none;
	cursor:pointer;
	width:109px;
	height: 26px;
	line-height: 26px;
}
.spanChecked{
	background-color: #f5f5f5;
}
#spanBase{
	margin-top:5px;
}
#spanOther{
	margin-top:5px;
}
#detail{
	position: absolute;
	top:0px;
	left:790px;
	width:232px;
	height:505px;
	border:1px solid #cccccc;
	background-color:#fafafa;
}
#detail_disable{
	position: absolute;
	top:40;
	left:790;
	width:230px;
	height:465px;
	z-index:10;
}
.Line{
	background-color: #eeeeee;
	background-repeat: repeat-x;
}
.bacoError{
	height: 27px;
	width: 7px;
	float: right;
}
.bacoError img{
	margin-top: 6px;
}

input, select, textarea {
border: #e7e7e7 1px solid;
}