#mainSpan{
	width:100%;
	height:160px;
	border:none;
	border-top:1px solid  #d3d3d3;
	border-bottom:1px solid  #DBDAE2;
	position: relative;
	top:0px;
	left:0px;
	overflow-y: hidden;
	overflow-x: hidden;
}
#middlediv{
	width:100%;
	height:100%;
	border-top:1px solid  #DBDAE2;
	
	/*position: absolute;*/
	top:0px;
	left:0px;
	overflow-y: hidden;
	overflow-x: hidden;
}
/*创建节点*/
.proposer{
	width:145px;
	height:100px;
	
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:red;
**/
	background-image: url("/rdeploy/assets/img/wf/create_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.proposer div{
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #000;
	font-size : 12px;
}	

.proposer1{
	width:145px;
	height:100px;
	
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:red;
**/
	background-image: url("/rdeploy/assets/img/wf/create1_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.proposer1 div{
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #fff;
	font-size : 12px;
}
.proposer2{
	width:145px;
	height:100px;
	
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:red;
**/
	background-image: url("/rdeploy/assets/img/wf/create_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.proposer2 div{
	width:145px;
	margin-left:5px;
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #000;
	font-size : 12px;
}
/*审批节点*/
.approval{
	width:145px;
	height:100px;
	
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:blue;
**/
	background-image: url("/rdeploy/assets/img/wf/approve_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.approval div{
	margin-left:0px;
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #000;
	font-size : 12px;
}
.approval1{
	width:145px;
	height:100px;
	
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:blue;
**/
	background-image: url("/rdeploy/assets/img/wf/approve1_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.approval1 div{
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #fff;
	font-size : 12px;
}
.approval2{
	width:145px;
	height:100px;
	
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:blue;
**/
	background-image: url("/rdeploy/assets/img/wf/approve_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.approval2 div{
	width:145px;
	margin-left:0px;
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #fff;
	font-size : 12px;
}
/*处理节点*/
.manage{
	width:145px;
	height:100px;
	
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:yellow;
**/
	background-image: url("/rdeploy/assets/img/wf/dealwith_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.manage div{
	margin-left:0px;
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #000;
	font-size : 12px;
}
.manage1{
	width:145px;
	height:100px;
	
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:yellow;
**/
	background-image: url("/rdeploy/assets/img/wf/dealwith1_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.manage1 div{
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #fff;
	font-size : 12px;
}
.manage2{
	width:145px;
	height:100px;
	
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:yellow;
**/
	background-image: url("/rdeploy/assets/img/wf/dealwith_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.manage2 div{
	width:145px;
	margin-left:0px;
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #000;
	font-size : 12px;
}
/*归档节点*/
.pigeonhole{
	width:145px;
	height:100px;
	
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:purple;
**/
	background-image: url("/rdeploy/assets/img/wf/filing_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.pigeonhole div{
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #000;
	font-size : 12px;
}
.pigeonhole1{
	width:145px;
	height:100px;
	
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:purple;
**/
	background-image: url("/rdeploy/assets/img/wf/filing1_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.pigeonhole1 div{
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #fff;
	font-size : 12px;
}
.pigeonhole2{
	width:145px;
	height:100px;
	
	text-align:center;
	position: absolute;
	cursor:pointer;
/**	background-color:purple;
**/
	background-image: url("/rdeploy/assets/img/wf/filing_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.pigeonhole2 div{
	width:145px;
	margin-left:5px;
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	color: #000;
	font-size :12px;
}
.nodeChecked{
/**	border:1px solid red;		**/
}
.horizontalArrowsLeft{
	width:90px;
	height:100px;
	position: absolute;
	background-image: url("/images/ecology8/request/harrowleft_wev8.png");
	background-repeat: no-repeat;
	background-position:center;		
}
.horizontalArrowsLeft1{
	width:90px;
	height:100px;
	position: absolute;
	background-image: url("/rdeploy/assets/img/wf/lefttoright_wev8.png");
	background-repeat: no-repeat;
	background-position:center;		
}
.horizontalArrowsRight{
	width:90px;
	height:100px;
	position: absolute;
	background-image: url("/images/ecology8/request/harrowright_wev8.png");
	background-repeat: no-repeat;
	background-position:center;		
}
.horizontalArrowsRight1{
	width:90px;
	height:100px;
	position: absolute;
	background-image: url("/rdeploy/assets/img/wf/righttoleft_wev8.png");
	background-repeat: no-repeat;
	background-position:center;		
}
.verticalArrows{
	width:145px;
	height:76px;
	position: absolute;
	background-image: url("/images/ecology8/request/varrow_wev8.png");
	background-repeat: no-repeat;
	background-position:center;		
}
.verticalArrows1{
	width:145px;
	height:76px;
	position: absolute;
	background-image: url("/rdeploy/assets/img/wf/upanddown_wev8.png");
	background-repeat: no-repeat;
	background-position:center;		
}
.menu{
	display:none;
	position: absolute;
	z-index:10;
}
.menu div{
	width:25px;
	height:25px;
	float:left;
	padding-left:45px;
	margin-right:5px;
	cursor:pointer;
}

.insert{
	width:22px;
	height:22px;
	display:none;
	position: absolute;
	z-index:5;
	background-image: url("/rdeploy/assets/img/wf/insert_wev8.png");
	background-repeat: no-repeat;
	background-position:center;	
}
.inserthot{
	width:22px;
	height:22px;
	position: absolute;
	z-index:5;
	background-image: url("/rdeploy/assets/img/wf/inserthot_wev8.png");
	background-repeat: no-repeat;
	background-position:center;	
}
.remove{
	width:22px;
	height:22px;
	display:none;
	position: absolute;
	z-index:5;
	background-image: url("/rdeploy/assets/img/wf/remove_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.removehot{
	width:22px;
	height:22px;
	position: absolute;
	z-index:5;
	background-image: url("/rdeploy/assets/img/wf/removehot_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.agency{
	width:22px;
	height:22px;
	display:none;
	position: absolute;
	z-index:5;
	background-image: url("/rdeploy/assets/img/wf/agency_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.agencyhot{
	width:22px;
	height:22px;
	position: absolute;
	z-index:5;
	background-image: url("/rdeploy/assets/img/wf/agencyhot_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}

.nodenamesave{
	width:180px;
	height:40px;
	right:0px;
	display:none;
	position: absolute;
	z-index:10;
	border: 1px solid  #DBDAE2;
	background: #FFFFFF;
}
.nodenamesavehide{
	width:0px;
	height:45px;
	right:0px;
	display:none;
	position: absolute;
	float:right;
	border: 0px solid  #DBDAE2;
}
.inputdiv{
	width:125px;
	height:40px;
	float:left;
	position: relative;
	margin-left:5px;
}
.inputnodeclass{
	width:125px;
	height:40px;
	border:0px solid #FFFFFF!important;
	font-size:12pt;
}
.nodenamebrow{
	width:40px;
	height:40px;
	float:right;
	position: relative;
	background-image: url("/rdeploy/assets/img/wf/nodenamesave_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.nodenamebrowhot{
	width:40px;
	height:40px;
	float:right;
	position: relative;
	background-image: url("/rdeploy/assets/img/wf/nodenamesavehot_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.operator{
	width:22px;
	height:22px;
	display:none;
	position: absolute;
	z-index:5;
	background-image: url("/rdeploy/assets/img/wf/operator_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.operatorhot{
	width:22px;
	height:22px;
	position: absolute;
	z-index:5;
	background-image: url("/rdeploy/assets/img/wf/operatorhot_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.operatorsave{
	width:381px;
	height:40px;
	right:0px;
	display:none;
	position: absolute;
	z-index:10;
	border: 1px solid  #DBDAE2;
	background: #FFFFFF;
}
.operatorsavehide{
	width:0px;
	height:45px;
	right:0px;
	display:none;
	position: absolute;
	float:right;
	border: 0px solid  #DBDAE2;
}
/***
*从右向左
**/
.operatorsaveleft{
	width:381px;
	height:40px;
	left:0px;
	display:none;
	position: absolute;
	z-index:10;
	border: 1px solid  #DBDAE2;
	background: #FFFFFF;
}
.operatorsavehideleft{
	width:0px;
	height:45px;
	left:0px;
	display:none;
	position: absolute;
	float:left;
	border: 0px solid  #DBDAE2;
}

.operatorbrow{
	width:40px;
	height:40px;
	float:right;
	right:5px;
	position: relative;
	background-image: url("/rdeploy/assets/img/wf/nodenamesave_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.operatorbrowhot{
	width:40px;
	height:40px;
	float:right;
	right:5px;
	position: relative;
	background-image: url("/rdeploy/assets/img/wf/nodenamesavehot_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.operatorcircle0{
	width:66px;
	height:40px;
	float:left;
	position: relative;
}
.operatorcircle1{
	width:66px;
	height:40px;
	float:left;
	position: relative;
}

.operatorcircle2{
	width:96px;
	height:40px;
	float:left;
	position: relative;
}
.operatorcircle3{
	width:96px;
	height:40px;
	float:left;
	position: relative;
}

.operatorcircle0hot{
	width:66px;
	height:40px;
	float:left;
	position: relative;
	background-image:url("/rdeploy/assets/img/wf/operatorcircle0_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.operatorcircle1hot{
	width:66px;
	height:40px;
	float:left;
	position: relative;
	background-image:url("/rdeploy/assets/img/wf/operatorcircle0_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.operatorcircle2hot{
	width:96px;
	height:40px;
	float:left;
	position: relative;
	background-image:url("/rdeploy/assets/img/wf/operatorcircle1_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.operatorcircle3hot{
	width:96px;
	height:40px;
	float:left;
	position: relative;
	background-image:url("/rdeploy/assets/img/wf/operatorcircle1_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}

/*
.operatorcircle{
	height: 27px;
	margin-top:5px;
	width: 90px;
	float:left;
	line-height:27px;
	border: 1px solid #8eabc0;
	background:#8eabc0;
	text-align: center;
	border-radius:25px;
	-moz-border-radius:25px;
}
*/


.hook{
	width:21px;
	height:40px;
	z-index:5;
	float:left;
	background-image: url("/rdeploy/assets/img/wf/hook_wev8.png");
	background-repeat: no-repeat;
	background-position:right;
}
.wordclass0{
	z-index:5;
	width:45px;
	height:40px;
	float:left;
	text-align:left!important;
	color:#000!important;
	line-height:40px;
}
.wordclass1{
	z-index:5;
	width:45px;
	height:40px;
	float:left;
	text-align:left!important;
	color:#000!important;
	line-height:40px;
}

.wordclass2{
	z-index:5;
	width:75px;
	height:40px;
	float:left;
	text-align:left!important;
	color:#000!important;
	line-height:40px;
}
.wordclass3{
	z-index:5;
	width:75px;
	height:40px;
	float:left;
	text-align:left!important;
	color:#000!important;
	line-height:40px;
}
.wordclass0hot{
	z-index:5;
	width:45px;
	height:40px;
	float:left;
	text-align:left!important;
	color:#fff!important;
	line-height:40px;
}
.wordclass1hot{
	z-index:5;
	width:45px;
	height:40px;
	float:left;
	text-align:left!important;
	color:#fff!important;
	line-height:40px;
}
.wordclass2hot{
	z-index:5;
	width:75px;
	height:40px;
	float:left;
	text-align:left!important;
	color:#fff!important;
	line-height:40px;
}
.wordclass3hot{
	z-index:5;
	width:75px;
	height:40px;
	float:left;
	text-align:left!important;
	color:#fff!important;
	line-height:40px;
}

.createridse1span{
	width:200px;
	height:40px;
	position: absolute;
	left:300px;
	top:10px;
}

.aleft{
	width:52px;
	height:52px;
	position: absolute;
	cursor:pointer;
	display:none;
	left:42%;
	z-index:10;
	background-image: url("/rdeploy/assets/img/wf/aleft_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.alefthot{
	width:52px;
	height:52px;
	position: absolute;
	cursor:pointer;
	left:42%;
	z-index:10;
	background-image: url("/rdeploy/assets/img/wf/alefthot_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.rightward{
	width:52px;
	height:52px;
	position: absolute;
	cursor:pointer;
	display:none;
	left: 58%;
	z-index:10;
	background-image: url("/rdeploy/assets/img/wf/rightward_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}
.rightwardhot{
	width:52px;
	height:52px;
	position: absolute;
	cursor:pointer;
	left: 58%;
	z-index:10;
	background-image: url("/rdeploy/assets/img/wf/rightwardhot_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}

.inserthigh{
	width:25px;
	height:25px;
	display:none;
	position: absolute;
	background-image: url("/rdeploy/assets/img/wf/inserthigh_wev8.png");
	background-repeat: no-repeat;
	background-position:center;	
}
.removehigh{
	width:25px;
	height:25px;
	display:none;
	position: absolute;
	background-image: url("/rdeploy/assets/img/wf/removehigh_wev8.png");
	background-repeat: no-repeat;
	background-position:center;
}


.spanBase{
	float:left;
	border:1px solid #cccccc;
	cursor:pointer;
	width:108px;
	height: 26px;
	line-height: 26px;
}
.spanOther{
	float:left;
	border:1px solid #cccccc;
	border-left:none;
	cursor:pointer;
	width:109px;
	height: 26px;
	line-height: 26px;
}
.spanChecked{
	background-color: #f5f5f5;
}
#spanBase{
	margin-top:5px;
}
#spanOther{
	margin-top:5px;
}
#detail{
	position: absolute;
	top:0px;
	left:790px;
	width:232px;
	height:505px;
	border:1px solid #cccccc;
	background-color:#fafafa;
}
#detail_disable{
	position: absolute;
	top:40;
	left:790;
	width:230px;
	height:465px;
	z-index:10;
}
.Line{
	background-color: #eeeeee;
	background-repeat: repeat-x;
}
.bacoError{
	height: 27px;
	width: 7px;
	float: right;
}
.bacoError img{
	margin-top: 6px;
}

input, select, textarea {
border: #e7e7e7 1px solid;
}
.clear {clear:both;}
/*
.headfoot {display:block; height:auto;  color:#000000;height:35px;width:174px; text-align:center; font-size:16px;}
.hfoot {display:block; height:auto;  color:#000000;height:35px;width:174px; text-align:center; font-size:12px;}
.left {float:left;margin-left:1px;border:0px #ff0 solid;height:70px;width:174px;}
*/


.rowinput {
	width:494px;height:35px;border:1px solid #e3e3e3;padding:0px 5px;color:#5d5d5d;
}
.rowbock {
	height:35px;border:1px solid #e3e3e3;color:#99b2c6;line-height:35px;position:relative;
}

.rowbock2cell {
	width:496px;height:35px;color:#99b2c6;line-height:35px;position:relative;
}

.rowwidth1 {
	width:494px;
}

.rowwidth2 {
	width:237px;
}

.rowbock .rowtitle {
	padding:0px 10px;
}

.rowinputblock {
	position:absolute;right:0px;top:0px;height:35px;line-height:35px;font-size:14px;
	overflow:hidden\9;
}

.rowinputblock-brow-ie8 {
    overflow:inherit\9;
}

.rowinputblockleft4 {
	width:350px;
	left:225px;
	top:-200px;
	border-left:1px solid #e3e3e3;
}

.rowinputblock .rowinputtext {
	width:100%;height:100%;border:none;font-size:14px;
}

.sbSelector {
	font-size:14px;
}

.rowinputblock .rowinputselectblock {
	width:342px;display:table-cell;height:35px;vertical-align:middle;font-size:14px;
}
.rowinputselectblock select {
	width:100%;
}


.sbHolder {
	height: 34px;
	border: NONE;
}
.sbSelector {
	height: 34px;
	line-height:34px;
}
.sbToggle {
	height: 22px;
	top:12px;
}

.e8_os {
	width:340px!important;
	height:36px!important;
	border-left:1px solid #e3e3e3;
}

.rowinputblockleft4 .e8_os {
	width:350px!important;
	height:34px!important;
}

.e8_innerShowContent {
/*	border: 1px solid #d7d9e0;*/
}
.e8_browserInputMore {
	height:34px!important;;
}

.ac_input {
	height: 34px !important;
	display: inline!important;
}


.e8_innerShow {
	min-height: 34px;
	width: 15px;
	margin-left: 0px;
}

.e8_innerShowContent div {
	height: 34px;
	font-size:14px;
}

.e8_spanFloat {
	position: absolute;
	top: 8px;
}
.e8_outScroll {
	border:none;
}

.searchline {
	height:15px!important;
}

.sbPerfectBar ol li a{
	font-size:14px!important;
}



