._areaselect{
	
}
.areaselected{
	background-color:#348DD9;
	color:#FFFFFF
}
.tip-yellowsimple1 {
    background-color: #fff9c9;
    border: 1px solid #c7bf93;
    border-radius: 4px;
    color: #000;
    max-width: 300px;
    min-width: 50px;
    padding: 6px 8px;
    text-align: left;
    z-index: 99999;
    position: absolute;
    visibility:hidden ;
}
div.tip-yellowsimple1 div.tip-inner1 {
    background-position: -10px -10px;
}
.tip-yellowsimple1 .tip-inner1 {
    font: 12px/16px arial,helvetica,sans-serif;
}
div.tip-yellowsimple1 div.tip-arrow1 {
    font: 1px/1px sans-serif;
    overflow: hidden;
    position: absolute;
    z-index: 99999;
}
.tip-yellowsimple1 .tip-arrow-left1 {
    background: rgba(0, 0, 0, 0) url("image/tip-yellowsimple_arrows_wev8.gif") no-repeat scroll -27px 0;
    height: 9px;
    left: 0;
    margin-left: -6px;
    margin-top: -4px;
    top: 50%;
    width: 6px;
    position: absolute;
}

.areasearchbox{
position:relative ;float:right; padding: 5.1px 6px 4.0px 7px;height: 16px;width: 10px; background-color:#FFFFFF ;border-bottom: 1px solid #d6dae0;border-left: 0px;;
}
.areainput{

}
.areacontext{
position:relative ;max-width: 319px!important;border:1px solid #d6dae0;background-color: #FFFFFF;height:25px;width: inherit;
}
.areashowtextclass{
position: relative;float:left;;height:25px;padding-top: 3px;
}
.areashowboxcontext{
position: absolute;z-index: 99;width: 319px;height: 280px;background-color: #FFFFFF;border:1px solid #d6dae0;border-top: 0px;padding: 0 0 0 0 ;
}
.areashowboxdiv{
background-color: #E7E7E7; width: 100%; height: 30px;
}
.areashowbox_ul{
list-style:none;text-align: center;height: 35px;font-size: 12px;
}
.areashowbox_li{
float:left;width: 50px;height: 24px;padding-top:6px;cursor: pointer;
}
.areashowbox_div{
width: 100%;overflow:hidden;height:230px;padding: 5px 0 0 2px;font-size: 12px;
}