.toptitle{font-size: 14px;background-color: #1d5899;margin-top: 0px;width:25%;text-align: center;height:30px;line-height: 30px;
	font-family: 黑体;float: left;cursor: pointer;color: #aacdfa;}
.toptitle_hover{background: url('/workrelate/images/toptitle_hover.png') center no-repeat;background-color: #1d5899;}
.toptitle_click{background: url('/workrelate/images/toptitle_click.png') center no-repeat;background-color: #1d5899;color: #fff;}

.input_inner{height:26px;width:220px;margin-left:10px;margin-right:0px;border:0px;font-size:12px;margin-top: 0px;margin-bottom: 0px;font-family:微软雅黑;
	/**border: 1px #B4B4B4 solid;box-shadow:0px 0px 2px #B4B4B4;-moz-box-shadow:0px 0px 2px #B4B4B4;-webkit-box-shadow:0px 0px 2px #B4B4B4;
	border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;*/
	padding-left: 2px;background: #f6f6f6;color: }
label.overlabel {line-height:20px;position:absolute;top:5px;left:10px;color:#bebebe;font-family: 微软雅黑;z-index:1;}

.lefttitle{background: none;color: #999999;font-weight: bold;cursor:default;
	width: 100%;height: 30px;margin-top: 0px;position: relative;border-bottom: 1px #d8d8d8 solid;}
.lefttxt{line-height: 20px;position: absolute;left: 10px;top: 10px;}	
.search{width: 100%;height: 28px;margin-top: 0px;margin-bottom: 0px;margin-left: 0px;position: relative;background: #f6f6f6;
					border-bottom: 1px #d8d8d8 solid;}

#main{width: 100%;height: 100%;position: absolute;top: 0px;left: 0px;right: 0px;bottom: 0px;background: #ececec;z-index: 1;}
#mine{width: 100%;height: auto;overflow: hidden;}