@charset "utf-8";

.tabpanel {
  
}

.tabpanel_tab_content {
  width: 100%;
  /*padding-top:5px;*/
  /*height: 36px !important ;*/
  /*line-height: 36px !important ;*/
  /*background-color: #f9f9f9;*/
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.tabpanel_tab_content .tabpanel_move_content {
  width: 0px;
  overflow: hidden;
  /*background-color: #f9f9f9;*/
  
}

.tabpanel_move_content_scroll {
  margin-left: 18px;
  margin-right: 18px;
}

.tabpanel_mover {
  width: 5000px;
  margin: 0;
  padding-left:45px;
  position: relative;
}

.tabpanel_mover li {
  /*background: transparent url(../images/tab-bg_wev8.png) no-repeat;*/
  max-width: 120px;

  height: 30px;
  line-height: 30px;
  color:#242424;
  float: left;
  position: relative;
  list-style-type: none;
  cursor: pointer;
  padding-right:8px;
  padding-left:8px;
}

.tabpanel_mover li .closer {
  /*background: transparent url(../images/tab-close_wev8.png) no-repeat;*/
  background: transparent url(../images/tab-close-n_wev8.png) no-repeat;
  /*position: absolute;*/
  right: 5px;
  top: 8px;
  width: 11px;
  height: 11px;
  cursor: pointer;
  float:left;
  margin-top:10px;
  margin-left:4px;
}

.tabpanel_mover li .closer:hover {
  background: transparent url(../images/tab-close_wev8.png) no-repeat;
}
.tabpanel_mover li .arrow {
  background: transparent url("/images/ecology8/angle_wev8.png") no-repeat;
  position: absolute;
  right: 40px;
  top: 24px;
  width: 20px;
  height: 10px;
  cursor: pointer;
  display:none;
}

.tabpanel_mover li .seprator {
  position: absolute;
  border-left:1px solid #B8B8B8;
  left: 0px;
  top: 8px;
  width: 1px;
  height: 14px;
}

.tabpanel_mover li .title {
  font-size: 12px;
  max-width:90px;
  /* padding-left:5px;*/
  /*padding-right:15px;*/
  text-align:center;
  overflow: hidden;
  float: left;
  display:inline-block;
	white-space: nowrap;
	-o-text-overflow: ellipsis; /*--4 opera--*/
	text-overflow: ellipsis;
  *height: 20px;
  *line-height: 20px;
  *margin-top: 2px;
}


.tabpanel_mover li .icon_title {
  font-size: 12px;
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: 5px 4px;
  overflow: hidden;
  float: left;
  word-break:keep-all;/* 锟斤拷锟斤拷锟斤拷 */
  white-space:nowrap;
  text-overflow:ellipsis;
  *height: 20px;
  *line-height: 20px;
  *margin-top: 2px;
  *background-position: 5px 1px;
}

.tabpanel_mover li.active {
  /*background: transparent url(../images/tab-bg-active_wev8.png) no-repeat;*/
  /*font-weight: bold;*/
  /*color:#000000;*/
  color:rgb(13,147,246) !important;
}

.tabpanel_mover li.active .arrow{display:block}

.tabpanel_tab_content .tabpanel_left_scroll {
  background: transparent url(../images/scroll-left_wev8.gif) no-repeat
    0px 0;
 
  position: absolute;
  width: 18px;
  height: 30px; 
  left: 0px;
  top: 8px;
  cursor: pointer;
  z-index: 10;
}

.tabpanel_tab_content .tabpanel_right_scroll {
  background: transparent url(../images/scroll-right_wev8.gif)
    no-repeat 0 0;
  position: absolute;
  width: 18px;
  height: 30px;
  right: 0px;
  top: 8px;
  cursor: pointer;
  z-index: 10;
}

.tabpanel_tab_content .tabpanel_scroll_over {
  background-position: -18px 0;
}

.tabpanel_tab_content .tabpanel_left_scroll_disabled {
  background-position: 0 0;
  opacity: .5;
  -moz-opacity: .5;
  filter: alpha(opacity = 50);
  cursor: default;
}

.tabpanel_right_scroll_disabled {
  background-position: -36px 0;
  opacity: .5;
  -moz-opacity: .5;
  filter: alpha(opacity = 50);
  cursor: default;
}

.display_none {
  display: none;
}

.disabled {
  color: gray;
}

.tabpanel_tab_content .tabpanel_tab_spacer {
  border-top: 1px solid #DADADA;
  height: 2px;
  font-size: 1px;
  line-height: 1px;
  margin-top: -1px;
}

.tabpanel_content {
  background-color: #FFF;
  overflow: auto;
  position: relative;
}

.tabpanel_content .html_content {
  width: 100%;
  height: 100%;
  background-color:#FFF;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
}