<?xml version="1.0" encoding="gbk"?>
<main_menu>
<menuitem>
<parent>0</parent>
<caption>文件</caption>
<name>FILE</name>
<popup>1</popup>
<tooltip>file menu</tooltip>
<separator>0</separator>
<checked>0</checked>
<grayed>0</grayed>
<node>1</node>
</menuitem>
<menuitem>
<parent>1</parent>
<caption>新建</caption>
<name>OnFileNew</name>
<popup>0</popup>
<tooltip>新建一个报表</tooltip>
<separator>0</separator>
<checked>0</checked>
<grayed>0</grayed>
<node>30</node>
</menuitem>
<menuitem>
<parent>1</parent>
<caption>打开文件</caption>
<name>OnFileOpen</name>
<tooltip>打开一个报表文件</tooltip>
<node>31</node>
</menuitem>
<menuitem>
<parent>1</parent>
<caption>模板格式检查</caption>
<name>StyleCheck</name>
<tooltip>模板格式检查</tooltip>
<node>1046</node>
</menuitem>
<menuitem>
<parent>1</parent>
<caption>保存到本地</caption>
<name>OnFileSaveAs</name>
<tooltip>另存为其他报表文件</tooltip>
<node>33</node>
</menuitem>
<menuitem>
<parent>1</parent>
<caption>保存到服务器</caption>
<name>testsave</name>
<tooltip>保存到服务器</tooltip>
<node>34</node>
</menuitem>
<menuitem>
<parent>1</parent>
<caption>-</caption>
<separator>1</separator>
<node>35</node>
</menuitem>
<menuitem>
<parent>1</parent>
<caption>打印.</caption>
<name>OnFilePrint</name>
<tooltip>打印报表文件</tooltip>
<node>36</node>
</menuitem>
<menuitem>
<parent>1</parent>
<caption>打印预览</caption>
<name>OnFilePrintPreview</name>
<tooltip>打印预览报表文件</tooltip>
<node>37</node>
</menuitem>
<menuitem>
<parent>1</parent>
<caption>-</caption>
<separator>1</separator>
<node>38</node>
</menuitem>
<menuitem>
<parent>1</parent>
<caption>属性</caption>
<name>OnProperty</name>
<tooltip>报表属性</tooltip>
<node>39</node>
</menuitem>

<menuitem>
<parent>0</parent>
<caption>编辑</caption>
<name>EDIT</name>
<popup>1</popup>
<tooltip>EDIT menu</tooltip>
<node>2</node>
</menuitem>
<menuitem>
<parent>2</parent>
<caption>拷贝</caption>
<name>OnCopy</name>
<tooltip>拷贝</tooltip>
<node>50</node>
</menuitem>
<menuitem>
<parent>2</parent>
<caption>剪切</caption>
<name>OnCut</name>
<tooltip>剪切</tooltip>
<node>51</node>
</menuitem>
<menuitem>
<parent>2</parent>
<caption>粘贴</caption>
<name>OnPaste</name>
<tooltip>粘贴</tooltip>
<node>52</node>
</menuitem>
<menuitem>
<parent>2</parent>
<caption>-</caption>
<separator>1</separator>
<node>53</node>
</menuitem>
<menuitem>
<parent>2</parent>
<caption>单元定位</caption>
<name>OnGoToCell</name>
<tooltip>单元定位</tooltip>
<node>54</node>
</menuitem>
<menuitem>
<parent>2</parent>
<caption>-</caption>
<separator>1</separator>
<node>55</node>
</menuitem>
<menuitem>
<parent>2</parent>
<caption>插入行</caption>
<name>InsertRow</name>
<popup>1</popup>
<tooltip>插入行</tooltip>
<node>56</node>
</menuitem>
<menuitem>
<parent>56</parent>
<caption>前插行</caption>
<name>OnInsertBeforeRow</name>
<tooltip>前插行</tooltip>
<node>955</node>
</menuitem>
<menuitem>
<parent>56</parent>
<caption>后插行</caption>
<name>OnInsertNextRow</name>
<tooltip>后插行</tooltip>
<node>956</node>
</menuitem>
<menuitem>
<parent>56</parent>
<caption>-</caption>
<separator>1</separator>
<node>957</node>
</menuitem>
<menuitem>
<parent>56</parent>
<caption>插入格式行</caption>
<name>OnInsertFormatRows</name>
<tooltip>插入格式行</tooltip>
<node>958</node>
</menuitem>
<menuitem>
<parent>56</parent>
<caption>拷贝格式行</caption>
<name>OnCopyFormatRow</name>
<tooltip>拷贝格式行</tooltip>
<node>959</node>
</menuitem>
<menuitem>
<parent>2</parent>
<caption>插入列</caption>
<name>InsertCol</name>
<popup>1</popup>
<tooltip>插入列</tooltip>
<node>57</node>
</menuitem>
<menuitem>
<parent>57</parent>
<caption>前插列</caption>
<name>OnInsertBeforeCol</name>
<tooltip>前插列</tooltip>
<node>960</node>
</menuitem>
<menuitem>
<parent>57</parent>
<caption>后插列</caption>
<name>OnInsertNextCol</name>
<tooltip>后插列</tooltip>
<node>961</node>
</menuitem>
<menuitem>
<parent>57</parent>
<caption>-</caption>
<separator>1</separator>
<node>962</node>
</menuitem>
<menuitem>
<parent>57</parent>
<caption>插入格式列</caption>
<name>OnInsertFormatCols</name>
<node>963</node>
</menuitem>
<menuitem>
<parent>57</parent>
<caption>拷贝格式列</caption>
<name>OnCopyFormatCol</name>
<node>964</node>
</menuitem>
<menuitem>
<parent>2</parent>
<caption>插入单元</caption>
<name>InsertCell</name>
<popup>1</popup>
<node>58</node>
</menuitem>
<menuitem>
<parent>58</parent>
<caption>插入单元</caption>
<name>OnInsertCell</name>
<node>965</node>
</menuitem>
<menuitem>
<parent>58</parent>
<caption>插入单元后下移</caption>
<name>OnInsertCellDown</name>
<node>966</node>
</menuitem>
<menuitem>
<parent>58</parent>
<caption>插入单元后右移</caption>
<name>OnInsertCellRight</name>
<node>967</node>
</menuitem>
<menuitem>
<parent>2</parent>
<caption>清除单元</caption>
<name>ClearCell</name>
<popup>1</popup>
<node>59</node>
</menuitem>
<menuitem>
<parent>59</parent>
<caption>清除单元所有内容</caption>
<name>OnClearCellAll</name>
<node>968</node>
</menuitem>
<menuitem>
<parent>59</parent>
<caption>清除单元文字</caption>
<name>OnClearCellText</name>
<node>969</node>
</menuitem>
<menuitem>
<parent>2</parent>
<caption>删除行</caption>
<name>OnDeleteRow</name>
<node>60</node>
</menuitem>
<menuitem>
<parent>2</parent>
<caption>删除列</caption>
<name>OnDeleteCol</name>
<node>61</node>
</menuitem>
<menuitem>
<parent>2</parent>
<caption>删除单元</caption>
<name>DeleteCell</name>
<popup>1</popup>
<node>62</node>
</menuitem>
<menuitem>
<parent>62</parent>
<caption>删除单元</caption>
<name>OnDeleteCell</name>
<node>970</node>
</menuitem>
<menuitem>
<parent>62</parent>
<caption>删除单元后左移</caption>
<name>OnDeleteCellLeft</name>
<node>971</node>
</menuitem>
<menuitem>
<parent>62</parent>
<caption>删除单元后上移</caption>
<name>OnDeleteCellUp</name>
<node>972</node>
</menuitem>
<menuitem>
<parent>2</parent>
<caption>-</caption>
<separator>1</separator>
<node>63</node>
</menuitem>
<menuitem>
<parent>2</parent>
<caption>按活动单元行排序</caption>
<name>SortRow</name>
<popup>1</popup>
<node>64</node>
</menuitem>
<menuitem>
<parent>64</parent>
<caption>选中区域升序</caption>
<name>OnSortRowAsc</name>
<node>973</node>
</menuitem>
<menuitem>
<parent>64</parent>
<caption>选中区域降序</caption>
<name>OnSortRowDec</name>
<node>974</node>
</menuitem>
<menuitem>
<parent>64</parent>
<caption>-</caption>
<separator>1</separator>
<node>974</node>
</menuitem>
<menuitem>
<parent>64</parent>
<caption>升序－整行交换</caption>
<name>OnSortRowAscAll</name>
<node>975</node>
</menuitem>
<menuitem>
<parent>64</parent>
<caption>降序－整行交换</caption>
<name>OnSortColDecAll</name>
<node>976</node>
</menuitem>
<menuitem>
<parent>2</parent>
<caption>按活动单元列排序</caption>
<name>SortCol</name>
<popup>1</popup>
<node>65</node>
</menuitem>
<menuitem>
<parent>65</parent>
<caption>选中区域升序</caption>
<name>OnSortColAsc</name>
<node>977</node>
</menuitem>
<menuitem>
<parent>65</parent>
<caption>选中区域降序</caption>
<name>OnSortColDec</name>
<node>978</node>
</menuitem>
<menuitem>
<parent>65</parent>
<caption>-</caption>
<separator>1</separator>
<node>979</node>
</menuitem>
<menuitem>
<parent>65</parent>
<caption>升序－整行交换</caption>
<name>OnSortColAscAll</name>
<node>980</node>
</menuitem>
<menuitem>
<parent>65</parent>
<caption>降序－整行交换</caption>
<name>OnSortColDecAll</name>
<node>981</node>
</menuitem>

<menuitem>
<parent>0</parent>
<caption>设置</caption>
<name>SET</name>
<popup>1</popup>
<node>3</node>
</menuitem>
<menuitem>
<parent>3</parent>
<caption>表格行列数</caption>
<name>OnSetMaxRowCol</name>
<node>70</node>
</menuitem>
<menuitem>
<parent>3</parent>
<caption>页面背景色</caption>
<name>OnSetPaperColor</name>
<node>71</node>
</menuitem>
<menuitem>
<parent>3</parent>
<caption>设置系统表格线型</caption>
<name>OnSetSysGridLine</name>
<node>72</node>
</menuitem>
<menuitem>
<parent>3</parent>
<caption>-</caption>
<separator>1</separator>
<node>73</node>
</menuitem>

<menuitem>
<parent>3</parent>
<caption>设置单元保护或隐藏</caption>
<name>OnSetCellHideProtect</name>
<node>77</node>
</menuitem>
<menuitem>
<parent>3</parent>
<caption>-</caption>
<separator>1</separator>
<node>78</node>
</menuitem>
<menuitem>
<parent>3</parent>
<caption>设置行高自动调整</caption>
<name>SetRowAutoSize</name>
<checked>1</checked>
<node>79</node>
</menuitem>
<menuitem>
<parent>3</parent>
<caption>按回车光标自动跳转方向</caption>
<name>Jump</name>
<popup>1</popup>
<node>80</node>
</menuitem>
<menuitem>
<parent>80</parent>
<caption>跳到下一列</caption>
<name>JumpNextCol</name>
<checked>1</checked>
<node>982</node>
</menuitem>
<menuitem>
<parent>80</parent>
<caption>跳到下一行</caption>
<name>JumpNextRow</name>
<node>983</node>
</menuitem>
<menuitem>
<parent>3</parent>
<caption>头尾单元跳转时自动换行和列</caption>
<name>SetAutoJumpNextRowCol</name>
<checked>1</checked>
<node>81</node>
</menuitem>
<menuitem>
<parent>3</parent>
<caption>在按键时跳过该单元</caption>
<name>SetCellKeyNotFocus</name>
<checked>0</checked>
<node>82</node>
</menuitem>
<menuitem>
<parent>3</parent>
<caption>计算时显示错误提示</caption>
<name>ShowErrorMsgBox</name>
<checked>1</checked>
<node>83</node>
</menuitem>
<menuitem>
<parent>3</parent>
<caption>设计模式</caption>
<name>DesignMode</name>
<checked>1</checked>
<node>84</node>
</menuitem>
<menuitem>
<parent>3</parent>
<caption>显示行列头</caption>
<name>ShowHeader</name>
<checked>1</checked>
<node>85</node>
</menuitem>
<menuitem>
<parent>3</parent>
<caption>显示表格线</caption>
<name>ShowGrid</name>
<checked>1</checked>
<node>86</node>
</menuitem>
<menuitem>
<parent>3</parent>
<caption>整表单元保护</caption>
<name>FormProtect</name>
<checked>0</checked>
<node>87</node>
</menuitem>
<menuitem>
<parent>3</parent>
<caption>整表单元保护时出现光标</caption>
<name>SetProtectFormShowCursor</name>
<checked>1</checked>
<node>88</node>
</menuitem>
<menuitem>
<parent>3</parent>
<caption>是否显示弹出菜单</caption>
<name>SetShowPopupMenu</name>
<checked>1</checked>
<node>89</node>
</menuitem>
<menuitem>
<parent>3</parent>
<caption>允许鼠标对行高进行调整</caption>
<name>SetAllowRowResizing</name>
<checked>1</checked>
<node>90</node>
</menuitem>
<menuitem>
<parent>3</parent>
<caption>允许鼠标对列宽进行调整</caption>
<name>SetAllowColResizing</name>
<checked>1</checked>
<node>91</node>
</menuitem>
<menuitem>
<parent>3</parent>
<caption>双击表头自动排序</caption>
<name>SetDClickLabelCanSort</name>
<checked>1</checked>
<node>92</node>
</menuitem>

<menuitem>
<parent>0</parent>
<caption>格式</caption>
<name>FORMAT</name>
<popup>1</popup>
<node>4</node>
</menuitem>
<menuitem>
<parent>4</parent>
<caption>单元内文字显示间距</caption>
<name>OnSetCellTextSpan</name>
<node>101</node>
</menuitem>
<menuitem>
<parent>4</parent>
<caption>单元控件类型</caption>
<name>CellControl</name>
<popup>1</popup>
<node>102</node>
</menuitem>
<menuitem>
<parent>102</parent>
<caption>单选框</caption>
<name>SetCellCheckBoxType</name>
<node>985</node>
</menuitem>
<menuitem>
<parent>102</parent>
<caption>下拉框</caption>
<name>OnSetCellComboType</name>
<node>986</node>
</menuitem>
<menuitem>
<parent>102</parent>
<caption>大文本</caption>
<name>SetCellLargeTextType</name>
<node>987</node>
</menuitem>
<menuitem>
<parent>102</parent>
<caption>日期时间</caption>
<name>OnSetCellDateTimeType</name>
<node>988</node>
</menuitem>
<menuitem>
<parent>102</parent>
<caption>超级链接</caption>
<name>SetCellURLType</name>
<node>989</node>
</menuitem>
<menuitem>
<parent>102</parent>
<caption>数字输入</caption>
<name>SetCellNumericType</name>
<node>990</node>
</menuitem>
<menuitem>
<parent>102</parent>
<caption>复合单元</caption>
<name>SetCellComplexType</name>
<node>991</node>
</menuitem>
<menuitem>
<parent>102</parent>
<caption>-</caption>
<separator>1</separator>
<node>992</node>
</menuitem>
<menuitem>
<parent>102</parent>
<caption>删除控件类型</caption>
<name>SetCellNormalType</name>
<node>993</node>
</menuitem>
<menuitem>
<parent>4</parent>
<caption>财务格式类型</caption>
<name>FinanceControl</name>
<popup>1</popup>
<node>103</node>
</menuitem>
<menuitem>
<parent>103</parent>
<caption>设置财务表头</caption>
<name>SetCellFinanceHeadType</name>
<node>994</node>
</menuitem>
<menuitem>
<parent>103</parent>
<caption>设置财务表览</caption>
<name>SetCellFinanceType</name>
<node>995</node>
</menuitem>
<menuitem>
<parent>103</parent>
<caption>设置财务大写</caption>
<name>SetCellFinanceDaXie</name>
<node>996</node>
</menuitem>
<menuitem>
<parent>103</parent>
<caption>-</caption>
<separator>1</separator>
<node>997</node>
</menuitem>
<menuitem>
<parent>103</parent>
<caption>删除财务类型</caption>
<name>SetCellNormalType</name>
<node>998</node>
</menuitem>
<menuitem>
<parent>4</parent>
<caption>设置单元为3D形状</caption>
<name>SetCellShape3D</name>
<node>104</node>
</menuitem>
<menuitem>
<parent>4</parent>
<caption>线型设置</caption>
<name>OnSetLineStyle</name>
<node>106</node>
</menuitem>

<menuitem>
<parent>4</parent>
<caption>数据绑定单元文字颜色、背景颜色</caption>
<name>OnDataBindCellColor</name>
<node>110</node>
</menuitem>
<menuitem>
<parent>4</parent>
<caption>单元数字显示格式</caption>
<name>OnSetCellShowStyle</name>
<node>111</node>
</menuitem>

<menuitem>
<parent>4</parent>
<caption>单元日期时间显示格式</caption>
<name>OnSetCellExcelFormat</name>
<node>1047</node>
</menuitem>

<menuitem>
<parent>4</parent>
<caption>表行</caption>
<name>RowHeight</name>
<node>112</node>
<popup>1</popup>
</menuitem>
<menuitem>
<parent>112</parent>
<caption>行高</caption>
<name>OnSetRowSize</name>
<node>1001</node>
</menuitem>
<menuitem>
<parent>112</parent>
<caption>隐藏</caption>
<name>SetRowHide</name>
<node>1002</node>
</menuitem>
<menuitem>
<parent>112</parent>
<caption>取消隐藏</caption>
<name>SetRowUnHide</name>
<node>1003</node>
</menuitem>
<menuitem>
<parent>112</parent>
<caption>-</caption>
<separator>1</separator>
<node>1004</node>
</menuitem>
<menuitem>
<parent>112</parent>
<caption>最适合的行高</caption>
<name>AutoSizeRow</name>
<node>1005</node>
</menuitem>
<menuitem>
<parent>112</parent>
<caption>自动调整高度太小的行高</caption>
<name>AutoSizeRow1</name>
<node>1006</node>
</menuitem>
<menuitem>
<parent>4</parent>
<caption>表列</caption>
<name>RowHeight</name>
<node>113</node>
<popup>1</popup>
</menuitem>
<menuitem>
<parent>113</parent>
<caption>列宽</caption>
<name>OnSetColSize</name>
<node>1007</node>
</menuitem>
<menuitem>
<parent>113</parent>
<caption>隐藏</caption>
<name>SetColHide</name>
<node>1008</node>
</menuitem>
<menuitem>
<parent>113</parent>
<caption>取消隐藏</caption>
<name>SetColUnHide</name>
<node>1009</node>
</menuitem>
<menuitem>
<parent>113</parent>
<caption>-</caption>
<separator>1</separator>
<node>1010</node>
</menuitem>
<menuitem>
<parent>113</parent>
<caption>最适合的列宽</caption>
<name>AutoSizeCol</name>
<node>1011</node>
</menuitem>
<menuitem>
<parent>113</parent>
<caption>自动调整宽度太小的列宽</caption>
<name>AutoSizeCol1</name>
<node>1012</node>
</menuitem>
<menuitem>
<parent>4</parent>
<caption>单元组合</caption>
<name>OnCellCombiNation</name>
<node>114</node>
</menuitem>
<menuitem>
<parent>4</parent>
<caption>单元取消组合</caption>
<name>OnCellUnCombiNation</name>
<node>115</node>
</menuitem>
<menuitem>
<parent>4</parent>
<caption>斜线设置</caption>
<name>OnSlashSet</name>
<node>117</node>
</menuitem>
<menuitem>
<parent>4</parent>
<caption>-</caption>
<separator>1</separator>
<node>118</node>
</menuitem>
<menuitem>
<parent>4</parent>
<caption>缺省设置</caption>
<name>OnDefaultSet</name>
<node>119</node>
</menuitem>

<menuitem>
<parent>0</parent>
<caption>公式脚本</caption>
<name>FORMULA</name>
<popup>1</popup>
<node>5</node>
</menuitem>
<menuitem>
<parent>5</parent>
<caption>函数列表</caption>
<name>OnFunctionList</name>
<node>130</node>
</menuitem>

<menuitem>
<parent>5</parent>
<caption>求和</caption>
<name>SUM</name>
<popup>1</popup>
<node>134</node>
</menuitem>
<menuitem>
<parent>134</parent>
<caption>纵向求和</caption>
<name>AutoSumVert</name>
<node>1020</node>
</menuitem>
<menuitem>
<parent>134</parent>
<caption>横向求和</caption>
<name>AutoSumHorz</name>
<node>1021</node>
</menuitem>
<menuitem>
<parent>134</parent>
<caption>双向求和</caption>
<name>AutoSumAll</name>
<node>1022</node>
</menuitem>
<menuitem>
<parent>5</parent>
<caption>-</caption>
<separator>1</separator>
<node>135</node>
</menuitem>

<menuitem>
<parent>5</parent>
<caption>整表计算</caption>
<name>ReCalculate</name>
<node>139</node>
</menuitem>

<menuitem>
<parent>0</parent>
<caption>图形图表</caption>
<name>CHART</name>
<popup>1</popup>
<node>6</node>
</menuitem>
<menuitem>
<parent>6</parent>
<caption>图表向导</caption>
<name>OnChartWizard</name>
<node>150</node>
</menuitem>
<menuitem>
<parent>6</parent>
<caption>-</caption>
<separator>1</separator>
<node>151</node>
</menuitem>
<menuitem>
<parent>6</parent>
<caption>画线</caption>
<name>OnDrawLine</name>
<node>152</node>
</menuitem>
<menuitem>
<parent>6</parent>
<caption>画矩形</caption>
<name>OnDrawRect</name>
<node>153</node>
</menuitem>
<menuitem>
<parent>6</parent>
<caption>画圆角矩形</caption>
<name>OnDrawRoundRect</name>
<node>154</node>
</menuitem>
<menuitem>
<parent>6</parent>
<caption>画椭圆</caption>
<name>OnDrawEllipse</name>
<node>155</node>
</menuitem>
<menuitem>
<parent>6</parent>
<caption>-</caption>
<separator>1</separator>
<node>156</node>
</menuitem>
<menuitem>
<parent>6</parent>
<caption>边框颜色</caption>
<name>OnObjectLineColor</name>
<node>157</node>
</menuitem>
<menuitem>
<parent>6</parent>
<caption>填充颜色</caption>
<name>OnObjectFillColor</name>
<node>158</node>
</menuitem>
<menuitem>
<parent>6</parent>
<caption>-</caption>
<separator>1</separator>
<node>159</node>
</menuitem>
<menuitem>
<parent>6</parent>
<caption>移到最顶层</caption>
<name>OnObjectMoveToFront</name>
<node>160</node>
</menuitem>
<menuitem>
<parent>6</parent>
<caption>移到最底层</caption>
<name>OnObjectMoveToBack</name>
<node>161</node>
</menuitem>
<menuitem>
<parent>6</parent>
<caption>移到上一层</caption>
<name>OnObjectMoveForward</name>
<node>162</node>
</menuitem>
<menuitem>
<parent>6</parent>
<caption>移到下一层</caption>
<name>OnObjectMoveBack</name>
<node>163</node>
</menuitem>
<menuitem>
<parent>6</parent>
<caption>-</caption>
<separator>1</separator>
<node>164</node>
</menuitem>
<menuitem>
<parent>6</parent>
<caption>刷新所有图表</caption>
<name>RefreshAllObjectData</name>
<node>165</node>
</menuitem>

<menuitem>
<parent>0</parent>
<caption>图片</caption>
<name>PICTURE</name>
<popup>1</popup>
<node>7</node>
</menuitem>
<menuitem>
<parent>7</parent>
<caption>在表格上放置图片</caption>
<name>InsertImageFile</name>
<node>170</node>
</menuitem>
<menuitem>
<parent>7</parent>
<caption>在单元中插入图片</caption>
<name>InsertCellImage</name>
<node>171</node>
</menuitem>
<menuitem>
<parent>7</parent>
<caption>设置单元中图片大小</caption>
<name>SetCellImageSize</name>
<popup>1</popup>
<node>172</node>
</menuitem>
<menuitem>
<parent>172</parent>
<caption>原始尺寸</caption>
<name>SetCellImageOriginalSize</name>
<node>1030</node>
</menuitem>
<menuitem>
<parent>172</parent>
<caption>单元大小</caption>
<name>SetCellImageCellSize</name>
<node>1031</node>
</menuitem>
<menuitem>
<parent>7</parent>
<caption>删除单元中的图片</caption>
<name>DeleteCellImage</name>
<node>173</node>
</menuitem>
<menuitem>
<parent>7</parent>
<caption>-</caption>
<separator>1</separator>
<node>174</node>
</menuitem>
<menuitem>
<parent>7</parent>
<caption>插入背景图片</caption>
<name>InsertBkImage</name>
<popup>1</popup>
<node>175</node>
</menuitem>
<menuitem>
<parent>175</parent>
<caption>图片原始大小</caption>
<name>OnInsertBackgroundImageOriginalSize</name>
<node>1032</node>
</menuitem>
<menuitem>
<parent>175</parent>
<caption>表格大小</caption>
<name>OnInsertBackgroundImageFormSize</name>
<node>1033</node>
</menuitem>
<menuitem>
<parent>7</parent>
<caption>设置背景图片</caption>
<name>SetCellBkImageSize</name>
<popup>1</popup>
<node>176</node>
</menuitem>
<menuitem>
<parent>176</parent>
<caption>图片原始大小</caption>
<name>SetBackgroundImageOriginalSize</name>
<node>1034</node>
</menuitem>
<menuitem>
<parent>176</parent>
<caption>表格大小</caption>
<name>SetBackgroundImageFormSize</name>
<node>1035</node>
</menuitem>
<menuitem>
<parent>7</parent>
<caption>删除背景图片</caption>
<name>DeleteBackgroundImage</name>
<node>177</node>
</menuitem>


<menuitem>
<parent>0</parent>
<caption>打印设置</caption>
<name>PrintSet</name>
<popup>1</popup>
<node>9</node>
</menuitem>
<menuitem>
<parent>9</parent>
<caption>设置/取消每页打印的行表头</caption>
<name>SetRowLabel</name>
<node>190</node>
</menuitem>
<menuitem>
<parent>9</parent>
<caption>设置/取消每页打印的列表头</caption>
<name>SetColLabel</name>
<node>191</node>
</menuitem>
<menuitem>
<parent>9</parent>
<caption>-</caption>
<separator>1</separator>
<node>192</node>
</menuitem>
<menuitem>
<parent>9</parent>
<caption>设置打印页前脚行数</caption>
<name>SetPagePreFooterRows</name>
<node>194</node>
</menuitem>
<menuitem>
<parent>9</parent>
<caption>设置打印页脚行数</caption>
<name>SetPageFooterRows</name>
<node>195</node>
</menuitem>
<menuitem>
<parent>9</parent>
<caption>设置每页打印行数</caption>
<name>SetOnePrintPageDetailZoneRows</name>
<node>196</node>
</menuitem>
<menuitem>
<parent>9</parent>
<caption>-</caption>
<separator>1</separator>
<node>197</node>
</menuitem>
<menuitem>
<parent>9</parent>
<caption>页面设置</caption>
<name>OnPrintPaperSet</name>
<node>198</node>
</menuitem>
<menuitem>
<parent>9</parent>
<caption>打印设置</caption>
<name>OnPrintSetup</name>
<node>199</node>
</menuitem>
<menuitem>
<parent>9</parent>
<caption>-</caption>
<separator>1</separator>
<node>200</node>
</menuitem>
<menuitem>
<parent>9</parent>
<caption>打印单元格</caption>
<name>SetCellCanPrint</name>
<node>201</node>
</menuitem>
<menuitem>
<parent>9</parent>
<caption>只打印单元格文字</caption>
<name>SetCellOnlyPrintText</name>
<node>202</node>
</menuitem>
<menuitem>
<parent>9</parent>
<caption>设置打印表格背景</caption>
<name>SetPrintBackground</name>
<popup>1</popup>
<node>203</node>
</menuitem>
<menuitem>
<parent>203</parent>
<caption>打印</caption>
<name>SetPrintFormBackground</name>
<node>1040</node>
</menuitem>
<menuitem>
<parent>203</parent>
<caption>不打印</caption>
<name>SetNotPrintFormBackground</name>
<node>1041</node>
</menuitem>

<menuitem>
<parent>0</parent>
<caption>帮助</caption>
<name>Help</name>
<popup>1</popup>
<node>10</node>
</menuitem>
<menuitem>
<parent>10</parent>
<caption>本机版本</caption>
<name>GetCurrentVer</name>
<popup>0</popup>
<node>1042</node>
</menuitem>
<menuitem>
<parent>10</parent>
<caption>服务器版本</caption>
<name>GetSystemVer</name>
<node>1043</node>
</menuitem>
<menuitem>
<parent>10</parent>
<caption>-</caption>
<separator>1</separator>
<node>1044</node>
</menuitem>
<menuitem>
<parent>10</parent>
<caption>使用帮助</caption>
<name>ShowHelp</name>
<node>1045</node>
</menuitem>
<menuitem>
<parent>3</parent>
<caption>设置单元能够输入的最多字符数</caption>
<name>CellEditMaxInputNumber</name>
<node>1128</node>
</menuitem>
</main_menu>