<?xml version="1.0" encoding="UTF-8"?>
<MEC>
	<id>FScores</id>	<!-- id 插件唯一标识 -->
	<text>131418</text>  <!-- 多行文本 -->
	<type>2</type>	<!-- 类型，方便对插件进行区分，目前已有：1.普通功能插件，2.表单插件 -->
	<isEnabled>1</isEnabled>	<!-- 是否启用，1或者不填写为启用，0或者其他非1值为禁用 -->
	<order>18</order>	<!-- 插件显示顺序，值越小则显示越靠前，不填写或者无此标签将为整数的最大值 -->
	
	<!-- 插件设计信息配置 -->
	<design>
		<unique>0</unique> <!-- 是否唯一，如果值为1则在自定义页面设计时一个页面最多只能添加一个这种控件，不为1或者不填写此属性则没有此限制 -->
		<resources>	<!-- 依赖资源 -->
			<resource type="js">/mobilemode/js/mec/handler/form/FScores_wev8.js</resource>
			<resource type="css">/mobilemode/css/mec/handler/form/FScores_wev8.css</resource>
			<resource type="css">/mobilemode/css/mec/run/form/FScores_wev.css</resource>
		</resources>
	</design>
	
	<!-- 插件运行信息配置 -->
	<run java="com.weaver.formmodel.mobile.mec.handler.form.FScores">
		<resources>
			<resource type="js">/mobilemode/js/mec/run/form/FScores_wev8.js</resource>
			<resource type="css">/mobilemode/css/mec/run/form/FScores_wev.css</resource>
		</resources>
	</run>
	
	<!-- 内容模板 -->
	<contentTemplate>
		<edit>
			<![CDATA[
				<div class="Design_FScores_Field Formfield-Wrap ${Design_Field_Required}" id="div${theId}">
					<div class="Formfield-Label">${fieldlabel}</div>
					<div class="Formfield-Content">
						<div class="score-rating ${scoreClass}" data-editable="true">
							$mec_forstart$
							<b class="${activeClass}"></b>
							$mec_forend$
							<label>${label}</label>
						</div>
						<input type="text" style="display:none;" name="fieldname_${fieldname}" value="${value}" data-role="none" id="${theId}" fieldlabel="${fieldlabel}" fieldid="${fieldid}" fieldhtmltype="${fieldhtmltype}" require="${required}"/>
					</div>
				</div>
			]]>
		</edit>
		<view>
			<![CDATA[
				<div class="Design_FScores_Field Formfield-Wrap ${Design_Field_Required}" id="div${theId}">
					<div class="Formfield-Label">${fieldlabel}</div>
					<div class="Formfield-Content">
						<div class="score-rating ${scoreClass}">
							$mec_forstart$
							<b class="${activeClass}"></b>
							$mec_forend$
							<label>${label}</label>
						</div>
						<input type="text" style="display:none;" name="fieldname_${fieldname}" value="${value}" data-role="none" id="${theId}" fieldlabel="${fieldlabel}" fieldid="${fieldid}" fieldhtmltype="${fieldhtmltype}" require="${required}"/>
					</div>
				</div>
			]]>
		</view>
	</contentTemplate>
</MEC>
