/* CSS Document */
@charset "utf-8";

html,body,ul,li,ol,dl,dd,dt,form,table,tr,td,p,b,span,a,img,h1,h2,h3,h4,h5,h6,em,input,select,option,textarea,div{margin:0;padding:0;}
body{font-family:Microsoft Yahei; font-size:12px; repeat-x; margin:0px auto; height:100%; }
h1,h2,h3,h4,h5,h6{line-height:100%;}
a{ color:#666; text-decoration:none;}
.fl{ float:left}
.fr{ float:right;}
li{list-style:none;}
img{border:none;}  
.clear{clear:both;}
p{ font-size:12px; color:#666;}
.lable th{ width:70px; text-align:right;}

.contenta{background-color: #2faff4; height:220px; width:100%;margin:0px auto;text-align:center;}
.contentadiv{ background: url(../images/page1_wev8.png) no-repeat 0 40%;background-color: #2faff4; height:220px; width:963px;margin:0px auto;text-align:center; }
.contentb{width: 100%; height: 380px; padding-top:20px;margin: 0px auto; border-bottom: 1px #CCCCCC solid;text-align:center;}
.contentb ul{
	width: 824px; height: 90px; color: #6a6a6a;margin:0px auto;
}
.contentb ul li{
	width:92px !important;width:236px;height: 60px; padding-left: 144px; float: left;text-align:left;font-size: 13px;cursor:hand;
}
.contentc{height: 98px; width: 100%; margin: 0px auto; margin-top: 15px;text-align:center;cursor:hand;}



