<?xml version="1.0" encoding="UTF-8"?>
<MEC>
	<id>List</id>	<!-- id 插件唯一标识 -->
	<text>128106</text>  <!-- 列表 -->
	<type>1</type>	<!-- 类型，方便对插件进行区分，目前已有：1.普通功能插件，2.表单插件 -->
	<isEnabled>1</isEnabled>	<!-- 是否启用，1或者不填写为启用，0或者其他非1值为禁用 -->
	<order>3</order>	<!-- 插件显示顺序，值越小则显示越靠前，不填写或者无此标签将为整数的最大值 -->
	
	<!-- 插件设计信息配置 -->
	<design>
		<unique>0</unique> <!-- 是否唯一，如果值为1则在自定义页面设计时一个页面最多只能添加一个这种控件，不为1或者不填写此属性则没有此限制 -->
		<resources>	<!-- 依赖资源 -->
			<resource type="js">/mobilemode/js/mec/handler/List_wev8.js?v=2018011701</resource>
			<resource type="css">/mobilemode/css/mec/run/List_wev8.css</resource>
			<resource type="css">/mobilemode/css/mec/handler/List_wev8.css</resource>
		</resources>
	</design>
	
	<!-- 插件运行信息配置 -->
	<run java="com.weaver.formmodel.mobile.mec.handler.List">
		<resources>	<!-- 依赖资源 -->
			<resource type="js">/mobilemode/js/zepto/toucher_wev8.js</resource>
			<resource type="css">/mobilemode/css/mec/run/List_wev8.css?v=2018050901</resource>
			<resource type="js">/mobilemode/js/mec/run/List_wev8.js?v=2018052201</resource>
			<resource type="css">/mobilemode/js/mobiscroll/css/mobiscroll-2.5.2-min.css</resource>
			<resource type="js">/mobilemode/js/mobiscroll/mobiscroll-2.5.2-min.js</resource>
		</resources>
	</run>
	
	<!-- 内容模板 -->
	<contentTemplate>
		<![CDATA[
			<div id="NMEC_${theId}" class="listContainerWrap">
			
			    <div id="listsearch${theId}" class="listSearch" style="display:${searchDisplay};">
			    	<div class="listHeader">
						<form disabledEnterSubmit="" action="">
							<input class="searchKey" type="search" value="" placeholder="${searchTips}" data-role="none"/>
						</form>
						<a class="searchBtn" href="javascript:void(0);" data-role="none"><img src="/mobilemode/browser/images/search.png" border="0"/></a>
						<div class="advancedSearch" style="display:${advancedSearchDisplay};">
							<ul>
								<li><div class="point"></div><div class="line one"></div></li>
								<li><div class="point"></div><div class="line two"></div></li>
								<li><div class="point"></div><div class="line three"></div></li>
							</ul>
						</div>
					</div>
					<div class="listBtn" style="display:${listBtnDisplay};">
						<div class="lbtn_wrap">
							$mec_list_btn_forstart$
							<div id="${btnId}" class="lbtn" script="${btnScript}">${btnText}</div>
							$mec_list_btn_forend$
						</div>
					</div>
				</div>
					
				<ul id="list${theId}" swipe="${swipe}" swipeType="${swipeType}" class="listContainer ${readonly}" data-role="listview">
					$mec_forstart$
					<li dataurl="${dataurl}">
						<table>
							<tr>
								<td class="imgPart" style="display:${imgPartDisplay};">
									<div class="imgRowWrap">
										${imgfield}
									</div>
								</td>
								<td class="fieldPart">
									<div class="titleRowWrap">
										${titlefield}
									</div>
									
									$mec_list_row_forstart$
									<div class="rowWrap">
										$mec_list_col_forstart$
										<div class="colWrap">
											${colfield}
										</div>
										$mec_list_col_forend$
									</div>
									$mec_list_row_forend$
								</td>
							</tr>
						</table>
						<div class="slideBtnContainer">
							${swipeContent}
						</div>
					</li>
					$mec_forend$
				</ul>
				
				${loadMore}
			</div>
			
			$mec_as_search_start$
			<div id="as-container-${theId}" class="as-container">
				<div onclick="Mobile_NS.backPage();" class="as-title">
					<div class="as-title-big">${asBigTitle}</div>
					<div class="as-title-small">${asSmallTitle}</div>
				</div>
				<div class="as-content">
				</div>
				<div class="as-btn-wrap">
					<div class="as-btn search">${asbtnSearch}</div>
					<div class="as-btn clear">${asbtnClear}</div>
				</div>
			</div>
			$mec_as_search_end$
		]]>
	</contentTemplate>
</MEC>
