@CHARSET "UTF-8";
.btc_container{
	border:1px solid #cad1d7 !important;
	position: absolute;
	width: 570px !important;
	height: auto !important;
	font-family: "微软雅黑"!important;
	font-size: 12px !important;
	vertical-align:middle !important;
	box-shadow: #eee 0px 0px 10px;
	z-index:200 !important;
	right:auto !important;
	background: #fff !important;
}
.btc_container td{
   background: #fff !important;
}
.btc-header{
	margin: 0px !important;
	padding: 0px !important;
	width:100% !important;
	/*height:40px;*/
	line-height:40px !important;
	display: inline-block !important;
	line-height: inherit !important;
	border-bottom: 1px solid #efefef !important;
	background: #f5f5f5 !important;
}
.btc-header table,.btc-header table tbody td,.btc-header table tbody td:hover{
  background: #f5f5f5 !important;
  border-bottom: 0px !important;
  border:0px !important;
}
.btc-header-ul{
	list-style-type: none !important;
	padding: 0px !important;
	margin: 0px !important;
	background: #f5f5f5 !important;
}
.btc-header-li{
	float: left !important;
	padding: 6px 10px !important;
	cursor:pointer !important;
	background: #f5f5f5 !important;
}
.btc-header-table{
    width: 100% !important;
    height: 100% !important;
    background: #f5f5f5 !important;
}
.btc-header-li:hover{
	color: #0179fe !important;
	background: #f5f5f5 !important;
}
.li-highlight{
	font-weight: bold !important;
	color: #0179fe !important;
	padding-left: 12px !important;
	width: 100% !important;
	background: #f5f5f5 !important;
}
.btc-header-li-current{
	color: #0179fe !important;
	background: #f5f5f5 !important;
}
.btc-browser{
	overflow-y: auto;
	overflow-x: hidden !important;
	background: #fff !important;
}
.btc-browser-item{	
	width: inherit !important;
	padding: 0px !important;
	padding: 8px 12px 8px 0px !important;
	border-bottom: 1px solid #efefef !important;
	background: #fff !important;
}
.btc-browser-item-theader{
	font-size: 12px !important;
	font-weight: bold !important;
	color:#2b9d1a !important;
	padding-left: 10px !important;
	background: #fff !important;
}
.btc-browser-item table{
	margin-left:10px !important;
	margin-right:10px !important;
	height:100% !important;
	width:550px !important;
	font-family: "微软雅黑"!important;
	font-size: 12px !important;
	background: #fff !important;
}
.btc-browser-lastitem table{
	border-bottom: 0px !important !important;
	background: #fff !important;
}
.split{
	color:#aaa !important;
	margin:0px 10px !important;
}
.item-to-choose{
	color:#aaa !important;
	cursor: pointer !important;
	background: #fff !important;
}
.item-to-choose:hover{
	color: #0179fe !important;
	text-decoration: underline !important;
	background: #fff !important;
}
.btc-browser-item-theader-span{
	float: right !important;
	color: #d9d9d9 !important;
	font-weight: normal !important;
	margin-right: 15px;
	background: #fff !important;
}
.sbToggle-btc{
    background: url("/images/wf/down_wev8.png") 0 0 no-repeat;
    width: 15px;
    height: 15px;
    line-height:22px;
    vertical-align: middle;
    
}
.sbToggle-btc:hover{
    background: url("/images/wf/down_wev8.png") 0 0 no-repeat;
    vertical-align: middle;
    width: 15px;
    line-height:22px;
    height: 15px;
}
.sbToggle-btc-reverse{
    background: url("/images/wf/down_wev8.png") 0 0 no-repeat;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    line-height:22px;
    transform:scale(1,-1);
    -moz-transform:scale(1,-1);
    -webkit-transform:scale(1,-1);
    -o-transform:scale(1,-1);
    transform:scale(1,-1);
    filter:FlipV;
}
.sbToggle-btc-reverse:hover{
	vertical-align: middle;
    background: url("/images/wf/down_wev8.png") 0 0 no-repeat;
    width: 15px;
    height: 15px;
    line-height:22px;
    transform:scale(1,-1);
    -moz-transform:scale(1,-1);
    -webkit-transform:scale(1,-1);
    -o-transform:scale(1,-1);
    transform:scale(1,-1);
    filter:FlipV;
}
.btc_type_edit{
	vertical-align:middle;
	width:17px;
	height:17px;
	float:right;
	padding:3px;
	display: block;
}
.btc-head-div{
	width:40px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	float:left;
}