*{
    font-family: "微软雅黑";
}
.weavertour_dialog{
    min-width: 200px;
    max-width: 300px;
    position: absolute;
    background-color: #394E63;
    border-radius: 8px;
    display: none;
}

.weavertour_dialog  .weavertour_content{
    width: 100%;
}

.weavertour_dialog  .weavertour_title{
    height: 30px;
    line-height: 30px;
    color: #fff;
    border-bottom: 1px solid #F1ECCE;
    margin: 0 auto;
    font-size: 14px;
    padding-left: 10px;
}
.weavertour_dialog  .weavertour_info{
    line-height: 45px;
    font-size: 12px;
    margin: 0 auto;
    padding-left: 10px;
    color: #fff;
}
.weavertour_dialog  .weavertour_arrow_left{
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #394E63;
    top: 50%;
    left: 100%;
    margin-top: -10px;
    margin-left: -1px;
}

.weavertour_dialog  .weavertour_arrow_right{
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #394E63;
    top: 50%;
    right: 100%;
    margin-top: -10px;
    margin-right: -1px;
}

.weavertour_dialog  .weavertour_arrow_bottom{
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #394E63;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    margin-bottom: -1px;
}
.weavertour_dialog  .weavertour_arrow_top{
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #394E63;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    margin-top: -1px;
}
.weavertour_btn{
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 0.3em 0.8em;
    border: 1px solid #d4d4d4;
    margin: 0;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    font: 11px/normal "微软雅黑";
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    /* background-clip: padding-box; */
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    zoom: 1;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: right;
}

.weavertour_btn:hover{
   color:#007aff;
}
.weavertour_overlay{
    background-color: #f4f4f4;
    opacity: .5;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    position: absolute;
    z-index: 10000000;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    -ms-box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}