.opDiv {
	height: 26px;
	margin: 10px auto;
	width: 200px;
}
.btnOpDiv {
	float: left;
	margin: 0 10px;
	background: #586ba2;
	color: #fff;
	padding: 5px 10px;
	font-size: 12px;
	cursor: pointer;
}
.btnOpDiv:hover {
	background: #4c6ece;
}

.container {
    width: 100%;
    height: 100%;
    font-family: "Microsoft YaHei"!important;
}

.icon {
    background-size: 100% 100%;
    position: relative;
    width: 48px;
    height: 48px;
    left: 20px;
    top: 20px;
}
.dot {
    position: relative;
    height: 20px;
    font-size: 30px;
    top: -20px;
    text-align: center;
    color: white;
    float: right;
    margin-right: 20px;
    display: none;
    display: block;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
}
.name {
    font-family: "Microsoft YaHei"!important;
    color: white;
    position: absolute;
    right: 20px;
    top: 75%;
    font-size: 20px;
}
.cover {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    opacity: 0.8;
    position: fixed;
    top: 0;
    opacity: 0.0;
}
.Dblist a{
    text-decoration: none!important;
    outline: none;
}