<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title>Advanced DataView Example</title>
	<link rel="stylesheet" type="text/css" href="../../resources/css/ext-all_wev8.css" />

    <!-- GC -->
 	<!-- LIBS -->
 	<script type="text/javascript" src="../../adapter/ext/ext-base_wev8.js"></script>
 	<!-- ENDLIBS -->

    <script type="text/javascript" src="../../ext-all_wev8.js"></script>
	
	<link rel="stylesheet" type="text/css" href="chooser_wev8.css" />
	<script type="text/javascript" src="chooser_wev8.js"></script>
	<script type="text/javascript" src="chooser-example_wev8.js"></script>
	
	<!-- Common Styles for the examples -->
	<link rel="stylesheet" type="text/css" href="../examples_wev8.css" />
</head>
<body class="xtheme-gray">
	<script type="text/javascript" src="../examples_wev8.js"></script><!-- EXAMPLES -->
	<h1>Advanced DataView Example</h1>
	<p>This example shows loading a DataView in a Window.  Each item has a linked details view, and the DataView
    supports custom sorting and filtering.</p>
	<div id="buttons" style="margin:20px;"></div>
	<div id="images" style="margin:20px;width:600px;"></div>
</body>
</html>