html,body {
	-webkit-text-size-adjust: none;
	margin: 0px;
}
html{
	
}
* {
	font-size: 12px;
	font-family: '풕턼환쥌';
	outline: none;
}

.clickRightMenu {
	position: absolute;
}
a{
	text-decoration: none!important;
	color:#123885!important;
}

a:hover{
	color:red!important;
}
.item_title {
	width: auto;
	height: 20px;
	font-size: 14px;
	font-weight: bold;
	margin-left: 4px;
	font-family: '풕턼환쥌';
}

.item_table,.rel_table,.other_table,.product_table {
	width: 100%;
	table-layout: fixed;
}

.item_table td,.rel_table td,.other_table td,product_table td {
	padding-left: 5px;
	color: #3E3E3E;
	vertical-align: middle;
	empty-cells: show;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item_table td.title {
	background: #F6F6F6;
	font-family: '풕턼환쥌';
	color: #181818;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 4px;
}

.rel_table td.title2,.other_table td.title2,.product_table td.title2 {
	vertical-align: top;
	background: #F6F6F6;
	font-family: '풕턼환쥌';
	color: #181818;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 4px;
}

.rel_table td.title2 div,.other_table td.title2 div {
	font-family: '풕턼환쥌';
}

.product_table td.title3 {
	vertical-align: top;
	font-family: '풕턼환쥌';
	color: #181818;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
}

td.td_hover {
	background: #FAFAFA !important;
}

.other_table td.oppttd {
	background: #DFDFDF !important;
	font-family: '풕턼환쥌';
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 4px;
	color: #333333;
	font-size: 12px;
	font-weight: bold;
}

.item_table a,.item_table a:active,.item_table a:visited {
	text-decoration: none;
	color: #3E3E3E;
}

.item_table a:hover {
	text-decoration: underline;
	color: #0080FF;
}

.item_line {
	width: 100%;
	height: 2px;
	font-size: 0px;
}

.item_icon1,.item_line1 {
	background: #5A95D1
}

.item_icon2,.item_line2 {
	background: #74BB45
}

.item_icon3,.item_line3 {
	background: #F86E30
}

.item_icon4,.item_line4 {
	background: #A2C40B
}

.item_icon5,.item_line5 {
	background: #E14364
}

.item_icon6,.item_line6 {
	background: #5A95D1
}

.item_icon7,.item_line7 {
	background: #74BB45
}

.item_icon8,.item_line8 {
	background: #F86E30
}

.item_icon10,.item_line10 {
	background: #879DB2
}

.item_input {
	width: 96%;
	height: 20px;
	border: 0px #fff solid !important;
	padding-left: 0px;
	resize: none;
	background-image:none;
	background:transparent;
}
.item_area{
	font-family: '풕턼환쥌';
	overflow: auto;margin-top:2px;margin-bottom:2px;vertical-align: middle
}
.item_input_hover {
	border-bottom: 1px #CCCCCC solid !important;
}

.item_input_focus {
	border-bottom: 1px #1A8CFF solid !important;
	/**resize: both;*/
}

.btn_browser {
	width: 30px;
	height: 22px;
	float: left;
	margin-left: 1px;
	margin-top: 2px;
	cursor: pointer;
	display: none;
	background: url('../images/browser2.png') center no-repeat !important;
}
.btn_null {
	background: url('../images/null.png') center no-repeat !important;
}

.txt_browser {
	width: auto;
	line-height: 22px;
	float: left;
	margin-left: 4px;
	margin-top: 2px;
}

.btn_add {
	width: 30px !important;
	height: 22px !important;
	float: left;
	margin-left: 1px;
	margin-top: 2px;
	background: url('../images/edit2.png') center no-repeat !important;
	display: none;
	cursor: pointer;
}

.add_input,.add_input2 {
	width: 100px;
	height: 20px;
	line-height: 20px;
	border: 1px #fff solid;
	padding-left: 2px;
	display: none; margin-left밐5px;
	border: 1px #1A8CFF solid;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0px 0px 2px #1A8CFF;
	-moz-box-shadow: 0px 0px 2px #1A8CFF;
	-webkit-box-shadow: 0px 0px 2px #1A8CFF;
	float: left;
}
.txtlink {
	line-height: 24px;
	float: left;
	margin-left: 0px;
}

.btn_del {
	width: 16px;
	height: 16px;
	background: url('../images/mainline.png') no-repeat -80px -126px;
	display: none;
	cursor: pointer;
	float: left;
	margin-left: 0px;
	margin-top: 2px;
}

.btn_wh {
	width: 16px;
	height: 16px;
	float: left;
	margin-left: 0px;
}

.item_select {
	position: absolute;
	display: none;
	overflow: hidden;
	background: #fff;
	border: 1px #CCCCCC solid;
	box-shadow: 0px 0px 1px #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	overflow-y: auto;
	overflow-x: hidden;
	SCROLLBAR-DARKSHADOW-COLOR: #CDCDCD;
	SCROLLBAR-ARROW-COLOR: #E2E2E2;
	SCROLLBAR-3DLIGHT-COLOR: #CDCDCD;
	SCROLLBAR-SHADOW-COLOR: #CDCDCD;
	SCROLLBAR-HIGHLIGHT-COLOR: #CDCDCD;
	SCROLLBAR-FACE-COLOR: #CDCDCD;
	scrollbar-track-color: #E2E2E2;
}

.item_option{
	min-width: 80px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	cursor: pointer;
	font-family: '풕턼환쥌';
}
.item_option_hover{
	background-color: #0080C0;color: #FAFAFA;
}

a.slink {
	padding-right: 5px;
	padding-left: 15px;
	border-right: 0px #DBDBDB dashed;
	background: url('../images/level_00.png') left center no-repeat;
}

a.slink,a.slink:active,a.slink:visited {
	color: #C8C8C8 !important;
	text-decoration: none;
}

a.slink:hover {
	color: #1A8CFF !important;
	text-decoration: underline;
}

a.sdlink {
	color: #000 !important;
	text-decoration: none !important;
	cursor: default;
	font-weight: bold;
	background: url('../images/level_01.png') left center no-repeat;
}

a.sdlink:hover,a.sdlink:active,a.sdlink:visited {
	color: #000 !important;
	text-decoration: none !important;
}

.div_show {
	padding-left: 0px;
	float:left;
}

.upload {
	float: left;
	margin-top: 2px;
	display: ;
	position: relative;
	width: 60px;
}

.fuzzyquery_query_div { /*쭵汰얏컋밐쓀홆턯큉*/
	position: absolute;
	z-index: 999;
	width: 577px;
	/**height:115px;*/
	border: 1px #53A9FF solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 0px 0px 2px #53A9FF;
	-moz-box-shadow: 0px 0px 2px #53A9FF;
	-webkit-box-shadow: 0px 0px 2px #53A9FF;
	overflow: hidden;
	background-color: #fff;
}

.fuzzyquery_main_div {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.fuzzyquery_load {
	background: url('../images/loading2.gif') center no-repeat;
	height: 40px;
}

.fuzzyquery_query_tab {
	width: 100%;
	table-layout: fixed;
	border: 0px;
}

.fuzzyquery_query_tab tr {
	width: 100%;
	cursor: pointer;
}

.fuzzyquery_query_tab td {
	text-align: left;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 22px;
	line-height: 22px;
	color: #A4A4A4;
	border-bottom: 0px #E6F1F9 dotted;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 1px;
}

.fuzzyquery_query_tab td.t_status {
	color: #D7D7D7;
	width: 40px;
}

.fuzzyquery_query_tab2 {
	width: 100%;
	table-layout: fixed;
	border: 0px;
}

.fuzzyquery_query_tab2 tr {
	width: 100%;
	cursor: pointer;
}

.fuzzyquery_query_tab2 td {
	text-align: left;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 24px;
	line-height: 24px;
	color: #6E6E6E;
	border-bottom: 1px #EFF7FC solid;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 3px;
	font-family: '풕턼환쥌';
}

.fuzzyquery_query_tab2 td.t_status {
	color: #D7D7D7;
	width: 90px;
	text-align: right;
	padding-right: 2px;
}

.fuzzyquery_query_title td {
	border: 0px;
	color: #393939;
}

.fuzzyquery_query_row_hover {
	background-color: #2F9AE1;
}  /*햻휁퇊탼왃횇퉣*/
.fuzzyquery_query_row_hover td {
	color: #fff !important;
}

.fuzzyquery-floor { /*얎쫃왃왕썬IFRAME밃턶퍶튁駙颱逍慄Ц*/
	width: 0%;
	height: 0%;
	z-index: 998;
	position: absolute;
	filter ='progid: DXImageTransform.Microsoft.Alpha (   style =   0,
		opacity = 
		 0 ) ';
	left: 13px;
	top: 76px;
	border: 0px;
}

.scroll1 {
	overflow-y: auto;
	overflow-x: auto;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	SCROLLBAR-ARROW-COLOR: #EAEAEA;
	SCROLLBAR-3DLIGHT-COLOR: #EAEAEA;
	SCROLLBAR-SHADOW-COLOR: #E0E0E0;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-FACE-COLOR: #ffffff;
}
.scroll2 {
	overflow-y: auto;
	overflow-x: hidden;
	SCROLLBAR-DARKSHADOW-COLOR: #CDCDCD;
	SCROLLBAR-ARROW-COLOR: #E2E2E2;
	SCROLLBAR-3DLIGHT-COLOR: #CDCDCD;
	SCROLLBAR-SHADOW-COLOR: #CDCDCD;
	SCROLLBAR-HIGHLIGHT-COLOR: #CDCDCD;
	SCROLLBAR-FACE-COLOR: #CDCDCD;
	scrollbar-track-color: #E2E2E2;
}

.btn_save {
	width: 30px;
	text-align: center;
	line-height: 16px;
	cursor: pointer;
	float: left;
	font-family: 풕턼환쥌;
	background-color: #67B5E9;
	color: #fff;
	margin-bottom: 1px;
	margin-top: 2px;
	border: 1px #50A9E4 solid;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0px 0px 1px #8EC8EE;
	-moz-box-shadow: 0px 0px 1px #8EC8EE;
	-webkit-box-shadow: 0px 0px 1px #8EC8EE;
}

.btn_save_hover {
	background-color: #1F8DD6;
}

.addtable {
	width: 100%;
}

.addtable td {
	padding-left: 3px;
	text-align: left;
}

.addtable td.title {
	font-family: 풕턼환쥌;
	color: #999999;
	padding-top: 1px;
	padding-bottom: 1px;
	vertical-align: top;
	padding-left: 1px;
	background: #F4F4F4;
}

.addtable td.data {
	vertical-align: middle;
	background: none;
}

.info_input {
	width: 90%;
	height: 18px;
	border: 1px #CCCCCC solid;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding-left: 3px;
}

.btn_browser3 {
	width: 20px;
	height: 20px;
	float: left;
	margin-left: 1px;
	margin-top: 2px;
	cursor: pointer;
	background: url('../images/btn_browser.png') center no-repeat !important
		;
}

.btn_browser2 {
	width: 14px;
	height: 14px;
	float: left;
	margin-left: 1px;
	margin-top: 0px;
	cursor: pointer;
	display: none;
	background: url('../images/btn_browser2.png') center no-repeat
		!important;
}

.btn_add2 {
	width: 14px;
	height: 14px;
	float: left;
	margin-left: 2px;
	margin-top: 0px;
	cursor: pointer;
	display: none;
	background: url('../images/btn_add2.png') center no-repeat !important;
}

.load {
	width: 60px;
	height: 16px;
	margin-top: 2px;
	float: left;
	background: url(../images/loading2.gif) center no-repeat #fff;
	display: none;
}

.detailinput {
	width: 90%;
	height: 18px;
	border: 1px #F2F2F2 solid;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding-left: 3px;
	resize: none;
}

.detailinput_hover {
	border: 1px #CCCCCC solid;
}

.detailinput_focus {
	border: 1px #1A8CFF solid;
	resize: both;
}

.input_blur {
	font-style: italic;
	color: #C8C8C8;
}

.info {
	color: #8A8A8A !important;
}

.info a,.info a:active,.info a:visited {
	text-decoration: none !important;
	color: #1D76A4 !important;
}

.info a:hover {
	text-decoration: underline !important;
	color: #FF0000 !important;
}

.other_input {
	margin-top: 3px !important;
	width: 98%;
	height: 20px;
	border: 1px #fff solid;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding-left: 3px;
	resize: none;
}

.other_input_hover {
	border: 1px #CCCCCC solid;
	box-shadow: 0px 0px 1px #fff;
	-moz-box-shadow: 0px 0px 1px #fff;
	-webkit-box-shadow: 0px 0px 1px #fff;
}

.other_input_focus {
	border: 1px #1A8CFF solid;
	box-shadow: 0px 0px 1px #1A8CFF;
	-moz-box-shadow: 0px 0px 1px #1A8CFF;
	-webkit-box-shadow: 0px 0px 1px #1A8CFF;
	resize: both;
}

.relatedoc {
	font-weight: normal;
	color: #3E3E3E;
	font-style: italic;
}

.selectitem {
	width: 50px;
	line-height: 21px;
	cursor: pointer;
	border-bottom: 0px #F3F3F3 solid;
	font-family: 풕턼환쥌;
	text-align: center;
	padding-left: 0px;
	float: left;
}

.selectitem_hover {
	background-color: #0080C0;
	color: #FAFAFA;
}

.oppt_input {
	margin-left: 3px;
	background: #F9F9F9 !important;
	width: 80px;
	height: 18px;
	border: 1px #DFDFDF solid;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding-left: 2px;
}

.oppt_input_hover {
	background: #fff !important;
	border: 1px #CCCCCC solid;
	box-shadow: 0px 0px 1px #fff;
	-moz-box-shadow: 0px 0px 1px #fff;
	-webkit-box-shadow: 0px 0px 1px #fff;
}

.oppt_input_focus {
	background: #fff !important;
	border: 1px #1A8CFF solid;
	box-shadow: 0px 0px 1px #1A8CFF;
	-moz-box-shadow: 0px 0px 1px #1A8CFF;
	-webkit-box-shadow: 0px 0px 1px #1A8CFF;
}

.opptdel {
	width: 20px;
	height: 14px;
	cursor: pointer;
	float: right;
	margin-right: 10px;
	display: none;
	background: url('../images/del.png') center no-repeat;
}

.btn_addoppt {
	width: 80px;
	height: 16px;
	border: 1px #DFDFDF solid;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding-left: 0px;
	border: 1px #CCCCCC solid;
	box-shadow: 0px 0px 1px #fff;
	-moz-box-shadow: 0px 0px 1px #fff;
	-webkit-box-shadow: 0px 0px 1px #fff;
	float: left;
	cursor: pointer;
	margin-left: 5px;
	margin-top: 0px;
	font-weight: normal;
	text-align: center;
	color: #7F7F7F;
	font-family: '풕턼환쥌';
	display: none;
}

.btn_addoppt_hover {
	border: 1px #1A8CFF solid;
	box-shadow: 0px 0px 1px #1A8CFF;
	-moz-box-shadow: 0px 0px 1px #1A8CFF;
	-webkit-box-shadow: 0px 0px 1px #1A8CFF;
}

.sellstatus {
	width: 90%;
	line-height: 28px;
	border: 1px #AFAFAF solid;
	text-align: center;
	background: #F0F0F0;
	color: #808080;
	font-family: '풕턼환쥌';
}

.sellstatus_select {
	background: #7BCD45;;
	color: #fff;
}

.pro_input {
	width: 90%;
	height: 20px;
	border: 1px #fff solid;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding-left: 3px;
}

.pro_input_hover {
	border: 1px #CCCCCC solid;
	box-shadow: 0px 0px 1px #fff;
	-moz-box-shadow: 0px 0px 1px #fff;
	-webkit-box-shadow: 0px 0px 1px #fff;
}

.pro_input_focus {
	border: 1px #1A8CFF solid;
	box-shadow: 0px 0px 1px #1A8CFF;
	-moz-box-shadow: 0px 0px 1px #1A8CFF;
	-webkit-box-shadow: 0px 0px 1px #1A8CFF;
}

.btn_center {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.btn_right {
	background: url('../images/btn_right.png') center no-repeat;
}

.btn_left {
	background: url('../images/btn_left3.png') right center no-repeat #758FA8 !important;
}

.ploytype,.roletype {
	width: auto;
	line-height: 22px;
	cursor: pointer;
	margin-left: 0px;
	padding-left: 24px;
	padding-right:5px;
	background: url('/image_secondary/common/unselect.png') left center
		no-repeat;
}

.ploytype_select,.roletype_select {
	background: url('/image_secondary/common/select.png') left center
		no-repeat;
}

.ploytype_hover,.roletype_hover {
	background-color: #0080C0 !important;
	color: #FAFAFA;
}


.btn_browser3 {
	width: 25px;
	height: 22px;
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	cursor: pointer;
	background: url('../images/btn_browser.png') center no-repeat !important
		;
}

.rel_input {
	width: 92%;
	height: 20px;
	border: 1px transparent solid;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding-left: 1px;
	padding-right: 1px;
	background: transparent;
}
.rel_input2{
	border: 1px #CCCCCC solid;
	box-shadow: 0px 0px 1px #fff;
	-moz-box-shadow: 0px 0px 1px #fff;
	-webkit-box-shadow: 0px 0px 1px #fff;
}
.rel_input_hover {
	border: 1px #CCCCCC solid;
	box-shadow: 0px 0px 1px #fff;
	-moz-box-shadow: 0px 0px 1px #fff;
	-webkit-box-shadow: 0px 0px 1px #fff;
}

.rel_input_focus {
	border: 1px #1A8CFF solid;
	box-shadow: 0px 0px 1px #1A8CFF;
	-moz-box-shadow: 0px 0px 1px #1A8CFF;
	-webkit-box-shadow: 0px 0px 1px #1A8CFF;
}

.select_div{
	width:auto;
	height: auto;
	background: #fff;
	position: absolute;
	border: 1px #CCCCCC solid;
	box-shadow: 0px 0px 1px #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	display: none;
	z-index: 100;
}
.select_item{
	min-width: 80px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	cursor: pointer;
	font-family: '풕턼환쥌';
}
.select_item_hover{
	background-color: #0080C0;color: #FAFAFA;
}
.c_view{
	width: 20px;
	height: 14px;
	cursor: pointer;
	float: left;
	margin-right: 0px;
	display: none;
	background: url('../images/btn_browser2.png') center no-repeat;
}
.c_del {
	width: 16px;
	height: 14px;
	cursor: pointer;
	float: left;
	margin-right: 0px;
	display: none;
	background: url('../images/del.png') center no-repeat;
}
.btn_operate {
	width: 60px;
	text-align: center;
	line-height: 18px;
	cursor: pointer;
	float: left;
	font-family: 풕턼환쥌;
	color: #808080;
	margin-left: 5px;
	margin-top: 3px;
	margin-bottom: 0px;
	border: 1px #D2D2D2 solid;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	/**box-shadow: 1px 1px 3px #FDFDFD;*/
	/**-moz-box-shadow: 1px 1px 3px #FDFDFD;*/
	/**-webkit-box-shadow: 1px 1px 3px #FDFDFD;*/
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FDFDFD),
		to(#EEEEEE) );
	background: -moz-linear-gradient(#FDFDFD, #EEEEEE);
	-pie-background: linear-gradient(#FDFDFD, #EEEEEE);
}

