body {  font-size: 11px; FONT-FAMILY: "宋体";  color: #000000}

.title {font-size: 15px; font-weight: bold; color: #003399}
.subtitle {font-size: 13px; font-weight: bold; color: #003399}
.text {font-size: 12px;line-height: 120%}
