	
	/*
	 * 
	 */
	.searchInput{
		border:0px;
		vertical-align:middle;
		height:30px;
		background-color:#F9F9F9;
	}
	
	.searchInputSpan{
		/*background-color:#F5F5F5;*/
		display:-moz-inline-box;
		display:inline-block;
		height:30px;
		border:0px;
	}
	
	.searchInputSpan{
		border:1px solid transparent;
	}
	
	
	/*
	 * 
	 */
	.inputing{
		background-color:#FFFFFF;
		background-image:none;
		border:none;
	}
	
	.searchImg{
		display:inline;
		cursor:pointer;
		padding-left:5px !important;
		padding-right:5px !important;
	}
	
	
	.searchImg_hover{
		background-color:#FFF;
		border: 1px solid #DADADA;
	}
	
	.e8_rightBox .searchImg_hover,.leftSearchSpan .searchImg_hover{
		border:1px solid #DADADA;
	}
	
