html,body{
	margin: 0px;
	padding: 0px;
}
.taskDiv{
	width: auto;
	min-width:350px;
	min-height: 208px;
	overflow: hidden;
	font-family:"微软雅黑";
	font-size:12px;
}
.taskTab{
	width: 100%;
	min-width:350px;
	height: 28px;
	background: #fff;
	border-bottom: 1px #EBEBEB solid;
}
.tab1{
	padding:0 10px;
	line-height:26px;
	border-top:2px #fff solid;
	text-align:center;
	float: left;
	cursor: pointer;
	border-right: 1px #EBEBEB solid;
	font-weight: bold;
}
.tab1 span{
	color:red;
}
.tab1_hover{border-top-color: #F9F9F9;background: #F9F9F9;}
.tab1_click{border-top-color: #3C75D2;background: #F6F6F6;}
.taskShow{
	width:100%;
	min-height:180px;
	height:auto;
}
.taskTips{
	padding-left:10px;
	padding-top:3px;
	color:#666;
}
.taskListTable{
	width:100%;
	table-layout:fixed;
	font-family:"微软雅黑";
	font-size:12px;
}
.taskListTable td{
	height:24px;
	line-height:24px;
	padding-left:6px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
.taskListTable th{
	text-align: left;
	padding-left:6px;
	height:24px;
	line-height:24px;
}
.taskBtn{
	width:50px;
	height: 24px;
	float:right;
	background: #67B5E9;
	color: #fff;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
	margin-left:4px;
	margin-right:4px;
	margin-top:2px;
}
#taskSelDiv{
	position: relative;
	float:right;
}
.taskSelDiv{
	width:200px;
	height:22px;
	line-height:22px;
	margin-top:2px;
	position:absolute;
	left:500px;
	border:1px solid #50A9E4;
}
.taskSelDiv .taskSelInput{
	width:100%;
	height:22px;
	line-height:22px;
	border:none;
}
.newTaskDiv{
	width:600px;
	height:300px;
	padding:20px;
}
.newTaskTable{
	table-layout:fixed;
	width:100%;
	height:300px;
	background:#fff;
	border:1px solid #ccc;
}
.newTaskTable th{
	color:#666;
	text-align:right;
}
.newTaskTable th,.newTaskTable td{
	height:30px;
	line-height: 30px;
}
.newTaskTable .input{
	border:1px solid #ccc;
	width:460px;
	height:26px;
	line-height: 26px;
}
.newTaskTable textarea{
	border:1px solid #ccc;
	width:460px;
	height:80px;
}
.newTaskTable .taskBtn{
	width:120px;
	margin-right:60px;
}
.btn_add{
	width:30px;
	height:22px;
	float: left;
	margin-left: 10px;
	margin-top: 1px;
	margin-bottom: 1px;
	background: url('../image/edit2.png') center no-repeat;
	cursor: pointer;
}
.btn_browser{
	width:30px;
	height:22px;
	float: left;
	margin-left: 5px;
	margin-top: 1px;
	margin-bottom: 1px;
	cursor: pointer;
	background: url('../image/browser2.png') center no-repeat !important;
}
.showcon{
	line-height:24px;
	float: left;
	margin-left: 3px;
}
.add_input{
	width: 100px !important;
	height:20px;
	line-height: 20px;
	padding-left: 2px;
	display: none;
	margin-left:5px;
	border: 1px #1A8CFF solid;
	float: left;
}