/**默认*/
body{background:url(/wui/theme/office/page/images/bg/bg.png) no-repeat center top;}
.logo{background:url(/wui/theme/office/page/images/logo.png) no-repeat !important;}

#foot{background:#0B5FB2 !important;}

#searchBlockTBL{background: url('/wui/theme/office/page/images/search/searchBg.png') no-repeat;}

.text2 .text3{color:#325372 !important;}


