/* Based partially on Matthew Carroll's keyboard accessible flavor of Suckerfish 
 * Dropdowns by Patrick Griffiths and Dan Webb. 
 * http://carroll.org.uk/sandbox/suckerfish/bones2.html
 */

/* ----[ LINKS ]----*/



/* ≤‚ ‘all menu links */
#navFav a, #subMenusContainer2 a{
	text-decoration:none;
	display:block;
	height:20px;
}

#contentUl{
	padding: 2px 4px!important;
	
}
.smOW2 ul{
	padding: 2px 4px!important;
	
}

#contentUl li{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 18px;
	
}

#contentUl li ul li{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 18px;
	
}

li a{
   vertical-align:middle;  
} 


/* Just main menu links --[for non-javascript users this applies to submenu links as well]*/
#navFav a{
	margin:0;
	float:left;	
}

/* Just sub menu links */
#subMenusContainer2 a, #navFav li li a{
	text-align:left;
}

/* All menu links on hover or focus */
#subMenusContainer2 a:hover, #subMenusContainer2 a:focus,  #subMenusContainer2 a.subMenuParentBtnFocused2{
	background-color:#F6C739 ;
	color:#FFF;
}

/* sub menu links on hover or focus */
#subMenusContainer2 a:hover, 
#subMenusContainer2 a:focus, 
 
#subMenusContainer2 a.subMenuParentBtnFocused2,
{
	background-color:#F6C739 ;
	color:#FFF;
}

/* Parent Sub Menu Links ---[javascript users only]*/
.subMenuParentBtn2{ 
	background: url(../img/arrow_right.gif) right center no-repeat;  
}

/* Parent Sub Menu Links on hover or focus ---[javascript users only]*/
.subMenuParentBtnFocused2{ 
	background: url(../img/arrow_right_over.gif) right center no-repeat;  
	
}

/* Parent Main Menu Links ---[javascript users only]*/

/* Parent Main Menu Links on hover or focus ---[javascript users only]*/
.mainMenuParentBtnFocused2{	
	
}

/* ----[ OLs ULs, LIs, and DIVs ]----*/

/* Submenu Outer Wrapper - each submenu is inside a div with this class - javascript users only */
.smOW2{ 
	display:none; 
	position: absolute; 
	overflow:hidden; 
	/*the 2px left & right padding lets you have a 1px border 
	  on the ul or ol inside since overflow is set to hidden*/
	padding:0px 2px;
	*padding:0px 0px!important;
	width: auto!important;
	min-height: 18px;
	
}


/* All ULs and OLs */
#navFav, #navFav ul, #navFav ol, #subMenusContainer2 ul, #subMenusContainer2 ol { 
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1em;
}



/* All submenu OLs and ULs */
#navFav ol, #navFav ul, #subMenusContainer2 ul, #subMenusContainer2 ol {	
	/*border around submenu goes here*/	 
	
	background:#fff;	
	border:1px solid #C3D46A;
	left:0;
}


/* List items in main menu --[for non-javascript users this applies to submenus as well]  */
#navFav li { 
	/*great place to use a background image as a divider*/
	display:block;
	list-style:none;
	position:relative;
	float:left;
	
}

#subMenusContainer2 li{
	list-style: none;
	height: 18px;
	*height: auto!important;
}
#subMenusContainer2 a{
	height: 18px;
	*height: auto!important;
} 




#favLi{
	border-bottom: solid #fff 0px;
}


#subMenusContainer2{	display:block; 	position:absolute;	top:0;	left:0;	width:100%;	height:0;	overflow:visible;	z-index:1000000000; }


/* --------------------------[ The below is just for non-javscript users ]--------------------------*/
#navFav li li{	
	float:none; 
}

#navFav li li a{ /* Just submenu links*/	
	position:relative;
	float:none;
}

#navFav li ul { /* second-level lists */
	position: absolute;
	width: 200px;
	margin-left: -1000em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	
}

