body{ margin:0 auto; overflow-y : visible;font-family: "微软雅黑";font-size: 12px;}
*{outline: none;}
.text{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFF;}
.text1{ font-family:"微软雅黑"; font-size:12px; color:#FFF;}
.text2{ font-family:"微软雅黑"; font-size:14px; color:#325372; font-weight:bold;}
.text3{ font-family:"微软雅黑"; font-size:14px; color:#FFF; font-weight:bold;}
.text4{ font-family:"微软雅黑"; font-size:11px; color:#333333;}
.fixed:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }

ul.nav {list-style:none; margin:0; padding:0;width:100%; height:32px;background:url('/wui/theme/office/page/images/bg/navbg.png') repeat-x !important; font-weight:bold;}
ul.nav * {margin:0; padding:0}
ul.nav a {display:block; color:#000; text-decoration:none}
ul.nav li {position:relative; float:left; margin-right:2px}
ul.nav ul {position:absolute; top:73px; left:0; background:#d1d1d1; display:none; opacity:0; list-style:none}
ul.nav ul li {position:relative; border:1px solid #aaa; border-top:none; width:148px; margin:0}
ul.nav ul li a {display:block; padding:3px 7px 5px; background-color:#d1d1d1;font:11px Verdana,Arial;}
ul.nav ul li a:hover {background-color:#c5c5c5}
ul.nav ul ul {left:148px; top:-1px}
/**
ul.nav .menulink {width:61px; height:73px;background:url('');}
ul.nav .menulink:hover .menulink:focus {background:url('/wui/theme/office/page/images/btn1.png');}
*/
.menulink{height: 38px;}
.menu1{width:100%;height:100%;}
.menu1:hover{background:url('/wui/theme/office/page/images/btn/btn1.png');}
.menuhover {}
ul.nav .sub {background:#d1d1d1 url(/wui/theme/office/page/images/arrow.gif) 136px 8px no-repeat}
ul.nav .topline {border-top:1px solid #aaa}




.top_icon{ margin-top: 0px; margin-left: 5px;margin-right: 5px;cursor: pointer; margin-bottom: 0px;}

#head{margin:0 auto; width:100%;}
#top{width:100%; height:27px;margin:0 auto;}
.logo{ float:left; width:206px; height:48px; margin-top:2px;}
.search{ float:right; width:230px; height:27px; margin-right:5px; margin-top:10px;}
/*
.menu{float:left; width:690px; margin-top:0px;height: 50px;	margin-left:10px;}
*/
.menu{float:left; width:760px; margin-top:0px;height: 50px;	margin-left:10px;}

.menubtn_img1{
	background:url(/wui/theme/office/page/images/btn/menubtn_click2.png) bottom no-repeat; 
	/*width:88px; */
	height:30px; float:left; margin-right:5px;}
.menubtn_img2{background:url(/wui/theme/office/page/images/btn/menubtn_2.png) no-repeat; width:78px; height:30px; float:left; margin-right:5px;}
.menubtn_img3{background:url(/wui/theme/office/page/images/btn/menubtn_1.png) no-repeat; width:128px; height:30px; float:left; margin-right:5px;}
#nav2{width:100%; height:25px;margin:0 auto; background:url(/wui/theme/office/page/images/navbg.png) repeat-x; padding-left:10px;}
.line{ background:url(/wui/theme/office/page/images/btn/line.png) center no-repeat; width:5px; height:32px; margin-top:0px; float:left; margin-left:0px;}
.tbtn{ background:url(/wui/theme/office/page/images/btn/upbtn.png) no-repeat center; width:59px; height:10px;margin-left: 1px;margin-top: 0px;cursor: pointer;}

#center{width:100%; height:auto;margin:0 auto;}
.c_left{width:690px; height:auto;}
.c_right{width:300px; height:auto; margin-left:10px;}

.topmenu{cursor: pointer;text-align: center;}

.twomenu {
	top: 0; left: 0; z-index: 50000; 
	visibility:hidden;
	position: absolute;
	border-top: #c9ced8 1px solid; 
	border-right: #c9ced8 1px solid; 
	border-bottom: #c9ced8 1px solid; 
	background-color: #eceef2;
	padding: 2px;
}

.catNavTrigger2 {
	width:110px;
	LINE-HEIGHT: 24px; 
	MARGIN-Left: 2px;
	MARGIN-right: 2px;
	CURSOR: pointer;
	border-left: #eceef2 1px solid;
	border-right: #eceef2 1px solid;
	font-size: 12px;
	font-family:微软雅黑;
	color:#000;
	text-decoration: none;
}

.hover2{
	background: url('/wui/theme/office/page/images/menu/twomenu.png') repeat-x;
	border-left: #c1c7d3 1px solid;
	border-right: #c1c7d3 1px solid;
}

.ul1{margin:0;padding:0;list-style:none;width:100000px}
.li1{
	margin:0;
	padding:0;
	/*width:100px;*/
	display:block;
	float:left;
	margin-right:5px;
	}
	
/*	
#img_bag{width:690px;}
#img_bag a{float:left;width:20px;display:block;height:20px;font-weight:bold;}
#img_bag #img{width:630px;overflow:hidden;float:left}
#scrollBar{width:630px;height:8px;background:url('/wui/theme/office/page/images/btn/scroll.png') no-repeat;position:relative;margin-top: 8px;margin-bottom: 4px;}
#scroll{width:30px;height:8px;background:url('/wui/theme/office/page/images/btn/scrollbtn.png') no-repeat;cursor:pointer;position:absolute;}
*/

#img_bag{width:950px;}
#img_bag a{float:left;width:20px;display:block;height:20px;font-weight:bold;}
#img_bag #img{width:890px;overflow:hidden;float:left}
#scrollBar{width:790px;height:8px;background:url('/wui/theme/office/page/images/btn/scroll.png') no-repeat;position:relative;margin-top: 8px;margin-bottom: 4px;}
#scroll{width:30px;height:8px;background:url('/wui/theme/office/page/images/btn/scrollbtn.png') no-repeat;cursor:pointer;position:absolute;}

			#nav{
				position: absolute;
				left: 0px;
				top: 0px !important;
				overflow: hidden;
				right: 0px;
				height: 32px !important;
				width: auto !important;
			}
			.nav_btn{
				width: 42px;
				height: 38px;
				position: absolute;
				right:0px;
				background:#E5ECF1;
				display: none;
			}
			.nav_left{
				width: 18px;
				height: 34px;
				background: url('/wui/theme/office/page/images/btn/twoleft.png') center no-repeat;
				cursor: pointer;
				margin-top: 2px;
				margin-left: 2px;
				float: left;
			}
			.nav_left2{
				background: url('/wui/theme/office/page/images/btn/twoleft2.png') center no-repeat;
			}
			.nav_right{
				width: 18px;
				height: 34px;
				background: url('/wui/theme/office/page/images/btn/tworight.png') center no-repeat;
				cursor: pointer;
				margin-top: 2px;
				margin-left: 2px;
				float: left;
			}
			.nav_right2{
				background: url('/wui/theme/office/page/images/btn/tworight2.png') center no-repeat;
			}
			
			.menu_point{width:8px;height:30px;background:url('/wui/theme/office/page/images/btn/menu_point.png') center no-repeat;display:none;margin-right:2px;
				position: absolute;right: 5px;top:2px;}
				
			.btn_left{width:18px;height:30px;float: left;margin-right: 5px;cursor: pointer;background:url('/wui/theme/office/page/images/btn/topleft.png') center no-repeat;}
			.btn_left_hover{background:url('/wui/theme/office/page/images/btn/topleft2.png') center no-repeat;}
			.btn_right{width:18px;height:30px;float: left;margin-left: 5px;cursor: pointer;background:url('/wui/theme/office/page/images/btn/topright.png') center no-repeat;}
			.btn_right_hover{background:url('/wui/theme/office/page/images/btn/topright2.png') center no-repeat;}
			
			.menucon{width:59px;height:27px;cursor: pointer;margin-left: 5px;margin-top: 0px;margin-bottom: 0px;margin-right: 5px;background:url('/wui/theme/office/page/images/btn/down.png') center no-repeat;}
			.menucon_up{background:url('/wui/theme/office/page/images/btn/up.png') center no-repeat;}
			
			.blank_top{height:8px;}
			
.coloritem{width:11px;height: 11px;float: left;cursor: pointer;margin: 6px;border: 1px solid;}
.coloritem_click{border-color: #fff !important;}

.top_a,.top_a:hover,.top_a:active,.top_a:visited{width: auto !important;height: auto !important;float: none !important;display: inline !important;color: inherit !important;font-size: inherit !important;}
