.part_set .content .list li{
	padding-bottom:5px;
}
span.i_image,span.i_attr,span.i_remark{
	background-repeat:no-repeat;
	background-position:-2px center;
	overflow:hidden;
}

span.i_image button,span.i_attr button,span.i_remark button{
	width:14px !important;
	height:14px !important;
	background-color:inherit !important;
	text-indent:-9999px !important;
}

span.i_image{
	background-position:-266px -28px;
}
span.i_attr{
	background-position:-70px -84px;
}
span.i_remark{
	/*background-position:-279px -56px;*/
	background-position:-153px -56px;
}

span.i_remark_edit{
	background:url("../images/remark_cancel.png") no-repeat center center;
}

input.imageWidth,input.imageHeight{
	width:35px;
	text-align:center;
}
.voting_image,.voting_attr,.voting_remark{
	padding-left:17px;
}
.voting_image .image_div{
	display:inline-block;
	border:1px solid #e9e9e2;
	padding:1px;
	margin:3px;
	position:relative;
}
.voting_image .image_div.hover .delete{
	position:absolute;
	top:0px;
	background-color:#000000;
	filter:alpha(opacity=70);
	opacity:0.7;
	height:20px;
	width:100%;
	text-align:right;
}
.voting_image .image_div.hover .delete span,.voting_attr .attr_div.hover .delete span{
	padding-left:16px;
	height:16px;
	display:inline-block;
	background: url("../images/menu_delete_wev8.png") no-repeat left center;
}

.voting_attr .attr_div{
	display:inline-block;
	width:472px;
}
.voting_attr .attr_div a,.voting_attr .attr_div.hover a{
	line-height:22px;
	display:inline-block;
}
.voting_attr .attr_div.hover{
	border:none;
}

.voting_attr .attr_div .delete{
	clear:both;
}

.voting_attr .attr_div.hover .delete{
	display:inline-block;
	margin-left:15px;
	height:20px;
	background-color:#000000;
	filter:alpha(opacity=70);
	opacity:0.7;
}


.voting_remark .textarea{
	width:386px;
}

.voting_question,.voting_image,.voting_attr,.voting_remark{
	position:relative;
	padding-right:30px;
	overflow:hidden;
}
.voting_remark{
	padding-right:100px;
}

.voting_operator{
	position:absolute;
	right:0px;
	top:0px;
	width:60px;
	height:100%;
	vertical-align: middle;
}
.voting_up{
	background-position:-70px -55px;
}
.voting_down{
	background-position:-70px -70px;
}
.voting_operator a{
	display:none;
}
.voting_image_show,.attr_div_show{
	width:90%;
}
.attr_div_show{
	line-height:30px;
	background-color:#f5f5f5;
	margin:3px 0px;
}
.voting_attr .attr_div a,
.attr_div_show a,
.survery_component div.introduceAttr a,
.survey_question div.introduceAttr a {
	float:left;
	color:#5c5c5c;
	text-decoration:underline;
	padding-left:25px;
	background:url("../images/app-attach_wev8.png") no-repeat 8px 5px;
}
.survery_component div.introduceAttr,
.survey_question div.introduceAttr
{
	width:90%;
	background-color:#f5f5f5;
	line-height:30px;
	margin:3px 0;
	clear:both;
}

.survery_component div.introduceAttr div.introduceAttr,
.survey_question div.introduceAttr div.introduceAttr{
	width:100%;
}

.voting_attr .attr_div a.download,
.attr_div_show a.download,
.survery_component div.introduceAttr a.download,
.survey_question div.introduceAttr a.download{
	color:#1080fe;
	float:right;
	margin-right:20px;
	text-decoration:none;
	background:none;
}
.voting_remark_show{
	color:#898989;
}
.clearboth{
	clear:both;
}