*{
    font-family: '微软雅黑';
    font-size: 12px;
}
#surveyreport{
    /**margin: 0 200px;
    padding: 10px;**/
    border: 1px solid #e9e9e9;
    margin-top: -2px;
}
#surveyreport .question{
    margin-bottom: 20px;
    position: relative;
}


.questiontitle{
    font-weight: bold;
}

.subject{
    padding: 0px 5px 0px 12px;
    background-color: rgb(248,248,248);
    border-bottom: 2px solid #B7E0FE;
    border-top: 1px solid #DADADA;
    line-height: 30px;
}

.question h4{
    font-size: 14px;
    margin: 0;
    padding: 5px 0;
}
table.result{
    border-collapse: collapse;
    width: 100%;
}
table.result .first{
    border-left: 0;
    text-align: left;
    padding-left: 10px;
}


table.result thead{
    background: #ECFDEA;

}

table.result th{
    border: 1px solid #e9e9e9;
    color: #999;
    font-weight: 400;
    padding: 5px;
    height: 21px;
}
table.result td{
    border: 1px solid #e9e9e9;
    line-height: 20px;
    padding: 5px;
    text-align: center;
    height: 23px;
}
.question .rules{
    color: #999;
    line-height: 26px;
    margin-bottom: 5px;
}
.surveytitle{
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.selectsignalclone{
    display: none;
}
.matrixclone{
    display: none;
}

.round-pink {
    background: #fff;
    border: 1px solid #89cdee;
    height: 15px;
    position: relative;
	width: 100%;
}

.round-percent {
    background-color: rgb(150,215,248);
    height: 15px;
    line-height: 15px;
    float: left;
    display: inline-block;
    position: absolute;
    left: 0;
}

.round-text{
    position: relative;
}



.rsstyle{
    font-weight: 700;
}

.blankfilldetail{
    padding: 10px;
}

.blankfilldetail a{
    color: #08C;
    text-decoration: underline;
    cursor: pointer;
}
.blankfillingclone{
    display: none;
}

span.i {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url(../images/icon_16_wev8.gif);
    background-repeat: no-repeat;
    cursor: pointer;
}
.i_detail_gray {
    background-position: -308px -42px;
}


.i_detail_gray_result {
    background-image: url(../images/resultlist_wev8.png);
    display: inline-block;
    width: 12px;
    height: 12px;
    line-height: 12px;
}

a.blue, button.blue {
    background: #38a0e5 url(../images/button_blue_wev8.gif) repeat-x top;
    color: #fff;
    border: 1px solid #168baa;
    border-radius: 5px;
    -moz-border-radius: 5px;
    width: 48px;
    height: 26px;
}
a:hover.blue, button.blue:hover {
    background: #8bba0d url(../images/button_green_wev8.gif) repeat-x top;
    color: #fff;
    border: 1px solid #4aa103;
    cursor: pointer;
}
.qname{
    color: #000000;
    font-size: 24px;
    padding: 5px;
}
.asitem{
    color:#000000;
    font-size: 20px;
    font-weight: normal;
}
.questiondetail{
    position: absolute;
     right: 12px;
     top: 9px;
}
.head{
    cursor: move;
}

.detailquestion  {
   width: 100%;
   border-collapse: collapse;
   margin-bottom: -1px;
   table-layout: fixed;
}

.detailquestion td{
    padding: 8px 10px;
    border: 1px solid #e9e9e9;
}


.detailquestion_title  {
   width: 100%;
   border-collapse: collapse;
   margin-bottom: -1px;
   table-layout: fixed;
}

.detailquestion_title td{
    padding: 8px 10px;
    border: 1px solid #e9e9e9;
    background-color: rgb(248,248,248);
    border-bottom: 2px solid rgb(248,248,248);
    text-align: center;
    font-weight: bold;
}

.voteuser{
    display: inline-block;
    color: #38a0e5;
    font-size: 12px;
}
.detailquestion_title{
    width:100%;
	border-collapse: collapse;
}

.detailquestion_title td {
  padding: 8px 10px;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.subcompanyname{
  display:none;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  font-weight: 200;
  color: #ff0000;
}