@CHARSET "UTF-8";

.add_btn{
	margin-left:5px;

	font-size:16px;
	color:gray;
	cursor:pointer;
	border:1px solid rgb(248,248,248);
}

.add_btn:hover{
	border:1px solid #E7E7E7;
}

.mp_showNameClass{
	background: none repeat scroll 0 0 #fff;
	white-space:nowrap;
	height:20px;
	line-height:20px;
	cursor:pointer;
	vertical-align:middle;
	display:inline-block;
	float:none !important;
	margin:1px;
	padding-left:5px;
	padding-right:5px;
}

.mp_showNameHoverClass a:hover{
	color:rgb(0,176,240) !important;
}

.mp_showNameHoverClass a{
	color:rgb(0,176,240) !important;
}

.mp_showNameClass a{
	overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    word-break: keep-all;
    display:inline-block;
}

 .mp_browflow, .mp_browserAdd{
 	height:26px !important;
 	background-position: 50% 50%;
 	background-repeat:no-repeat;
 	background-color:transparent;
 }
 
.mp_delClass{
	background:url(/images/closeNew_wev8.png) no-repeat left center;
	color:#000;
	text-align:center;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	/*opacity: 0;*/
	width:14px;
	visibility:hidden;
}

.mp_browserInputMore,.mp_browserInput{
	border:none;
	width:30px;
	float:left;
	display:none;
	z-index:99999;
}

.mp_spanFloat{
	display:block;
	float:right;
	height:100%;
}
.mp_spanFloat img{
	margin-top:7px;
}

.mp_os{
	background-color:#FFF;
	float:left;
	border:1px solid #E7E7E7;
	position:relative;
}

.mp_outScroll{
	max-height:100px;
	overflow:hidden;
	float:left;
	width:100%;
	position:relative;
}

.mp_innerShow{
	overflow:hidden;
	min-height:22px;
	word-wrap: break-word;
	word-break: break-all;
	white-space:normal;
	cursor:text;
	float:left;
	/*border-left: #e7eaee 1px solid;
	border-right: #e7eaee 1px solid;
	border-bottom: #e7eaee 1px solid;
	border-top: #c0cad2 1px solid;
	background-color:#BFBFBF;*/
}

.mp_innerShow_button{
	position:absolute;
	float:right;
	right:0;
}

.mp_innerShow span{
	float:left;
}

.mp_showNameClass span{
	float:none;
}
/*
.mp_browserAdd{
	background-color: transparent;
    background-image: url("/wui/theme/ecology8/skins/default/general/browserAdd_wev8.png");
    background-repeat: no-repeat;
    border-color: -moz-use-text-color;
    border-right: medium none;
    border-style: none;
    border-width: medium;
    cursor: pointer;
    height: 16px;
    overflow: hidden;
    width: 16px;
}
*/