<?xml version="1.0" encoding="UTF-8"?>
<MEC>
	<id>UrlGridTable</id>	<!-- id 插件唯一标识 -->
	<text>128756</text> <!-- Url表格 -->
	<type>1</type>	<!-- 类型，方便对插件进行区分，目前已有：1.普通功能插件，2.表单插件 -->
	<isEnabled>1</isEnabled>	<!-- 是否启用，1或者不填写为启用，0或者其他非1值为禁用 -->
	<order>52</order>	<!-- 插件显示顺序，值越小则显示越靠前，不填写或者无此标签将为整数的最大值 -->
	
	<!-- 插件设计信息配置 -->
	<design>
		<unique>0</unique> <!-- 是否唯一，如果值为1则在自定义页面设计时一个页面最多只能添加一个这种控件，不为1或者不填写此属性则没有此限制 -->
		<resources>	<!-- 依赖资源 -->
			<resource type="js">/mobilemode/js/mec/handler/UrlGridTable_wev8.js?v=2017052201</resource>
			<resource type="css">/mobilemode/css/mec/run/UrlGridTable_wev8.css</resource>
			<resource type="css">/mobilemode/css/mec/handler/UrlGridTable_wev8.css?v=2017052201</resource>
		</resources>
	</design>
	
	<!-- 插件运行信息配置 -->
	<run java="com.weaver.formmodel.mobile.mec.handler.UrlGridTable">
		<resources>	<!-- 依赖资源 -->
			<resource type="css">/mobilemode/css/mec/run/UrlGridTable_wev8.css?v=2017111401</resource>
			<resource type="js">/mobilemode/js/mec/run/UrlGridTable_wev8.js?v=2017111401</resource>
			<resource type="css">/mobilemode/js/mobiscroll/css/mobiscroll-2.5.2-min.css</resource>
			<resource type="js">/mobilemode/js/mobiscroll/mobiscroll-2.5.2-min.js</resource>
		</resources>
	</run>
	
	<!-- 内容模板 -->
	<contentTemplate>
		<![CDATA[
		    <div id="NMEC_${theId}" class="GridTableContainer" data-groupsum="${groupsum}" data-assearch="${advancedSearch}" data-fixedColumn="${fixedColumn}">
		    
				<div id="gtsearch${theId}" class="gtSearch" style="display:${searchDisplay};">
			    	<div class="gtHeader">
						<input class="searchKey" type="text" value="" placeholder="${searchTips}" data-role="none"/>
						<a class="searchBtn" href="javascript:void(0);" data-role="none"><img src="/mobilemode/images/mec/search-input_wev8.png" border="0"/></a>
						<div class="advancedSearch" style="display:${advancedSearchDisplay};">
							<ul>
								<li><div class="point"></div><div class="line one"></div></li>
								<li><div class="point"></div><div class="line two"></div></li>
								<li><div class="point"></div><div class="line three"></div></li>
							</ul>
						</div>
					</div>
					<div class="gtBtnContainer" style="display:${gtBtnDisplay};">
						<div class="gtbtn_wrap">
							$mec_gt_btn_forstart$
							<div id="${btnId}" class="gtbtn" script="${btnScript}">${btnText}</div>
							$mec_gt_btn_forend$
						</div>
					</div>
				</div>
				
				<div class="gtOutWrap" style="position: relative;">
				
				<div class="gtWrap">
				
					<table class="gtTitle" style="${tableWidthStr}">
						<tr class="title_tr">
							$mec_gt_title_forstart$
							<td class="${beFixedCol}" style="${colomnWidthStr}">${columnText}</td>
							$mec_gt_title_forend$
						</tr>
					</table>
					
					
					<div class="gtContentWrap" style="${tableHeightStr}">
						<div class="fixedGtContentWrapMapping">
							
						</div>
						<table class="gtContent" style="${tableWidthStr}">
							<tbody>
								$mec_gt_row_forstart$
								<tr class="content_tr" dataurl="${dataurl}">
									$mec_gt_col_forstart$
									<td class="${beFixedCol}" style="${colomnWidthStr}" data-value="${columnRealValue}">${columnValue}</td>
									$mec_gt_col_forend$
								</tr>
								$mec_gt_row_forend$
							</tbody>
						</table>
					</div>
					
					
				</div>
				
				<div class="fixedGtWrap">
					<div class="fixedGtTitleWrap"></div>
					<div class="fixedGtContentWrap" style="${tableHeightStr}">
						<div style="${tableHeightStr}"></div>
						<div style="height: 10px;"></div>
					</div>	
				</div>
				
				</div>
				
				${loadMore}
			</div>
		]]>
	</contentTemplate>
</MEC>
