.btn_operate{text-align: center;line-height: 18px;cursor: pointer;;
				color:#808080;margin-left: 5px;margin-bottom: 0px;background:#f7f7f7;
				border: 1px #D2D2D2 solid;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;
		    }
.btn_operate:hover{background:#ffffff;}

html,body{-webkit-text-size-adjust:none;margin: 0px;overflow:hidden;}
*{font-size: 12px;font-family: Arial,'微软雅黑';outline:none;}

/*显示出来的模糊查询容器*/
.fuzzyquery_query_div{
	position:absolute;
	z-index:999;
	width: 577px;
	/**height:115px;*/
	border: 1px #53A9FF solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow:0px 0px 2px #53A9FF;
	-moz-box-shadow:0px 0px 2px #53A9FF;
	-webkit-box-shadow:0px 0px 2px #53A9FF;
	overflow: hidden;
	background-color: #fff;
}
.fuzzyquery_main_div{width: 100%;height: auto;overflow: hidden;}
.fuzzyquery_load{background: url('../images/loading2_wev8.gif') center no-repeat;height: 40px;}
.fuzzyquery_query_tab{width:100%;table-layout: fixed;border: 0px;}
.fuzzyquery_query_tab tr{width:100%;cursor:pointer;}
.fuzzyquery_query_tab td{
	text-align:left;
	font-size:12px;
	overflow:hidden;
	text-overflow: ellipsis;
	height: 22px;
	line-height: 22px;
	color: #A4A4A4;
	border-bottom: 0px #E6F1F9 dotted;
	word-break: keep-all;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;
	padding-left: 1px;
}
.fuzzyquery_query_tab td.t_status{color: #D7D7D7;width: 40px;}

.fuzzyquery_query_tab2{width:100%;table-layout: fixed;border: 0px;}
.fuzzyquery_query_tab2 tr{width:100%;cursor:pointer;}
.fuzzyquery_query_tab2 td{
	text-align:left;
	font-size:12px;
	overflow:hidden;
	text-overflow: ellipsis;
	height: 24px;
	line-height: 24px;
	color: #6E6E6E;
	border-bottom: 1px #EFF7FC solid;
	word-break: keep-all;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;
	padding-left: 3px;
	font-family: '微软雅黑';
}
.fuzzyquery_query_tab2 td.t_status{color: #D7D7D7;width: 90px;text-align: right;padding-right: 2px;}

.fuzzyquery_query_title td{border:0px;color:#393939;}
.fuzzyquery_query_row_hover{background-color:#2F9AE1;}/*行移上去的样式*/
.fuzzyquery_query_row_hover td{color: #fff !important;}
.fuzzyquery-floor{/*创建的底板IFRAME，如无特殊情况请勿修改*/
	width:0%;
	height:0%;
	z-index:998;
	position:absolute;
	filter='progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0)';
	left: 13px;
	top: 76px;
	border: 0px;
}

.right_message{
		margin:0px;
		padding:0px;
		background-image:url('/express/images/title_bg_01_wev8.png'); 
		height:31px;
		width:100%;
		position: relative;
	}
.right_items{ 
		height:25px;
		float:left;
		margin-top:4px;
		cursor:pointer;
		overflow:hidden;
		text-align:center;
	}
.right_items div{margin-top:5px;margin-left:12px;margin-right:12px;width:auto}
	
.right_items_focus{
			height:26px;
			font-weight:bold;
			background:#ffffff;
			border-left:1px solid #d8d8d8;
			border-top:1px solid #d8d8d8;
			border-right:1px solid #d8d8d8;
	}
	
.task_drop_list{position: absolute;width: auto;height: auto;text-align:left;z-index: 999;top: 83px;left: 803px;
				background: #fff;border: 1px #CACACA solid;display: none;
				border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;
				box-shadow:0px 0px 3px #CACACA;-moz-box-shadow:0px 0px 3px #CACACA;-webkit-box-shadow:0px 0px 3px #CACACA;
  				behavior:url(/express/css/PIE2.htc);}
.btn_add_type{width: auto;line-height: 25px;cursor: pointer;font-family: 微软雅黑;padding-left: 15px;padding-right:5px; }
.btn_add_type_over{width: auto;background-color: #75B5DF;color: #FAFAFA;padding-left: 15px; padding-right:5px;}
.tag_input{width: 60px; height: 15px;border-color:#999999; border-width:1px; border-style: solid; }
.labelName{white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;overflow: hidden; }
.title_bg{background-color:f0f5f8;color:#333;text-align: left;height: 30px;padding-left: 8px;vertical-align: middle;}
.title_remind{padding-top:6px;;font-weight: bold;margin-left: 3px;vertical-align: middle;background: url('../images/msg-remind_wev8.png') no-repeat 0px 6px;padding-left: 20px;height: 20px;}


#taskmain .sorttitle{width: 100%;cursor: pointer;padding-left: 0px;height: 28px;color: #000;overflow:hidden;border-bottom: 1px #F2F2F2 solid;margin-top: 0px;}
#taskmain .sorthead{font-weight: bold;font-size: 13px;line-height: 28px;margin-left: 5px;float: left;font-family: 微软雅黑;}
#taskmain .sorticon{width: 23px;height: 100%;float: left;background: #EFEFEF;}
#taskmain .tr_select td{background-color: #CEE4FF !important;border-bottom-color: #75B4FF !important;}
#taskmain .tr_blur td{background-color: #F7F7F7 !important;}
#taskmain .tr_hover td{background-color: #F9F9F9;}
#taskmain .tr_hover div.status1{background: url('/express/task/images/ing_wev8.png') center no-repeat;}

#taskmain .td_move,.td_blank{background-color: #EFEFEF !important;text-align: center;padding: 0px !important;border-top-color: #EFEFEF !important;border-bottom-color: #EFEFEF !important;border-right: 1px #EFEFEF solid;}
#taskmain .td_move div,.td_blank div{width: 100%;height: 100%;line-height: 28px;margin: 0px !important;padding: 0px !important;border: 0px !important;}
#taskmain .td_drag{padding: 0px;margin: 0px;}

#taskmain .td_drag{cursor: move !important;}
#taskmain .tr_hover .td_drag{background: url('/express/task/images/sprite_wev8.png') no-repeat -97px -748px;background-color: #F9F9F9 !important;}
#taskmain .tr_hover .td_move,.tr_hover .td_blank{background-color: #F9F9F9 !important;border-right-color: #F9F9F9;border-top-color: #fff !important;}
#taskmain .tr_hover .td_drag div{display: none;}

#taskmain .tr_hover .div_date{display:block}
#taskmain .tr_select .div_date{display:block}

#taskmain .tr_hover .check_input{display:block}
#taskmain .tr_select .check_input{display:block}

#taskmain .tr_select .td_drag{background: url('/express/task/images/sprite_wev8.png') no-repeat -97px -748px;background-color: #CEE4FF !important;border-right-color: #CEE4FF;border-top-color: #fff !important;border-bottom-color: #75B4FF !important;}
#taskmain .tr_select .td_move,.tr_select .td_blank{background-color: #CEE4FF !important;border-right-color: #CEE4FF;border-top-color: #fff !important;border-bottom-color: #75B4FF !important;}
#taskmain .tr_select .td_drag div{display: none;}
#taskmain .tr_select div.status1{background: url('/express/task/images/ing_wev8.png') center no-repeat;}

#taskmain .item_hrm a,.item_hrm a:hover,.item_hrm a:active,.item_hrm a:visited{color: #929292 !important;text-decoration: none !important;}
#taskmain .item_hrm a:hover{text-decoration: underline !important;}

#taskmain .div_level{width: 100%;height: 100%;}
#taskmain .div_date{width:18px;height:18px;line-height:18px;color:#ffffff;background: url('/express/images/data_icon_wev8.png') center center no-repeat;display:none}
#taskmain .div_date_show{display:block}

#taskmain .check_input{display:none};
#taskmain .check_input_show{display:blcok}
#taskmain .div_today{width: 100%;height: 100%;text-align: center;color:#929292;line-height:28px;}

#taskmain .listmore{background: url('/express/images/task_more_bg_wev8.png') repeat-x;height: 27px;line-height: 27px;text-align: center;}
#taskmain .listmore:hover{color:#000;font-weight:bold}

#taskmain .item_count{padding-left: 0px !important;text-align: center;}

#taskmain .item_att{width:18px;height:18px;line-height:18px;}
#taskmain .item_att0{background: url('/express/task/images/icon_special_wev8.png') left no-repeat;}
#taskmain .item_att1{background: url('/express/task/images/icon_special2_wev8.png') left no-repeat;}

#taskmain .main_btn{color:#786571}
#taskmain .menuitem1{height: 31px;line-height: 31px;border-right: 1px #E4E4E4 solid;color: #786571;cursor: pointer;float: left;text-align: center;width:50px;}
#taskmain .menuitem2{width:50px;text-align: center;height: 31px;line-height:31px;border-left: 1px #E4E4E4 solid;color: #786571;cursor: pointer;float:right;}

#taskmain .choose_type{color:blue}

.itemTitleDiv{position:absolute; white-space:nowrap;top:0px;text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
#taskmain #dragdiv{width:6px;height: 25px;background:#418dc1;position: absolute;top:5px;z-index:10;cursor:e-resize;}
#taskmain #detail{height:auto;position: absolute;top: 0px;right: 0px;bottom: 1px;z-index: 2;}
#taskmain #detaildiv{position: absolute;width: auto;height: auto;top:0px;bottom:0px;left:0px;right:0px;background: #fff;border-left: 1px #BFC5CC solid;overflow: hidden;}
#taskmain #view{position: absolute;height: auto;top:0px;bottom:0px;left:0px;right:0px;background: #fff;border-right: 1px #BFC5CC solid;}
#taskmain #taskmain{width: 100%;height: 100%;position: absolute;top: 0px;left: 0px;right: 0px;bottom: 0px;}
#taskmain #listtitle{width: 100%;height: 40px;position: relative;line-height: 40px;}
#taskmain #micon{position: absolute;left: 14px;top: 7px;width:100px;height: 25px;}
#taskmain #mtitle{position: absolute;left: 46px;top: 0px;line-height: 38px;font-weight: bold;;color: #2673ad}
#taskmain #mdept{margin-left: 15px;color: #000000;font-weight: normal;}
#taskmain #timeview{width:75px;height: 24px;position: absolute;right: 10px;top: 8px;cursor: pointer;}
#taskmain #listoperate{width: 100%;height:31px;background: url('/express/images/title_bg_01_wev8.png') repeat-x;position: relative;}
#taskmain .marrow{margin-left:5px;margin-bottom: 2px;}
#taskmain #listview{width: 100%;position: absolute;height: auto;top:71px;bottom: 0px;left: 0px;right: 0px;}
#taskmain #list{overflow: auto;position: absolute;top: 0px;bottom: 0px;left: 0;width: 100%;background-color: #fff;background: url('/express/task/images/line_wev8.png') left repeat-y;}


