table.liststyle {
    width: "100%";
    margin: 10px 0pt 15px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.liststyle tr.header th {
    COLOR: #000000;
    TEXT-ALIGN: left;
}
table.liststyle tr.Header td, TABLE.ListStyle TR.header TH, table.liststyle tr.header th, TABLE.BroswerStyle TR.DataHeader TH {
    height: 30px !important;
    line-height: 30px;
    padding: 0px 5px 0px 12px;
    cursor: pointer;
    color: #000;
    background-color: rgb(248,248,248);
    font-weight: normal;
    border-bottom: 2px solid #B7E0FE;
    border-collapse: collapse;
    text-align: left;
    font-size: 12px;
}

table.liststyle tr.DataLight td,table.liststyle tr.DataDark td{
	height: 30px !important;
    line-height: 30px;
    padding: 0px 5px 0px 12px;
    cursor: pointer;
    color: #000;
    font-weight: normal;
    border-bottom: 1px solid #F3F2F2;
    border-collapse: collapse;
    text-align: left;
    font-size: 12px;
}