html,body{-webkit-text-size-adjust:none;margin: 0px;}
*{font-size: 12px;font-family:'微软雅黑';outline:none;word-wrap : break-word;word-break:break-all;}
#main{width: 100%;height: 100%;position: absolute;top: 0px;left: 0px;right: 0px;bottom: 0px;}
#mine{width: 100%;height: auto;overflow: hidden;}
.lefttitle{background: none;color: #999999;font-weight: bold;cursor:default;
	width: 100%;height: 30px;margin-top: 0px;position: relative;border-bottom: 1px #d8d8d8 solid;}
.lefttxt{line-height: 20px;position: absolute;left: 10px;top: 10px;}
.cond_icon{width: 26px;height: 26px;line-height: 26px;text-align: center;position: absolute;
right: 5px;background: url('../images/menu_icon_2.png') center no-repeat;}

.leftmenu{width: 100%;height: 26px;margin-top: 0px;position: relative;cursor: pointer;color:#3A3A3A;}
.leftmenu_over{background: #CECECE;color:#fff;}
.leftmenu_select{background: url('../images/left_menu.png') left no-repeat;color:#fff;font-weight: bold;}
.lefttitle_select{font-weight: bold;color: #818181;}
.div_line{height:50%;border-bottom:2px #EEEFEF solid;float:left;}
.cond_txt{line-height: 26px;position: absolute;left: 10px;}

.dataTable{
	width:100%;
	border:0;
}
.dataTable th{
	text-align:left;
}

.headTr{
	background: #f1f1f1;
}

.searchTable{
	width:100%;
	height:100%;
	border:0;
	border-bottom:1px solid #d8d8d8;
}

.searchTable td{
	height:30px;
	line-height:30px;
}

.addTable{
	width:100%;
	border:0;
}

.addTable td{
	height:38px;
}

.searchDiv{
	width:100%;
	padding-top:24px;
	height:30px;
}

.dataDiv{
	padding:10px;
	height:auto;
}

.searchTxt{
	width:380px;
	height:24px;
	line-height:24px;
	border: 1px solid #ccc;
}

.btnDiv{
	width:70px;
	text-align: center;
	height:24px;
	line-height:24px;
	color:#808080;
	cursor: pointer;
	border: 1px #C5C5C5 solid;
	float:left;
	margin-right:20px;
}
.btnDiv_hover{
	border-color: #5581DA;
	background: #5581DA;
	color: white;
}

.addCoDiv{
	width:500px;
	height:320px;
	display: none;
}

.headTitleDiv{
	overflow:hidden;
	width:100%;
	height:40px;
	background:#4f81bd;
}

.addTitle{
	padding-left:10px;
	color:#fff;
	height:40px;
	line-height:40px;
	float: left;
}
.operatepanel{width: auto;height: 40px;float: right;margin-right: 5px;}
.btn_operate_add{
	width:90px;
	text-align: center;
	line-height:20px;
	cursor: pointer;
	margin-top:10px;
	margin-right:10px;
	float: left;
	color:#fff;
	border: 1px #fff solid;
}
.addTableDiv{
	width:100%;
	height: auto;
	position: relative;
	overflow: hidden;
}

.addTable td.title{
	color: #999999;
	padding-left: 20px;
	background: #FCFCFC;
	border-top: 1px #FCFCFC solid;
	border-bottom: 1px #FCFCFC solid;
}

.addTable td.data{border-top: 1px #fff solid;border-bottom: 1px #fff solid;}

.input_def{word-wrap:break-word;word-break:break-all;width: 90%;height:36px;line-height:36px;
border: 1px #fff solid;padding-left: 4px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;
border-bottom: 1px solid #ccc;
}
.input_def:hover{
	border-bottom: 1px solid #1A8CFF;
}


.menuTable{
	width:100%;
	height:99%;
}
.menuTable th{
	text-align: center;
	height:41px;
	line-height:41px;
	border-bottom: 1px solid #ccc;
}
.menuTable td{
	text-align: center;
}

.menuTree{
	padding-left:20px;
	border-bottom: 1px solid #f1f1f1;
}
.fstMenuTree{
	width:100%;
	height:60px;
	border: 1px solid #f1f1f1;
}
.secMenuTrZW{
	width:100%;
	height:30px;
}
.secMenuTrZW td{
	border-top: 1px solid #f1f1f1 !important;
	border-bottom: 1px solid #f1f1f1 !important;
}
.secMenu{
	border: none !important;
}
.menuTable2{
	width:100%;
}
.menuTable2 td{
	height:30px;
	line-height:30px;
	border:none;
	text-align:left;
}
.menuTable2 tr:hover{
	background: #f1f1f1;
}
.noneHover:hover{
	background: #fff !important;
}
.addMenuDiv{
	width:60px;
	text-align: center;
	line-height: 30px;
	height:30px;
	border: 1px solid #ccc;
	cursor: pointer;
	font-weight: normal;
}
.select_def{
	border: 1px solid #ccc;
	width:200px;
	height:24px;
}
.addSecMenu{
	padding-left:24px;
	height:18px;
	line-height:20px;
	cursor: pointer;
	background: url("../images/add.png") left no-repeat;
}
.delTd{
	cursor:pointer;
	height:16px;
	width:20px;
	padding-right:5px;
	display:none;
	background: url("../images/del.png") center no-repeat;
}
.editTd{
	cursor:pointer;
	height:16px;
	width:20px;
	padding-right:5px;
	display:none;
	background: url("../images/edit.png") center no-repeat;
}
.menuView{
	padding-top:20px;
	position:relative;
	width:100%;
	height:600px;
	background: url("../images/mobile.png") center no-repeat;
}
.menuView2{
	position: absolute;
	left:70px;
	top:496px;
	width:255px;
	height:38px;
}
.viewTable{
	width:100%;
	border:0;
	table-layout: fixed;
}
.viewTable td{
	height:38px;
	line-height:38px;
	border-right: 1px solid #ccc;
	cursor:pointer;
}
.viewMore{
	
}
.menuView3{
	position: absolute;
	background: #f1f1f1;
	width:120px;
	left:50px;
	bottom:130px;
	border-radius:3px;
	border:1px solid #cacaca;
	border-bottom: none;
	display:none;
	
}
.menuView3 table{
	width:100%;
}
.menuView3 table td{
	height:30px;
	line-height:30px;
	border-bottom: 1px solid #cacaca;
}
.menuView3 span{
	position:absolute;
	display: block;
	background: url("../images/down.png") center no-repeat;
	width:10px;
	height:5px;
	left: 55px;
	bottom:-4px;
	z-index:1;
}


*{font-size: 12px;font-family:'微软雅黑' !important;}
body{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
.w-100{
	width:100%;
}
.h-100{
	height:100%;
}
.topMenu{
	background: #f8f8f8;
	height:40px;
}
ul,li{
	margin: 0;
	padding:0;
}
#submenuUl{
	height:39px;
	border-bottom: 1px solid #e5e5e5;
	padding-left: 10px;
}
#submenuUl li{
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	height:39px;
	line-height: 39px;
	color: #6c6c6c;
	cursor: pointer;
	list-style: none;
}
#submenuUl li:hover{
	color:#2094ff;
}
.liSelected{
	color:#2094ff !important;
}
.coboxhead{
	background: #fff;
	height:60px;
	overflow: hidden;
}
.co_ultab{
	height:60px;
	overflow: hidden;
	float: left;
}
.co_navtab{
	height:18px;
	line-height: 18px;
	margin-left: 5px;
	font-size: 16px;
	margin-top:12px;
	text-align: left;
}
.co_tablogo{
	width:43px;
	height:60px;
	float:left;
	margin-left:0px; 
	background: url("../images/default.png") center no-repeat;
}
.co_tab_menu{
	width:732px;
	height:40px;
	line-height:40px;
	float:left;
	clear:both;
}
.co_tab_menu li {
	float: left;
	height: 40px;
	line-height: 43px;
	text-align: center;
	cursor: pointer;
	list-style-type: none;
	padding-left:5px;
	padding-right:5px;
	color:#B8B8B8;
	font-size:12px;
	font-weight:normal;
}
.co_tab_menu li a {
	color:#B8B8B8;
	display:inline-block;
	overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    word-break: keep-all;
    height:100%;
    *padding-top:5px;
}
.co_tab_menu li a:hover{
	color:  rgb(13,147,246) !important;
}

.co_tab_menu li.current a{
	color: rgb(13,147,246) !important;
}
.co_rightBorder{
	padding-left:5px;
	color:#B8B8B8;
	display:inline-block;
	height:100%;
	vertical-align:middle;
	font-size:12px;
}
.co_magic-line{
	position: absolute;
	left: 0;
	height: 19px !important;
	line-height: 2px !important;
	top:48px;
	background:url("../images/angle.png") center no-repeat;
}
.co_outbox{
	
	width:100%;
}
.co_rightBox {
	overflow:hidden;
	padding: 0px;
	margin: 0px;
	background: #fff;
	float:right;
	text-align:right;
	height:30px;
	white-space:nowrap;
	position:absolute;
	right:20px;
	line-height:30px;
}
.co_btn{
	padding-left:10px;
	padding-right:10px;
	height:24px;
	line-height:24px;
	color:#1098ff;
	background-color:#FFF;
	vertical-align:middle;
	border:1px solid #aecef1;
	cursor: pointer;
	float:left;
	margin-right:5px;
}
.co_btn:hover{
	background-color:#03a996 !important;
	color:white;
	border:1px solid #03a996;
}
.co_tab_box{
	width:100%;
	background:#fff;
	border-top:1px solid #DADADA;
	clear:both;
}
.co_tblForm{
	width:100%;
}
.co_tblForm .title{
	border-bottom: 1px solid #e6e6e6;
	text-align: left;
	padding:7px 5px;
	padding-left:20px;
}
.co_tblForm .data{
	background:#f8f8f8;
	border-bottom: 1px solid #e6e6e6;
	padding:7px 5px;
	text-align: left;
}
.input_def{
	width:80%;
	border: 1px solid #e9e9e2;
	height:26px;
	line-height: 26px;
	vertical-align: middle;
}
.textarea_def{
	width:80%;
	border: 1px solid #e9e9e2;
	line-height: 22px;
	vertical-align: middle;
	height:80px;
}
#openDiv .co_tblForm td{
	height:auto;
	padding-left:12px !important;
}
.co_dialog_bottom{
	position:absolute;
	left: 0px;
	bottom: 0px;
	background: #fafafa;
	padding:5px 0;
	z-index: 3;
	width:100%;
	border-top:1px solid #dadedb;
}
.co_dig_btn{
	color:#007aff;
	width: 50px;
	height:30px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	position: relative;
	top:0;
	vertical-align: middle;
	border: 0;
	margin: 0px 10px;
}
.co_dig_btn:hover{
	background: #2690ec;
	color: #fff;
}
.co_searchDiv{
	float:left;
	height:24px;
	border: 1px solid #f5f2f2;
	width:90px;
}
#co_searchBtn{
	width:20px;
	height:24px;
	background: url("../images/search.png") right no-repeat;
	cursor: pointer;
	float: left;
}
#searchText{
	width: 68px;
	height:22px;
	line-height:22px;
	border:0;
	float: left;
}
.msgBox{
	height:100%;
}
.msgTitle{
	height:44px;
	line-height: 44px;
	background: #eaeaea;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.msgTitle h2{
	height:44px;
	line-height: 44px;
	font-weight: 400;
	text-align: center;
	color: #222;
	font-size: 16px;
	padding:0;
	margin: 0;
}
.msgView{

}
.msgSend{
	padding:12px 20px;
	border-bottom: 1px solid #e5e5e5;
	height: 35px;
}
.msgSendText{
	float: left;
	line-height: 24px;
	font-size: 14px;
}
.msgSendUser{
	
}
.showUsers{
	height:24px;
	float: left;
}
.showUsers span{
	display: inline-block;
	line-height: 20px;
	margin-left: 10px;
	background: #eee;
	padding:2px 10px;
}
.msgSendUser a{
	color: #4a90e2;
	padding:0 10px;
	line-height: 24px;
	margin-left:10px;
	font-size: 14px;
}
.msgBar{
	padding:0 10px;
	height:40px;
	line-height: 40px;
	clear:both;
	border-bottom: 1px solid #e5e5e5;
}
.msgBarItem{
	float: left;
	padding:0 10px;
	line-height:37px;
	color:#999;
	font-size: 14px;
	cursor: pointer;
}
.itemSelect{
	border-bottom: 3px solid #4a90e2;
	color: #333;
}
.msgContent{
	margin-top:10px;
	padding:10px;
}
.msgContentDiv{
	border: 1px solid #ccc;
	min-height: 300px;
	min-width: 620px;
}
.msgContent textarea{
	border: 0;
	width:100%;
	height:300px;
}
.msgFooter{
	border-top: 1px solid #e5e5e5;
	padding:10px;
}
.selFooter{
	border-top: 1px solid #e5e5e5;
	width:100%;
	padding:10px 0px;
}
.msgFooterBtn{
	background: #2c8ec5;
	color: #fff;
	height:28px;
	line-height: 28px;
	padding:0 5px;
	width:60px;
	text-align: center;
	box-shadow:inset 0px 1px 1px 0px rgba(255,255,255,0.3);
	border-radius:2px;
	font-size: 14px;
	cursor: pointer;
	float: left;
}
.msgFooterCheckBox{
	float:left;
	margin-left:15px;
	height:30px;
	line-height:30px;
	font-size: 14px;
}
.msgTips{
	position: absolute;
	left: 50%;
	top:50%;
	margin-left:-40px;
	margin-top: -50px;
	line-height:40px;
	font-size: 16px;
	display: none;
}
.userTree{
	height:408px;
	width:299px;
	border-right:1px solid #e5e5e5;
	float: left;
	overflow:auto;
}
.userList{
	height:408px;
	float: left;
	overflow:auto;
	width:299px;
}
.userItem{
	padding-left:20px;
	height:36px;
	line-height:36px;
	border-bottom:1px solid #e5e5e5;
	overflow: hidden;
}
.userName{
	float: left;
	line-height:36px;
}
.userCheck{
	float:right;
	margin-right:20px;
	margin-top:5px;
}
.syncTips{
	float:left;
	height:40px;
	line-height: 24px;
	padding: 0 10px;
	font-size:14px;
	color:#000;
}
.co_leftBox{
	margin-left:191px;
	float:left;
}
.mcBrowser{
	background: url("../images/browser.png") center no-repeat;
	width:16px;
	height:16px;
	cursor: pointer;
	display:inline-block;
}
#showSelVal{
	margin-top:5px;
}

#showSelVal span{
	display: inline-block;
	line-height: 20px;
	margin-left: 10px;
	background: #eee;
	padding:2px 5px;
}
.docTree{
	padding:0 10px;
}
.docTreeTable tr{
	border-bottom: 1px solid #e5e5e5;
}
.guideBox{
	width:1024px;
	margin:20px auto;
	position:absolute;
	left:50%;
	margin-left:-512px;
	padding:15px;
	border: 1px solid #e5e5e5;
}
.guideTips{
	padding:0px 8px;
	background: #d9edf7;
	height:35px;
	line-height:35px;
	color:#31708f;
	border-radius:4px;
	box-shadow:inset 0 1px 0 rgba(255,255,255,.2);
	margin:20px 0px;
}
.guideTips2{
	background: #0179ff;
	height:50px;
	line-height:50px;
	color:#fff;
}
.guideForm{
	heihgt:200px;
	padding: 20px;
}
.guideText{
	padding-left:10px;
	height:32px;
	line-height: 32px;
	width:460px;
	border: 1px solid #e5e5e5;
}
.guideText:hover{
	border: 1px solid #63affc;
}

.guideBtn{
	height:32px;
	line-height: 32px;
	background: #65bd77;
	color: #fff;
	width:70px;
	text-align:center;
	border-radius:4px;
	box-shadow:inset 0 1px 0 rgba(255,255,255,.2);
	margin-left: 274px;
	float: left;
	cursor: pointer;
}
.guideError{
	color:#cd7f7d;
}
.guideTextError{
	border: 1px solid #cd7f7d;
}
.guideTextarea{
	padding-left:10px;
	width:460px;
	border: 1px solid #e5e5e5;
	vertical-align: top;
	line-height: 22px;
	height:80px;
}
.guideTextarea:hover{
	border: 1px solid #63affc;
}
.appStepDiv{
	height:75px;
}
.appStepItem{
	float:left;
	width:103px;
	height:75px;
	position:relative;
	text-align:center;
	color:#fff;
	line-height:60px;
	overflow:hidden;
	cursor:pointer;
	background: url("../images/guide/setp_common.png")  no-repeat 0 -76;
}
.appStepItem span{
	position: absolute;
	bottom: 0;
	left: 48px;
	line-height: 26px;
	color: #999;
}
.active{
	background-position: -103px -76px;
}
.active span{
	color: #0d7bff;
}
.appStepLine{
	width:11px;
	height:7px;
	overflow:hidden;
	float:left;
	margin: 26px 13px 0px 13px;
	background: url("../images/guide/setp_common.png")  no-repeat -206 -140;
}
.appStep2 strong{
	margin-top: 12px;
	display: block;
	font-weight: normal;
	line-height:16px;
}
.agentHost{
	height:46px;
}
.agentHost table{
	width:100%;
	height:100%;
}
.agentHost table td{
	border: 1px solid #e5e5e5;
}
.agentTd1{
	height:46px;
	background: #f1f1f1;
	color:#000;
	line-height: 46px;
	padding-left:10px;
	font-size: 16px;
}
.agentTd2{
	height:46px;
	line-height: 46px;
	padding-left:10px;
	font-size: 16px;
	color:#ccc;
}
.guideBtn_prev{
	border:1px solid #ccc;
	background: #fafafa;
	color:#999;
}
.diySpan{
	display: block;
	background: url("../images/wx.png") center no-repeat;
	background-position: -94px -30px;
	width:16px;
	height:16px;
	cursor: pointer;
	line-height:30px;
	float:right;
	margin-left:10px !important;
}
.deptOptDiv{
	position: absolute;
	width:120px;
	z-index:100;
	border: 1px solid #979797;
	box-shadow:2px 2px 2px #999;
	background: #fff;
	display:none;
}
.deptOptDiv .optItem{
	width:120px;
	height:34px;
	line-height:34px;
	text-align: center;
	color:#000;
	border-bottom: 1px solid #e2e2e3;
	cursor: pointer;
}

.optItem:hover{
	background: #e8eff7;
}
.ecDeptTree{
	width:250px;
	height:260px;
	display:none;
	position:absolute;
	background: #f1f1f1;
	z-index:200;
	box-shadow:2px 2px 2px #999;
	overflow:auto;
}
.copy-tips{
	position:fixed;
	z-index:999;
	bottom:50%;
	left:50%;
	margin:0 0 -20px -80px;
	background:#f1f1f1;
	color:#000;
	padding:10 30px;
}
.copy{
	text-align: center;
	background: #f1f1f1;
	font-size:14px;
	cursor: pointer;
	width:130px;
}
.browser_doc{
	margin-top:20px;
	margin-left:20px;
	text-align:center;
	width:83px;
	height:30px;
	border: 1px solid #c8c8c8;
	line-height: 30px;
	cursor:pointer;
	background: -webkit-linear-gradient(top,#fdfdfd 0,#e3e3e3 100%);
}
.docShow{
	padding:20px;
}
.docItem{
	background:url("../images/docx.png") left no-repeat;
	padding-left:24px;
	min-width:120px;
	height:24px;
	line-height:24px;
	margin-bottom:6px;
}
.synTime{
	float:left;
	margin-left:10px;
}
.synTime em{
	font-style: normal;
}
.selEcDept{
	width:16px;
	height:16px;
	cursor: pointer;
	background: url("../images/browser.png") center no-repeat;
}