<?xml version="1.0" encoding="UTF-8"?>
<MEC>
	<id>FPhoto</id>	<!-- id 插件唯一标识 -->
	<text>128156</text>  <!-- 拍照 -->
	<type>2</type>	<!-- 类型，方便对插件进行区分，目前已有：1.普通功能插件，2.表单插件 -->
	<isEnabled>1</isEnabled>	<!-- 是否启用，1或者不填写为启用，0或者其他非1值为禁用 -->
	<order>23</order>	<!-- 插件显示顺序，值越小则显示越靠前，不填写或者无此标签将为整数的最大值 -->
	
	<!-- 插件设计信息配置 -->
	<design>
		<unique>0</unique> <!-- 是否唯一，如果值为1则在自定义页面设计时一个页面最多只能添加一个这种控件，不为1或者不填写此属性则没有此限制 -->
		<resources>	<!-- 依赖资源 -->
			<resource type="js">/mobilemode/js/mec/handler/form/FPhoto_wev8.js?v=2017052601</resource>
			<resource type="css">/mobilemode/css/mec/handler/form/FPhoto_wev8.css</resource>
		</resources>
	</design>
	
	<!-- 插件运行信息配置 -->
	<run java="com.weaver.formmodel.mobile.mec.handler.form.FPhoto">
		<resources>	<!-- 依赖资源 -->
			<resource type="js">/mobilemode/js/imgdrawing/js/exif.min_wev8.js</resource>
			<resource type="js">/mobilemode/js/imgdrawing/js/ImageOrientationFix.min_wev8.js</resource>
			<resource type="css">/mobilemode/js/imgdrawing/css/imgdrawing_wev8.css?v=2017061601</resource>
			<resource type="js">/mobilemode/js/imgdrawing/imgdrawing_wev8.js?v=2017061601</resource>
			<resource type="js">/mobilemode/js/mec/run/form/FPhoto_wev8.js?v=2018041201</resource>
		</resources>
	</run>
	
	<!-- 内容模板 -->
	<contentTemplate>
		<edit>
			<![CDATA[
				<div class="Design_FPhoto_Container ${Design_Field_Required}" id="div${theId}">
					<div class="Design_FPhoto_Fieldlabel Formfield-Label" style="display:${displayLable}">${fieldlabel}</div>
					<div class="Design_FPhoto_EntryWrap" style="display:none;" data-value="${value}" id="photoEntryDefaultShowHtmlWrap${theId}">
						${defaultValueShowHtml}
					</div>
					<div class="Design_FPhoto_EntryWrap" id="photoEntryWrap${theId}">
						$mec_fphoto_forstart$
						<div class="Design_FPhoto_EntryBorder">
							<div class="Design_FPhoto_Entry" style="width:55px;height:55px;">
								<img docid="${docid}" class="lazy" data-original="/weaver/weaver.file.FileDownload?fileid=${imagefileid}" data-groupid="group_${theId}">
								</img>
							</div>
							<div class="Design_FPhoto_DeleteBtn" onclick="delFphoto(this, '${theId}', '${docid}');"></div>
						</div>
						$mec_fphoto_forend$
						<div class="Design_FPhoto_EntryBorder" id="photoBorder${theId}" style="${style}">
							<div class="Design_FPhoto_EntryBtn" id="entryBtn${theId}" style="width:55px;height:55px;">
								<input id="file${theId}" type="file" name="file" fileNum="0" class="upLoadFile" accept="image/*" single="single"  data-role="none"/>
							</div>
						</div>
					</div>
					<input type="hidden" name="fieldname_${fieldname}" id="photoField${theId}" mecid=${theId} value="${value}" fieldlabel="${fieldlabel}" require="${required}"/>
					<input type="hidden" name="type_${fieldname}" value="photo" />
				</div>
			]]>
		</edit>
		<view>
			<![CDATA[
				<div class="Design_FPhoto_Container ${Design_Field_Required}" id="div${theId}">
					<div class="Design_FPhoto_Fieldlabel Formfield-Label" style="display:${displayLable}">${fieldlabel}</div>
					<div class="Design_FPhoto_EntryWrap" style="display:none;" data-value="${value}" id="photoEntryDefaultShowHtmlWrap${theId}">
						${defaultValueShowHtml}
					</div>
					<div class="Design_FPhoto_EntryWrap" id="photoEntryWrap${theId}">
						$mec_fphoto_forstart$
						<div class="Design_FPhoto_EntryBorder">
							<div class="Design_FPhoto_Entry" style="width:55px;height:55px;">
								<img docid="${docid}" class="lazy" data-original="/weaver/weaver.file.FileDownload?fileid=${imagefileid}" data-groupid="group_${theId}">
								</img>
							</div>
						</div>
						$mec_fphoto_forend$
					</div>
					<input type="hidden" name="fieldname_${fieldname}" id="photoField${theId}" mecid=${theId} value="${value}" fieldlabel="${fieldlabel}" require="${required}"/>
					<input type="hidden" name="type_${fieldname}" value="photo" />
				</div>
			]]>
		</view>
		<hidden>
			<![CDATA[
				<div class="Design_FPhoto_EntryWrap" id="photoEntryWrap${theId}_${indexid}">
					$mec_fphoto_forstart$
					<div class="Design_FPhoto_EntryBorder">
						<div class="Design_FPhoto_Entry" style="width:55px;height:55px;">
							<img docid="${docid}" class="lazy" src="/weaver/weaver.file.FileDownload?fileid=${imagefileid}" data-groupid="group_${theId}">
							</img>
						</div>
						${deleteBtn}
					</div>
					$mec_fphoto_forend$
				</div>
				<input type="hidden" name="${detailtable}_${fieldname}_rowindex_${indexid}" id="${theId}_${indexid}" value="${value}" data-role="none" fieldlabel="${fieldlabel}"></input>
				<input type="hidden" name="type_${detailtable}_${fieldname}_${indexid}" value="photo" />
			]]>
		</hidden>
	</contentTemplate>
</MEC>
