 .colorpicker .item1{
 	background: #B54143;
 	border: 1px solid #B54143;
 }
 
 .colorpicker .item2{
 	background: #47A91C;
 	border: 1px solid #47A91C;
 }
 
  .colorpicker .item3{
 	background: #DB8933;
 	border: 1px solid #DB8933;
 }
 .colorpicker .item4{
 	background: #3796BF;
 	border: 1px solid #3796BF;
 }
 .colorpicker .item5{
 	background: #DF7BA6;
 	border: 1px solid #DF7BA6;
 }
 .colorpicker .item6{
 	background: #E5ACAE;
 	border: 1px solid #E5ACAE;
 }
 .colorpicker .item7{
 	background: #AEDFA3;
 	border: 1px solid #AEDFA3;
 }
 .colorpicker .item8{
 	background: #F3D1A8;
 	border: 1px solid #F3D1A8;
 }
 .colorpicker .item9{
 	background: #A5DAEA;
 	border: 1px solid #A5DAEA;
 }
 .colorpicker .item10{
 	background: #F4C9DF;
 	border: 1px solid #F4C9DF;
 }
 .colorpicker .item11{
 	background: #43BC97;
 	border: 1px solid #43BC97;
 }
 .colorpicker .item12{
 	background: #C7AD24;
 	border: 1px solid #C7AD24;
 }
  .colorpicker .item13{
 	background: #CF69E2;
 	border: 1px solid #CF69E2;
 }
 .colorpicker .item14{
 	background: #9D9D9D;
 	border: 1px solid #9D9D9D;
 }

 .colorpicker .item15{
 	background: #F4C9DF;
 	border: 1px solid #F4C9DF;
 }
 
 .colorpicker .item16{
 	background: #ABE7D9;
 	border: 1px solid #ABE7D9;
 }
 .colorpicker .item17{
 	background: #ECE0A5;
 	border: 1px solid #ECE0A5;
 }
 .colorpicker .item18{
 	background: #EFC0F6;
 	border: 1px solid #EFC0F6;
 }
  .colorpicker .item19{
 	background: #D9D9D9;
 	border: 1px solid #D9D9D9;
 }
  .colorpicker .item20{
 	background: #F1F1F1;
 	border: 1px solid #F1F1F1;
 }
 