/*
 *
 * The LCARS skin was written by Marco Hemmes.
 * Included by permission.
 *
 */


/* menu body */

.menu-body {
	background-color:	#000000;
	color:			#FF9F00;
	margin:				0;
	padding:			0px;
	overflow:			hidden;
	border:				0;
	cursor:				default;
}

.menu-body .outer-border {
	border:			1px solid rgb(81,81,81);
	padding:		9px 0px 0px 0px;
	background:	url("top_wev8.gif") top left;
}

.menu-body .inner-border {
	border:			0;
	padding:		0px;
	width:			100%;
	height:			100%;
	background-color:	#000000;
}

/* end menu body */

/*****************************************************************************/

/* menu items */

.menu-body td {
	font:			menu;
	height:			19px;
}

.menu-body td.empty-icon-cell {
	padding:	0px 2px 0px 9px;
	border:		0;
	background:	url("left_wev8.gif") center left;
}

.menu-body td.empty-icon-cell span {
	width:	16px;
}

.menu-body td.icon-cell {
	padding:	0px 2px 0px 9px;
	border:		0;
	background:	url("left_wev8.gif") center left;
}

.menu-body .hover td.icon-cell,
.menu-body .hover td.empty-icon-cell {
	background:	url("leftHighlight_wev8.gif") center left;
}

.menu-body .disabled-hover td.icon-cell,
.menu-body .disabled-hover td.empty-icon-cell {
	background:	url("leftHighlight-disabled_wev8.gif") center left;
}

.menu-body td.label-cell {
	width:		100%;
	padding:	0px 5px 0px 5px;
}

.menu-body td.shortcut-cell {
	padding:	0px 5px 0px 5px;
}

.menu-body .disabled td.label-cell,
.menu-body .disabled td.shortcut-cell {
        color: #CC6699;
}

.menu-body .hover td.label-cell,
.menu-body .hover td.shortcut-cell {
	background:	url("middle_wev8.gif") 0 0 repeat-x;
        color:  #000000;
}

.menu-body .disabled-hover td.label-cell,
.menu-body .disabled-hover td.shortcut-cell {
	background:	url("middle-disabled_wev8.gif") 0 0 repeat-x;
        color:  #000000;
}

.menu-body td.arrow-cell {
	width:			20px;
	padding:		0px 2px 0px 0px;
	color:		#FF9F00;
        font-family:    Webdings;
	font-size:		80%;
}

.menu-body .disabled td.arrow-cell {
        color:          #CC6699;
}

.menu-body .hover td.arrow-cell {
	color:		#000000;
	background:	url("right_wev8.gif") center right;
}

.menu-body .disabled-hover td.arrow-cell {
	color:		#000000;
	background:	url("right-disabled_wev8.gif") center right;
}

/* end menu items */

/*****************************************************************************/

/* disabled items */

/*
 * When the item becomes disbabled the innerHTML is enclosed by two spans
 * This is done so that the image will look disabled using filters
 */

.menu-body .disabled td.icon-cell img,
.menu-body .disabled-hover td.icon-cell img {
	filter:	alpha(opacity=40) gray();
}

/* end disabled items */

/*****************************************************************************/

/* separator */

.menu-body tr.separator {
	font-size:	0.001mm;
        padding:        0px;
        margin:         0px;
	background:	url("left-separator_wev8.gif") center left no-repeat;
}

.menu-body tr.separator td {
	padding:	0px 0px 0px 8px;
        margin:         0px;
        height:         10px;
}

.menu-body .separator-line {
	overflow:		hidden;
        height:         10px;
        margin:         0px;
        padding:        0px;
	background:	url("separator_wev8.gif") top right no-repeat;
}

/* end separator */

/*****************************************************************************/

/* Scroll buttons */

.menu-body #scroll-up-item td,
.menu-body #scroll-down-item td {
	font-family:	Webdings !important;
	text-align:		center;
	padding:		10px;
	background:	url("left_wev8.gif") center left no-repeat;
}


.menu-body #scroll-up-item,
.menu-body #scroll-down-item {
	width:		100%;
}

.menu-body #scroll-up-item td,
.menu-body #scroll-down-item td {
	font-family:	Webdings;
	text-align:		center;
	padding:		0px 5px 0px 5px;
	font-size:		10px;
}

/* end scroll buttons */

/*****************************************************************************/

/* radio and check box items */

.menu-body .check-box,
.menu-body .radio-button {
	width:			16px;
	text-align:		center;
	color:		#FF9F00;
}

.menu-body .hover .check-box,
.menu-body .hover .radio-button {
	color:		#000000;
}

.menu-body .checked .check-box {
	font-family:	Marlett;
	font-size:	150%;
}

.menu-body .checked .radio-button {
	font-family:	Marlett;
	font-size:	66%;
}

/* radio and check box items */

/*****************************************************************************/

/* Menu Bar */

.menu-bar {
/*	background:		#000000;*/
	cursor:			default;
	padding:		0px;
}

.menu-bar .menu-button {
	height:			19px;
	color:			Black;
	font:			11px Verdana;
	padding:		0px;
	border:			0;
	margin:			1px;
	display:		inline-block;
	white-space:	nowrap;
	cursor:			default;
}

.menu-bar .menu-button .left {
	display:	inline-block;
	width:		7px;
	height:		100%;
        margin-right:   1px;
	background:	url("middle_wev8.gif") 0 0 repeat-x;
}

.menu-bar .menu-button.disabled .left,
.menu-bar .menu-button.disabled-hover .left {
	background-image:	url("middle-disabled_wev8.gif");
}

.menu-bar .menu-button.hover .left {
	background-image:	url("middleHighlight_wev8.gif");
}

.menu-bar .menu-button.active .left {
        margin-right:   0px;
        padding-right:  1px;
	background-image:	url("middleHighlight_wev8.gif");
}

.menu-bar .menu-button .middle {
	padding:	2px 5px 1px 5px;
        margin:         0px;
	display:	inline-block;
	background:	url("middle_wev8.gif") 0 0 repeat-x;
	/*	height:		17px; */
	/* IE bug box model workaround */
	height:		expression(document.compatMode == "CSS1Compat" ? "16px" : "19px");

}

.menu-bar .menu-button.disabled .middle,
.menu-bar .menu-button.disabled-hover .middle {
	background-image:	url("middle-disabled_wev8.gif");
}

.menu-bar .menu-button.active .middle {
	background-image:	url("middleHighlight_wev8.gif");
}

.menu-bar .menu-button .right {
	display:	inline-block;
	width:		7px;
        padding:        0px;
        margin:         0px;
	height:		100%;
	background:	url("right_wev8.gif") center right no-repeat;
}

.menu-bar .menu-button.disabled .right,
.menu-bar .menu-button.disabled-hover .right {
	background-image:	url("right-disabled_wev8.gif");
}

.menu-bar .menu-button.active .right {
	background-image:	url("rightHighlight_wev8.gif");
}

/* End Menu Bar */
