html,body{
	margin: 0px;
	padding: 0px;
	font-family:"微软雅黑";
	font-size:12px;
}
.planDiv{
	width: auto;
	min-width:350px;
	overflow: hidden;
}
.planTab{
	min-width:350px;
	background: #fff;
	border-bottom: 1px #EBEBEB solid;
	padding:5px;
}
.planTabItem{
	width:70px;
	line-height:26px;
	border-top:2px #fff solid;
	text-align:center;
	float: left;
	cursor: pointer;
	border-right: 1px #EBEBEB solid;
	font-weight: bold;
}
.planTabItem span{
	color:red;
}
.planTabItem_hover{
	border-top-color:#F9F9F9;
	background: #F9F9F9;
}
.planTabItem_click{
	border-top-color: #3C75D2;
	background: #F6F6F6;
}
.planShow{
	width:100%;
	overflow-x:hidden;
	overflow-y:auto; 
}
.planRemind{
	width:100%;
	overflow:hidden;
}
.planTips{
	padding-left:10px;
	padding-top:3px;
	color:#666;
}
.planListTable{
	width:100%;
	table-layout:fixed;
	font-family:"微软雅黑";
	font-size:12px;
}
.planListTable td{
	height:24px;
	line-height:24px;
	padding-left:6px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
.planListTable th{
	text-align: left;
	padding-left:6px;
	height:24px;
	line-height:24px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}