<?xml version="1.0" encoding="UTF-8"?>
<MEC>
	<id>FBrowser</id>	<!-- id 插件唯一标识 -->
	<text>128152</text> <!-- 浏览按钮 -->
	<type>2</type>	<!-- 类型，方便对插件进行区分，目前已有：1.普通功能插件，2.表单插件 -->
	<isEnabled>1</isEnabled>	<!-- 是否启用，1或者不填写为启用，0或者其他非1值为禁用 -->
	<order>19</order>	<!-- 插件显示顺序，值越小则显示越靠前，不填写或者无此标签将为整数的最大值 -->
	
	<!-- 插件设计信息配置 -->
	<design>
		<unique>0</unique> <!-- 是否唯一，如果值为1则在自定义页面设计时一个页面最多只能添加一个这种控件，不为1或者不填写此属性则没有此限制 -->
		<resources>	<!-- 依赖资源 -->
			<resource type="js">/mobilemode/js/mec/handler/form/FBrowser_wev8.js</resource>
			<resource type="css">/mobilemode/css/mec/handler/form/FBrowser_wev8.css</resource>
		</resources>
	</design>
	
	<!-- 插件运行信息配置 -->
	<run java="com.weaver.formmodel.mobile.mec.handler.form.FBrowser">
		<resources>
		</resources>
	</run>
	
	<!-- 内容模板 -->
	<contentTemplate>
		<edit>
			<![CDATA[
				<div class="Design_FBrowser_Field Formfield-Wrap ${Design_Field_Required}" id="div${theId}">
					<div class="Design_FBrowserText_Fieldlabel Formfield-Label">${fieldlabel}</div>
					<div class="Design_FBrowserText_Fielddom Formfield-Content">
						<input type="text" style="display:none;" name="fieldname_${fieldname}" id="${theId}" value="${value}" data-role="none" fieldlabel="${fieldlabel}" require="${required}" fieldid="${fieldid}" fieldhtmltype="${fieldhtmltype}" browserid="${browserId}" browsername="${browserName}" onchange="${fieldTriggerEvent}"/>
						<div class="browser-name-wrap ${hasValueClass}">
							<span id="${theId}_span" class="browser-name" showname="${showname}" onclick="Mobile_NS.openBrowser('${theId}', '${theId}_span', '${browserId}', '${browserName}', '${fieldlabel}');">${showname}</span>
							<div class="browser-clear-btn" onclick="Mobile_NS.clearBrowser('${theId}', '${theId}_span');"></div>
							<div class="browser-flag" onclick="Mobile_NS.openBrowser('${theId}', '${theId}_span', '${browserId}', '${browserName}', '${fieldlabel}');"></div>
						</div>
					</div>
				</div>
			]]>
		</edit>
		<view>
			<![CDATA[
				<div class="Design_FBrowser_Field Formfield-Wrap ${Design_Field_Required}" id="div${theId}">
					<div class="Design_FBrowserText_Fieldlabel Formfield-Label">${fieldlabel}</div>
					<div class="Design_FBrowserText_Fielddom Formfield-Content">
						<input type="text" style="display:none;" name="fieldname_${fieldname}" id="${theId}" value="${value}" data-role="none" fieldlabel="${fieldlabel}" fieldid="${fieldid}" fieldhtmltype="${fieldhtmltype}" browserid="${browserId}" browsername="${browserName}" onchange="${fieldTriggerEvent}" require="${required}"/>
						<div class="browser-name-wrap read-view">
							<span id="${theId}_span" class="browser-name" showname="${showname}">${showname}</span>
						</div>
					</div>
				</div>
			]]>
		</view>
		<hidden>
			<![CDATA[
				<input type="hidden" name="${detailtable}_${fieldname}_rowindex_${indexid}" id="${theId}_${indexid}" value="${value}" data-role="none" fieldlabel="${fieldlabel}" fieldhtmltype="${fieldhtmltype}"></input>
				<span id="${theId}_span_${indexid}" class="" showname="${showname}">${showname}</span>
			]]>
		</hidden>
	</contentTemplate>
</MEC>
