
TABLE.ViewForm TD {
	background-color:#fff;
}
.outertable{
	/*
	border-collapse:collapse !important;
	border-style:solid !important;
	border-color: #005782 !important;
	border-width:1px !important;
	*/
}
.reqname{
	color:#000000 !important;
	font-size:16pt !important;
	font-weight:bold !important;
}
.maintable{
	border-collapse:collapse !important
	border-style:solid !important;
	border-color: #005782 !important;
	border-width:0px !important;
	margin-top:4px !important;
	text-align: left;
}
.fname{
	
	background-color: #ebf5ff !important;
	border:1px solid #b0d6fe!important;
	/*
	height: 20px !important;
	font-size:10pt !important;
	border-style:solid !important;
	border-color: #005782 !important;
	border-width:1px !important;
	*/
}
.fvalue{
	border:1px solid #b0d6fe!important;
	/*
	height: 20px !important;
	background-color: #FFFFFF !important;
	border-style:solid !important;
	border-color: #005782 !important;
	border-width:1px !important;
	*/
}

Table.form TR TD {
	padding:0px!important;
}

.detailtable{
	/*
	border-collapse:collapse !important;
	border-style:solid !important;
	border-color: #005782 !important;
	border-width:1px !important;
	*/
	border:1px solid  #b0d6ff!important;
}
.detailtitle{
	/*
	height: 20px !important;
	font-size:10pt !important;
	background-color: #C4E1FF !important;
	border-style:solid !important;
	border-color: #005782 !important;
	border-width:1px !important;
	*/
	background: #f0f8fe!important;
	border:1px solid #b0d6ff!important;
}
.detailfield{
	/*
	background-color: #FFFFFF !important;
	border-bottom-style:solid !important;
	border-bottom-color: #005782 !important;
	border-bottom-width:1px !important;
	*/
	border-bottom:1px solid #b0d6ff!important;
	padding:5px!important;
}
