.Design_DetailTable_FormPanel{
	margin-bottom:0px;
	margin-top:0px;
}
.Design_DetailTable_Datadetails{
	padding-bottom:10px;
}
.MADF_BaseInfo.MADF_Fields_Container{
	padding-left:0px;
	margin-bottom:0px;
}
.MADF_BaseInfo .Fields_Table{
	width:100%;
	border-collapse: collapse;
    table-layout: fixed;
}

.MADF_BaseInfo .Fields_Table td{
	padding:6px 3px 6px 0px;
	text-align:center;
	position:relative;
}

.MADF_BaseInfo .Fields_Table thead{
	font-size:12px;
	font-weight:bold;
}
.MADF_BaseInfo .Fields_Table thead td{
	border-bottom: 1px solid #dfdfdf;
}
.MADF_BaseInfo .Fields_Table tbody tr td:last-child{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#333;
}
.MADF_BaseInfo .Fields_Table tbody tr:HOVER td{
	background-color: #F8f8f8;
}

.MADF_BaseInfo .detail_table_empty_tip{
	color: #ccc;
    font-size: 14px;
    font-family: 'Microsoft Yahei',Arial,Helvetica,sans-serif;
    padding: 8px 5px 8px 10px;
    border: 1px dashed #ccc;
    margin-bottom:0px;
    margin-top:10px;
    text-align:center;
}
.MADF_BaseInfo .Fields_Table td.bemove{
	background: url("/mobilemode/images/tr_move2_wev8.png") no-repeat;
	background-position: left center;
	cursor: move;
}
.MADF_BaseInfo .Fields_Table td input{
	border: 1px solid #ccc;
    height: 20px;
    width: 90% !important;
}
.MADF_BaseInfo .Fields_Table td img{
	position:absolute;
	top:10px;
	right:-2px;
	cursor:pointer;
}
.MADF_BaseInfo div.MADF_FieldtypeHolder{
	background-color: #ffffff;
    font-weight: normal;
    height: 20px;
    position: relative;
    outline: none;
    display: inline-block;
    width: 80%;
    vertical-align: middle;
    border: 1px solid #dfdfdf;
	margin-bottom:0px;
}
.MADF_BaseInfo div.MADF_FieldtypeHolder_style8{
	width:100%;
}

.MADFDTABLE_SaveBtn, .MADFDTABLE_CancelBtn{
	background-color: #6ba3ed;
	border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'Microsoft Yahei',Arial,sans-serif;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 80px;
    zoom: 1;
}
.MADFDTABLE_PanelOkBtn{
	background-color: #006fc1;
    position: absolute;
    right: 100px;
    bottom:7px;
}
.MADFDTABLE_CancelBtn{
	background-color: #999;
    position: absolute;
    right: 10px;
    bottom:7px;
}
.MADFDTABLE_AddBtn{
	padding-left: 16px;
    background: url(/mobilemode/images/blue_add_wev8.png) no-repeat left center;
    color: #5d9cec;
    cursor: pointer;
    position:absolute;
    right:3px;
    top:15px;
}
.MADF_BaseInfo .Fields_Table tbody tr:HOVER .MADFDTABLE_btn_del{
	display:block;
}
.MADFDTABLE_btn_del{
	background: url("/images/messageimages/delete_wev8.gif") no-repeat center;
	position: absolute;
	right: 0px;
	top: 1px;
	width: 9px;
	height: 9px;
	display: none;
	cursor: pointer;
}

.MADFDTABLE_btn_edit{
	display: inline-block;
	background: url("/mobilemode/images/mec/lego_icon_d5b6388_wev8.png") no-repeat;
	cursor: pointer;
	margin-bottom: -2px;
	width: 11px;
	height: 12px;
	background-position: -15px -26px;
	margin-right: 3px;
}

.MADFDTABLE_hasValue:after{
	content : "";
	display:block;
	width:15px;
	height:15px;
	position:absolute;
	background: url(/mobilemode/browser/images/Check.png) no-repeat;
    background-size: 15px 15px;
    right: 2px;
}

.detailTableFieldpropsPanel{
    left: 700px;
    font-size: 9pt;
    vertical-align: top;
    position: fixed;
    top: 450px;
    margin: 0 auto;
    background: #fff;
    border: 2px solid #cfcfcf;
    overflow: hidden;
    height:200px;
    z-index: 2147483631;
    width:376px;
    display:none;
    -moz-box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.1);/*firefox*/ 
	-webkit-box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.1);/*webkit*/ 
	box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.1);
}
.detailTableFieldpropsPanel_style8{
	width:385px;
}
#detailTableFieldpropsPanel .PanelItem{
	padding-left: 10px;
    margin-bottom: 15px;
    color: #a6a7ab;
	display:none;
}

#detailTableFieldpropsPanel .panelContent {
	padding: 10px 10px 5px;
	box-sizing:border-box;
	height:160px;
	overflow-y:auto;
}

#detailTableFieldpropsPanel .panelFooter{
	position: absolute;
    margin: 0;
    padding: 0;
    height: 40px;
    width: 100%;
    border-top: 1px solid #e8e8e8;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    -moz-box-shadow:0 0 3px rgba(0,0,0,0.1);
    -webkit-box-shadow:0 0 3px rgba(0,0,0,0.1);
}

/*选择项样式*/
.MADF_BaseInfo .cbboxEntry{
	display: inline-block;
	position: relative;
}
.MADF_Textarea{
	border: 1px solid rgb(223, 223, 223);
	width: 275px;
	height: 106px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	overflow: auto;
}
.select_root_add{
	padding-left: 16px;
	/* padding-right: 14px; */
	background:url('/mobilemode/images/blue_add_wev8.png') no-repeat left center;
	color: #5d9cec;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	top: 0px;
	right: 0px;
}
.select_empty_tip{
	color: #ccc;
	font-size: 14px;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	padding: 9px 5px 9px 10px;	
	border: 1px dashed #ccc;
	display: none;
}
.MADFS_Table{
	border-collapse: collapse;
}
.MADFS_Table tr{
	height: 30px;
	border-bottom: 1px dashed #ccc;
}
.MADFS_Table tr:HOVER{
	background-color: #efefef;
}
.MADFS_Table tr td.bemove{
	width:20px;
	background: url("/mobilemode/images/tr_move2_wev8.png") no-repeat center;
	cursor: move;
}
/*浏览框样式*/
.MADFBro_Text2{
	width: 251px;
	width: 249px\9;
	border: 1px solid rgb(204, 204, 204);
	height: 20px;
	padding-left: 5px;
}
.MADFBro_BrowserBtn{
	width: 16px;
	height: 22px;
	background-image: url("/wui/theme/ecology8/skins/default/general/browser_wev8.png");
	background-color: rgba(0, 0, 0, 0);
	background-position: 0px 50%;
	background-repeat: no-repeat;
	position: absolute;
	left: 328px;
	top: 2px;
}
.MADFBro_BrowserBtn_style8{
	left: 262px;
}
.browsernameDiv{
	padding-left: 66px;position: relative;display:none;
}
.browsernameDiv_style8{
	padding-left: 0px;
}