#FButton{
	width: 45px;	
}
#FButton span{
	width: 45px;
}

.MADFBUTTON_Title{
	color: rgb(164, 169, 174);
	border-bottom: 1px solid rgb(223, 223, 223);
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 0px 6px 10px;
	position: relative;
}
.MADFBUTTON_FORM{
	padding-left: 10px;
	margin-top:5px;
	margin-bottom: 5px;
	color: rgb(166, 167, 171);	
}
.MADFBUTTON_BaseInfo_Label{
	width: 60px;
	display: inline-block;
	text-align: right;
	margin-right: 6px;
}
.MADFBUTTON_BaseInfo_Label_style8{
	width: 200px;
	display: block;
	text-align: left;
}
.MADFBUTTON_Select{
	border: 1px solid rgb(204, 204, 204);
	height: 25px;
	width:140px;
}

.fbutton_root_add{
	padding-left: 16px;
	padding-right: 14px;
	background:url('/mobilemode/images/blue_add_wev8.png') no-repeat left center;
	color: #5d9cec;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	right: 0px;
	bottom: 6px;
}
.MADFBUTTON_Content{
	padding: 10px 10px 0px 10px;	
}
.MADFBUTTON_Content ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	padding-left: 20px;
}
.MADFBUTTON_Content ul.fbutton_ul_root{
	padding-left: 0px;
}
.MADFBUTTON_Content ul li{
	padding: 0px 0px;
	border-left: 1px dashed #ccc;
}
.MADFBUTTON_Content ul li .fbutton_table_wrap{
	padding: 5px 0px;
	padding-left: 5px;
	border-bottom: 1px dashed #ccc;
	
}
.MADFBUTTON_Content ul li .fbutton_table_wrap .bemove{
	background: url("/mobilemode/images/tr_move2_wev8.png") no-repeat center;
	padding: 10px 0;
	cursor: move;
}
.MADFBUTTON_Content ul.fbutton_ul_root > li{
	border-left:none;
}
.MADFBUTTON_Content ul.fbutton_ul_root > li > .fbutton_table_wrap{
	padding-left: 0px;
	border-left:none;	
}
.MADFBUTTON_Content ul li .fbutton_table_wrap table{
	width: 100%;
	border-collapse: collapse;
}
.MADFBUTTON_Content ul li .fbutton_table_wrap table td{
	vertical-align: middle;
}
.fbutton_dis_buttonname{
	padding-left: 3px;
	max-width: 60px;
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
}
.touch_dis_sourcetype{
	
}
.fbutton_dis_actionvalue, .fbutton_dis_callbackfunction{
	padding-left: 3px;
	max-width: 90px;
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
}
.fbutton_btn_del,.fbutton_btn_edit{
	display: inline-block;
	background: url("/mobilemode/images/mec/lego_icon_d5b6388_wev8.png") no-repeat;
	cursor: pointer;
	margin-bottom: -2px;
}
.fbutton_btn_del{
	width: 12px;
	height: 12px;
	background-position: -10px -12px;
}
.fbutton_btn_edit{
	width: 11px;
	height: 12px;
	background-position: -15px -26px;
	margin-left: 3px;
}
.fbutton_empty_tip{
	color: #ccc;
	font-size: 14px;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	padding: 9px 5px 9px 10px;	
	border: 1px dashed #ccc;
	display: none;
}
.MADFBUTTON_Bottom{
	padding: 10px 0px 0px 10px;
	margin-bottom: 20px;		
}
.MADFBUTTON_SaveBtn{
	background-color: rgb(107, 163, 237);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	margin: 0px;
	text-align: center;
	width: 348px;
	zoom: 1;	
}