.MADFC_Title{
	border-bottom: 1px solid rgb(223, 223, 223);
	font-size: 12px;
	color: rgb(164, 169, 174);
	font-weight: bold;
	padding: 0px 0px 6px 10px;	
	margin-bottom: 10px;
}
.MADFC_Table{
	border-collapse: collapse;
}
.MADFC_Table tr{
	height: 30px;
	border-bottom: 1px dashed #ccc;
}
.MADFC_Table tr:HOVER{
	background-color: #efefef;
}
.MADFC_Table tr td.bemove{
	width:20px;
	background: url("/mobilemode/images/tr_move2_wev8.png") no-repeat center;
	cursor: move;
}
.MADFC_DataSource{
	color: rgb(166, 167, 171);	
}
.MADFC_DataSource div{
	margin-bottom: 4px;
}
.MADFC_DataSource .MADFC_DataSource_Label{
	width: 60px;
	display: inline-block;
	text-align: right;
	margin-right: 0px;	
}
.MADFC_DataSource .MADFC_DataSource_Label_style8{
	width: 72px;
}
.MADFC_BaseInfo{
	padding-left: 10px;
	margin-bottom: 15px;
	color: rgb(166, 167, 171);	
	padding-right: 10px;
}
.MADFC_BaseInfo div{
	margin-bottom: 10px;	
}
.MADFC_BaseInfo .MADFC_BaseInfo_Label{
	width: 60px;
	display: inline-block;
	text-align: right;
	margin-right: 6px;
}
.MADFC_BaseInfo .MADFC_BaseInfo_Label_style8{
	width: 200px;
	text-align: left;
	display: block;
}
.MADFC_BaseInfo .MADFC_BaseInfo_Label1_style8{
	width: 86px;
	text-align: left;
}
.MADFC_BaseInfo .MADFC_BaseInfo_Entry{
	margin-bottom: 8px;	
}
.MADFC_BaseInfo .MADFC_BaseInfo_Entry_Label{
	width: 60px;
	color: rgb(166,167,171);
	margin-right: 6px;
}
.MADFC_BaseInfo .cbboxEntry{
	display: inline-block;
	position: relative;
}
.cbboxEntry_style{
	width: 80px;
}
.cbboxEntry_style8{
	width: 150px;
}

.MADFC_BaseInfo .cbboxLabel{
	color: #999;
	font-size: 11px;
	position: absolute;
	top:2px;
	left:20px;
}
.MADFC_Textarea{
	border: 1px solid rgb(223, 223, 223);
	width: 343px;
	height: 106px;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	font-size: 12px;
	overflow: auto;
	padding: 5px;
}
.MADFC_Select{
	border: 1px solid rgb(204, 204, 204);
	width: 135px;
	height: 25px;
}
.MADFC_Bottom{
	padding: 10px 0px 0px 10px;
	margin-bottom: 5px;		
}
.MADFC_Textarea_Focus{
	border: 1px solid #5D9CEC;
}
.Design_FSelect_Tip{
	color: #bbb;
	font-size: 14px;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	padding: 9px 5px 9px 22px;	
}
.MADFC_SaveBtn{
	background-color: rgb(107, 163, 237);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	margin: 0px;
	text-align: center;
	width: 348px;
	zoom: 1;	
}
.checkbox_root_add{
	padding-left: 16px;
	/* padding-right: 14px; */
	background:url('/mobilemode/images/blue_add_wev8.png') no-repeat left center;
	color: #5d9cec;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	top: 0px;
	right: 0px;
}
.checkbox_empty_tip{
	color: #ccc;
	font-size: 14px;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	padding: 9px 5px 9px 10px;	
	border: 1px dashed #ccc;
	display: none;
}
.MADFC_Text{
	-webkit-appearance: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-writing-mode: horizontal-tb;
	border: 1px solid rgb(223, 223, 223);
	background-color: rgb(255, 255, 255);
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	box-sizing: border-box;
	cursor: auto;
	display: inline-block;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 26px;
	letter-spacing: normal;
	line-height: 19px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(0, 0, 255);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	text-align: start;
	text-indent: 7px;
	text-shadow: none;
	text-transform: none;
	width: 262px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	zoom: 1;	
}
.MADFC_Text_NAME{
	-webkit-appearance: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-writing-mode: horizontal-tb;
	border: 1px solid rgb(223, 223, 223);
	background-color: rgb(255, 255, 255);
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	box-sizing: border-box;
	cursor: auto;
	display: inline-block;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 26px;
	letter-spacing: normal;
	line-height: 19px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(0, 0, 255);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	text-align: start;
	text-indent: 7px;
	text-shadow: none;
	text-transform: none;
	word-spacing: 0px;
	writing-mode: lr-tb;
	zoom: 1;
	height: 20px;
	line-height: 10px;	
}

.MADFC_Text_VALUE{
	-webkit-appearance: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-writing-mode: horizontal-tb;
	border: 1px solid rgb(223, 223, 223);
	background-color: rgb(255, 255, 255);
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	box-sizing: border-box;
	cursor: auto;
	display: inline-block;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 26px;
	letter-spacing: normal;
	line-height: 19px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(0, 0, 255);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	text-align: start;
	text-indent: 7px;
	text-shadow: none;
	text-transform: none;
	word-spacing: 0px;
	writing-mode: lr-tb;
	zoom: 1;	
	height: 20px;
	line-height: 10px;
}
.MADFC_Textarea{
	border: 1px solid rgb(223, 223, 223);
	width: 275px;
	height: 106px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	overflow: auto;
}
.checkbox_btn_del{
	display: inline-block;
	background: url("/mobilemode/images/mec/lego_icon_d5b6388_wev8.png") no-repeat;
	cursor: pointer;
	margin-bottom: -2px;
	width: 12px;
	height: 12px;
	background-position: -10px -12px;
}
.MADFC_BaseInfo .fcheckbox_btn_edit{
	display: inline-block;
	background: url("/mobilemode/images/mec/lego_icon_d5b6388_wev8.png") no-repeat;
	cursor: pointer;
	margin-bottom: -2px;
	width: 11px;
	height: 12px;
	background-position: -15px -26px;
}
.fcheckbox_param_paramValue{
	margin-left: 5px;
}
.MADFC_fieldSearch{
	border: 1px solid rgb(223, 223, 223);
	height: 20px;
	width:115px;
	background-image: url('/formmode/images/btnSearch_wev8.png');
	background-repeat: no-repeat;
	background-position: 98px center;
}
.MADFC_fieldSearchTip{
	position: absolute;
	left: 5px;
	top: 4px;
	color: #ccc;
	font: 12px Microsoft YaHei;
	font-style: italic;
}

.MADFC_FieldSearchResult{
	position: absolute;
	top: 92px;
	right: 2px;
	z-index: 100001;
	margin: 0px;
	padding: 3px 5px;
	height: 62px;
	width: 160px;
	overflow: auto;
	background-color: #fff;
	border: 1px solid #e9e9e9;
	display: none;
}
.MADFC_FieldSearchResult_style8{
	top: 123px;
	right: 52px;
}
.MADFC_FieldSearchResult ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.MADFC_FieldSearchResult ul li{
	border-bottom: #eee 1px dotted;
}
.MADFC_FieldSearchResult ul li a{
	padding: 2px 0px 2px 2px;
	text-decoration: none;
	color: #333;
	display: block;
}
.MADFC_FieldSearchResult ul li a:hover{
	background-color: #0072C6;
	color: #fff;
}
.MADFC_FieldSearchResult ul li .tip{
	padding: 2px 0px 2px 2px;
	color: #ccc;
}
.cbTypeTip_desc{
	display: inline-block;
	margin-left:67px;
	border: 1px dotted #aaa;
	padding: 3px;
	display:none;
}

.cbTypeTip_desc_style8{
	margin-left:0;
}


