#FInputText, #FInputText span{
	width: 45px;
}
.Design_FInputText_Fielddom{
	margin-right: 4px;
}
.MADFI_Title{
	border-bottom: 1px solid rgb(223, 223, 223);
	font-size: 12px;
	color: rgb(164, 169, 174);
	font-weight: bold;
	padding: 0px 0px 6px 10px;	
	margin-bottom: 10px;
}
.MADFI_BaseInfo{
	padding-left: 10px;
	margin-bottom: 15px;
	color: rgb(166, 167, 171);	
}
.MADFI_BaseInfo div{
	margin-bottom: 10px;	
}
.MADFI_BaseInfo .MADFI_BaseInfo_Label{
	width: 60px;
	display: inline-block;
	text-align: right;
	margin-right: 6px;
}
.MADFI_BaseInfo .MADFI_BaseInfo_Label_style8{
	width: 200px;
	text-align: left;
	display: block;
}
.MADFI_BaseInfo .MADFI_BaseInfo_Label1_style8{
	width: 86px;
	text-align: left;
}
.MADFI_Select{
	border: 1px solid rgb(204, 204, 204);
	height: 25px;
	width:135px;
}
.MADFI_Text{
	-webkit-appearance: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-writing-mode: horizontal-tb;
	border: 1px solid rgb(223, 223, 223);
	background-color: rgb(255, 255, 255);
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	box-sizing: border-box;
	cursor: auto;
	display: inline-block;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 26px;
	letter-spacing: normal;
	line-height: 19px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(0, 0, 255);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	text-align: start;
	text-indent: 7px;
	text-shadow: none;
	text-transform: none;
	width: 262px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	zoom: 1;	
}
.MADFI_Textarea{
	border: 1px solid rgb(223, 223, 223);
	width: 275px;
	height: 106px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	overflow: auto;
}
.MADFI_Bottom{
	padding: 0px 9px 0px 9px;
	margin-bottom: 5px;		
}
.MADFI_SaveBtn{
	background-color: rgb(107, 163, 237);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	margin: 0px;
	text-align: center;
	width: 100%
	zoom: 1;	
}
.MADFI_BaseInfo .finput_btn_edit{
	display: inline-block;
	background: url("/mobilemode/images/mec/lego_icon_d5b6388_wev8.png") no-repeat;
	cursor: pointer;
	margin-bottom: -2px;
	width: 11px;
	height: 12px;
	background-position: -15px -26px;
}
.MADFI_BaseInfo .fbtn_edit{
	top: 7px;
	right: 36px;
}
.MADFI_BaseInfo .fbtn_edit_style8{
	top: 20px;
	right: 120px;
}
.finput_param_paramValue{
	margin-left: 5px;
}
.jNiceCheckbox {
	margin-bottom: -2px;
}
.MADFI_fieldSearch{
	border: 1px solid rgb(223, 223, 223);
	height: 20px;
	width:115px;
	background-image: url('/formmode/images/btnSearch_wev8.png');
	background-repeat: no-repeat;
	background-position: 98px center;
}
.MADFI_fieldSearchTip{
	position: absolute;
	left: 5px;
	top: 4px;
	color: #ccc;
	font: 12px Microsoft YaHei;
	font-style: italic;
}

.MADFI_FieldSearchResult{
	position: absolute;
	top: 92px;
	right: 11px;
	z-index: 100001;
	margin: 0px;
	padding: 3px 5px;
	height: 62px;
	width: 160px;
	overflow: auto;
	background-color: #fff;
	border: 1px solid #e9e9e9;
	display: none;
}
.MADFI_FieldSearchResult_style8{
	top: 123px;
	right: 52px;
}
.MADFI_FieldSearchResult ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.MADFI_FieldSearchResult ul li{
	border-bottom: #eee 1px dotted;
}
.MADFI_FieldSearchResult ul li a{
	padding: 2px 0px 2px 2px;
	text-decoration: none;
	color: #333;
	display: block;
}
.MADFI_FieldSearchResult ul li a:hover{
	background-color: #0072C6;
	color: #fff;
}
.MADFI_FieldSearchResult ul li .tip{
	padding: 2px 0px 2px 2px;
	color: #ccc;
}