
/*左侧区域背景颜色及边框颜色*/
#LEFTMENUCONTAINER{
	BACKGROUND:#D3C0C0;BORDER-LEFT:1PX SOLID #70292C;BORDER-RIGHT:1PX SOLID #C5E0E4;
}
/*左侧区域背景颜色及边框颜色*/
#LEFTMENU-BOTTOM {
	BACKGROUND-COLOR:#FFDEDF;BORDER-LEFT:1PX SOLID #E35051;BORDER-RIGHT:1PX SOLID #E35051;
}
/*左侧菜单导航*/
.LEFTMENUTOPNAVDIV {
	BORDER-TOP:1PX SOLID #FF5E39;
}
#DRILLCRUMB {
	BACKGROUND:#FF5E39;
	BORDER-TOP:1PX SOLID #FF7F4D;
	BORDER-LEFT:1PX SOLID #E35051;
	BORDER-BOTTOM:1PX SOLID #E35051;
	BORDER-RIGHT:1PX SOLID #E35051;
}
/*左侧菜单底部导航*/
.LEFTMENUBOTTOMNAVDIV{
	BORDER-TOP:1PX SOLID #FF5E39;
	BACKGROUND:#FF5E39;
}
.LEFTMENUBOTTOMNAVTBL {
	BORDER-TOP:1PX SOLID #ff7f4d;
	BORDER-LEFT:1PX SOLID #E35051;
	BORDER-BOTTOM:1PX SOLID #E35051;
	BORDER-RIGHT:1PX SOLID #E35051;
}
