.wraper
        {
            
        }
        .list
        {
            width: 200px;
            max-height: 200px;
            overflow: auto;
            position: absolute;
            border: 1px solid #cccccc;
            display: none;
            float: left;
            z-index: 1000000;
        }
        .list ul li span
        {
            padding-left: 10px;
        }
        
        .list ul li
        {
            padding-left: 10px;
            padding-top: 2px;
            padding-bottom: 2px;
        }

        ul
        {
           list-style:none outside none;
        }
        .caret{
           margin-left:0px;
           display: inline-block;
           width: 0;
           height: 0;
           margin-left: 2px;
           vertical-align: middle;
           border-top: 4px solid;
           border-right: 4px solid transparent;
           border-left: 4px solid transparent;
        }
        b, strong{
           font-weight:700;
        }
        
        .spanSelect-default {
            color: #333;
            background-color: #fff;
        }
        .spanSelect {
            line-height:24px;
            display: inline-block;
            padding: 0px 12px;
            margin-bottom: 0;
            font-size: 12px;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            /*border-radius: 4px;*/
            border:1px solid #ccc;
        }