/*左侧区域背景颜色及边框颜色*/
#LEFTMENUCONTAINER{
	BACKGROUND:#DEE1D8;BORDER-LEFT:1PX SOLID #688213;BORDER-RIGHT:1PX SOLID #AEC4C7;
}
/*左侧区域背景颜色及边框颜色*/
#LEFTMENU-BOTTOM {
	BACKGROUND-COLOR:#EFF4EB;BORDER-LEFT:1PX SOLID #B6C19F;BORDER-RIGHT:1PX SOLID #B6C19F;
}
/*左侧菜单导航*/
.LEFTMENUTOPNAVDIV {
	BORDER-TOP:1PX SOLID #B6C19F;
}
#DRILLCRUMB {
	BACKGROUND:#B8CC44;
	BORDER-TOP:1PX SOLID #D1DE5C;
	BORDER-LEFT:1PX SOLID #B6C19F;
	BORDER-BOTTOM:1PX SOLID #B6C19F;
	BORDER-RIGHT:1PX SOLID #B6C19F;
}
/*左侧菜单底部导航*/
.LEFTMENUBOTTOMNAVDIV{
	BORDER-TOP:1PX SOLID #B6C19F;
	BACKGROUND:#B8CC44;
}
.LEFTMENUBOTTOMNAVTBL {
	BORDER-TOP:1PX SOLID #D1DE5C;
	BORDER-LEFT:1PX SOLID #B6C19F;
	BORDER-BOTTOM:1PX SOLID #B6C19F;
	BORDER-RIGHT:1PX SOLID #B6C19F;
}
