.e8_box_s{
	width: 230px; 
	}
.e8_box_d { 
	width: 230px; 
	}

.e8_box_topmenu{
    width: 100%;
    height: 40px;
    border:none;
    line-height:40px;
    text-align:left;
     background-color:#fff;
     border-collapse:collapse;
}

.e8_box_topmenu input{
	height:auto;
	width:auto;
}

.e8_box_middle{
    height: 240px;
    overflow: hidden;
    position:relative;
}

.e8_box_topmenu thead td{
	text-overflow:ellipsis;
	white-space:nowrap;
}