.MADButton_title{
	color: rgb(164, 169, 174);
	border-bottom: 1px solid rgb(223, 223, 223);
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 0px 6px 10px;
	position: relative;
}
.button_title_add{
	padding-left: 16px;
	padding-right: 14px;
	background:url('/mobilemode/images/blue_add_wev8.png') no-repeat left center;
	color: #5d9cec;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	right: 0px;
	bottom: 6px;
}
.MADButton_style{
	padding-left: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
}
.MADButton_style_label{
	width: 60px;
	color: rgb(166,167,171);
	margin-right: 6px;
}
.MADButton_style .cbboxEntry{
	display: inline-block;
	position: relative;
}
.MADButton_style .cbboxLabel{
	color: #999;
	font-size: 11px;
	position: absolute;
	top:2px;
	left:20px;
}
.MADButton_Content{
	padding: 10px 10px 0px 10px;
}
.MADButton_Content ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.MADButton_Content ul li{
	padding: 0px 0px;
}
.MADButton_Content ul li:hover{
	background-color: #efefef;
}
.MADButton_Content ul  li .delFlag{
	background: url("/images/messageimages/delete_wev8.gif") no-repeat center;
	position: absolute;
	right: 12px;
	top: 1px;
	width: 15px;
	height: 15px;
	display:none;
	cursor: pointer;
}

.MADButton_Content .button_ul_root_header{
	color: #a4a9ae;
	border-bottom: 1px solid #dfdfdf;
	font-weight: bold;
	padding-bottom: 5px;
	font-size: 12px;
}
.MADButton_Content .numremindEditFlag{
	background: url("/mobilemode/images/toolbar/tbar01_wev8.png") no-repeat;
	width: 15px;
	height: 18px;
	cursor: pointer;
	margin-bottom: -4px;
	display:none;
}
.MADButton_Content .button_ul_root_header span{
	display:inline-block;
	text-align: left;
}
.MADButton_Content ul li .button_table_wrap{
	padding: 5px 0px;
	border-bottom: 1px dashed #ccc;
}
.MADButton_Content ul li .button_table_wrap table{
	width: 100%;
	border-collapse: collapse;
}
.MADButton_Content ul li .button_table_wrap table td{
	vertical-align: middle;
}
.MADButton_Content ul li .button_table_wrap table td.bemove{
	background: url("/mobilemode/images/tr_move2_wev8.png") no-repeat center;
	cursor: move;
}
.button_dis_buttonName{
	max-width: 80px;
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
}
.button_btn_del, .button_btn_edit{
	display: inline-block;
	background: url("/mobilemode/images/mec/lego_icon_d5b6388_wev8.png") no-repeat;
	cursor: pointer;
	margin-bottom: -2px;
}
.button_btn_del{
	width: 12px;
	height: 12px;
	background-position: -10px -12px;
}
.button_btn_edit{
	width: 11px;
	height: 12px;
	background-position: -15px -26px;
	margin-left: 5px;
}
.button_empty_tip{
	color: #ccc;
	font-size: 14px;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	padding: 9px 5px 9px 10px;	
	border: 1px dashed #ccc;
}
.MADButton_Bottom{
	padding: 10px 10px 0px 10px;
	margin-bottom: 20px;
}
.MADButton_SaveBtn{
	background-color: rgb(107, 163, 237);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	margin: 0px;
	text-align: center;
	zoom: 1;
}