
.MADChart2_Title{
	border-bottom: 1px solid rgb(223, 223, 223);
	font-size: 12px;
	color: rgb(164, 169, 174);
	font-weight: bold;
	padding: 0px 0px 6px 10px;	
	margin-bottom: 10px;
}
.MADChart2_Title .line_gradientColor_add, .MADChart2_Title .shadow_gradientColor_add{
	padding-left: 16px;
	padding-right: 2px;
	background: url('/mobilemode/images/blue_add_wev8.png') no-repeat left center;
	color: #5d9cec;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	right: 8px;
	bottom: 5px;
}
.MADChart2_ColorView{
	padding: 0px 10px;
	margin: -5px 0px 10px 0px;
}
.MADChart2_ColorView .chart2_linecolor_empty_Tip, .MADChart2_ColorView .chart2_shadowcolor_empty_Tip{
	color: #ccc;
	font-size: 14px;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	padding: 9px 5px 9px 10px;
	border: 1px dashed #ccc;
	display: none;
}
.MADChart2_ColorView > ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.MADChart2_ColorView > ul table{
	border-collapse: collapse;
	width: 100%;
}
.MADChart2_ColorView > ul table td{
	padding: 5px 0px;
	border-bottom: 1px dashed #ccc;	
}
.MADChart2_ColorView > ul table td.bemove{
	background: url("/mobilemode/images/tr_move2_wev8.png") no-repeat;
	background-position: left center;
	cursor: move;
}
.MADChart2_ColorView > ul input{
	border: 1px solid rgb(204, 204, 204);
	height: 20px;
	padding-left: 3px;
}
.MADChart2_ColorView > ul button, #MADChart2_LineInfoContent button{
	border: 1px solid rgb(204, 204, 204);
	width:20px;
	height: 20px;
	margin-left: 10px;
}
.MADChart2_DataSource{
	padding-left: 10px;
	margin-bottom: 15px;
	color: rgb(166, 167, 171);	
}
.MADChart2_DataSource div{
	margin-bottom: 10px;	
}
.MADChart2_DataSource .MADChart2_DataSource_Label{
	width: 60px;
	display: inline-block;
	text-align: right;
	margin-right: 0px;	
}
.MADChart2_DataSource .MADChart2_DataSource_Label_style8{
	width: 72px;
}
.MADChart2_BaseInfo{
	padding-left: 10px;
	margin-bottom: 15px;
	color: rgb(166, 167, 171);	
}
.MADChart2_BaseInfo div{
	margin-bottom: 10px;	
}
.MADChart2_BaseInfo .MADChart2_BaseInfo_Label, .MADChart2_ColorView .MADChart2_ColorView_Label{
	width: 60px;
	display: inline-block;
	text-align: right;
	margin-right: 0px;
	color: rgb(166, 167, 171);	
}
.MADChart2_BaseInfo .MADChart2_BaseInfo_Label_style8{
	width: 50px;
	text-align: left;
}
.MADChart2_BaseInfo .MADChart2_BaseInfo_Label1_style8{
	width: 100px;
	text-align: left;
}
.MADChart2_Select{
	border: 1px solid rgb(204, 204, 204);
	height: 25px;
}
.MADChart2_Text{
	-webkit-appearance: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-writing-mode: horizontal-tb;
	border: 1px solid rgb(223, 223, 223);
	background-color: rgb(255, 255, 255);
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	box-sizing: border-box;
	cursor: auto;
	display: inline-block;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 26px;
	letter-spacing: normal;
	line-height: 19px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(0, 0, 255);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	text-align: start;
	text-indent: 7px;
	text-shadow: none;
	text-transform: none;
	width: 265px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	zoom: 1;	
}
.MADChart2_Textarea{
	border: 1px solid rgb(223, 223, 223);
	width: 260px;
	height: 106px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	overflow: auto;
}
.MADChart2_Textarea_Focus{
	border: 1px solid #5D9CEC;
}
.MADChart2_Bottom{
	padding: 0px 9px 0px 9px;
	margin-bottom: 5px;		
}
.MADChart2_SaveBtn{
	background-color: rgb(107, 163, 237);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	margin: 0px;
	text-align: center;
	width: 100%
	zoom: 1;	
}
.MADChart2_Tip{
	padding: 3px 0px 0px 10px;
	color: rgb(166, 167, 171);
	line-height: 20px;	
}

.MADChart2_Container .jNiceCheckbox{
	margin-bottom: -1px;	
}

.Design_Chart2_Tip{
	color: #bbb;
	font-size: 14px;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	padding: 9px 5px 9px 22px;	
}
.MADChart2_Tip{
	margin-left:58px;
	display:none;
}
.MADChart2_Tip_style8{
	margin-left:-8px;
}
