#EMobile50Head{
	width: 45px;	
}
#EMobile50Head span{
	width: 45px;
}

.eMobile50HeadContainer{
	height:35px;
	background-color: rgb(107, 163, 237);
	color:#fff;
	padding:0px 50px;
}
.eMobile50HeadContainer .leftTD{
	position: absolute;
	top:0px;
	left:0px;
	height: 35px;
	line-height: 35px;
	width: 50px;
	text-align: center;
}
.eMobile50HeadContainer .centerTD{
	height: 35px;
	line-height: 35px;
	text-align:center;
}
.eMobile50HeadContainer .rightTD{
	position: absolute;
	top:0px;
	right:0px;
	height: 35px;
	line-height: 35px;
	width: 50px;
	text-align: center;
}

.MADEMobile50Head_Title {
	border-bottom: 1px solid rgb(223, 223, 223);
	padding: 0px 0px 6px 10px;
	margin-bottom: 10px;
}
.MADEMobile50Head_Title span {
	color: rgb(164, 169, 174);
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	height: 17px;
	line-height: 17px;
}
.MADEMobile50Head_Title span.chosed {
	color: rgb(93, 156, 236);
	font-weight: bold;
}
.MADEMobile50Head_Title span.leftBtnFlag {
	border-right: 1px solid rgb(164, 169, 174);
	padding-right: 13px;
}
.MADEMobile50Head_Title span.middleBtnFlag {
	padding-left: 13px;
	padding-right: 13px;
}
.MADEMobile50Head_Title span.rightBrnFlag {
	border-left: 1px solid rgb(164, 169, 174);
	padding-left: 13px;
}
.MADEMobile50Head_BaseInfo {
	padding: 0px 0px 6px 10px;
}
.MADEMobile50Head_BaseInfo .MADEMobile50Head_BaseInfo_Entry {
	margin-bottom: 8px;
}
.MADEMobile50Head_BaseInfo .MADEMobile50Head_BaseInfo_Entry_Label {
	color: rgb(166,167,171);
	padding-right: 8px;
}
.MADEMobile50Head_BaseInfo .cbboxEntry {
	display: inline-block;
	position: relative;
}
.MADEMobile50Head_BaseInfo .jNiceCheckbox {
margin-bottom: -2px;
}
.menu_list_title {
	color: rgb(164, 169, 174);
	border-bottom: 1px solid rgb(223, 223, 223);
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 0px 6px 0px;
	position: relative;
	margin-bottom: 5px!important;
}
.menu_list_add {
	padding-left: 16px;
	padding-right: 2px;
	background: url('/mobilemode/images/blue_add_wev8.png') no-repeat left center;
	color: #5d9cec;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	right: 0px;
	bottom: 1px;
}
.menu_list_empty_tip {
	color: #ccc;
	font-size: 14px;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	padding: 9px 5px 9px 10px;
	border: 1px dashed #ccc;
	display: none;
}
.menu_list_content {
	padding-right: 0px;
}
.menu_list_content ul {
	padding-left:0px;
	margin: 0px;
	list-style: none;
	margin-top: -4px;
}
.menu_list_content ul li {
border-bottom: 1px dashed #ccc;
list-style-type:none !important;
}
.MADEMobile50Head_Text{
	-webkit-appearance: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-writing-mode: horizontal-tb;
	border: 1px solid rgb(223, 223, 223);
	background-color: rgb(255, 255, 255);
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	box-sizing: border-box;
	cursor: auto;
	display: inline-block;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 26px;
	letter-spacing: normal;
	line-height: 19px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(0, 0, 255);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	text-align: start;
	text-indent: 7px;
	text-shadow: none;
	text-transform: none;
	width: 205px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	zoom: 1;	
}
.menu_click_desc{
	padding-left:16px;
	margin-bottom: 0px !important;
	cursor: pointer;
	background: url("/mobilemode/images/mec/mouse_click_wev8.png") no-repeat;
	background-position: 0px 6px;
	height: 100%;
	line-height: 26px;
	margin-left: 50px;
}
.inparam_menu_del{
	display: inline-block;
	background: url("/mobilemode/images/mec/lego_icon_d5b6388_wev8.png") no-repeat;
	cursor: pointer;
	margin-bottom: -2px;
	width: 12px;
	height: 12px;
	background-position: -10px -12px;
}
.MADEMobile50Head_BaseInfo .previewDiv {
	width: 32px;
	height: 32px;
	border: 1px solid rgb(204,204,204);
	background-color: #fff;
	border-radius: 4px;
	float: left;
	margin-top: 3px;
	background: url("/mobilemode/images/mec/img-space2_wev8.png") no-repeat;
}
.MADEMobile50Head_BaseInfo .previewImg {
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.MADEMobile50Head_BaseInfo .addPicDiv {
	background-color: rgb(93, 156, 236);
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline-block;
	float: left;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	margin-left: 5px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
}
.MADEMobile50Head_Bottom{
	padding: 10px 0px 0px 10px;
	margin-bottom: 20px;		
}
.MADEMobile50Head_SaveBtn{
	background-color: rgb(107, 163, 237);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	margin: 0px;
	text-align: center;
	width: 348px;
	zoom: 1;	
}
.MADEMobile50Head_BaseInfo_Entry_Content .btn_click_desc {
	padding-left: 16px;
	margin-bottom: 0px !important;
	cursor: pointer;
	background: url("/mobilemode/images/mec/mouse_click_wev8.png") no-repeat;
	background-position: 0px 6px;
	height: 100%;
	line-height: 26px;
	margin-left: 24px;
}
.MADEMobile50Head_BaseInfo_Entry_Content{
	display: inline-block;
}
.MADEMobile50Head_BaseInfo .cbboxLabel {
	color: #999;
	font-size: 11px;
	position: absolute;
	top: 2px;
	left: 20px;
}
.menu_list_empty_tip2 {
	color: #ccc;
	font-size: 14px;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	padding: 9px 5px 9px 10px;
	border: 1px dashed #ccc;
	display: none;
}
.menu_list_content2 {
	padding-right: 0px;
}
#rightUL{
	list-style: none !important;
}
.menu_list_content2 ul {
	padding-left:0px;
	margin: 0px;
	list-style: none;
	margin-top: -4px;
}
.menu_list_content2 ul li {
border-bottom: 1px dashed #ccc;
list-style-type:none !important;
}