.MADLineChart_Title{
	border-bottom: 1px solid rgb(223, 223, 223);
	font-size: 12px;
	color: rgb(164, 169, 174);
	font-weight: bold;
	padding: 0px 0px 6px 10px;	
	margin-bottom: 10px;
}
.MADLineChart_DataSource{
	padding-left: 10px;
	margin-bottom: 15px;
	color: rgb(166, 167, 171);	
}
.MADLineChart_DataSource div{
	margin-bottom: 10px;	
}
.MADLineChart_DataSource .MADLineChart_DataSource_Label{
	width: 60px;
	display: inline-block;
	text-align: right;
	margin-right: 0px;	
}
.MADLineChart_DataSource .MADLineChart_DataSource_Label_style8{
	width: 72px;
}
.MADLineChart_BaseInfo{
	padding-left: 10px;
	margin-bottom: 15px;
	color: rgb(166, 167, 171);	
}
.MADLineChart_BaseInfo div{
	margin-bottom: 10px;	
}
.MADLineChart_BaseInfo .MADLineChart_BaseInfo_Label{
	width: 60px;
	display: inline-block;
	text-align: right;
	margin-right: 0px;
}
.MADLineChart_BaseInfo .MADLineChart_BaseInfo_Label_style8{
	width: 58px;
	text-align: left;
}
.MADLineChart_BaseInfo .MADLineChart_BaseInfo_Label1_style8{
	width: 98px;
	text-align: left;
}
.MADLineChart_BaseInfo .MADLineChart_BaseInfo_Label2_style8{
	width: 86px;
	text-align: left;
}
.MADLineChart_BaseInfo .MADLineChart_BaseInfo_Label3_style8{
	width: 66px;
	text-align: left;
}
.MADLineChart_Select{
	border: 1px solid rgb(204, 204, 204);
	height: 25px;
}
.MADLineChart_Text{
	-webkit-appearance: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-writing-mode: horizontal-tb;
	border: 1px solid rgb(223, 223, 223);
	background-color: rgb(255, 255, 255);
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	box-sizing: border-box;
	cursor: auto;
	display: inline-block;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 26px;
	letter-spacing: normal;
	line-height: 19px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(0, 0, 255);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	text-align: start;
	text-indent: 7px;
	text-shadow: none;
	text-transform: none;
	width: 265px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	zoom: 1;	
}
.MADLineChart_Textarea{
	border: 1px solid rgb(223, 223, 223);
	width: 260px;
	height: 106px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	overflow: auto;
}
.MADLineChart_Textarea_Focus{
	border: 1px solid #5D9CEC;
}
.MADLineChart_Bottom{
	padding: 0px 9px 0px 9px;
	margin-bottom: 5px;		
}
.MADLineChart_SaveBtn{
	background-color: rgb(107, 163, 237);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	margin: 0px;
	text-align: center;
	width: 100%
	zoom: 1;	
}
.MADLineChart_Tip{
	padding: 3px 0px 0px 10px;
	color: rgb(166, 167, 171);
	line-height: 20px;	
}

.MADLineChart_Container .jNiceCheckbox{
	margin-bottom: -1px;	
}
