.MADL_Title{
	border-bottom: 1px solid rgb(223, 223, 223);
	font-size: 12px;
	color: rgb(164, 169, 174);
	font-weight: bold;
	padding: 0px 0px 6px 10px;	
	margin-bottom: 10px;
}
.MADL_Title_style8{
	margin-top: 20px;
}

.MADL_Text{
	-webkit-appearance: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-writing-mode: horizontal-tb;
	border: 1px solid rgb(223, 223, 223);
	background-color: rgb(255, 255, 255);
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	box-sizing: border-box;
	cursor: auto;
	display: inline-block;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 26px;
	letter-spacing: normal;
	line-height: 19px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(0, 0, 255);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	text-align: start;
	text-indent: 7px;
	text-shadow: none;
	text-transform: none;
	width: 205px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	zoom: 1;	
}

.MADL_Desc_style8{
	display:block;
}

.MADL_Text{
	width: 265px;
}

.MADL_Text_1_style8{
	width: 241px;
}
.MADL_Text_2_style8{
	width: 235px;
}
.MADL_Text_3_style8{
	width: 271px;
}

.MADL_Input{
	border: rgb(191, 204, 220) 1px solid;
	height: 23px;
	width: 185px;
	line-height: 23px;
	font-size: 12px;
	padding-left: 3px;
}


.MADL_Select{
	border: #ddd 1px solid;
	height: 26px;
	width: 120px;
	padding-left: 5px;
}

.MADL_BaseInfo{
	padding-left: 10px;
	margin-bottom: 15px;
	color: rgb(166, 167, 171);
	position: relative;	
}
.MADL_BaseInfo_span{
	visibility: hidden;
}
.MADL_BaseInfo_span_style8{
	display:none;
}
.MADL_BaseInfo .urlcontent{
	width: 185px;
	margin-left:3px;
}
.MADL_BaseInfo table.attrTable{
	width: 325px;
	border-collapse: collapse;
	margin-bottom: 5px;
}
.MADL_BaseInfo table.attrTable td{
	text-align: center;	
	padding: 3px 0px;
}
.MADL_BaseInfo table.attrTable tr.titleTr td{
	border-bottom: 1px solid #ccc;
	padding: 5px 0px;
}

.MADL_BaseInfo div{
	margin-bottom: 5px;
}
.MADL_BaseInfo_MoreContainer{
	margin-top:5px;
	display: none;
}
.MADL_BaseInfo_MoreContainer_style8{
	margin-top:15px;
}
.MADL_BaseInfo_MoreFlag{
	position: absolute;
	top: 4px;
	right: 5px;
	cursor: pointer;
	background: url("/mobilemode/images/mec/double_arrow_down_wev8.png") no-repeat;
	background-position: right center;
	padding-right: 12px;
	background-size: 9px; 
	color: #666;
}
.MADL_BaseInfo_MoreFlag_Hidden{
	background-image: url("/mobilemode/images/mec/double_arrow_up_wev8.png");
	background-position: right bottom;
}
.MADL_BaseInfo .jNiceCheckbox{
	margin-bottom: -1px;	
}
.list_search_column_title,.list_btn_title {
	color: rgb(164, 169, 174);
	border-bottom: 1px solid rgb(223, 223, 223);
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 0px 6px 0px;
	position: relative;
	margin-bottom: 5px!important;
}
.list_search_column_add,
.list_btn_add {
	padding-left: 16px;
	padding-right: 2px;
	background: url('/mobilemode/images/blue_add_wev8.png') no-repeat left center;
	color: #5d9cec;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	right: 0px;
	bottom: 1px;
}
.list_search_column_content,
.list_btn_content {
	padding-right: 0px;
}
.list_search_column_content ul.list_ul_root,
.list_btn_content ul {
	padding-left:0px;
	margin: 0px;
	list-style: none;
	margin-top: -4px;
}
.list_search_column_content ul.list_ul_root .list_table_wrap{
	border-bottom: 1px dashed #ccc;
	margin-bottom: 1px; 
}
.list_search_column_content ul.list_ul_root .list_table_wrap tr{
	height: 28px; 
}
.list_btn_del{
	display: inline-block;
	background: url("/mobilemode/images/mec/lego_icon_d5b6388_wev8.png") no-repeat;
	cursor: pointer;
	margin-bottom: -2px;
	width: 12px;
	height: 12px;
	background-position: -10px -12px;
}
.list_empty_tip,.list_btn_empty_tip {
	color: #ccc;
	font-size: 14px;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	padding: 9px 5px 9px 10px;
	border: 1px dashed #ccc;
	display: none;
}

.list_btn_content ul li{
	border-bottom: 1px dashed #ccc;
}
.list_btn_content ul li table{
	width: 100%;	
	border-collapse: collapse;
}
.list_btn_content ul li table td{
	height: 26px;
	vertical-align: middle;
}
.btn_click_desc{
	padding-left:16px;
	margin-bottom: 0px !important;
	cursor: pointer;
	background: url("/mobilemode/images/mec/mouse_click_wev8.png") no-repeat;
	background-position: 0px 6px;
	height: 100%;
	line-height: 26px;
	margin-left: 50px;
}



.MADL_StyleWrap{
	padding-left: 10px;
	padding-right: 10px;
}

.MADL_Style{
	border: 2px solid rgb(219, 220, 220);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: -webkit-box;
	margin-bottom: 20px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 0px;
	padding-top: 8px;
	position: relative;
	width: 100%;
	overflow:hidden;	
	background: url("/mobilemode/images/mec/arrow_right_wev8.png") no-repeat;
	background-position: 320px center;
}

.MADL_Style_L{
	float: left;
	height: 78px;
	margin-right: 11px;
	margin-top: 4px;
	width: 72px;	
}

.MADL_ImgField{
	background: url("/mobilemode/images/mec/img-space1_wev8.png") no-repeat;
	border: 1px solid rgb(204, 204, 204);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	box-sizing: border-box;
	color: rgb(143, 143, 143);
	cursor: pointer;
	display: block;
	height: 72px;
	line-height: 74px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	position: relative;
	text-align: center;
	text-indent: -9999px;
	width: 100%;
}

.MADL_FieldColWrap_Choosed .MADL_ImgField{
	background-image: url("/mobilemode/images/mec/img-space_wev8.png");
	border-color: rgb(81, 145, 233);
}

.MADL_Style_R{
	float: left;
	color: rgb(51, 51, 51);
	margin-right: 0px;
	position: relative;
	width: 231px !important;
	overflow: hidden;
}
.MADL_FieldRowWrap{
	overflow: hidden;	
	position: relative;
	padding-right: 15px;
}

.MADL_FieldRowWrap .del_btn{
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("/mobilemode/images/mec/lego_icon_d5b6388_wev8.png");
	background-origin: padding-box;
	background-position: 0px -111px;
	background-size: auto;
	cursor: pointer !important;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 13px;
	line-height: 18px;
	position: absolute;
	right: 0px;
	top: 2px;
	width: 13px;
	z-index: 1;
	display: none;
}

.MADL_FieldRowWrap:HOVER .del_btn{
	display: block;	
}

.MADL_FieldColWrap{
	width: 100%;
	float: left;	
}

.MADL_Field{
	-webkit-background-size: 2px 2px;
	background-color: rgb(240, 240, 240);
	background-image: none;
	background-size: 2px 2px;
	border: 1px solid rgb(255, 255, 255);
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: pointer;
	display: block;
	font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 18px;
	line-height: 14px;
	margin-bottom: 2px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	position: relative;
	text-align: center;
	width: 100%;	
}

.MADL_TitleField{
	height: 22px;
	background-color: rgb(234, 236, 238);
	font-size: 13px;
	line-height: 18px;
}

.MADL_FieldColWrap_Choosed .MADL_Field{
	background-color: rgb(107, 163, 237);
	color: #fff;	
}

.MADL_Field:HOVER {
	border: 1px dashed rgb(52, 152, 219);	
}

.MADL_FieldColWrap_Choosed .MADL_Field:HOVER{
	border: 1px solid #fff;
}

.MADL_ChooseFields{
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: rgb(255, 255, 255);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	line-height: 20px;
	padding: 10px;
	position: absolute;
	text-align: left;
	top: -999px;
	left: -999px;
	white-space: normal;
	width: 219px;
	z-index: 1010;	
	display: none;
}

.MADL_ChooseFields_Top{
	border-bottom: 11px solid rgba(0, 0, 0, 0.247059);
	border-left: 11px solid rgba(0, 0, 0, 0);
	border-right: 11px solid rgba(0, 0, 0, 0);
	border-top: 0px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 11px;
	left: 98px;
	line-height: 20px;
	position: absolute;
	text-align: left;
	top: -11px;
	white-space: normal;
	width: 22px;
	z-index: 1011;	
}

.MADL_ChooseFields_Top2{
	border-bottom: 10px solid #fff;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-top: 0px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 11px;
	left: 98px;
	line-height: 20px;
	position: absolute;
	text-align: left;
	top: -10px;
	white-space: normal;
	width: 22px;
	z-index: 1012;	
}

.MADL_ChooseFields_Img .MADL_ChooseFields_Top,
.MADL_ChooseFields_Img .MADL_ChooseFields_Top2{
	left: 25px;
}

.MADL_ChooseFields_Container{
	box-sizing: border-box;
	line-height: 20px;
	text-align: left;
	white-space: normal;
	width: 100%;
	zoom: 1;	
	overflow: hidden;
}

.MADL_CField{
	background: url("/mobilemode/images/mec/flag_wev8.png") no-repeat;
	background-position: 0px 1px;
	color: rgb(51, 51, 51);
	cursor: pointer;
	display: block;
	font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	height: 22px;
	line-height: 20px;
	margin-bottom: 0px;
	overflow: hidden;
	padding-bottom: 1px;
	padding-left: 23px;
	padding-right: 2px;
	padding-top: 1px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 72px;
	float: left;
}

.MADL_CField_None{
	float: none;	
}

.MADL_CField_Checked{
	background: url("/mobilemode/images/mec/flag2_wev8.png") no-repeat;
	background-position: -1px 1px;	
}

.MADL_CFieldWrap{
	overflow: hidden;	
}

.MADL_CField_CustomWrap{
	border-top: 1px solid rgb(223, 223, 223);	
	margin: 5px 0px 2px 0px;
	padding: 2px 0px 0px 0px;
	overflow: hidden;
}
.MADL_CField_Custom{
	width: 172px;
	cursor: text;
	font-size: 12px;
	color: #666;
	line-height: 23px;	
	height: auto;
}
.MADL_CField_Custom_Tip{
	
}
.MADL_CField_Custom_Content{
	margin-top: 2px;
	position: relative;	
	width: 100%;
	display: none;
}
.MADL_CField_Custom_Content .MADL_CField_Custom_Text{
	border: 1px solid rgb(204, 204, 204);
	height: 80px;
	width: 165px;
	overflow: auto;	
}
.MADL_CField_Custom_Btn{
	background-color: rgb(107, 163, 237);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 11px;
	height: 23px;
	line-height: 23px;
	text-align: center;
	margin: 0px;
	width: 172px;
	
	margin: 3px 0px 0px 0px \9;
	width: 170px \9;
	
	bottom: 0px;
	right: 0px;
}

.MADL_StyleConfig{
	padding: 0px 11px;	
	margin-bottom: 8px;
	overflow: hidden;
}

.MADL_Column_Text{
	width: 15px;
	height: 13px;
	text-align: center;	
	border: 1px solid rgb(204, 204, 204);
	font-size: 10px;
	position: absolute;
	top: 1px;
	left: 55px;
}
.MADL_StyleConfig_Column{
	position: relative;
	width: 150px;	
	color: rgb(166,167,171);
	float: left;
	height: 20px;
	line-height: 20px;
}
.MADL_Column_Minus{
	background: url("/mobilemode/images/blue_minus_wev8.png") no-repeat;	
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	top: 2px;
	left: 38px;
	background-position: left center;
	cursor: pointer;
}

.MADL_Column_Add{
	background: url("/mobilemode/images/blue_add_wev8.png") no-repeat;
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	top: 2px;
	left: 78px;
	background-position: left center;
	cursor: pointer;
}

.MADL_StyleConfig_Row{
	background: url("/mobilemode/images/blue_add_wev8.png") no-repeat;
	background-position: left 3px;
	float: right;	
	height: 20px;
	line-height: 20px;
	padding-left: 16px;
	padding-right: 2px;
	color: rgb(166,167,171);
	text-align: right;
	cursor: pointer;
}

.MADL_Bottom{
	padding: 0px 9px 0px 9px;
	margin-bottom: 5px;		
}
.MADL_SaveBtn{
	background-color: rgb(107, 163, 237);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	margin: 0px;
	text-align: center;
	width: 100%
	zoom: 1;	
}

.MADL_MText{
	border: 1px solid rgb(223, 223, 223);
	width: 325px;
	height: 40px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	overflow: auto;
	margin-top: 6px;
}

.MADL_InParams_Container, .MADL_OutFormat_Container{
	margin-right: 10px;
}
.MADL_OutFormat_Container{
	margin-top: 15px;
}
.MADL_InParams_Container div, .MADL_OutFormat_Container div{
	margin-bottom: 0px;
}
.MADL_InParams_Title, .MADL_OutFormat_Title{
	border-bottom: 1px solid #ccc;
	padding: 3px 0px 5px 0px;
	color: rgb(164,169,174);
	font-size: 12px;
	position: relative;
}
.MADL_InParams_Content{
	
}
.MADL_InParams_Content ul, .MADL_OutFormat_Content ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.MADL_InParams_Content ul li, .MADL_OutFormat_Content ul li{
	border-bottom: 1px dashed #ccc;
}
.MADL_InParams_Content ul li table, .MADL_OutFormat_Content ul li table{
	width: 100%;	
	border-collapse: collapse;
}
.MADL_InParams_Content ul li table td, .MADL_OutFormat_Content ul li table td{
	height: 26px;
	vertical-align: middle;
}
.inparam_param_desc, .outformat_key_desc{
	padding-left:6px;
}
.inparam_btn_edit{
	
}

.inparam_btn_del,.inparam_btn_edit{
	display: inline-block;
	background: url("/mobilemode/images/mec/lego_icon_d5b6388_wev8.png") no-repeat;
	cursor: pointer;
	margin-bottom: -2px;
}
.inparam_btn_del{
	width: 12px;
	height: 12px;
	background-position: -10px -12px;
}
.inparam_btn_edit{
	width: 11px;
	height: 12px;
	background-position: -15px -26px;
	margin-right: 3px;
}
.inparam_btn_add{
	padding-left: 16px;
	padding-right: 2px;
	background:url('/mobilemode/images/blue_add_wev8.png') no-repeat left center;
	color: #5d9cec;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	right: 0px;
	bottom: 4px;
}
.requestCharsetWrap{
	position: absolute;
	left: 60px;
	bottom: 3px;
}
.requestCharsetWrap_style8{
	left:105px;
}
.MADL_Select2{
	border: 1px solid rgb(191,204,220);
	height: 18px;
}
.outformat_type{
	border: 1px solid rgb(191,204,220);
	position: absolute;
	right: 0px;
	bottom: 4px;
	height: 20px;
	padding-left: 3px;
}
.listSearch{
	border-bottom: 1px solid #e8e8e8;
}
.MADL_LinkEdit{
	background: url("/mobilemode/images/treeNodeEdit_wev8.png") no-repeat;
	background-color: #fff;
	background-position: 5px 5px;
	width:22px;height:22px;position: absolute;top:2px;left:305px;
	cursor: pointer;
}
.MADL_LinkEdit_style8{
	top:18px;
	left:247px;
}
.MADL_LinkEdit_WS{
	background: url("/mobilemode/images/treeNodeEdit_wev8.png") no-repeat;
	background-color: #fff;
	background-position: 5px 5px;
	width:22px;height:22px;position: absolute;top:2px;left:268px;
	cursor: pointer;
}
.MADL_LinkEdit_WS_style8{
	top:18px;
	left:202px;
}
.MADL_Downloadtemplet{
	background: url("/mobilemode/images/download_wev8.png") no-repeat;
	background-color: #fff;
	background-size:14px;
	background-position: 5px 5px;
	width:22px;height:22px;position: absolute;top:2px;left:283px;
	cursor: pointer;
}
.MADL_Downloadtemplet_style8{
	top:18px;
	left:191px;
}
.MADL_Inittemplet{
	background: url("/mobilemode/images/treeNodeEdit_wev8.png") no-repeat;
	background-color: #fff;
	background-position: 5px 5px;
	width:22px;height:22px;position: absolute;top:2px;left:305px;
	cursor: pointer;
}
.MADL_Inittemplet_style8{
	top:18px;
	left:211px;
}
.MADL_EditSwipeContent, .MADL_EditAdvancedSearch{
	background: url("/mobilemode/images/treeNodeEdit_wev8.png") no-repeat;
	background-color: #fff;
	width:20px;
	height:16px;
	position: absolute;
	top:2px;
	left:145px;
	cursor: pointer;
}


.MADL_EditSwipeContent_style8{
	left: 218px;
}

.MADL_EditAdvancedSearch{
	top:3px;
	left:85px;
	display: none;
}

.MADL_EditAdvancedSearch_style8{
	left:130px;
}
.swipeContent_tip{
	position: absolute;
	top: 0px;
	left: 165px;
	color: #5d9cec;
	display: none;
	cursor: pointer;
}
.swipeContent_tip_style8{
	left: 230px !important;
}
.MADL_Tip{
	margin-left: 65px;
}
.MADL_Tip_style8{
	margin-left: 0px;
}