.MADTab_Title {
	color: rgb(164, 169, 174);
	border-bottom: 1px solid rgb(223, 223, 223);
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 0px 6px 10px;
	position: relative;
}

.MADTab_Title .tab_root_add {
	padding-left: 16px;
	padding-right: 14px;
	background: url('/mobilemode/images/blue_add_wev8.png') no-repeat left center;
	color: #5d9cec;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	right: 0px;
	bottom: 6px;
}
.MADTab_Customdetail,.MADTab_BaseInfo_Item {
	padding-left: 10px;
	padding-right:12px;
	margin-top: 10px;
	
}
.MADTab_BaseInfo_Item .MADTab_BaseInfo_Label{
	width: 60px;
    display: inline-block;
    text-align: right;
    margin-right: 0;
    color:#a6a7ab;
}
.MADTab_Customdetail_Title{
	width:345px;
	overflow-x: auto;
}
.MADTab_Customdetail_Title ul.MADTab_Customdetail_Name {
	list-style: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	display:table;
	width:100%;
	table-layout:fixed;
	border-collapse:collapse;
}
.MADTab_Customdetail_Title ul.MADTab_Customdetail_Name li {
	border: 1px solid rgb(223, 223, 223);
	border-left: none;
	padding: 0px 3px;
	height: 28px;
	width: 80px;
	text-align: center;
	line-height: 28px;
	color: rgb(166, 167, 171);
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
	display:table-cell;
}
.MADTab_Customdetail ul.MADTab_Customdetail_Name li.selected {
	font-weight: bold;
	background-color:#efefef;
}
.MADTab_Customdetail ul.MADTab_Customdetail_Name li.selected .MADTab_Text{
	background-color:#efefef;
}
.MADTab_Customdetail ul.MADTab_Customdetail_Name li:first-child {
	border-left: 1px solid rgb(223, 223, 223);
}
.MADTab_Text {
	border: none;
	width: 80px;
	text-align:center;
}
.MADTab_Customdetail ul.MADTab_Customdetail_Name li .delFlag{
	background: url("/images/messageimages/delete_wev8.gif") no-repeat center;
	position: absolute;
	right: 1px;
	top: 1px;
	width: 9px;
	height: 9px;
	display: none;
	cursor: pointer;
}
.MADTab_Customdetail ul.MADTab_Customdetail_Name li:not(:first-child):HOVER .delFlag{
	display: block;	
}
.MADTab_Customdetail .MADTab_Customdetail_Content {
	border: 1px solid rgb(223, 223, 223);
	width: 323px;
	margin-top: -1px;
	padding: 0px 10px 5px 10px;
}
.style_language_8 .MADTab_Customdetail .MADTab_Customdetail_Content{width:360px;}
.style_language_8 .MADTab_Customdetail_Title{width:382px;}

.MADTab_Customdetail .MADTab_Customdetail_Content .MADTab_Customdetail_Content_Entry {
	position:relative;
	display: none;
}
.MADTab_Customdetail .MADTab_Customdetail_Content .MADTab_Customdetail_Content_Entry.selected {
	display: block;
}
.MADTab_Customdetail .MADTab_Customdetail_Content .MADTab_Customdetail_Content_Entry .label {
	color: rgb(166, 167, 171);
	margin-top: 5px;
}
.MADTab_Customdetail .MADTab_Customdetail_Content .MADTab_Customdetail_Content_Entry .label .tabContent_root_add {
	padding-left: 16px;
	padding-right: 14px;
	background: url('/mobilemode/images/blue_add_wev8.png') no-repeat left center;
	color: #5d9cec;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	right: 0px;
	top: 0px;
}
.MADTab_menus{
	position: absolute;
	top: 20px;
	right: 12px;
	z-index: 100001;
	margin: 0px;
	padding: 3px 5px;
	height: 42px;
	overflow: auto;
	background-color: #fff;
	border: 1px solid #e9e9e9;
	display: none;
}
.MADTab_menus ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.MADTab_menus ul li{
	border-bottom: #eee 1px dotted;
}
.MADTab_menus ul li a{
	padding: 2px 0px 2px 2px;
	text-decoration: none;
	color: #333;
	display: block;
}
.MADTab_menus ul li a:hover{
	background-color: #0072C6;
	color: #fff;
}
.MADTab_Mecs{
	list-style: none;
	padding: 0px;
	overflow: hidden;
}
.MADTab_Mecs li{
	position: relative;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 7px;
}
.MADTab_Mecs li div{
	display: inline-block;
}
.MADTab_Mecs .bemove{
	background: url("/mobilemode/images/tr_move2_wev8.png") no-repeat left center;
	cursor: move;
	width:20px;
	height:10px;
}
.style_language_8 .MADTab_Mecs .bemove{
	width:25px;
}
.MADTab_Mecs .mecTextName {
	width: 90px;
	margin-right: 5px;
}
.style_language_8 .MADTab_Mecs .mecTextName{
	width:100px;
}
.MADTab_Mecs .mecIdName {
	width: 180px;
	margin-right: 10px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.style_language_8 .MADTab_Mecs .mecIdName{
	width:200px;
}
.MADTab_Mecs .mec_del {
	position: absolute;
	top: 2px;
	float: right;
	width: 12px;
	height: 12px;
	background-position: -48px -12px;
	background-image: url("/mobilemode/images/mec/lego_icon_d5b6388_wev8.png");
	cursor: pointer;
}
.MADTab_Bottom{
	padding: 10px 10px 0px 10px;
	margin-bottom: 20px;		
}

.MADTab_SaveBtn{
	background-color: rgb(107, 163, 237);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	margin: 0px;
	text-align: center;
	width: 345px;
	zoom: 1;	
}

.style_language_8 .MADTab_SaveBtn{width:382px;}

.tabContainer{
}
.tabTitle{
	width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling:touch;
    background-color: #fff;
}
.tabTitle ul{
	list-style: none;
	margin:0;padding:0px;
	overflow: hidden;
	display: table;
}
.tabTitle ul li{
	line-height:31px;
	font-size:16px;
	color:#444;
	cursor: pointer;
	padding: 0 8px;
	display: table-cell;
    position: relative;
    color: #a8a8a8;
    text-align: center;
    font-family: 'Microsoft Yahei', Arial, sans-serif;
    border: none;
    white-space:nowrap;
    -webkit-tap-highlight-color: transparent;
}
.tabTitle ul li.selected{
	color:#017afd;font-weight:normal;
	border-bottom: 2px solid rgb(13, 147, 246);
}
.tabTitle img{
	position: absolute;
	right: 30px;
	top: 5px;
}
.tabContainer .tabContent{
	padding: 10px 5%;
	background-color: rgb(250,250,250);
}
.tabContainer .tabContent .tabPage{
	display: none;
	background-color: #fff;
}
.tabContainer .tabContent .tabPage.selected{
	display: block;
}
.tabContainer .tabContent .tabPage abbr{
	border: 1px dashed rgb(204,204,204);
	border-bottom:none;
}
.tabContainer .tabContent .tabPage abbr:last-child{
	border-bottom: 1px dashed rgb(204,204,204);
}