.MADTL_Title{
	border-bottom: 1px solid rgb(223, 223, 223);
	font-size: 12px;
	color: rgb(164, 169, 174);
	font-weight: bold;
	padding: 0px 0px 6px 10px;	
	margin-bottom: 10px;
}

.MADTL_Text{
	-webkit-appearance: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-writing-mode: horizontal-tb;
	border: 1px solid rgb(223, 223, 223);
	background-color: rgb(255, 255, 255);
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	box-sizing: border-box;
	cursor: auto;
	display: inline-block;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 26px;
	letter-spacing: normal;
	line-height: 19px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(0, 0, 255);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	text-align: start;
	text-indent: 7px;
	text-shadow: none;
	text-transform: none;
	width: 205px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	zoom: 1;	
}

.MADL_BaseInfo_span{
	visibility: hidden;
}
.MADL_BaseInfo_span_style8{
	display:none;
}

.MADL_Desc_style8{
	display:block;
}

.MADTL_Input{
	border: 1px solid #ccc;
	height: 23px;
	width: 185px;
	line-height: 23px;
	font-size: 12px;
	padding-left: 3px;
}

.MADTL_Select{
	border: 1px solid rgb(204, 204, 204);
	height: 25px;
	width: 190px;
}

.MADTL_Pagesize{
	border: 1px solid rgb(204, 204, 204);
	width: 71px;	
}

.MADTL_BaseInfo{
	padding-left: 10px;
	margin-bottom: 5px;
	color: rgb(166, 167, 171);	
}

.MADTL_StyleWrap{
	padding-left: 10px;
	padding-right: 10px;
}

.MADTL_Style{
	border: 2px solid rgb(219, 220, 220);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: -webkit-box;
	margin-bottom: 20px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 0px;
	padding-top: 8px;
	position: relative;
	width: 100%;
	overflow:hidden;	
	background: url("/mobilemode/images/mec/arrow_right_wev8.png") no-repeat;
	background-position: 320px center;
}

.MADTL_Style_L{
	float: left;
	height: 78px;
	margin-right: 11px;
	margin-top: 4px;
	width: 72px;	
}

.MADTL_TimeFieldWrap{
	border: 1px solid rgb(204, 204, 204);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.MADTL_TimeField{
	background: url("/mobilemode/images/mec/calendar_wev8.png") no-repeat;
	background-position: center center;
	box-sizing: border-box;
	opacity: 0.3;	
	filter:alpha(opacity=30);
	color: rgb(143, 143, 143);
	cursor: pointer;
	display: block;
	height: 72px;
	line-height: 74px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	position: relative;
	text-align: center;
	text-indent: -9999px;
	width: 100%;
}

.MADTL_FieldColWrap_Choosed{
	border-color: #ccc;
}
.MADTL_FieldColWrap_Choosed .MADTL_TimeField{
	opacity: 1;	
	filter:alpha(opacity=100);
}

.MADTL_Style_R{
	float: left;
	color: rgb(51, 51, 51);
	margin-right: 0px;
	position: relative;
	width: 231px !important;
	overflow: hidden;
}
.MADTL_FieldRowWrap{
	overflow: hidden;	
	position: relative;
	padding-right: 15px;
}

.MADTL_FieldRowWrap .del_btn{
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("/mobilemode/images/mec/lego_icon_d5b6388_wev8.png");
	background-origin: padding-box;
	background-position: 0px -111px;
	background-size: auto;
	cursor: pointer !important;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 13px;
	line-height: 18px;
	position: absolute;
	right: 0px;
	top: 2px;
	width: 13px;
	z-index: 1;
	display: none;
}

.MADTL_FieldRowWrap:HOVER .del_btn{
	display: block;	
}

.MADTL_FieldColWrap{
	width: 100%;
	float: left;	
}

.MADTL_Field{
	-webkit-background-size: 2px 2px;
	background-color: rgb(240, 240, 240);
	background-image: none;
	background-size: 2px 2px;
	border: 1px solid rgb(255, 255, 255);
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	cursor: pointer;
	display: block;
	font-family: 'Microsoft Yahei', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	height: 18px;
	line-height: 14px;
	margin-bottom: 2px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	position: relative;
	text-align: center;
	width: 100%;	
}

.MADTL_TitleField{
	height: 22px;
	background-color: rgb(234, 236, 238);
	font-size: 13px;
	line-height: 18px;
}

.MADTL_FieldColWrap_Choosed .MADTL_Field{
	background-color: rgb(107, 163, 237);
	color: #fff;	
}

.MADTL_Field:HOVER {
	border: 1px dashed rgb(52, 152, 219);	
}

.MADTL_FieldColWrap_Choosed .MADTL_Field:HOVER{
	border: 1px solid #fff;
}

.MADTL_ChooseFields{
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: rgb(255, 255, 255);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	line-height: 20px;
	padding: 10px;
	position: absolute;
	text-align: left;
	top: -999px;
	left: -999px;
	white-space: normal;
	width: 219px;
	z-index: 1010;	
	display: none;
}

.MADTL_ChooseFields_Top{
	border-bottom: 11px solid rgba(0, 0, 0, 0.247059);
	border-left: 11px solid rgba(0, 0, 0, 0);
	border-right: 11px solid rgba(0, 0, 0, 0);
	border-top: 0px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	font-family: 'Microsoft Yahei', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	height: 11px;
	left: 98px;
	line-height: 20px;
	position: absolute;
	text-align: left;
	top: -11px;
	white-space: normal;
	width: 22px;
	z-index: 1011;	
}

.MADTL_ChooseFields_Top2{
	border-bottom: 10px solid #fff;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-top: 0px solid rgba(0, 0, 0, 0);
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	font-family: 'Microsoft Yahei', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	height: 11px;
	left: 98px;
	line-height: 20px;
	position: absolute;
	text-align: left;
	top: -10px;
	white-space: normal;
	width: 22px;
	z-index: 1012;	
}

.MADTL_ChooseFields_Time .MADTL_ChooseFields_Top,
.MADTL_ChooseFields_Time .MADTL_ChooseFields_Top2{
	left: 25px;
}

.MADTL_ChooseFields_Container{
	box-sizing: border-box;
	line-height: 20px;
	text-align: left;
	white-space: normal;
	width: 100%;
	zoom: 1;	
	overflow: hidden;
}

.MADTL_CField{
	background: url("/mobilemode/images/mec/flag_wev8.png") no-repeat;
	background-position: 0px 1px;
	color: rgb(51, 51, 51);
	cursor: pointer;
	display: block;
	font-family: 'Microsoft Yahei', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	height: 22px;
	line-height: 20px;
	margin-bottom: 0px;
	overflow: hidden;
	padding-bottom: 1px;
	padding-left: 23px;
	padding-right: 2px;
	padding-top: 1px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 72px;
	float: left;
}

.MADTL_CField_None{
	float: none;	
}

.MADTL_CField_Checked{
	background: url("/mobilemode/images/mec/flag2_wev8.png") no-repeat;
	background-position: -1px 1px;	
}

.MADTL_CFieldWrap{
	overflow: hidden;	
}

.MADTL_CField_CustomWrap{
	border-top: 1px solid rgb(223, 223, 223);	
	margin: 5px 0px 2px 0px;
	padding: 2px 0px 0px 0px;
	overflow: hidden;
}
.MADTL_CField_Custom{
	width: 172px;
	cursor: text;
	font-size: 12px;
	color: #666;
	line-height: 23px;	
	height: auto;
}
.MADTL_CField_Custom_Tip{
	
}
.MADTL_CField_Custom_Content{
	margin-top: 2px;
	position: relative;	
	width: 100%;
	display: none;
}
.MADTL_CField_Custom_Content .MADTL_CField_Custom_Text{
	border: 1px solid rgb(204, 204, 204);
	height: 80px;
	width: 165px;
	overflow: auto;	
}
.MADTL_CField_Custom_Btn{
	background-color: rgb(107, 163, 237);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 11px;
	height: 23px;
	line-height: 23px;
	text-align: center;
	margin: 0px;
	width: 172px;
	
	margin: 3px 0px 0px 0px \9;
	width: 170px \9;
	
	bottom: 0px;
	right: 0px;
}

.MADTL_StyleConfig{
	padding: 0px 11px;	
	margin-bottom: 8px;
	overflow: hidden;
}

.MADTL_Column_Text{
	width: 15px;
	height: 13px;
	text-align: center;	
	border: 1px solid rgb(204, 204, 204);
	font-size: 10px;
	position: absolute;
	top: 1px;
	left: 55px;
}
.MADTL_StyleConfig_Column{
	position: relative;
	width: 150px;	
	color: rgb(166,167,171);
	float: left;
	height: 20px;
	line-height: 20px;
}
.MADTL_Column_Minus{
	background: url("/mobilemode/images/blue_minus_wev8.png") no-repeat;	
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	top: 2px;
	left: 38px;
	background-position: left center;
	cursor: pointer;
}
.MADTL_Column_Add{
	background: url("/mobilemode/images/blue_add_wev8.png") no-repeat;
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	top: 2px;
	left: 78px;
	background-position: left center;
	cursor: pointer;
}

.MADTL_StyleConfig_Row{
	background: url("/mobilemode/images/blue_add_wev8.png") no-repeat;
	background-position: left 3px;
	float: right;	
	height: 20px;
	line-height: 20px;
	padding-left: 16px;
	padding-right: 2px;
	color: rgb(166,167,171);
	text-align: right;
	cursor: pointer;
}

.MADTL_Bottom{
	padding: 0px 9px 0px 9px;
	margin-bottom: 5px;		
}
.MADTL_SaveBtn{
	background-color: rgb(107, 163, 237);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	margin: 0px;
	text-align: center;
	width: 100%
	zoom: 1;	
}