.Design_MecHandler_TouchButton{
	position: absolute;
	top: 10px;
	right: 0px;
	width: 55px;
	height: 55px;
	z-index: 20001;
}
#touchBtn{
	top:0px;
	z-index: 0;	
}

.MADTOUCH_Title{
	color: rgb(164, 169, 174);
	border-bottom: 1px solid rgb(223, 223, 223);
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 0px 6px 10px;
	position: relative;
}
.touch_root_add{
	padding-left: 16px;
	padding-right: 14px;
	background:url('/mobilemode/images/blue_add_wev8.png') no-repeat left center;
	color: #5d9cec;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	right: 0px;
	bottom: 6px;
}
.MADTOUCH_Content{
	padding: 10px 10px 0px 10px;	
}
.MADTOUCH_Content ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	padding-left: 20px;
}
.MADTOUCH_Content ul.touch_ul_root{
	padding-left: 0px;
}
.MADTOUCH_Content ul li{
	padding: 0px 0px;
	border-left: 1px dashed #ccc;
}
.MADTOUCH_Content ul li .touch_table_wrap{
	padding: 5px 0px;
	padding-left: 5px;
	border-bottom: 1px dashed #ccc;
	
}
.MADTOUCH_Content ul.touch_ul_root > li{
	border-left:none;
}
.MADTOUCH_Content ul.touch_ul_root > li > .touch_table_wrap{
	padding-left: 0px;
	border-left:none;	
}
.MADTOUCH_Content ul li .touch_table_wrap table{
	width: 100%;
	border-collapse: collapse;
}
.MADTOUCH_Content ul li .touch_table_wrap table td{
	vertical-align: middle;
}
.touch_dis_icon{
	width: 16px;
	height: 16px;
	margin-bottom: -3px;
}
.touch_dis_showname{
	padding-left: 3px;
}
.touch_dis_sourcecontent{
	padding-left: 3px;
	max-width: 130px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.touch_btn_del,.touch_btn_edit,.touch_btn_add{
	display: inline-block;
	background: url("/mobilemode/images/mec/lego_icon_d5b6388_wev8.png") no-repeat;
	cursor: pointer;
	margin-bottom: -2px;
}
.touch_btn_del{
	width: 12px;
	height: 12px;
	background-position: -10px -12px;
}
.touch_btn_edit{
	width: 11px;
	height: 12px;
	background-position: -15px -26px;
	margin-left: 3px;
}
.touch_btn_add{
	width: 12px;
	height: 12px;
	background-position: -13px 0px;
	margin-left: 3px;
}
.touch_empty_tip{
	color: #ccc;
	font-size: 14px;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	padding: 9px 5px 9px 10px;	
	border: 1px dashed #ccc;
	display: none;
}
.MADTOUCH_Bottom{
	padding: 10px 0px 0px 10px;
	margin-bottom: 20px;		
}
.MADTOUCH_SaveBtn{
	background-color: rgb(107, 163, 237);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	margin: 0px;
	text-align: center;
	width: 348px;
	zoom: 1;	
}