.MADGT_Title{
	border-bottom: 1px solid rgb(223, 223, 223);
	font-size: 12px;
	color: rgb(164, 169, 174);
	font-weight: bold;
	padding: 0px 0px 6px 10px;	
	margin-bottom: 10px;
}

.MADGT_Text{
	-webkit-appearance: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-writing-mode: horizontal-tb;
	border: 1px solid rgb(223, 223, 223);
	background-color: rgb(255, 255, 255);
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	box-sizing: border-box;
	cursor: auto;
	display: inline-block;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 26px;
	letter-spacing: normal;
	line-height: 19px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(0, 0, 255);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	text-align: start;
	text-indent: 7px;
	text-shadow: none;
	text-transform: none;
	width: 205px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	zoom: 1;	
}

.MADGT_Input{
	border: rgb(191, 204, 220) 1px solid;
	height: 23px;
	width: 185px;
	line-height: 23px;
	font-size: 12px;
	padding-left: 3px;
}

.MADGT_Select{
	border: 1px solid rgb(204, 204, 204);
	height: 25px;
	width: 120px;
}

.MADGT_BaseInfo{
	padding-left: 10px;
	margin-bottom: 15px;
	color: rgb(166, 167, 171);
	position: relative;	
}
.MADGT_BaseInfo table.attrTable{
	width: 325px;
	border-collapse: collapse;
	margin-bottom: 5px;
}
.MADGT_BaseInfo table.attrTable td{
	text-align: center;	
	padding: 3px 0px;
}
.MADGT_BaseInfo table.attrTable tr.titleTr td{
	border-bottom: 1px solid #ccc;
	padding: 5px 0px;
}

.MADGT_BaseInfo div{
	margin-bottom: 5px;
}
.MADGT_BaseInfo_MoreContainer{
	margin-top:5px;
	display: none;
}
.MADGT_BaseInfo_MoreFlag{
	position: absolute;
	top: 4px;
	right: 5px;
	cursor: pointer;
	background: url("/mobilemode/images/mec/double_arrow_down_wev8.png") no-repeat;
	background-position: right center;
	padding-right: 12px;
	background-size: 9px; 
	color: #666;
}
.MADGT_BaseInfo_MoreFlag_Hidden{
	background-image: url("/mobilemode/images/mec/double_arrow_up_wev8.png");
	background-position: right bottom;
}
.MADGT_BaseInfo .jNiceCheckbox{
	margin-bottom: -1px;	
}
.list_search_column_title,.list_btn_title {
	color: rgb(164, 169, 174);
	border-bottom: 1px solid rgb(223, 223, 223);
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 0px 6px 0px;
	position: relative;
	margin-bottom: 5px!important;
}
.list_search_column_add,
.list_btn_add,
.MADGT_Title .gridview_add {
	padding-left: 16px;
	padding-right: 2px;
	background: url('/mobilemode/images/blue_add_wev8.png') no-repeat left center;
	color: #5d9cec;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	right: 0px;
	bottom: 1px;
}
.MADGT_Title .gridview_add {
	right: 8px;
	bottom: 5px;
}
.list_search_column_content,
.list_btn_content {
	padding-right: 0px;
}
.list_search_column_content ul.list_ul_root,
.list_btn_content ul {
	padding-left:0px;
	margin: 0px;
	list-style: none;
	margin-top: -4px;
}
.list_search_column_content ul.list_ul_root .list_table_wrap{
	border-bottom: 1px dashed #ccc;
	margin-bottom: 1px; 
}
.list_search_column_content ul.list_ul_root .list_table_wrap tr{
	height: 28px; 
}
.list_btn_del{
	display: inline-block;
	background: url("/mobilemode/images/mec/lego_icon_d5b6388_wev8.png") no-repeat;
	cursor: pointer;
	margin-bottom: -2px;
	width: 12px;
	height: 12px;
	background-position: -10px -12px;
}
.list_empty_tip,.list_btn_empty_tip,.gridview_empty_tip {
	color: #ccc;
	font-size: 14px;
	font-family: 'Microsoft Yahei',Arial, Helvetica, sans-serif;
	padding: 9px 5px 9px 10px;
	border: 1px dashed #ccc;
	display: none;
}
.MADGT_GridView{
	padding: 0px 10px;
	margin: -5px 0px 10px 0px;
}

.list_btn_content ul li{
	border-bottom: 1px dashed #ccc;
}
.list_btn_content ul li table{
	width: 100%;	
	border-collapse: collapse;
}
.list_btn_content ul li table td{
	height: 26px;
	vertical-align: middle;
}
.btn_click_desc{
	padding-left:16px;
	margin-bottom: 0px !important;
	cursor: pointer;
	background: url("/mobilemode/images/mec/mouse_click_wev8.png") no-repeat;
	background-position: 0px 6px;
	height: 100%;
	line-height: 26px;
	margin-left: 50px;
}

.MADGT_Bottom{
	padding: 0px 9px 0px 9px;
	margin-bottom: 5px;		
}
.MADGT_SaveBtn{
	background-color: rgb(107, 163, 237);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: 'Microsoft Yahei', Arial, sans-serif;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	margin: 0px;
	text-align: center;
	width: 100%
	zoom: 1;	
}

.MADGT_MText{
	border: 1px solid rgb(223, 223, 223);
	width: 325px;
	height: 40px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	overflow: auto;
	margin-top: 6px;
}

.MADGT_InParams_Container, .MADGT_OutFormat_Container{
	margin-right: 10px;
}
.MADGT_OutFormat_Container{
	margin-top: 15px;
}
.MADGT_InParams_Container div, .MADGT_OutFormat_Container div{
	margin-bottom: 0px;
}
.MADGT_InParams_Title, .MADGT_OutFormat_Title{
	border-bottom: 1px solid #ccc;
	padding: 3px 0px 5px 0px;
	color: rgb(164,169,174);
	font-size: 12px;
	position: relative;
}
.MADGT_InParams_Content{
	
}
.MADGT_InParams_Content ul, .MADGT_OutFormat_Content ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.MADGT_InParams_Content ul li, .MADGT_OutFormat_Content ul li{
	border-bottom: 1px dashed #ccc;
}
.MADGT_InParams_Content ul li table, .MADGT_OutFormat_Content ul li table{
	width: 100%;	
	border-collapse: collapse;
}
.MADGT_InParams_Content ul li table td, .MADGT_OutFormat_Content ul li table td{
	height: 26px;
	vertical-align: middle;
}
.inparam_param_desc, .outformat_key_desc{
	padding-left:6px;
}
.inparam_btn_edit{
	
}

.inparam_btn_del,.inparam_btn_edit{
	display: inline-block;
	background: url("/mobilemode/images/mec/lego_icon_d5b6388_wev8.png") no-repeat;
	cursor: pointer;
	margin-bottom: -2px;
}
.inparam_btn_del{
	width: 12px;
	height: 12px;
	background-position: -10px -12px;
}
.inparam_btn_edit{
	width: 11px;
	height: 12px;
	background-position: -15px -26px;
	margin-right: 3px;
}
.inparam_btn_add{
	padding-left: 16px;
	padding-right: 2px;
	background:url('/mobilemode/images/blue_add_wev8.png') no-repeat left center;
	color: #5d9cec;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	right: 0px;
	bottom: 4px;
}
.requestCharsetWrap{
	position: absolute;
	left: 60px;
	bottom: 3px;
}
.MADGT_Select2{
	border: 1px solid rgb(191,204,220);
	height: 18px;
}
.outformat_type{
	border: 1px solid rgb(191,204,220);
	position: absolute;
	right: 0px;
	bottom: 4px;
	height: 20px;
	padding-left: 3px;
}
.MADGT_LinkEdit{
	background: url("/mobilemode/images/treeNodeEdit_wev8.png") no-repeat;
	background-color: #fff;
	background-position: 5px 5px;
	width:22px;height:22px;position: absolute;top:2px;left:260px;
	cursor: pointer;
}

.MADGT_EditAdvancedSearch{
	background: url("/mobilemode/images/treeNodeEdit_wev8.png") no-repeat;
	background-color: #fff;
	width:20px;
	height:16px;
	position: absolute;
	top:3px;
	left:85px;
	display: none;
	cursor: pointer;
}

.MADGT_GridView > ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.MADGT_GridView > ul table{
	border-collapse: collapse;
	width: 100%;	
}
.MADGT_GridView > ul table td{
	padding: 5px 0px;
	border-bottom: 1px dashed #ccc;	
}
.MADGT_GridView > ul table td.bemove{
	background: url("/mobilemode/images/tr_move2_wev8.png") no-repeat;
	background-position: left center;
	cursor: move;
}
.MADGT_GridView > ul input{
	border: 1px solid rgb(204, 204, 204);
	height: 20px;
	padding-left: 3px;
}
.MADGT_GridView > ul select{
	border: 1px solid rgb(204, 204, 204);
	height: 24px;
}

.MADGT_InParams_Container, .MADGT_OutFormat_Container{
	margin-right: 10px;
}
.MADGT_OutFormat_Container{
	margin-top: 15px;
}
.MADGT_InParams_Container div, .MADGT_OutFormat_Container div{
	margin-bottom: 0px;
}
.MADGT_InParams_Title, .MADGT_OutFormat_Title{
	border-bottom: 1px solid #ccc;
	padding: 3px 0px 5px 0px;
	color: rgb(164,169,174);
	font-size: 12px;
	position: relative;
}
.MADGT_InParams_Content{
	
}
.MADGT_InParams_Content ul, .MADGT_OutFormat_Content ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.MADGT_InParams_Content ul li, .MADGT_OutFormat_Content ul li{
	border-bottom: 1px dashed #ccc;
}
.MADGT_InParams_Content ul li table, .MADGT_OutFormat_Content ul li table{
	width: 100%;	
	border-collapse: collapse;
}
.MADGT_InParams_Content ul li table td, .MADGT_OutFormat_Content ul li table td{
	height: 26px;
	vertical-align: middle;
}
