.dojoTabSet {
	overflow: hidden;	/* workaround firefox bug */
}

.dojoTabPanel {
	padding : 10px;
	border : 1px solid #765;
	clear : both;
	margin-top : -1px;
	margin-bottom : 10px;
	overflow : auto;
}

.tabs {
	margin : 0;
	padding : 0;
	list-style : none;
}

.tabs li {
	float : left;
    padding-left : 6px;
	border-bottom : 1px solid #765;
    background : url(images/tab_left1_wev8.png) no-repeat;
    background-position : 0 0px;
    cursor: pointer;
}

.tabs li span {
	display : block;
	padding : 4px 15px 4px 6px;
	background : url(images/tab_right1_wev8.png) right top ;

    color : #333;
	font-size : 100%;
	text-decoration : none;
}

.tabs li.current {
	padding-bottom : 1px;
	border-bottom : 0;
    background : url(images/tab_left2_wev8.png) no-repeat;
    background-position : 0 0px;
}

.tabs li.current span {
	padding-bottom : 5px;
	margin-bottom : -1px;
	background : url(images/tab_right2_wev8.png) no-repeat right top;
}

/* bottom tabs */
.tabs.bottom {
	border-top : 0;
}

.tabs.bottom li {
	border-bottom : 0;
	background : url(images/tab_left_r_wev8.gif) no-repeat left bottom;
}

.tabs.bottom li span {
	background : url(images/tab_right_r_wev8.gif) no-repeat right bottom;
}

.tabs.bottom li.current {
	margin-top : -1px;
	background-image : url(images/tab_left_r_curr_wev8.gif);
}

.tabs.bottom li.current span {
	background-image : url(images/tab_right_r_curr_wev8.gif);
}

#tabsHere {
	overflow : auto;
	float : none;
	margin : 0;
}
