/*消息提示*/
/*
#warn{
	width: 260px;
	height: 65px;
	line-height:65px;
	background-color: gray;
	position: fixed;
	display:none;
	background: url("/images/ecology8/addWorkGround_wev8.png");
	left:50%;
	top:50%;
	margin-left: -130px;
	margin-top: -32px;
	z-index:100000;
}
#warn .title{
	background: url('/images/ecology8/addWorkflow_wev8.png') no-repeat left center;
	margin-left:50px;
	padding-left:35px;
}
*/
/*新版浮动提示效果*/
#warn{
	min-width: 135px;
	padding: 0px 10px 0px 0px;
  	height: 44px;
  	line-height: 44px;
  	position: fixed;
  	left: 50%;
  	top: 50%;
  	margin-left: -58px;
  	margin-top: -20px;
  	z-index: 100000;
  	background-color: #FFF;
  	border: 1px solid #ccc;
  	border-radius: 3px;
  	box-shadow: 0 0 6px rgba(0,0,0,0.25);
  	display:none;
	
}
#warn .title{
	background: url('/social/images/public/favourite_success_wev8.png') no-repeat left center;
	margin-left: 17px;
  	padding-left: 32px;
  	color: #7d7c7c;
  	font-size: 14px;
}
/*分享类*/
.chatList .chatItemdiv .shareMsgItem,
.chatList .chatItemdiv .taskMsgItem,
.chatList .chatItemdiv .dingMsgItem,
.chatList .chatItemdiv .voteMsgItem{
  background-color: #fff;
  min-width: 180px;
}
.chatList .chatItemdiv .chatShare .chatContent,
.chatList .chatItemdiv .chatTask .chatContent,
.chatList .chatItemdiv .chatDing .chatContent,
.chatList .chatItemdiv .chatVote .chatContent{
  padding:0px !important;
}

.chatList .chatItemdiv .shareMsgItem .shareContentdiv,
.chatList .chatItemdiv .taskMsgItem .taskMsgContentdiv,
.chatList .chatItemdiv .dingMsgItem .dingMsgContentdiv{
  border: 1px solid #ebebeb;
  padding: 8px;
  border-radius: 0px 0px 5px 5px;
}
.chatList .chatItemdiv .voteMsgItem .voteMsgContentdiv{
  border: 1px solid #ebebeb;
  border-radius: 0px 0px 5px 5px;
}
.chatList .chatItemdiv .shareMsgItem .shareContent,
.chatList .chatItemdiv .taskMsgItem .taskMsgContent,
.chatList .chatItemdiv .dingMsgItem .dingMsgContent{
  color: #3e4d5b;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  max-width: 240px;
  text-align: left;
}
.chatList .chatItemdiv .voteMsgItem .voteMsgContent{
  color: #3e4d5b;
  padding-bottom: 10px;
  max-width: 170px;
  text-align: left;
  margin-left: 7px;
  float: right;
	margin-right:20px;
}
.chatList .chatItemdiv .chatShare .chatContent,
.chatList .chatItemdiv .chatTask .chatContent,
.chatList .chatItemdiv .chatDing .chatContent,
.chatList .chatItemdiv .chatVote .chatContent{
  padding:0px !important;
  border: none;
}
/*必达消息气泡样式*/
.chatList .chatItemdiv .dingMsgItem .dingMsgTitle{
	background: #80D426 url("/social/images/public/chat_title_ding_wev8.png") no-repeat 5px center;
  	height: 30px;
  	line-height: 30px;
  	padding-left: 25px;
  	color: #fff;
  	border-radius: 5px 5px 0px 0px;
  	text-align: left;
}

.chatList .chatItemdiv .dingMsgItem .dingComfirm {
	max-width: 94px;
  	height: 25px;
  	border: 1px solid #e6e6e6;
  	margin: 0 auto;
  	text-align: center;
  	line-height: 25px;
  	color: #5cb5d8;
  	border-radius: 3px;
  	cursor: pointer;
}

.chatList .chatItemdiv .dingMsgItem .dingComfirm:hover {
	background: #4BA9DF;
	color: #FFF;
}
.chatList .chatItemdiv .dingMsgItem .dingComfirmed {
	background: url("/social/images/public/ding_completed_wev8.png") no-repeat center left;
  	text-align: left;
  	padding-left: 20px;
  	margin: 0 auto;
  	line-height: 25px;
  	height: 25px;
}

.chatList .chatItemdiv .dingMsgItem .dingDelete {
	background: url("/social/images/public/ding_deleted_wev8.png") no-repeat center left;
  	text-align: right;
  	margin: 0 auto;
  	width: 93px;
  	line-height: 25px;
  	height: 25px;
}


.chatList .chatItemdiv .chatRItem .chatDing .chatArrow{
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 12px solid #80D426;
  border-bottom: 6px solid transparent;
  position: absolute;
  right: 0px;
  background:none;
}
.chatList .chatItemdiv .chatLItem .chatDing .chatArrow{
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 12px solid #80D426;
  border-bottom: 6px solid transparent;
  position: absolute;
  left: 0px;
  background:none;
}

.chatList .chatItemdiv .dingMsgItem .dingMsgDetail{
  padding: 5px;
  padding-bottom: 0px;	
}

/*省略号*/
.ellipsis{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}

/*上传input*/
.chatapp .uploadImg {
  	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	border: solid transparent;
	border-width: 0 0 0px 0px;
	width: 16px;
	opacity: .0;
	filter: alpha(opacity= 0);
	-o-transform: translate(250px,-50px) scale(1);
	-moz-transform: translate(-300px,0) scale(4);
	direction: ltr;
	cursor: pointer;
}
.chatapp .uploadImgLayer,
.chatapp .uploadAccLayer {
  	position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
/*聊天窗口加载*/
.loading1{
		position:absolute;
		top:0px;bottom:0px;left:0px;right:0px;
		background: url('/social/images/loading_large_wev8.gif') no-repeat center 200px;
		display: block;
		z-index:10000;
}