/*我的收藏消息列表*/
.fontColorGrey{color:#8d9598;}
.chatFavList {
	color: #3c4250;
	height: 100%;
	overflow-x: hidden;
}
.favItemdiv {
	border-bottom: 1px solid #ccc;
	min-height: 88px;
	display: table;
	position: relative;
	width: 100%;
}

.favItemdiv > div {
	vertical-align: top;
	min-height: 88px;
	display:table-cell;
	padding: 16px 0px;
}

.favItemdiv:hover {
	background: #f0fbff;
	cursor: pointer;
}

.favItemdiv .favItemLeft{
	width: 46px;
  	height: 100%;
  	//border: 1px solid;
  	text-align: center;
 }
.favItemdiv .favItemRight{
  	height: 100%;
  	//border: 1px solid;
  	padding-right: 20px;
}

.favItemLeft input[type=checkbox] {
	
}
.favItemRight .favItemTop{
	width:100%;
	height: 20px;
	display: table;
}
.favItemRight .favItemMain{
	width: 100%;
  	word-break: break-all;
  	margin-top: 16px;
  	line-height: 18px;
}
.favItemRight .favItemMain .favItemLogo{
	width: 42px;
  	height: 100%;
  	//border: 1px solid;
  	display: table-cell;
}

.favItemRight .favItemMain .favContent{
	display: table-cell;
	vertical-align: top;
}
.favItemRight .favItemTop .sendInfo{  width: 50%;}
.favItemRight .favItemTop .opdiv{  
	width: 168px;
  	position: absolute;
  	right: 20px;
 }
.favItemRight .favItemTop div{display: table-cell;vertical-align: middle;}

.favItemRight .favItemTop .sendInfo .sendername {width: 54px;}
.favItemRight .favItemTop .sendInfo .senddate {}

.favItemRight .favItemTop .opdiv .op{margin-right: 18px;display:inline-block;cursor: pointer;}
.favItemRight .favItemTop .opdiv .opForward{width: 20px;height: 20px;background:url("/social/images/imfavourate/fav_forward_wev8.png") no-repeat center;}
.favItemRight .favItemTop .opdiv .opMove{width: 20px;height: 20px;background:url("/social/images/imfavourate/fav_move_wev8.png") no-repeat center;}
.favItemRight .favItemTop .opdiv .opDel{width: 20px;height: 20px;background:url("/social/images/imfavourate/fav_del_wev8.png") no-repeat center;}
.favItemRight .favItemTop .opdiv .opForward:hover{background:url("/social/images/imfavourate/fav_forward_hot_wev8.png") no-repeat center;}
.favItemRight .favItemTop .opdiv .opMove:hover{background:url("/social/images/imfavourate/fav_move_hot_wev8.png") no-repeat center;}
.favItemRight .favItemTop .opdiv .opDel:hover{background:url("/social/images/imfavourate/fav_del_hot_wev8.png") no-repeat center;}
.favItemRight .favItemTop .opdiv .opLevelSet{ margin-right: 0;width: 40px;height: 18px;text-align: center; }

.favItemRight .favItemTop .opdiv .levNormal{border: 1px solid #8d9598;color: #8d9598;}
.favItemRight .favItemTop .opdiv .levMiddle{border: 1px solid #ffb403;color: #ffb403;}
.favItemRight .favItemTop .opdiv .levImport{border: 1px solid #ff665c;color: #ff665c;}

.favItemRight .favItemTop .opdiv .levNormal:hover{border: 1px solid #8d9598;color: #fff;background: #8d9598;}
.favItemRight .favItemTop .opdiv .levMiddle:hover{border: 1px solid #ffb403;color: #fff;background: #ffb403;}
.favItemRight .favItemTop .opdiv .levImport:hover{border: 1px solid #ff665c;color: #fff;background: #ff665c;}













