/* Main Styles */
#demo-nav {
  background: url(/social/images/public/dark-bg_web8.png);
  min-height: 40px;
}

#demo-nav a {
  /*color: #aaa;*/
  font-weight: bold;
  
  font-size: 12px;
  
  padding: 10px 15px;
}

#demo-nav a.home {
  color: #FFBF00;
  font-size: 16px;
  padding-left: 0px;
}

.demo-wrapper {
	margin-top:40px;
}

.demo-columns {
	margin-top: 35px;
	margin-bottom: 15px
}

.demo-note{
	color:gray;
	font-style: italic;
}

.demo-footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

/* Debug console */
.demo-panel-debug {
	min-height: 90px;
	max-height: 90px;
	overflow: auto;
	cursor: default;
}

.demo-panel-debug ul {
	margin-bottom: 0px;
	padding-left: 0px;
	list-style-type:none;
}

.demo-panel-debug ul li,
.demo-panel-debug ul li.demo-default {
	color: gray;
}

.demo-panel-debug ul li.demo-error {
	color: #990000;
}

.demo-panel-debug ul li.demo-success {
	color: #009900;
}

.demo-panel-debug ul li.demo-info {
	color: #000099;
}

/* D&D Demo */
.demo-panel-files {
	max-height: 290px;
	min-height: 290px;
	overflow: auto;
	cursor: default;
}

.demo-file-id {
	font-weight: bold;
}

.demo-file-size{
	font-style: italic;
	color: gray;
	font-size: 90%;
}

.demo-file-status,
.demo-file-status-default{
	color: gray;
}

.demo-file-status-error{
	color: #990000;
}

.demo-file-status-success{
	color: #009900;
}

.demo-image-preview {
	float:left;
	margin-right: 10px;
	margin-top: 4px;
	height: 56px;
	width: 56px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.progress {
    overflow: hidden;
    height: 4px;
    margin-bottom: 4px;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    float: left;
    width: 80%;
    margin-top: 6px;
    margin-right: 9px;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 9px;
    line-height: 9px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease
}

.progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px
}

.progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite
}

.progress-bar-success {
    background-color: #5cb85c
}

.progress-striped .progress-bar-success {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}

.progress-bar-info {
    background-color: #5bc0de
}

.progress-striped .progress-bar-info {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}

.progress-bar-warning {
    background-color: #f0ad4e
}

.progress-striped .progress-bar-warning {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}

.progress-bar-danger {
    background-color: #d9534f
}

.progress-striped .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}

.socialUploadContainer {
	position: fixed;
    //top: -36px;
    border: 1px solid #ccc;
    background: #fff;
    width: 245px;
    margin-top: -78px;
    left: 136px;
    z-index: 10;
}

.socialUploadContainer .upload-item {
	position: relative;
}

.socialUploadContainer .abort {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 12px;
    height: 12px;
    border: 2px solid red;
    background-color: red;
    color: white;
    line-height: 12px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    display: none;
}

.socialUploadContainer .upload-item:hover .abort {
	display: block;
}