body{
    font-family: 'microsoft yahei';
    font-size: 12px;
    overflow: hidden;
}

.layoutcontainer{
    position: absolute;
    left: 0px;
    right: 2px;
    top: 60px;
    bottom: 2px;
}
.layoutcontainer .inch{
    width: 5%;
    height: 10px;
    position: absolute;
    top: 10px;
    border-left: 1px solid #F0EAEA;
}
.layoutcontainer .inchmain{
    width: 5%;
    height: 20px;
    position: absolute;
    border-left: 1px solid #F0EAEA;
}

.layoutcontainer .inchvalue{
    margin-left: -20px;
}

.layoutcontainer .layouttable {
    width: 100%;
    border-collapse: collapse;
    height: 100%;
    table-layout: fixed;
    cursor: pointer;
}

.layouttable th{
    width: 25%;
}

.layoutcontainer  .layouttable tr {
    height: 25%;
}
.layoutcontainer .layouttable  thead tr{
    height: 0;
}

.layoutcontainer  .layouttable td {
    border: 1px dashed  #cccccc;
}


.layoutcontainer  .layouttable td:hover{
    background: #FFFAFA;
}

.layoutcontainer .layouttablewrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

 .imageicons{
    position: absolute;
    bottom: 0px;
    height: 33px;
    display: none;
     z-index: 10;
}
.imageicons div{
    display: inline-block;
    width: 33px;
    height: 33px;
    cursor: pointer;
}
.mergeicon{
    background-image: url("../imgs/merge_wev8.png");
}
.mergeicon:hover{
    background-image: url("../imgs/merge-hot_wev8.png");
}
.splitall{
    background-image: url("../imgs/splitall_wev8.png");
}
.splitall:hover{
    background-image: url("../imgs/splitall-hot_wev8.png");
}
.hsplit{
    background-image: url("../imgs/hsplit_wev8.png");
}
.hsplit:hover{
    background-image: url("../imgs/hsplit-hot_wev8.png");
}
.vsplit{
    background-image: url("../imgs/vsplit_wev8.png");
}
.vsplit:hover{
    background-image: url("../imgs/vsplit-hot_wev8.png");
}
.hline{
    height: 1px;
    border-top:1px solid #ff9701 ;
    position: absolute;
    display: none;
}
.vline{
    width: 1px;
    border-left:1px solid #ff9701 ;
    position: absolute;
    display: none;
}